{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView Scanner API - AMERICA",
    "description": "OpenAPI specification for TradingView Scanner API america market with undocumented parameters",
    "version": "2.0.0",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    }
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "paths": {
    "/america/scan": {
      "post": {
        "summary": "Scan america market",
        "description": "Scan america market with filters and options",
        "operationId": "scanAmerica",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AmericaScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmericaScanResponse"
                }
              }
            }
          }
        }
      }
    },
    "/america/metainfo": {
      "get": {
        "summary": "Get america market metadata",
        "description": "Get metadata for america market",
        "operationId": "getAmericaMetainfo",
        "responses": {
          "200": {
            "description": "Market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmericaMetainfo"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AmericaScanRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "description": "Array of filters to apply"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "markets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Markets to scan"
          },
          "symbols": {
            "$ref": "#/components/schemas/Symbols"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return"
          },
          "range": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 2,
            "description": "Range of results [start, end]"
          },
          "filter2": {
            "type": "object",
            "description": "Alternative filter structure",
            "x-experimental": true,
            "x-undocumented": true
          },
          "sort.sortBy": {
            "type": "string",
            "enum": [
              "name",
              "close",
              "volume",
              "change"
            ],
            "x-experimental": true,
            "x-undocumented": true
          },
          "sort.sortOrder": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-experimental": true,
            "x-undocumented": true
          },
          "options.decimal_places": {
            "type": "integer",
            "minimum": 0,
            "maximum": 8,
            "x-experimental": true,
            "x-undocumented": true
          },
          "options.currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR",
              "GBP"
            ],
            "x-experimental": true,
            "x-undocumented": true
          },
          "options.timezone": {
            "type": "string",
            "enum": [
              "UTC",
              "EST",
              "PST"
            ],
            "x-experimental": true,
            "x-undocumented": true
          },
          "options.session": {
            "type": "string",
            "enum": [
              "regular",
              "extended",
              "premarket"
            ],
            "x-experimental": true,
            "x-undocumented": true
          },
          "symbols.query.exchanges": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-experimental": true,
            "x-undocumented": true
          },
          "symbols.query.types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-experimental": true,
            "x-undocumented": true
          },
          "symbols.tickers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-experimental": true,
            "x-undocumented": true
          },
          "filter.operation": {
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "gt",
              "lt",
              "eq",
              "nz"
            ],
            "x-experimental": true,
            "x-undocumented": true
          },
          "filter.left": {
            "type": "object",
            "x-experimental": true,
            "x-undocumented": true
          },
          "filter.right": {
            "type": "object",
            "x-experimental": true,
            "x-undocumented": true
          },
          "filter.settings": {
            "type": "object",
            "x-experimental": true,
            "x-undocumented": true
          }
        },
        "required": [
          "markets",
          "columns",
          "range"
        ]
      },
      "AmericaScanResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "AmericaMetainfo": {
        "type": "object",
        "properties": {
          "fields": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "gt",
              "lt",
              "eq",
              "nz"
            ],
            "x-experimental": true
          },
          "left": {
            "type": "object",
            "x-experimental": true
          },
          "right": {
            "type": "object",
            "x-experimental": true
          },
          "settings": {
            "type": "object",
            "x-experimental": true
          }
        }
      },
      "Options": {
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "enum": [
              "en",
              "ru",
              "zh"
            ]
          },
          "decimal_places": {
            "type": "integer",
            "minimum": 0,
            "maximum": 8,
            "x-experimental": true
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR",
              "GBP"
            ],
            "x-experimental": true
          },
          "timezone": {
            "type": "string",
            "enum": [
              "UTC",
              "EST",
              "PST"
            ],
            "x-experimental": true
          },
          "session": {
            "type": "string",
            "enum": [
              "regular",
              "extended",
              "premarket"
            ],
            "x-experimental": true
          }
        }
      },
      "Symbols": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "types": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "x-experimental": true
              },
              "exchanges": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "x-experimental": true
              }
            }
          },
          "tickers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-experimental": true
          }
        }
      }
    }
  }
}