{
  "openapi": "3.1.0",
  "info": {
    "title": "Decentralized Crypto Exchanges API",
    "description": "API for scanning and filtering decentralized cryptocurrency exchange data",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "crypto_dex",
      "description": "Decentralized Crypto Exchanges API operations"
    }
  ],
  "paths": {
    "/crypto_dex/scan": {
      "post": {
        "tags": [
          "crypto_dex"
        ],
        "summary": "Scan crypto_dex market data",
        "description": "Retrieve and filter crypto_dex market data based on specified criteria",
        "operationId": "scanCryptodex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "symbols",
                  "columns"
                ],
                "properties": {
                  "symbols": {
                    "type": "object",
                    "required": [
                      "tickers"
                    ],
                    "properties": {
                      "tickers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of ticker symbols to scan",
                        "example": [
                          "UNISWAP:UNIUSDT.P",
                          "SUSHISWAP:SUSHIUSDT.P"
                        ]
                      },
                      "query": {
                        "type": "object",
                        "properties": {
                          "types": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Types of symbols to include"
                          }
                        }
                      }
                    }
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FieldEnum"
                    },
                    "description": "Fields to retrieve for each symbol",
                    "example": [
                      "minmov",
                      "fractional",
                      "avg_balance"
                    ]
                  },
                  "filter": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "left",
                        "operation",
                        "right"
                      ],
                      "properties": {
                        "left": {
                          "type": "string"
                        },
                        "operation": {
                          "type": "string"
                        },
                        "right": {}
                      }
                    },
                    "description": "Filter conditions"
                  },
                  "sort": {
                    "type": "object",
                    "properties": {
                      "sortBy": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    }
                  },
                  "range": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 2,
                    "maxItems": 2,
                    "description": "Range of results to return [start, end]"
                  }
                }
              },
              "example": {
                "symbols": {
                  "tickers": [
                    "UNISWAP:UNIUSDT.P",
                    "SUSHISWAP:SUSHIUSDT.P"
                  ],
                  "query": {
                    "types": []
                  }
                },
                "columns": [
                  "minmov",
                  "fractional",
                  "avg_balance"
                ],
                "filter": [
                  {
                    "left": "minmov",
                    "operation": ">",
                    "right": 0
                  }
                ],
                "sort": {
                  "sortBy": "minmov",
                  "sortOrder": "desc"
                },
                "range": [
                  0,
                  10
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of symbols matching the criteria"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "s": {
                            "type": "string",
                            "description": "Symbol name"
                          },
                          "minmov": {
                            "$ref": "#/components/schemas/minmov"
                          },
                          "fractional": {
                            "$ref": "#/components/schemas/fractional"
                          },
                          "avg_balance": {
                            "$ref": "#/components/schemas/avg_balance"
                          },
                          "dex_sells_24h": {
                            "$ref": "#/components/schemas/dex_sells_24h"
                          },
                          "dex_trading_volume_15m": {
                            "$ref": "#/components/schemas/dex_trading_volume_15m"
                          },
                          "rates_fh": {
                            "$ref": "#/components/schemas/rates_fh"
                          },
                          "minmove2": {
                            "$ref": "#/components/schemas/minmove2"
                          },
                          "large_tx_volume_usd": {
                            "$ref": "#/components/schemas/large_tx_volume_usd"
                          },
                          "crypto_blockchain_ecosystems": {
                            "$ref": "#/components/schemas/crypto_blockchain_ecosystems"
                          },
                          "dex_sells_15m": {
                            "$ref": "#/components/schemas/dex_sells_15m"
                          },
                          "dex_sell_volume_1h": {
                            "$ref": "#/components/schemas/dex_sell_volume_1h"
                          },
                          "contributorsactive": {
                            "$ref": "#/components/schemas/contributorsactive"
                          },
                          "postscreated": {
                            "$ref": "#/components/schemas/postscreated"
                          },
                          "bid": {
                            "$ref": "#/components/schemas/bid"
                          },
                          "all_time_high_day": {
                            "$ref": "#/components/schemas/all_time_high_day"
                          },
                          "contributorscreated": {
                            "$ref": "#/components/schemas/contributorscreated"
                          },
                          "addresses_total": {
                            "$ref": "#/components/schemas/addresses_total"
                          },
                          "dex_buys_24h": {
                            "$ref": "#/components/schemas/dex_buys_24h"
                          },
                          "dex_sells_12h": {
                            "$ref": "#/components/schemas/dex_sells_12h"
                          },
                          "dex_txs_count_uniq_1h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_1h"
                          },
                          "crypto_categories": {
                            "$ref": "#/components/schemas/crypto_categories"
                          },
                          "dex_buys_4h": {
                            "$ref": "#/components/schemas/dex_buys_4h"
                          },
                          "rates_earnings_fq": {
                            "$ref": "#/components/schemas/rates_earnings_fq"
                          },
                          "rates_time_series": {
                            "$ref": "#/components/schemas/rates_time_series"
                          },
                          "total_value_traded": {
                            "$ref": "#/components/schemas/total_value_traded"
                          },
                          "sector": {
                            "$ref": "#/components/schemas/sector"
                          },
                          "telegram_members": {
                            "$ref": "#/components/schemas/telegram_members"
                          },
                          "dex_buy_volume_1h": {
                            "$ref": "#/components/schemas/dex_buy_volume_1h"
                          },
                          "dex_trading_volume_12h": {
                            "$ref": "#/components/schemas/dex_trading_volume_12h"
                          },
                          "rates_earnings_next_fq": {
                            "$ref": "#/components/schemas/rates_earnings_next_fq"
                          },
                          "country": {
                            "$ref": "#/components/schemas/country"
                          },
                          "telegram_negative": {
                            "$ref": "#/components/schemas/telegram_negative"
                          },
                          "out_the_money_addresses_percentage": {
                            "$ref": "#/components/schemas/out_the_money_addresses_percentage"
                          },
                          "dex_txs_count_uniq_24h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_24h"
                          },
                          "dex_trading_volume_1h": {
                            "$ref": "#/components/schemas/dex_trading_volume_1h"
                          },
                          "total_shares_diluted": {
                            "$ref": "#/components/schemas/total_shares_diluted"
                          },
                          "sentiment": {
                            "$ref": "#/components/schemas/sentiment"
                          },
                          "rates_dividend_upcoming": {
                            "$ref": "#/components/schemas/rates_dividend_upcoming"
                          },
                          "all_time_high": {
                            "$ref": "#/components/schemas/all_time_high"
                          },
                          "dex_buyers_12h": {
                            "$ref": "#/components/schemas/dex_buyers_12h"
                          },
                          "dex_sellers_12h": {
                            "$ref": "#/components/schemas/dex_sellers_12h"
                          },
                          "dex_sell_volume_15m": {
                            "$ref": "#/components/schemas/dex_sell_volume_15m"
                          },
                          "galaxyscore": {
                            "$ref": "#/components/schemas/galaxyscore"
                          },
                          "rates_ttm": {
                            "$ref": "#/components/schemas/rates_ttm"
                          },
                          "max_supply": {
                            "$ref": "#/components/schemas/max_supply"
                          },
                          "dex_buy_volume_15m": {
                            "$ref": "#/components/schemas/dex_buy_volume_15m"
                          },
                          "dex_sell_volume_12h": {
                            "$ref": "#/components/schemas/dex_sell_volume_12h"
                          },
                          "rates_fq": {
                            "$ref": "#/components/schemas/rates_fq"
                          },
                          "update-time": {
                            "$ref": "#/components/schemas/update-time"
                          },
                          "txs_volume": {
                            "$ref": "#/components/schemas/txs_volume"
                          },
                          "crypto_consensus_algorithms": {
                            "$ref": "#/components/schemas/crypto_consensus_algorithms"
                          },
                          "24h_vol_change_cmc": {
                            "$ref": "#/components/schemas/24h_vol_change_cmc"
                          },
                          "blockchain-id": {
                            "$ref": "#/components/schemas/blockchain-id"
                          },
                          "dex_txs_count_uniq_12h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_12h"
                          },
                          "rates_current": {
                            "$ref": "#/components/schemas/rates_current"
                          },
                          "dex_sellers_4h": {
                            "$ref": "#/components/schemas/dex_sellers_4h"
                          },
                          "social_volume_24h": {
                            "$ref": "#/components/schemas/social_volume_24h"
                          },
                          "volume-type": {
                            "$ref": "#/components/schemas/volume-type"
                          },
                          "24h_vol_cmc": {
                            "$ref": "#/components/schemas/24h_vol_cmc"
                          },
                          "altrank": {
                            "$ref": "#/components/schemas/altrank"
                          },
                          "txs_volume_usd": {
                            "$ref": "#/components/schemas/txs_volume_usd"
                          },
                          "addresses_zero_balance": {
                            "$ref": "#/components/schemas/addresses_zero_balance"
                          },
                          "addresses_new": {
                            "$ref": "#/components/schemas/addresses_new"
                          },
                          "crypto_common_categories": {
                            "$ref": "#/components/schemas/crypto_common_categories"
                          },
                          "active_addresses_ratio": {
                            "$ref": "#/components/schemas/active_addresses_ratio"
                          },
                          "dex_total_supply": {
                            "$ref": "#/components/schemas/dex_total_supply"
                          },
                          "dex_buy_volume_4h": {
                            "$ref": "#/components/schemas/dex_buy_volume_4h"
                          },
                          "dex_trading_volume_4h": {
                            "$ref": "#/components/schemas/dex_trading_volume_4h"
                          },
                          "tvl": {
                            "$ref": "#/components/schemas/tvl"
                          },
                          "rates_fy": {
                            "$ref": "#/components/schemas/rates_fy"
                          },
                          "dex_buyers_15m": {
                            "$ref": "#/components/schemas/dex_buyers_15m"
                          },
                          "dex_sellers_15m": {
                            "$ref": "#/components/schemas/dex_sellers_15m"
                          },
                          "dex_txs_count_15m": {
                            "$ref": "#/components/schemas/dex_txs_count_15m"
                          },
                          "socialdominance": {
                            "$ref": "#/components/schemas/socialdominance"
                          },
                          "rates_mc": {
                            "$ref": "#/components/schemas/rates_mc"
                          },
                          "crypto_code": {
                            "$ref": "#/components/schemas/crypto_code"
                          },
                          "dex_buys_1h": {
                            "$ref": "#/components/schemas/dex_buys_1h"
                          },
                          "dex_sells_1h": {
                            "$ref": "#/components/schemas/dex_sells_1h"
                          },
                          "dex_sell_volume_24h": {
                            "$ref": "#/components/schemas/dex_sell_volume_24h"
                          },
                          "dex_txs_count_24h": {
                            "$ref": "#/components/schemas/dex_txs_count_24h"
                          },
                          "rates_dividend_recent": {
                            "$ref": "#/components/schemas/rates_dividend_recent"
                          },
                          "rates_cf": {
                            "$ref": "#/components/schemas/rates_cf"
                          },
                          "all_time_open": {
                            "$ref": "#/components/schemas/all_time_open"
                          },
                          "dex_buys_12h": {
                            "$ref": "#/components/schemas/dex_buys_12h"
                          },
                          "dex_sells_4h": {
                            "$ref": "#/components/schemas/dex_sells_4h"
                          },
                          "dex_txs_count_uniq_15m": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_15m"
                          },
                          "dex_trading_volume_24h": {
                            "$ref": "#/components/schemas/dex_trading_volume_24h"
                          },
                          "tweets": {
                            "$ref": "#/components/schemas/tweets"
                          },
                          "postsactive": {
                            "$ref": "#/components/schemas/postsactive"
                          },
                          "circulating_supply": {
                            "$ref": "#/components/schemas/circulating_supply"
                          },
                          "total_addresses_with_balance": {
                            "$ref": "#/components/schemas/total_addresses_with_balance"
                          },
                          "dex_txs_count_1h": {
                            "$ref": "#/components/schemas/dex_txs_count_1h"
                          },
                          "interactions": {
                            "$ref": "#/components/schemas/interactions"
                          },
                          "addresses_active": {
                            "$ref": "#/components/schemas/addresses_active"
                          },
                          "twitter_positive": {
                            "$ref": "#/components/schemas/twitter_positive"
                          },
                          "market_cap": {
                            "$ref": "#/components/schemas/market_cap"
                          },
                          "telegram_positive": {
                            "$ref": "#/components/schemas/telegram_positive"
                          },
                          "github_commits": {
                            "$ref": "#/components/schemas/github_commits"
                          },
                          "dex_txs_count_uniq_4h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_4h"
                          },
                          "all_time_low": {
                            "$ref": "#/components/schemas/all_time_low"
                          },
                          "txs_count": {
                            "$ref": "#/components/schemas/txs_count"
                          },
                          "break_even_addresses_percentage": {
                            "$ref": "#/components/schemas/break_even_addresses_percentage"
                          },
                          "dex_buyers_4h": {
                            "$ref": "#/components/schemas/dex_buyers_4h"
                          },
                          "dex_sell_volume_4h": {
                            "$ref": "#/components/schemas/dex_sell_volume_4h"
                          },
                          "crypto_total_rank": {
                            "$ref": "#/components/schemas/crypto_total_rank"
                          },
                          "profit_addresses_percentage": {
                            "$ref": "#/components/schemas/profit_addresses_percentage"
                          },
                          "dex_txs_count_12h": {
                            "$ref": "#/components/schemas/dex_txs_count_12h"
                          },
                          "total_supply": {
                            "$ref": "#/components/schemas/total_supply"
                          },
                          "dex_created_time": {
                            "$ref": "#/components/schemas/dex_created_time"
                          },
                          "dex_buys_15m": {
                            "$ref": "#/components/schemas/dex_buys_15m"
                          },
                          "rates_pt": {
                            "$ref": "#/components/schemas/rates_pt"
                          },
                          "total_shares_outstanding": {
                            "$ref": "#/components/schemas/total_shares_outstanding"
                          },
                          "large_tx_count": {
                            "$ref": "#/components/schemas/large_tx_count"
                          },
                          "twitter_negative": {
                            "$ref": "#/components/schemas/twitter_negative"
                          },
                          "centralization": {
                            "$ref": "#/components/schemas/centralization"
                          },
                          "dex_buyers_1h": {
                            "$ref": "#/components/schemas/dex_buyers_1h"
                          },
                          "dex_buy_volume_12h": {
                            "$ref": "#/components/schemas/dex_buy_volume_12h"
                          },
                          "dex_txs_count_4h": {
                            "$ref": "#/components/schemas/dex_txs_count_4h"
                          },
                          "ask": {
                            "$ref": "#/components/schemas/ask"
                          },
                          "average_transaction_usd": {
                            "$ref": "#/components/schemas/average_transaction_usd"
                          },
                          "at_the_money_addresses_percentage": {
                            "$ref": "#/components/schemas/at_the_money_addresses_percentage"
                          },
                          "source-logoid": {
                            "$ref": "#/components/schemas/source-logoid"
                          },
                          "dex_sellers_1h": {
                            "$ref": "#/components/schemas/dex_sellers_1h"
                          },
                          "pricescale": {
                            "$ref": "#/components/schemas/pricescale"
                          },
                          "current_session": {
                            "$ref": "#/components/schemas/current_session"
                          },
                          "dex_buyers_24h": {
                            "$ref": "#/components/schemas/dex_buyers_24h"
                          },
                          "rtc": {
                            "$ref": "#/components/schemas/rtc"
                          },
                          "provider-id": {
                            "$ref": "#/components/schemas/provider-id"
                          },
                          "in_the_money_addresses_percentage": {
                            "$ref": "#/components/schemas/in_the_money_addresses_percentage"
                          },
                          "all_time_low_day": {
                            "$ref": "#/components/schemas/all_time_low_day"
                          },
                          "dex_sellers_24h": {
                            "$ref": "#/components/schemas/dex_sellers_24h"
                          },
                          "losses_addresses_percentage": {
                            "$ref": "#/components/schemas/losses_addresses_percentage"
                          },
                          "dex_total_liquidity": {
                            "$ref": "#/components/schemas/dex_total_liquidity"
                          },
                          "dex_buy_volume_24h": {
                            "$ref": "#/components/schemas/dex_buy_volume_24h"
                          },
                          "subtype": {
                            "$ref": "#/components/schemas/subtype"
                          },
                          "expiration": {
                            "$ref": "#/components/schemas/expiration"
                          },
                          "maturity_date": {
                            "$ref": "#/components/schemas/maturity_date"
                          },
                          "is_blacklisted": {
                            "$ref": "#/components/schemas/is_blacklisted"
                          },
                          "indexes": {
                            "$ref": "#/components/schemas/indexes"
                          },
                          "24h_vol_to_market_cap": {
                            "$ref": "#/components/schemas/24h_vol_to_market_cap"
                          },
                          "days_to_maturity": {
                            "$ref": "#/components/schemas/days_to_maturity"
                          },
                          "cryptoasset-info_id": {
                            "$ref": "#/components/schemas/cryptoasset-info_id"
                          },
                          "type": {
                            "$ref": "#/components/schemas/type"
                          },
                          "currency_id": {
                            "$ref": "#/components/schemas/currency_id"
                          },
                          "cryptoasset-info_description": {
                            "$ref": "#/components/schemas/cryptoasset-info_description"
                          },
                          "currency_kind": {
                            "$ref": "#/components/schemas/currency_kind"
                          },
                          "active_symbol": {
                            "$ref": "#/components/schemas/active_symbol"
                          },
                          "fully_diluted_value": {
                            "$ref": "#/components/schemas/fully_diluted_value"
                          },
                          "low_after_high_all_change": {
                            "$ref": "#/components/schemas/low_after_high_all_change"
                          },
                          "is_primary": {
                            "$ref": "#/components/schemas/is_primary"
                          },
                          "circulating_to_max_supply_ratio": {
                            "$ref": "#/components/schemas/circulating_to_max_supply_ratio"
                          },
                          "update_time": {
                            "$ref": "#/components/schemas/update_time"
                          },
                          "low_after_high_all_change_abs": {
                            "$ref": "#/components/schemas/low_after_high_all_change_abs"
                          },
                          "typespecs": {
                            "$ref": "#/components/schemas/typespecs"
                          },
                          "nvt": {
                            "$ref": "#/components/schemas/nvt"
                          },
                          "submarket": {
                            "$ref": "#/components/schemas/submarket"
                          },
                          "velocity": {
                            "$ref": "#/components/schemas/velocity"
                          },
                          "bid_ask_spread_pct": {
                            "$ref": "#/components/schemas/bid_ask_spread_pct"
                          },
                          "market_cap_diluted_calc": {
                            "$ref": "#/components/schemas/market_cap_diluted_calc"
                          },
                          "base_currency_kind": {
                            "$ref": "#/components/schemas/base_currency_kind"
                          },
                          "market_cap_calc": {
                            "$ref": "#/components/schemas/market_cap_calc"
                          },
                          "exchange": {
                            "$ref": "#/components/schemas/exchange"
                          },
                          "is_shariah_compliant": {
                            "$ref": "#/components/schemas/is_shariah_compliant"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "market_cap_to_tvl": {
                            "$ref": "#/components/schemas/market_cap_to_tvl"
                          },
                          "coupon": {
                            "$ref": "#/components/schemas/coupon"
                          },
                          "market": {
                            "$ref": "#/components/schemas/market"
                          },
                          "total_to_max_supply_ratio": {
                            "$ref": "#/components/schemas/total_to_max_supply_ratio"
                          },
                          "Perf_All": {
                            "$ref": "#/components/schemas/Perf_All"
                          },
                          "gap_up_240": {
                            "$ref": "#/components/schemas/gap_up_240"
                          },
                          "pre_change_120": {
                            "$ref": "#/components/schemas/pre_change_120"
                          },
                          "last_bar_update_time_15": {
                            "$ref": "#/components/schemas/last_bar_update_time_15"
                          },
                          "volume_change_abs_15": {
                            "$ref": "#/components/schemas/volume_change_abs_15"
                          },
                          "volume_change_1M": {
                            "$ref": "#/components/schemas/volume_change_1M"
                          },
                          "change_abs_1M": {
                            "$ref": "#/components/schemas/change_abs_1M"
                          },
                          "premarket_gap": {
                            "$ref": "#/components/schemas/premarket_gap"
                          },
                          "low_15": {
                            "$ref": "#/components/schemas/low_15"
                          },
                          "change_5": {
                            "$ref": "#/components/schemas/change_5"
                          },
                          "volume_change_5": {
                            "$ref": "#/components/schemas/volume_change_5"
                          },
                          "gap_up_abs_1M": {
                            "$ref": "#/components/schemas/gap_up_abs_1M"
                          },
                          "high_240": {
                            "$ref": "#/components/schemas/high_240"
                          },
                          "gap_30": {
                            "$ref": "#/components/schemas/gap_30"
                          },
                          "change_1": {
                            "$ref": "#/components/schemas/change_1"
                          },
                          "volume_change_abs_120": {
                            "$ref": "#/components/schemas/volume_change_abs_120"
                          },
                          "premarket_change_from_open_abs": {
                            "$ref": "#/components/schemas/premarket_change_from_open_abs"
                          },
                          "pre_change_1W": {
                            "$ref": "#/components/schemas/pre_change_1W"
                          },
                          "update_mode_120": {
                            "$ref": "#/components/schemas/update_mode_120"
                          },
                          "gap_down_60": {
                            "$ref": "#/components/schemas/gap_down_60"
                          },
                          "close_15": {
                            "$ref": "#/components/schemas/close_15"
                          },
                          "pre_change_abs_1W": {
                            "$ref": "#/components/schemas/pre_change_abs_1W"
                          },
                          "bars_count_1W": {
                            "$ref": "#/components/schemas/bars_count_1W"
                          },
                          "time_30": {
                            "$ref": "#/components/schemas/time_30"
                          },
                          "bars_count_240": {
                            "$ref": "#/components/schemas/bars_count_240"
                          },
                          "time_5": {
                            "$ref": "#/components/schemas/time_5"
                          },
                          "pre_change_30": {
                            "$ref": "#/components/schemas/pre_change_30"
                          },
                          "change_from_open_abs": {
                            "$ref": "#/components/schemas/change_from_open_abs"
                          },
                          "gap_up_abs_15": {
                            "$ref": "#/components/schemas/gap_up_abs_15"
                          },
                          "change_from_open_abs_15": {
                            "$ref": "#/components/schemas/change_from_open_abs_15"
                          },
                          "change_abs_1W": {
                            "$ref": "#/components/schemas/change_abs_1W"
                          },
                          "gap_down_abs_1M": {
                            "$ref": "#/components/schemas/gap_down_abs_1M"
                          },
                          "update_mode_240": {
                            "$ref": "#/components/schemas/update_mode_240"
                          },
                          "time_120": {
                            "$ref": "#/components/schemas/time_120"
                          },
                          "high_15": {
                            "$ref": "#/components/schemas/high_15"
                          },
                          "change_from_open_1W": {
                            "$ref": "#/components/schemas/change_from_open_1W"
                          },
                          "change_120": {
                            "$ref": "#/components/schemas/change_120"
                          },
                          "volume_change_abs_60": {
                            "$ref": "#/components/schemas/volume_change_abs_60"
                          },
                          "gap_up_1M": {
                            "$ref": "#/components/schemas/gap_up_1M"
                          },
                          "gap_down_abs_5": {
                            "$ref": "#/components/schemas/gap_down_abs_5"
                          },
                          "pre_change_abs_1": {
                            "$ref": "#/components/schemas/pre_change_abs_1"
                          },
                          "update_mode_30": {
                            "$ref": "#/components/schemas/update_mode_30"
                          },
                          "low": {
                            "$ref": "#/components/schemas/low"
                          },
                          "gap_up_1W": {
                            "$ref": "#/components/schemas/gap_up_1W"
                          },
                          "volume_1": {
                            "$ref": "#/components/schemas/volume_1"
                          },
                          "low_30": {
                            "$ref": "#/components/schemas/low_30"
                          },
                          "postmarket_change_abs": {
                            "$ref": "#/components/schemas/postmarket_change_abs"
                          },
                          "change_from_open": {
                            "$ref": "#/components/schemas/change_from_open"
                          },
                          "pre_change_abs_240": {
                            "$ref": "#/components/schemas/pre_change_abs_240"
                          },
                          "change_from_open_240": {
                            "$ref": "#/components/schemas/change_from_open_240"
                          },
                          "volume_change_abs_5": {
                            "$ref": "#/components/schemas/volume_change_abs_5"
                          },
                          "post_change_120": {
                            "$ref": "#/components/schemas/post_change_120"
                          },
                          "change_15": {
                            "$ref": "#/components/schemas/change_15"
                          },
                          "pre_change_240": {
                            "$ref": "#/components/schemas/pre_change_240"
                          },
                          "volume_change_1": {
                            "$ref": "#/components/schemas/volume_change_1"
                          },
                          "low_1": {
                            "$ref": "#/components/schemas/low_1"
                          },
                          "open_30": {
                            "$ref": "#/components/schemas/open_30"
                          },
                          "volume_change_120": {
                            "$ref": "#/components/schemas/volume_change_120"
                          },
                          "time_60": {
                            "$ref": "#/components/schemas/time_60"
                          },
                          "volume_change_1W": {
                            "$ref": "#/components/schemas/volume_change_1W"
                          },
                          "last_bar_update_time_5": {
                            "$ref": "#/components/schemas/last_bar_update_time_5"
                          },
                          "open_5": {
                            "$ref": "#/components/schemas/open_5"
                          },
                          "change_abs_5": {
                            "$ref": "#/components/schemas/change_abs_5"
                          },
                          "volume_change_abs": {
                            "$ref": "#/components/schemas/volume_change_abs"
                          },
                          "update_mode_60": {
                            "$ref": "#/components/schemas/update_mode_60"
                          },
                          "volume_change_30": {
                            "$ref": "#/components/schemas/volume_change_30"
                          },
                          "change_from_open_1M": {
                            "$ref": "#/components/schemas/change_from_open_1M"
                          },
                          "gap_down_1M": {
                            "$ref": "#/components/schemas/gap_down_1M"
                          },
                          "change_240": {
                            "$ref": "#/components/schemas/change_240"
                          },
                          "volume_change_abs_1W": {
                            "$ref": "#/components/schemas/volume_change_abs_1W"
                          },
                          "gap_5": {
                            "$ref": "#/components/schemas/gap_5"
                          },
                          "pre_change_1M": {
                            "$ref": "#/components/schemas/pre_change_1M"
                          },
                          "close_120": {
                            "$ref": "#/components/schemas/close_120"
                          },
                          "open_1": {
                            "$ref": "#/components/schemas/open_1"
                          },
                          "indicators_bars_count": {
                            "$ref": "#/components/schemas/indicators_bars_count"
                          },
                          "change_abs": {
                            "$ref": "#/components/schemas/change_abs"
                          },
                          "volume_60": {
                            "$ref": "#/components/schemas/volume_60"
                          },
                          "gap_down_abs_120": {
                            "$ref": "#/components/schemas/gap_down_abs_120"
                          },
                          "premarket_change_abs": {
                            "$ref": "#/components/schemas/premarket_change_abs"
                          },
                          "indicators_bars_count_1W": {
                            "$ref": "#/components/schemas/indicators_bars_count_1W"
                          },
                          "volume_1M": {
                            "$ref": "#/components/schemas/volume_1M"
                          },
                          "gap_down": {
                            "$ref": "#/components/schemas/gap_down"
                          },
                          "last_bar_update_time_1M": {
                            "$ref": "#/components/schemas/last_bar_update_time_1M"
                          },
                          "gap_up_5": {
                            "$ref": "#/components/schemas/gap_up_5"
                          },
                          "gap_down_1": {
                            "$ref": "#/components/schemas/gap_down_1"
                          },
                          "update_mode": {
                            "$ref": "#/components/schemas/update_mode"
                          },
                          "change_1W": {
                            "$ref": "#/components/schemas/change_1W"
                          },
                          "gap_down_abs_1": {
                            "$ref": "#/components/schemas/gap_down_abs_1"
                          },
                          "pre_change_abs": {
                            "$ref": "#/components/schemas/pre_change_abs"
                          },
                          "change_60": {
                            "$ref": "#/components/schemas/change_60"
                          },
                          "gap_240": {
                            "$ref": "#/components/schemas/gap_240"
                          },
                          "update_mode_5": {
                            "$ref": "#/components/schemas/update_mode_5"
                          },
                          "gap_down_abs_15": {
                            "$ref": "#/components/schemas/gap_down_abs_15"
                          },
                          "change_from_open_abs_240": {
                            "$ref": "#/components/schemas/change_from_open_abs_240"
                          },
                          "gap_down_abs_60": {
                            "$ref": "#/components/schemas/gap_down_abs_60"
                          },
                          "change_1M": {
                            "$ref": "#/components/schemas/change_1M"
                          },
                          "pre_change_1": {
                            "$ref": "#/components/schemas/pre_change_1"
                          },
                          "close_30": {
                            "$ref": "#/components/schemas/close_30"
                          },
                          "last_bar_update_time_30": {
                            "$ref": "#/components/schemas/last_bar_update_time_30"
                          },
                          "update_mode_15": {
                            "$ref": "#/components/schemas/update_mode_15"
                          },
                          "gap_60": {
                            "$ref": "#/components/schemas/gap_60"
                          },
                          "high_1": {
                            "$ref": "#/components/schemas/high_1"
                          },
                          "pre_change_abs_60": {
                            "$ref": "#/components/schemas/pre_change_abs_60"
                          },
                          "pre_change_abs_15": {
                            "$ref": "#/components/schemas/pre_change_abs_15"
                          },
                          "volume_1W": {
                            "$ref": "#/components/schemas/volume_1W"
                          },
                          "low_5": {
                            "$ref": "#/components/schemas/low_5"
                          },
                          "gap_up_abs_5": {
                            "$ref": "#/components/schemas/gap_up_abs_5"
                          },
                          "post_change_1M": {
                            "$ref": "#/components/schemas/post_change_1M"
                          },
                          "close_5": {
                            "$ref": "#/components/schemas/close_5"
                          },
                          "change_from_open_5": {
                            "$ref": "#/components/schemas/change_from_open_5"
                          },
                          "indicators_bars_count_60": {
                            "$ref": "#/components/schemas/indicators_bars_count_60"
                          },
                          "pre_change_60": {
                            "$ref": "#/components/schemas/pre_change_60"
                          },
                          "change_from_open_15": {
                            "$ref": "#/components/schemas/change_from_open_15"
                          },
                          "gap_up_abs_1W": {
                            "$ref": "#/components/schemas/gap_up_abs_1W"
                          },
                          "indicators_bars_count_1M": {
                            "$ref": "#/components/schemas/indicators_bars_count_1M"
                          },
                          "close_1": {
                            "$ref": "#/components/schemas/close_1"
                          },
                          "last_bar_update_time_60": {
                            "$ref": "#/components/schemas/last_bar_update_time_60"
                          },
                          "pre_change_15": {
                            "$ref": "#/components/schemas/pre_change_15"
                          },
                          "gap_down_5": {
                            "$ref": "#/components/schemas/gap_down_5"
                          },
                          "post_change_5": {
                            "$ref": "#/components/schemas/post_change_5"
                          },
                          "gap_down_30": {
                            "$ref": "#/components/schemas/gap_down_30"
                          },
                          "volume": {
                            "$ref": "#/components/schemas/volume"
                          },
                          "gap_down_15": {
                            "$ref": "#/components/schemas/gap_down_15"
                          },
                          "gap_down_240": {
                            "$ref": "#/components/schemas/gap_down_240"
                          },
                          "low_240": {
                            "$ref": "#/components/schemas/low_240"
                          },
                          "open_1W": {
                            "$ref": "#/components/schemas/open_1W"
                          },
                          "bars_count_120": {
                            "$ref": "#/components/schemas/bars_count_120"
                          },
                          "gap_up_abs_30": {
                            "$ref": "#/components/schemas/gap_up_abs_30"
                          },
                          "change_from_open_60": {
                            "$ref": "#/components/schemas/change_from_open_60"
                          },
                          "high_5": {
                            "$ref": "#/components/schemas/high_5"
                          },
                          "post_change_60": {
                            "$ref": "#/components/schemas/post_change_60"
                          },
                          "update_mode_1": {
                            "$ref": "#/components/schemas/update_mode_1"
                          },
                          "change_from_open_1": {
                            "$ref": "#/components/schemas/change_from_open_1"
                          },
                          "indicators_bars_count_30": {
                            "$ref": "#/components/schemas/indicators_bars_count_30"
                          },
                          "gap_up": {
                            "$ref": "#/components/schemas/gap_up"
                          },
                          "premarket_change": {
                            "$ref": "#/components/schemas/premarket_change"
                          },
                          "volume_5": {
                            "$ref": "#/components/schemas/volume_5"
                          },
                          "indicators_bars_count_1": {
                            "$ref": "#/components/schemas/indicators_bars_count_1"
                          },
                          "open_15": {
                            "$ref": "#/components/schemas/open_15"
                          },
                          "change_from_open_abs_1M": {
                            "$ref": "#/components/schemas/change_from_open_abs_1M"
                          },
                          "close_240": {
                            "$ref": "#/components/schemas/close_240"
                          },
                          "volume_change_abs_1": {
                            "$ref": "#/components/schemas/volume_change_abs_1"
                          },
                          "change_abs_30": {
                            "$ref": "#/components/schemas/change_abs_30"
                          },
                          "gap_120": {
                            "$ref": "#/components/schemas/gap_120"
                          },
                          "premarket_change_from_open": {
                            "$ref": "#/components/schemas/premarket_change_from_open"
                          },
                          "volume_15": {
                            "$ref": "#/components/schemas/volume_15"
                          },
                          "bars_count_15": {
                            "$ref": "#/components/schemas/bars_count_15"
                          },
                          "close_1W": {
                            "$ref": "#/components/schemas/close_1W"
                          },
                          "change_from_open_abs_5": {
                            "$ref": "#/components/schemas/change_from_open_abs_5"
                          },
                          "high_30": {
                            "$ref": "#/components/schemas/high_30"
                          },
                          "change_from_open_abs_30": {
                            "$ref": "#/components/schemas/change_from_open_abs_30"
                          },
                          "gap_down_abs_30": {
                            "$ref": "#/components/schemas/gap_down_abs_30"
                          },
                          "high_120": {
                            "$ref": "#/components/schemas/high_120"
                          },
                          "volume_120": {
                            "$ref": "#/components/schemas/volume_120"
                          },
                          "close_60": {
                            "$ref": "#/components/schemas/close_60"
                          },
                          "volume_change_60": {
                            "$ref": "#/components/schemas/volume_change_60"
                          },
                          "gap_down_abs_1W": {
                            "$ref": "#/components/schemas/gap_down_abs_1W"
                          },
                          "time_1M": {
                            "$ref": "#/components/schemas/time_1M"
                          },
                          "last_bar_update_time_240": {
                            "$ref": "#/components/schemas/last_bar_update_time_240"
                          },
                          "gap_down_120": {
                            "$ref": "#/components/schemas/gap_down_120"
                          },
                          "low_1W": {
                            "$ref": "#/components/schemas/low_1W"
                          },
                          "change_abs_240": {
                            "$ref": "#/components/schemas/change_abs_240"
                          },
                          "indicators_bars_count_5": {
                            "$ref": "#/components/schemas/indicators_bars_count_5"
                          },
                          "post_change_1": {
                            "$ref": "#/components/schemas/post_change_1"
                          },
                          "change_from_open_abs_120": {
                            "$ref": "#/components/schemas/change_from_open_abs_120"
                          },
                          "postmarket_change": {
                            "$ref": "#/components/schemas/postmarket_change"
                          },
                          "volume_change_abs_1M": {
                            "$ref": "#/components/schemas/volume_change_abs_1M"
                          },
                          "last_bar_update_time_1": {
                            "$ref": "#/components/schemas/last_bar_update_time_1"
                          },
                          "volume_change_abs_240": {
                            "$ref": "#/components/schemas/volume_change_abs_240"
                          },
                          "time_1": {
                            "$ref": "#/components/schemas/time_1"
                          },
                          "change": {
                            "$ref": "#/components/schemas/change"
                          },
                          "high": {
                            "$ref": "#/components/schemas/high"
                          },
                          "post_change_1W": {
                            "$ref": "#/components/schemas/post_change_1W"
                          },
                          "pre_change_abs_1M": {
                            "$ref": "#/components/schemas/pre_change_abs_1M"
                          },
                          "open_1M": {
                            "$ref": "#/components/schemas/open_1M"
                          },
                          "gap": {
                            "$ref": "#/components/schemas/gap"
                          },
                          "volume_240": {
                            "$ref": "#/components/schemas/volume_240"
                          },
                          "pre_change_abs_30": {
                            "$ref": "#/components/schemas/pre_change_abs_30"
                          },
                          "post_change_30": {
                            "$ref": "#/components/schemas/post_change_30"
                          },
                          "gap_1": {
                            "$ref": "#/components/schemas/gap_1"
                          },
                          "bars_count_1": {
                            "$ref": "#/components/schemas/bars_count_1"
                          },
                          "open_60": {
                            "$ref": "#/components/schemas/open_60"
                          },
                          "close_1M": {
                            "$ref": "#/components/schemas/close_1M"
                          },
                          "open_240": {
                            "$ref": "#/components/schemas/open_240"
                          },
                          "change_abs_120": {
                            "$ref": "#/components/schemas/change_abs_120"
                          },
                          "open_120": {
                            "$ref": "#/components/schemas/open_120"
                          },
                          "high_60": {
                            "$ref": "#/components/schemas/high_60"
                          },
                          "time_15": {
                            "$ref": "#/components/schemas/time_15"
                          },
                          "volume_change_15": {
                            "$ref": "#/components/schemas/volume_change_15"
                          },
                          "volume_change_240": {
                            "$ref": "#/components/schemas/volume_change_240"
                          },
                          "volume_30": {
                            "$ref": "#/components/schemas/volume_30"
                          },
                          "gap_up_abs": {
                            "$ref": "#/components/schemas/gap_up_abs"
                          },
                          "gap_15": {
                            "$ref": "#/components/schemas/gap_15"
                          },
                          "bars_count_1M": {
                            "$ref": "#/components/schemas/bars_count_1M"
                          },
                          "indicators_bars_count_240": {
                            "$ref": "#/components/schemas/indicators_bars_count_240"
                          },
                          "change_from_open_abs_1": {
                            "$ref": "#/components/schemas/change_from_open_abs_1"
                          },
                          "change_from_open_abs_1W": {
                            "$ref": "#/components/schemas/change_from_open_abs_1W"
                          },
                          "gap_1M": {
                            "$ref": "#/components/schemas/gap_1M"
                          },
                          "pre_change_abs_120": {
                            "$ref": "#/components/schemas/pre_change_abs_120"
                          },
                          "gap_up_abs_60": {
                            "$ref": "#/components/schemas/gap_up_abs_60"
                          },
                          "gap_up_60": {
                            "$ref": "#/components/schemas/gap_up_60"
                          },
                          "post_change_15": {
                            "$ref": "#/components/schemas/post_change_15"
                          },
                          "gap_up_120": {
                            "$ref": "#/components/schemas/gap_up_120"
                          },
                          "bars_count_30": {
                            "$ref": "#/components/schemas/bars_count_30"
                          },
                          "indicators_bars_count_120": {
                            "$ref": "#/components/schemas/indicators_bars_count_120"
                          },
                          "gap_down_abs": {
                            "$ref": "#/components/schemas/gap_down_abs"
                          },
                          "change_from_open_abs_60": {
                            "$ref": "#/components/schemas/change_from_open_abs_60"
                          },
                          "change_abs_15": {
                            "$ref": "#/components/schemas/change_abs_15"
                          },
                          "post_change_240": {
                            "$ref": "#/components/schemas/post_change_240"
                          },
                          "change_abs_1": {
                            "$ref": "#/components/schemas/change_abs_1"
                          },
                          "change_from_open_30": {
                            "$ref": "#/components/schemas/change_from_open_30"
                          },
                          "last_bar_update_time_120": {
                            "$ref": "#/components/schemas/last_bar_update_time_120"
                          },
                          "gap_up_15": {
                            "$ref": "#/components/schemas/gap_up_15"
                          },
                          "gap_down_1W": {
                            "$ref": "#/components/schemas/gap_down_1W"
                          },
                          "time_240": {
                            "$ref": "#/components/schemas/time_240"
                          },
                          "pre_change_abs_5": {
                            "$ref": "#/components/schemas/pre_change_abs_5"
                          },
                          "last_bar_update_time": {
                            "$ref": "#/components/schemas/last_bar_update_time"
                          },
                          "gap_1W": {
                            "$ref": "#/components/schemas/gap_1W"
                          },
                          "low_120": {
                            "$ref": "#/components/schemas/low_120"
                          },
                          "time": {
                            "$ref": "#/components/schemas/time"
                          },
                          "change_abs_60": {
                            "$ref": "#/components/schemas/change_abs_60"
                          },
                          "last_bar_update_time_1W": {
                            "$ref": "#/components/schemas/last_bar_update_time_1W"
                          },
                          "pre_change_5": {
                            "$ref": "#/components/schemas/pre_change_5"
                          },
                          "gap_up_1": {
                            "$ref": "#/components/schemas/gap_up_1"
                          },
                          "post_change": {
                            "$ref": "#/components/schemas/post_change"
                          },
                          "volume_change_abs_30": {
                            "$ref": "#/components/schemas/volume_change_abs_30"
                          },
                          "gap_down_abs_240": {
                            "$ref": "#/components/schemas/gap_down_abs_240"
                          },
                          "gap_up_abs_240": {
                            "$ref": "#/components/schemas/gap_up_abs_240"
                          },
                          "gap_up_abs_1": {
                            "$ref": "#/components/schemas/gap_up_abs_1"
                          },
                          "open": {
                            "$ref": "#/components/schemas/open"
                          },
                          "update_mode_1M": {
                            "$ref": "#/components/schemas/update_mode_1M"
                          },
                          "change_30": {
                            "$ref": "#/components/schemas/change_30"
                          },
                          "gap_up_30": {
                            "$ref": "#/components/schemas/gap_up_30"
                          },
                          "gap_up_abs_120": {
                            "$ref": "#/components/schemas/gap_up_abs_120"
                          },
                          "bars_count_60": {
                            "$ref": "#/components/schemas/bars_count_60"
                          },
                          "indicators_bars_count_15": {
                            "$ref": "#/components/schemas/indicators_bars_count_15"
                          },
                          "time_1W": {
                            "$ref": "#/components/schemas/time_1W"
                          },
                          "update_mode_1W": {
                            "$ref": "#/components/schemas/update_mode_1W"
                          },
                          "low_1M": {
                            "$ref": "#/components/schemas/low_1M"
                          },
                          "pre_change": {
                            "$ref": "#/components/schemas/pre_change"
                          },
                          "close": {
                            "$ref": "#/components/schemas/close"
                          },
                          "volume_change": {
                            "$ref": "#/components/schemas/volume_change"
                          },
                          "low_60": {
                            "$ref": "#/components/schemas/low_60"
                          },
                          "high_1W": {
                            "$ref": "#/components/schemas/high_1W"
                          },
                          "bars_count": {
                            "$ref": "#/components/schemas/bars_count"
                          },
                          "high_1M": {
                            "$ref": "#/components/schemas/high_1M"
                          },
                          "bars_count_5": {
                            "$ref": "#/components/schemas/bars_count_5"
                          },
                          "change_from_open_120": {
                            "$ref": "#/components/schemas/change_from_open_120"
                          },
                          "RSI9_1_1M": {
                            "$ref": "#/components/schemas/RSI9_1_1M"
                          },
                          "EMA50_1": {
                            "$ref": "#/components/schemas/EMA50_1"
                          },
                          "ADX_DI_20_1_120": {
                            "$ref": "#/components/schemas/ADX_DI_20_1_120"
                          },
                          "SMA20_240": {
                            "$ref": "#/components/schemas/SMA20_240"
                          },
                          "Pivot_M_Fibonacci_S1_1": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_S1_1"
                          },
                          "Pivot_M_Camarilla_R1_15": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_R1_15"
                          },
                          "Mom_1_240": {
                            "$ref": "#/components/schemas/Mom_1_240"
                          },
                          "ADR_240": {
                            "$ref": "#/components/schemas/ADR_240"
                          },
                          "average_volume_60d_calc": {
                            "$ref": "#/components/schemas/average_volume_60d_calc"
                          },
                          "ADX-DI_50_1_30": {
                            "$ref": "#/components/schemas/ADX-DI_50_1_30"
                          },
                          "EMA50_1M": {
                            "$ref": "#/components/schemas/EMA50_1M"
                          },
                          "SMA26_60": {
                            "$ref": "#/components/schemas/SMA26_60"
                          },
                          "Stoch_K_14_1_3_1_30": {
                            "$ref": "#/components/schemas/Stoch_K_14_1_3_1_30"
                          },
                          "ADX-DI_20_5": {
                            "$ref": "#/components/schemas/ADX-DI_20_5"
                          },
                          "Candle_EveningStar_1M": {
                            "$ref": "#/components/schemas/Candle_EveningStar_1M"
                          },
                          "Mom_14_1_1": {
                            "$ref": "#/components/schemas/Mom_14_1_1"
                          },
                          "Rec_VWMA": {
                            "$ref": "#/components/schemas/Rec_VWMA"
                          },
                          "Stoch_D_6_3_3_1_60": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_1_60"
                          },
                          "Pivot_M_Demark_Middle_1W": {
                            "$ref": "#/components/schemas/Pivot_M_Demark_Middle_1W"
                          },
                          "Recommend_MA_1M": {
                            "$ref": "#/components/schemas/Recommend_MA_1M"
                          },
                          "ATRP_1W": {
                            "$ref": "#/components/schemas/ATRP_1W"
                          },
                          "Stoch_K_1_1": {
                            "$ref": "#/components/schemas/Stoch_K_1_1"
                          },
                          "ADX-DI_120": {
                            "$ref": "#/components/schemas/ADX-DI_120"
                          },
                          "Candle_TriStar_Bearish_60": {
                            "$ref": "#/components/schemas/Candle_TriStar_Bearish_60"
                          },
                          "Ichimoku_BLine_20_60_120_30_1M": {
                            "$ref": "#/components/schemas/Ichimoku_BLine_20_60_120_30_1M"
                          },
                          "EMA3_240": {
                            "$ref": "#/components/schemas/EMA3_240"
                          },
                          "SMA20_1W": {
                            "$ref": "#/components/schemas/SMA20_1W"
                          },
                          "SMA3_60": {
                            "$ref": "#/components/schemas/SMA3_60"
                          },
                          "Ichimoku_Lead1_120": {
                            "$ref": "#/components/schemas/Ichimoku_Lead1_120"
                          },
                          "average_volume_10d_calc_15": {
                            "$ref": "#/components/schemas/average_volume_10d_calc_15"
                          },
                          "BB_upper_1M": {
                            "$ref": "#/components/schemas/BB_upper_1M"
                          },
                          "AO_1_1": {
                            "$ref": "#/components/schemas/AO_1_1"
                          },
                          "SMA10_15": {
                            "$ref": "#/components/schemas/SMA10_15"
                          },
                          "Pivot_M_Classic_S3": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_S3"
                          },
                          "EMA9_1M": {
                            "$ref": "#/components/schemas/EMA9_1M"
                          },
                          "ADX_DI_1_30": {
                            "$ref": "#/components/schemas/ADX_DI_1_30"
                          },
                          "Ichimoku_CLine_5": {
                            "$ref": "#/components/schemas/Ichimoku_CLine_5"
                          },
                          "ADX_DI_100_120": {
                            "$ref": "#/components/schemas/ADX_DI_100_120"
                          },
                          "average_volume_90d_calc_1W": {
                            "$ref": "#/components/schemas/average_volume_90d_calc_1W"
                          },
                          "SMA120_1": {
                            "$ref": "#/components/schemas/SMA120_1"
                          },
                          "Perf_Y": {
                            "$ref": "#/components/schemas/Perf_Y"
                          },
                          "EMA15_120": {
                            "$ref": "#/components/schemas/EMA15_120"
                          },
                          "Pivot_M_Camarilla_R1_1": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_R1_1"
                          },
                          "DonchCh20_Middle_1W": {
                            "$ref": "#/components/schemas/DonchCh20_Middle_1W"
                          },
                          "Candle_HangingMan_240": {
                            "$ref": "#/components/schemas/Candle_HangingMan_240"
                          },
                          "Rec_UO_120": {
                            "$ref": "#/components/schemas/Rec_UO_120"
                          },
                          "ADX_DI_9_1_1W": {
                            "$ref": "#/components/schemas/ADX_DI_9_1_1W"
                          },
                          "SMA200_30": {
                            "$ref": "#/components/schemas/SMA200_30"
                          },
                          "Rec_Ichimoku_1": {
                            "$ref": "#/components/schemas/Rec_Ichimoku_1"
                          },
                          "ADX_60": {
                            "$ref": "#/components/schemas/ADX_60"
                          },
                          "EMA250_120": {
                            "$ref": "#/components/schemas/EMA250_120"
                          },
                          "Candle_SpinningTop_Black_1M": {
                            "$ref": "#/components/schemas/Candle_SpinningTop_Black_1M"
                          },
                          "average_volume_60d_calc_1W": {
                            "$ref": "#/components/schemas/average_volume_60d_calc_1W"
                          },
                          "Stoch_D_6_3_3_1_5": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_1_5"
                          },
                          "SMA120_1W": {
                            "$ref": "#/components/schemas/SMA120_1W"
                          },
                          "Ichimoku_CLine_20_60_120_30_15": {
                            "$ref": "#/components/schemas/Ichimoku_CLine_20_60_120_30_15"
                          },
                          "ADX-DI_50_15": {
                            "$ref": "#/components/schemas/ADX-DI_50_15"
                          },
                          "Pivot_M_Demark_R1_120": {
                            "$ref": "#/components/schemas/Pivot_M_Demark_R1_120"
                          },
                          "SMA144_120": {
                            "$ref": "#/components/schemas/SMA144_120"
                          },
                          "Pivot_M_Woodie_R3_1M": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_R3_1M"
                          },
                          "average_volume_10d_calc_usd_60": {
                            "$ref": "#/components/schemas/average_volume_10d_calc_usd_60"
                          },
                          "SMA13_5": {
                            "$ref": "#/components/schemas/SMA13_5"
                          },
                          "RSI3_1_30": {
                            "$ref": "#/components/schemas/RSI3_1_30"
                          },
                          "Rec_UO_1M": {
                            "$ref": "#/components/schemas/Rec_UO_1M"
                          },
                          "EMA30_15": {
                            "$ref": "#/components/schemas/EMA30_15"
                          },
                          "SMA13_240": {
                            "$ref": "#/components/schemas/SMA13_240"
                          },
                          "RSI20_240": {
                            "$ref": "#/components/schemas/RSI20_240"
                          },
                          "BB_basis_1W": {
                            "$ref": "#/components/schemas/BB_basis_1W"
                          },
                          "Pivot_M_Camarilla_Middle_15": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_Middle_15"
                          },
                          "Candle_Kicking_Bearish_5": {
                            "$ref": "#/components/schemas/Candle_Kicking_Bearish_5"
                          },
                          "Stoch_RSI_K_120": {
                            "$ref": "#/components/schemas/Stoch_RSI_K_120"
                          },
                          "EMA12_30": {
                            "$ref": "#/components/schemas/EMA12_30"
                          },
                          "Stoch_RSI_K_15": {
                            "$ref": "#/components/schemas/Stoch_RSI_K_15"
                          },
                          "SMA120_240": {
                            "$ref": "#/components/schemas/SMA120_240"
                          },
                          "Candle_Engulfing_Bearish_5": {
                            "$ref": "#/components/schemas/Candle_Engulfing_Bearish_5"
                          },
                          "average_volume_90d_calc_usd_240": {
                            "$ref": "#/components/schemas/average_volume_90d_calc_usd_240"
                          },
                          "Candle_Kicking_Bearish_60": {
                            "$ref": "#/components/schemas/Candle_Kicking_Bearish_60"
                          },
                          "Rec_HullMA9_30": {
                            "$ref": "#/components/schemas/Rec_HullMA9_30"
                          },
                          "P_SAR_240": {
                            "$ref": "#/components/schemas/P_SAR_240"
                          },
                          "Pivot_M_Camarilla_R1_5": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_R1_5"
                          },
                          "Candle_3WhiteSoldiers_30": {
                            "$ref": "#/components/schemas/Candle_3WhiteSoldiers_30"
                          },
                          "Candle_Marubozu_Black_1": {
                            "$ref": "#/components/schemas/Candle_Marubozu_Black_1"
                          },
                          "ADX_DI_120": {
                            "$ref": "#/components/schemas/ADX_DI_120"
                          },
                          "EMA40": {
                            "$ref": "#/components/schemas/EMA40"
                          },
                          "Ichimoku_Lead2_120": {
                            "$ref": "#/components/schemas/Ichimoku_Lead2_120"
                          },
                          "Stoch_K_14_1_3_1_1M": {
                            "$ref": "#/components/schemas/Stoch_K_14_1_3_1_1M"
                          },
                          "ADX_DI_20_60": {
                            "$ref": "#/components/schemas/ADX_DI_20_60"
                          },
                          "Ichimoku_Lead2_20_60_120_30_120": {
                            "$ref": "#/components/schemas/Ichimoku_Lead2_20_60_120_30_120"
                          },
                          "AO": {
                            "$ref": "#/components/schemas/AO"
                          },
                          "ADX_DI_15": {
                            "$ref": "#/components/schemas/ADX_DI_15"
                          },
                          "Stoch_K_14_1_3_1_1": {
                            "$ref": "#/components/schemas/Stoch_K_14_1_3_1_1"
                          },
                          "SMA15_60": {
                            "$ref": "#/components/schemas/SMA15_60"
                          },
                          "Candle_Engulfing_Bullish_5": {
                            "$ref": "#/components/schemas/Candle_Engulfing_Bullish_5"
                          },
                          "EMA20_1": {
                            "$ref": "#/components/schemas/EMA20_1"
                          },
                          "RSI20_1_15": {
                            "$ref": "#/components/schemas/RSI20_1_15"
                          },
                          "Pivot_M_Fibonacci_S3_60": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_S3_60"
                          },
                          "BB_lower_50_240": {
                            "$ref": "#/components/schemas/BB_lower_50_240"
                          },
                          "Ichimoku_BLine_30": {
                            "$ref": "#/components/schemas/Ichimoku_BLine_30"
                          },
                          "RSI4_1_15": {
                            "$ref": "#/components/schemas/RSI4_1_15"
                          },
                          "HullMA20_1M": {
                            "$ref": "#/components/schemas/HullMA20_1M"
                          },
                          "ADX_DI_20_1_1": {
                            "$ref": "#/components/schemas/ADX_DI_20_1_1"
                          },
                          "EMA6": {
                            "$ref": "#/components/schemas/EMA6"
                          },
                          "Ichimoku_CLine_20_60_120_30_1M": {
                            "$ref": "#/components/schemas/Ichimoku_CLine_20_60_120_30_1M"
                          },
                          "ADX-DI_100_1_5": {
                            "$ref": "#/components/schemas/ADX-DI_100_1_5"
                          },
                          "Candle_Doji_Dragonfly_15": {
                            "$ref": "#/components/schemas/Candle_Doji_Dragonfly_15"
                          },
                          "ADX_50_5": {
                            "$ref": "#/components/schemas/ADX_50_5"
                          },
                          "EMA40_240": {
                            "$ref": "#/components/schemas/EMA40_240"
                          },
                          "ADX-DI_9": {
                            "$ref": "#/components/schemas/ADX-DI_9"
                          },
                          "ADX_DI_100_1_5": {
                            "$ref": "#/components/schemas/ADX_DI_100_1_5"
                          },
                          "average_volume_60d_calc_15": {
                            "$ref": "#/components/schemas/average_volume_60d_calc_15"
                          },
                          "SMA250_120": {
                            "$ref": "#/components/schemas/SMA250_120"
                          },
                          "RSI7_1": {
                            "$ref": "#/components/schemas/RSI7_1"
                          },
                          "Stoch_RSI_D_240": {
                            "$ref": "#/components/schemas/Stoch_RSI_D_240"
                          },
                          "BB_upper_120": {
                            "$ref": "#/components/schemas/BB_upper_120"
                          },
                          "Candle_TriStar_Bullish_60": {
                            "$ref": "#/components/schemas/Candle_TriStar_Bullish_60"
                          },
                          "ADX_DI_1W": {
                            "$ref": "#/components/schemas/ADX_DI_1W"
                          },
                          "average_volume_30d_calc_60": {
                            "$ref": "#/components/schemas/average_volume_30d_calc_60"
                          },
                          "RSI_1_30": {
                            "$ref": "#/components/schemas/RSI_1_30"
                          },
                          "EMA2_5": {
                            "$ref": "#/components/schemas/EMA2_5"
                          },
                          "Stoch_D_8_3_3_1": {
                            "$ref": "#/components/schemas/Stoch_D_8_3_3_1"
                          },
                          "EMA30_5": {
                            "$ref": "#/components/schemas/EMA30_5"
                          },
                          "RSI30_120": {
                            "$ref": "#/components/schemas/RSI30_120"
                          },
                          "relative_volume_10d_calc_1W": {
                            "$ref": "#/components/schemas/relative_volume_10d_calc_1W"
                          },
                          "SMA15_1M": {
                            "$ref": "#/components/schemas/SMA15_1M"
                          },
                          "Pivot_M_Camarilla_S3_30": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_S3_30"
                          },
                          "DonchCh20_Upper_1W": {
                            "$ref": "#/components/schemas/DonchCh20_Upper_1W"
                          },
                          "Candle_TriStar_Bullish_15": {
                            "$ref": "#/components/schemas/Candle_TriStar_Bullish_15"
                          },
                          "Pivot_M_Classic_R3_15": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_R3_15"
                          },
                          "SMA15_5": {
                            "$ref": "#/components/schemas/SMA15_5"
                          },
                          "Stoch_K_6_3_3_1_240": {
                            "$ref": "#/components/schemas/Stoch_K_6_3_3_1_240"
                          },
                          "P_SAR_5": {
                            "$ref": "#/components/schemas/P_SAR_5"
                          },
                          "Candle_Kicking_Bullish_1": {
                            "$ref": "#/components/schemas/Candle_Kicking_Bullish_1"
                          },
                          "Stoch_D_14_1_3_60": {
                            "$ref": "#/components/schemas/Stoch_D_14_1_3_60"
                          },
                          "Ichimoku_CLine_30": {
                            "$ref": "#/components/schemas/Ichimoku_CLine_30"
                          },
                          "AO_2_1W": {
                            "$ref": "#/components/schemas/AO_2_1W"
                          },
                          "EMA14_120": {
                            "$ref": "#/components/schemas/EMA14_120"
                          },
                          "Candle_Marubozu_Black_60": {
                            "$ref": "#/components/schemas/Candle_Marubozu_Black_60"
                          },
                          "Pivot_M_Fibonacci_R3_1": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_R3_1"
                          },
                          "ADX-DI_100_1_120": {
                            "$ref": "#/components/schemas/ADX-DI_100_1_120"
                          },
                          "SMA75": {
                            "$ref": "#/components/schemas/SMA75"
                          },
                          "KltChnl_lower_1M": {
                            "$ref": "#/components/schemas/KltChnl_lower_1M"
                          },
                          "ADX_DI_9_120": {
                            "$ref": "#/components/schemas/ADX_DI_9_120"
                          },
                          "ADX_DI_50_1_1W": {
                            "$ref": "#/components/schemas/ADX_DI_50_1_1W"
                          },
                          "EMA60_5": {
                            "$ref": "#/components/schemas/EMA60_5"
                          },
                          "Pivot_M_Classic_R3_240": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_R3_240"
                          },
                          "Pivot_M_Camarilla_S2": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_S2"
                          },
                          "ADX_DI_9_1": {
                            "$ref": "#/components/schemas/ADX_DI_9_1"
                          },
                          "UO_1M": {
                            "$ref": "#/components/schemas/UO_1M"
                          },
                          "VWMA_120": {
                            "$ref": "#/components/schemas/VWMA_120"
                          },
                          "Stoch_K_8_3_3": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3"
                          },
                          "EMA300_1M": {
                            "$ref": "#/components/schemas/EMA300_1M"
                          },
                          "Ichimoku_CLine_120": {
                            "$ref": "#/components/schemas/Ichimoku_CLine_120"
                          },
                          "EMA30_60": {
                            "$ref": "#/components/schemas/EMA30_60"
                          },
                          "Recommend_Other_30": {
                            "$ref": "#/components/schemas/Recommend_Other_30"
                          },
                          "AO_60": {
                            "$ref": "#/components/schemas/AO_60"
                          },
                          "W_R_1W": {
                            "$ref": "#/components/schemas/W_R_1W"
                          },
                          "ADX-DI_9_1_1": {
                            "$ref": "#/components/schemas/ADX-DI_9_1_1"
                          },
                          "Ichimoku_Lead2_20_60_120_30_1W": {
                            "$ref": "#/components/schemas/Ichimoku_Lead2_20_60_120_30_1W"
                          },
                          "Stoch_D_6_3_3_30": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_30"
                          },
                          "RSI2_120": {
                            "$ref": "#/components/schemas/RSI2_120"
                          },
                          "SMA5_240": {
                            "$ref": "#/components/schemas/SMA5_240"
                          },
                          "ChaikinMoneyFlow": {
                            "$ref": "#/components/schemas/ChaikinMoneyFlow"
                          },
                          "ADX_120": {
                            "$ref": "#/components/schemas/ADX_120"
                          },
                          "Ichimoku_BLine": {
                            "$ref": "#/components/schemas/Ichimoku_BLine"
                          },
                          "SMA12_1M": {
                            "$ref": "#/components/schemas/SMA12_1M"
                          },
                          "Pivot_M_Classic_S2_5": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_S2_5"
                          },
                          "SMA50_5": {
                            "$ref": "#/components/schemas/SMA50_5"
                          },
                          "ADX-DI_1_240": {
                            "$ref": "#/components/schemas/ADX-DI_1_240"
                          },
                          "SMA13_30": {
                            "$ref": "#/components/schemas/SMA13_30"
                          },
                          "ROC_240": {
                            "$ref": "#/components/schemas/ROC_240"
                          },
                          "Pivot_M_Classic_Middle_1W": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_Middle_1W"
                          },
                          "Stoch_D_1_1W": {
                            "$ref": "#/components/schemas/Stoch_D_1_1W"
                          },
                          "MACD_signal_120": {
                            "$ref": "#/components/schemas/MACD_signal_120"
                          },
                          "Candle_Doji_Gravestone_30": {
                            "$ref": "#/components/schemas/Candle_Doji_Gravestone_30"
                          },
                          "ADX-DI_100_1_30": {
                            "$ref": "#/components/schemas/ADX-DI_100_1_30"
                          },
                          "SMA20_30": {
                            "$ref": "#/components/schemas/SMA20_30"
                          },
                          "Ichimoku_CLine_60": {
                            "$ref": "#/components/schemas/Ichimoku_CLine_60"
                          },
                          "EMA12_1": {
                            "$ref": "#/components/schemas/EMA12_1"
                          },
                          "Stoch_D_8_3_3_1_60": {
                            "$ref": "#/components/schemas/Stoch_D_8_3_3_1_60"
                          },
                          "SMA12_120": {
                            "$ref": "#/components/schemas/SMA12_120"
                          },
                          "Pivot_M_Demark_R1_240": {
                            "$ref": "#/components/schemas/Pivot_M_Demark_R1_240"
                          },
                          "ADX_DI_100_1_60": {
                            "$ref": "#/components/schemas/ADX_DI_100_1_60"
                          },
                          "ADX_DI_1M": {
                            "$ref": "#/components/schemas/ADX_DI_1M"
                          },
                          "RSI10_60": {
                            "$ref": "#/components/schemas/RSI10_60"
                          },
                          "Aroon_Up_120": {
                            "$ref": "#/components/schemas/Aroon_Up_120"
                          },
                          "Pivot_M_Fibonacci_S1_1M": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_S1_1M"
                          },
                          "MACD_hist_120": {
                            "$ref": "#/components/schemas/MACD_hist_120"
                          },
                          "ADRP_5": {
                            "$ref": "#/components/schemas/ADRP_5"
                          },
                          "Candle_LongShadow_Lower_15": {
                            "$ref": "#/components/schemas/Candle_LongShadow_Lower_15"
                          },
                          "Candle_Harami_Bearish_1": {
                            "$ref": "#/components/schemas/Candle_Harami_Bearish_1"
                          },
                          "SMA3_15": {
                            "$ref": "#/components/schemas/SMA3_15"
                          },
                          "RSI20_1_30": {
                            "$ref": "#/components/schemas/RSI20_1_30"
                          },
                          "AO_1_15": {
                            "$ref": "#/components/schemas/AO_1_15"
                          },
                          "relative_volume_10d_calc_usd_1": {
                            "$ref": "#/components/schemas/relative_volume_10d_calc_usd_1"
                          },
                          "Rec_Stoch_RSI": {
                            "$ref": "#/components/schemas/Rec_Stoch_RSI"
                          },
                          "Perf_10Y": {
                            "$ref": "#/components/schemas/Perf_10Y"
                          },
                          "SMA12_60": {
                            "$ref": "#/components/schemas/SMA12_60"
                          },
                          "High_3M": {
                            "$ref": "#/components/schemas/High_3M"
                          },
                          "Pivot_M_Classic_S1_15": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_S1_15"
                          },
                          "Recommend_Other_1M": {
                            "$ref": "#/components/schemas/Recommend_Other_1M"
                          },
                          "Stoch_K_8_3_3_15": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3_15"
                          },
                          "Pivot_M_Demark_S1_30": {
                            "$ref": "#/components/schemas/Pivot_M_Demark_S1_30"
                          },
                          "BB_basis_50_1W": {
                            "$ref": "#/components/schemas/BB_basis_50_1W"
                          },
                          "RSI2_1_1": {
                            "$ref": "#/components/schemas/RSI2_1_1"
                          },
                          "RSI4_1": {
                            "$ref": "#/components/schemas/RSI4_1"
                          },
                          "Candle_TriStar_Bullish": {
                            "$ref": "#/components/schemas/Candle_TriStar_Bullish"
                          },
                          "SMA40_240": {
                            "$ref": "#/components/schemas/SMA40_240"
                          },
                          "Stoch_D_8_3_3_1_1W": {
                            "$ref": "#/components/schemas/Stoch_D_8_3_3_1_1W"
                          },
                          "EMA60": {
                            "$ref": "#/components/schemas/EMA60"
                          },
                          "volume_base_60": {
                            "$ref": "#/components/schemas/volume_base_60"
                          },
                          "Pivot_M_Woodie_R2_1": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_R2_1"
                          },
                          "EMA14_240": {
                            "$ref": "#/components/schemas/EMA14_240"
                          },
                          "SMA26_1": {
                            "$ref": "#/components/schemas/SMA26_1"
                          },
                          "EMA12_5": {
                            "$ref": "#/components/schemas/EMA12_5"
[...]
