openapi: 3.1.0
info:
  title: Unofficial TradingView Scanner API
  version: 0.8.17
  description: Auto-generated from collected field data.
servers:
  - url: https://scanner.tradingview.com
paths:
  /stocks/scan:
    post:
      summary: Scan stocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StocksScanRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StocksScanResponse'
        '400':
          description: Bad Request
        '500':
          description: Server Error
  /stocks/search:
    post:
      summary: Search stocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StocksSearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StocksSearchResponse'
        '400':
          description: Bad Request
        '500':
          description: Server Error
  /stocks/history:
    post:
      summary: History stocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StocksHistoryRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StocksHistoryResponse'
        '400':
          description: Bad Request
        '500':
          description: Server Error
  /stocks/summary:
    post:
      summary: Summary stocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StocksSummaryRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StocksSummaryResponse'
        '400':
          description: Bad Request
        '500':
          description: Server Error
  /stocks/metainfo:
    post:
      summary: Get stocks metainfo
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StocksMetainfoResponse'
        '400':
          description: Bad Request
        '500':
          description: Server Error
components:
  schemas:
    StocksMetainfoResponse:
      type: object
      properties:
        fields:
          type: array
          items:
            type: string
    StocksFields:
      type: object
      properties:
        close:
          type: integer
        open:
          type: string
    StocksScanRequest:
      type: object
      properties:
        symbols:
          type: object
          properties:
            tickers:
              type: array
              items:
                type: string
            query:
              type: object
              properties:
                types:
                  type: array
                  items:
                    type: string
        columns:
          type: array
          items:
            type: string
        filter:
          type: object
        filter2:
          type: object
        sort:
          type: object
        range:
          type: object
      required:
        - symbols
        - columns
    StocksScanResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/StocksFields'
    StocksSearchRequest:
      type: object
    StocksHistoryRequest:
      type: object
    StocksSummaryRequest:
      type: object
    StocksSearchResponse:
      type: object
    StocksHistoryResponse:
      type: object
    StocksSummaryResponse:
      type: object
