{
  "openapi": "3.1.0",
  "info": {
    "title": "US Stocks API",
    "description": "API for scanning and filtering US stock market data",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "us_stocks",
      "description": "US Stocks API operations"
    }
  ],
  "paths": {
    "/us_stocks/scan": {
      "post": {
        "tags": [
          "us_stocks"
        ],
        "summary": "Scan us_stocks market data",
        "description": "Retrieve and filter us_stocks market data based on specified criteria",
        "operationId": "scanUsstocks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "symbols",
                  "columns"
                ],
                "properties": {
                  "symbols": {
                    "type": "object",
                    "required": [
                      "tickers"
                    ],
                    "properties": {
                      "tickers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of ticker symbols to scan",
                        "example": [
                          "NASDAQ:AAPL",
                          "NYSE:MSFT"
                        ]
                      },
                      "query": {
                        "type": "object",
                        "properties": {
                          "types": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Types of symbols to include"
                          }
                        }
                      }
                    }
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FieldEnum"
                    },
                    "description": "Fields to retrieve for each symbol",
                    "example": [
                      "number_of_shareholders_fy",
                      "float_shares_outstanding_current",
                      "recommendation_buy"
                    ]
                  },
                  "filter": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "left",
                        "operation",
                        "right"
                      ],
                      "properties": {
                        "left": {
                          "type": "string"
                        },
                        "operation": {
                          "type": "string"
                        },
                        "right": {}
                      }
                    },
                    "description": "Filter conditions"
                  },
                  "sort": {
                    "type": "object",
                    "properties": {
                      "sortBy": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    }
                  },
                  "range": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 2,
                    "maxItems": 2,
                    "description": "Range of results to return [start, end]"
                  }
                }
              },
              "example": {
                "symbols": {
                  "tickers": [
                    "NASDAQ:AAPL",
                    "NYSE:MSFT"
                  ],
                  "query": {
                    "types": []
                  }
                },
                "columns": [
                  "number_of_shareholders_fy",
                  "float_shares_outstanding_current",
                  "recommendation_buy"
                ],
                "filter": [
                  {
                    "left": "number_of_shareholders_fy",
                    "operation": ">",
                    "right": 0
                  }
                ],
                "sort": {
                  "sortBy": "number_of_shareholders_fy",
                  "sortOrder": "desc"
                },
                "range": [
                  0,
                  10
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of symbols matching the criteria"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "s": {
                            "type": "string",
                            "description": "Symbol name"
                          },
                          "number_of_shareholders_fy": {
                            "$ref": "#/components/schemas/number_of_shareholders_fy"
                          },
                          "float_shares_outstanding_current": {
                            "$ref": "#/components/schemas/float_shares_outstanding_current"
                          },
                          "recommendation_buy": {
                            "$ref": "#/components/schemas/recommendation_buy"
                          },
                          "net_income_fy": {
                            "$ref": "#/components/schemas/net_income_fy"
                          },
                          "average_volume": {
                            "$ref": "#/components/schemas/average_volume"
                          },
                          "net_income_bef_disc_oper_fy": {
                            "$ref": "#/components/schemas/net_income_bef_disc_oper_fy"
                          },
                          "recommendation_sell": {
                            "$ref": "#/components/schemas/recommendation_sell"
                          },
                          "weight_top_25": {
                            "$ref": "#/components/schemas/weight_top_25"
                          },
                          "invent_turnover_current": {
                            "$ref": "#/components/schemas/invent_turnover_current"
                          },
                          "rates_earnings_fq": {
                            "$ref": "#/components/schemas/rates_earnings_fq"
                          },
                          "market_cap_basic": {
                            "$ref": "#/components/schemas/market_cap_basic"
                          },
                          "current_ratio_fq": {
                            "$ref": "#/components/schemas/current_ratio_fq"
                          },
                          "net_income_per_employee_fy": {
                            "$ref": "#/components/schemas/net_income_per_employee_fy"
                          },
                          "earnings_per_share_basic_fy_h": {
                            "$ref": "#/components/schemas/earnings_per_share_basic_fy_h"
                          },
                          "earnings_per_share_basic_fy": {
                            "$ref": "#/components/schemas/earnings_per_share_basic_fy"
                          },
                          "dividends_yield_current": {
                            "$ref": "#/components/schemas/dividends_yield_current"
                          },
                          "invent_turnover_fy": {
                            "$ref": "#/components/schemas/invent_turnover_fy"
                          },
                          "total_debt": {
                            "$ref": "#/components/schemas/total_debt"
                          },
                          "dividend_frequency_recent": {
                            "$ref": "#/components/schemas/dividend_frequency_recent"
                          },
                          "dividend_payment_date_recent": {
                            "$ref": "#/components/schemas/dividend_payment_date_recent"
                          },
                          "dividend_payout_ratio_percent_fy": {
                            "$ref": "#/components/schemas/dividend_payout_ratio_percent_fy"
                          },
                          "free_cash_flow": {
                            "$ref": "#/components/schemas/free_cash_flow"
                          },
                          "total_assets_to_equity_fy": {
                            "$ref": "#/components/schemas/total_assets_to_equity_fy"
                          },
                          "dividends_paid": {
                            "$ref": "#/components/schemas/dividends_paid"
                          },
                          "current_session": {
                            "$ref": "#/components/schemas/current_session"
                          },
                          "dividend_frequency_upcoming": {
                            "$ref": "#/components/schemas/dividend_frequency_upcoming"
                          },
                          "ebitda_fq_h": {
                            "$ref": "#/components/schemas/ebitda_fq_h"
                          },
                          "gross_margin_fy": {
                            "$ref": "#/components/schemas/gross_margin_fy"
                          },
                          "quick_ratio_fq": {
                            "$ref": "#/components/schemas/quick_ratio_fq"
                          },
                          "weighting_scheme": {
                            "$ref": "#/components/schemas/weighting_scheme"
                          },
                          "revenue_per_employee_fy": {
                            "$ref": "#/components/schemas/revenue_per_employee_fy"
                          },
                          "payment_date_upcoming": {
                            "$ref": "#/components/schemas/payment_date_upcoming"
                          },
                          "expense_ratio": {
                            "$ref": "#/components/schemas/expense_ratio"
                          },
                          "long_term_capital": {
                            "$ref": "#/components/schemas/long_term_capital"
                          },
                          "shrhldrs_equity_fy": {
                            "$ref": "#/components/schemas/shrhldrs_equity_fy"
                          },
                          "strategy": {
                            "$ref": "#/components/schemas/strategy"
                          },
                          "return_on_tang_equity_fq": {
                            "$ref": "#/components/schemas/return_on_tang_equity_fq"
                          },
                          "earnings_per_share_forecast_next_fq": {
                            "$ref": "#/components/schemas/earnings_per_share_forecast_next_fq"
                          },
                          "index_priority": {
                            "$ref": "#/components/schemas/index_priority"
                          },
                          "free_cash_flow_fq_h": {
                            "$ref": "#/components/schemas/free_cash_flow_fq_h"
                          },
                          "current_ratio": {
                            "$ref": "#/components/schemas/current_ratio"
                          },
                          "premarket_high": {
                            "$ref": "#/components/schemas/premarket_high"
                          },
                          "free_cash_flow_fy": {
                            "$ref": "#/components/schemas/free_cash_flow_fy"
                          },
                          "earnings_per_share_forecast_next_fy": {
                            "$ref": "#/components/schemas/earnings_per_share_forecast_next_fy"
                          },
                          "earnings_per_share_fq": {
                            "$ref": "#/components/schemas/earnings_per_share_fq"
                          },
                          "total_shares_outstanding_calculated": {
                            "$ref": "#/components/schemas/total_shares_outstanding_calculated"
                          },
                          "postmarket_low": {
                            "$ref": "#/components/schemas/postmarket_low"
                          },
                          "earnings_release_time": {
                            "$ref": "#/components/schemas/earnings_release_time"
                          },
                          "cash_n_equivalents_fy": {
                            "$ref": "#/components/schemas/cash_n_equivalents_fy"
                          },
                          "cash_f_operating_activities_ttm": {
                            "$ref": "#/components/schemas/cash_f_operating_activities_ttm"
                          },
                          "cash_ratio": {
                            "$ref": "#/components/schemas/cash_ratio"
                          },
                          "amount_upcoming": {
                            "$ref": "#/components/schemas/amount_upcoming"
                          },
                          "total_liabilities_fy": {
                            "$ref": "#/components/schemas/total_liabilities_fy"
                          },
                          "actively_managed": {
                            "$ref": "#/components/schemas/actively_managed"
                          },
                          "ebitda_less_capex_interst_cover_ttm": {
                            "$ref": "#/components/schemas/ebitda_less_capex_interst_cover_ttm"
                          },
                          "earnings_per_share_basic_ttm": {
                            "$ref": "#/components/schemas/earnings_per_share_basic_ttm"
                          },
                          "frequency_upcoming": {
                            "$ref": "#/components/schemas/frequency_upcoming"
                          },
                          "asset_class": {
                            "$ref": "#/components/schemas/asset_class"
                          },
                          "issuer": {
                            "$ref": "#/components/schemas/issuer"
                          },
                          "earnings_publication_type_next_fq": {
                            "$ref": "#/components/schemas/earnings_publication_type_next_fq"
                          },
                          "total_assets_to_equity_fq": {
                            "$ref": "#/components/schemas/total_assets_to_equity_fq"
                          },
                          "price_book_current": {
                            "$ref": "#/components/schemas/price_book_current"
                          },
                          "premarket_close": {
                            "$ref": "#/components/schemas/premarket_close"
                          },
                          "eps_diluted_growth_percent_fy": {
                            "$ref": "#/components/schemas/eps_diluted_growth_percent_fy"
                          },
                          "provider-id": {
                            "$ref": "#/components/schemas/provider-id"
                          },
                          "country_code_fund": {
                            "$ref": "#/components/schemas/country_code_fund"
                          },
                          "return_on_invested_capital_fy": {
                            "$ref": "#/components/schemas/return_on_invested_capital_fy"
                          },
                          "cash_f_investing_activities_ttm": {
                            "$ref": "#/components/schemas/cash_f_investing_activities_ttm"
                          },
                          "ebitda_interst_cover_fy": {
                            "$ref": "#/components/schemas/ebitda_interst_cover_fy"
                          },
                          "dividends_per_share_fq": {
                            "$ref": "#/components/schemas/dividends_per_share_fq"
                          },
                          "yield_recent": {
                            "$ref": "#/components/schemas/yield_recent"
                          },
                          "ebitda_fy": {
                            "$ref": "#/components/schemas/ebitda_fy"
                          },
                          "return_on_assets_fy": {
                            "$ref": "#/components/schemas/return_on_assets_fy"
                          },
                          "etf_fund_currency": {
                            "$ref": "#/components/schemas/etf_fund_currency"
                          },
                          "debt_to_asset_fy": {
                            "$ref": "#/components/schemas/debt_to_asset_fy"
                          },
                          "return_on_capital_employed_fq": {
                            "$ref": "#/components/schemas/return_on_capital_employed_fq"
                          },
                          "receivables_turnover_fy": {
                            "$ref": "#/components/schemas/receivables_turnover_fy"
                          },
                          "price_annual_book": {
                            "$ref": "#/components/schemas/price_annual_book"
                          },
                          "net_income": {
                            "$ref": "#/components/schemas/net_income"
                          },
                          "number_of_employees_fy": {
                            "$ref": "#/components/schemas/number_of_employees_fy"
                          },
                          "all_time_low": {
                            "$ref": "#/components/schemas/all_time_low"
                          },
                          "return_on_assets_fq": {
                            "$ref": "#/components/schemas/return_on_assets_fq"
                          },
                          "asset_turnover_current": {
                            "$ref": "#/components/schemas/asset_turnover_current"
                          },
                          "return_on_assets": {
                            "$ref": "#/components/schemas/return_on_assets"
                          },
                          "return_on_equity": {
                            "$ref": "#/components/schemas/return_on_equity"
                          },
                          "dps_common_stock_prim_issue_fq": {
                            "$ref": "#/components/schemas/dps_common_stock_prim_issue_fq"
                          },
                          "total_revenue_ttm_h": {
                            "$ref": "#/components/schemas/total_revenue_ttm_h"
                          },
                          "cash_f_financing_activities_ttm": {
                            "$ref": "#/components/schemas/cash_f_financing_activities_ttm"
                          },
                          "minmov": {
                            "$ref": "#/components/schemas/minmov"
                          },
                          "free_cash_flow_fq": {
                            "$ref": "#/components/schemas/free_cash_flow_fq"
                          },
                          "earnings_per_share_diluted_ttm_h": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_ttm_h"
                          },
                          "gross_profit_ttm": {
                            "$ref": "#/components/schemas/gross_profit_ttm"
                          },
                          "total_assets_fy": {
                            "$ref": "#/components/schemas/total_assets_fy"
                          },
                          "operating_margin_ttm": {
                            "$ref": "#/components/schemas/operating_margin_ttm"
                          },
                          "revenue_per_share_ttm": {
                            "$ref": "#/components/schemas/revenue_per_share_ttm"
                          },
                          "free_cash_flow_per_employee_fy": {
                            "$ref": "#/components/schemas/free_cash_flow_per_employee_fy"
                          },
                          "total_current_assets_fq": {
                            "$ref": "#/components/schemas/total_current_assets_fq"
                          },
                          "oper_income_per_employee_fy": {
                            "$ref": "#/components/schemas/oper_income_per_employee_fy"
                          },
                          "after_tax_margin": {
                            "$ref": "#/components/schemas/after_tax_margin"
                          },
                          "dividend_yield_upcoming": {
                            "$ref": "#/components/schemas/dividend_yield_upcoming"
                          },
                          "earnings_per_share_diluted_fq_h": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_fq_h"
                          },
                          "fixed_assets_turnover_fy": {
                            "$ref": "#/components/schemas/fixed_assets_turnover_fy"
                          },
                          "rates_ttm": {
                            "$ref": "#/components/schemas/rates_ttm"
                          },
                          "pricescale": {
                            "$ref": "#/components/schemas/pricescale"
                          },
                          "total_revenue": {
                            "$ref": "#/components/schemas/total_revenue"
                          },
                          "debt_to_equity_fq": {
                            "$ref": "#/components/schemas/debt_to_equity_fq"
                          },
                          "debt_to_assets": {
                            "$ref": "#/components/schemas/debt_to_assets"
                          },
                          "rtc": {
                            "$ref": "#/components/schemas/rtc"
                          },
                          "dividends_yield": {
                            "$ref": "#/components/schemas/dividends_yield"
                          },
                          "gross_profit_fy_h": {
                            "$ref": "#/components/schemas/gross_profit_fy_h"
                          },
                          "ebitda_fy_h": {
                            "$ref": "#/components/schemas/ebitda_fy_h"
                          },
                          "ebitda_ttm": {
                            "$ref": "#/components/schemas/ebitda_ttm"
                          },
                          "issuance_of_stock_net_ttm": {
                            "$ref": "#/components/schemas/issuance_of_stock_net_ttm"
                          },
                          "rates_fh": {
                            "$ref": "#/components/schemas/rates_fh"
                          },
                          "net_income_ttm_h": {
                            "$ref": "#/components/schemas/net_income_ttm_h"
                          },
                          "number_of_shareholders": {
                            "$ref": "#/components/schemas/number_of_shareholders"
                          },
                          "total_assets_fq": {
                            "$ref": "#/components/schemas/total_assets_fq"
                          },
                          "last_annual_revenue": {
                            "$ref": "#/components/schemas/last_annual_revenue"
                          },
                          "dividends_yield_fy": {
                            "$ref": "#/components/schemas/dividends_yield_fy"
                          },
                          "revenue_per_employee": {
                            "$ref": "#/components/schemas/revenue_per_employee"
                          },
                          "return_on_total_capital_fy": {
                            "$ref": "#/components/schemas/return_on_total_capital_fy"
                          },
                          "rates_fy": {
                            "$ref": "#/components/schemas/rates_fy"
                          },
                          "number_of_employees": {
                            "$ref": "#/components/schemas/number_of_employees"
                          },
                          "research_and_dev_ttm": {
                            "$ref": "#/components/schemas/research_and_dev_ttm"
                          },
                          "free_cash_flow_fy_h": {
                            "$ref": "#/components/schemas/free_cash_flow_fy_h"
                          },
                          "price_target_high": {
                            "$ref": "#/components/schemas/price_target_high"
                          },
                          "all_time_high_day": {
                            "$ref": "#/components/schemas/all_time_high_day"
                          },
                          "selection_criteria": {
                            "$ref": "#/components/schemas/selection_criteria"
                          },
                          "nav": {
                            "$ref": "#/components/schemas/nav"
                          },
                          "ebitda_interst_cover_ttm": {
                            "$ref": "#/components/schemas/ebitda_interst_cover_ttm"
                          },
                          "goodwill": {
                            "$ref": "#/components/schemas/goodwill"
                          },
                          "total_assets_per_employee_fy": {
                            "$ref": "#/components/schemas/total_assets_per_employee_fy"
                          },
                          "total_liabilities_fq": {
                            "$ref": "#/components/schemas/total_liabilities_fq"
                          },
                          "earnings_release_trading_date_fy": {
                            "$ref": "#/components/schemas/earnings_release_trading_date_fy"
                          },
                          "earnings_per_share_fy": {
                            "$ref": "#/components/schemas/earnings_per_share_fy"
                          },
                          "total_revenue_fy_h": {
                            "$ref": "#/components/schemas/total_revenue_fy_h"
                          },
                          "diluted_shares_outstanding_fq": {
                            "$ref": "#/components/schemas/diluted_shares_outstanding_fq"
                          },
                          "dividend_treatment": {
                            "$ref": "#/components/schemas/dividend_treatment"
                          },
                          "capital_expenditures_ttm": {
                            "$ref": "#/components/schemas/capital_expenditures_ttm"
                          },
                          "gross_margin_percent_ttm": {
                            "$ref": "#/components/schemas/gross_margin_percent_ttm"
                          },
                          "cash_n_short_term_invest_fy": {
                            "$ref": "#/components/schemas/cash_n_short_term_invest_fy"
                          },
                          "gross_profit_ttm_h": {
                            "$ref": "#/components/schemas/gross_profit_ttm_h"
                          },
                          "gross_margin_ttm": {
                            "$ref": "#/components/schemas/gross_margin_ttm"
                          },
                          "currency_hedged_flag": {
                            "$ref": "#/components/schemas/currency_hedged_flag"
                          },
                          "total_shares_outstanding_fundamental": {
                            "$ref": "#/components/schemas/total_shares_outstanding_fundamental"
                          },
                          "gross_margin": {
                            "$ref": "#/components/schemas/gross_margin"
                          },
                          "price_cash_flow_current": {
                            "$ref": "#/components/schemas/price_cash_flow_current"
                          },
                          "net_income_fq_h": {
                            "$ref": "#/components/schemas/net_income_fq_h"
                          },
                          "research_and_dev_per_employee_fy": {
                            "$ref": "#/components/schemas/research_and_dev_per_employee_fy"
                          },
                          "price_free_cash_flow_current": {
                            "$ref": "#/components/schemas/price_free_cash_flow_current"
                          },
                          "price_target_low": {
                            "$ref": "#/components/schemas/price_target_low"
                          },
                          "aum": {
                            "$ref": "#/components/schemas/aum"
                          },
                          "rates_dividend_upcoming": {
                            "$ref": "#/components/schemas/rates_dividend_upcoming"
                          },
                          "rates_dividend_recent": {
                            "$ref": "#/components/schemas/rates_dividend_recent"
                          },
                          "country": {
                            "$ref": "#/components/schemas/country"
                          },
                          "beta_5_year": {
                            "$ref": "#/components/schemas/beta_5_year"
                          },
                          "recommendation_over": {
                            "$ref": "#/components/schemas/recommendation_over"
                          },
                          "price_earnings_growth_ttm": {
                            "$ref": "#/components/schemas/price_earnings_growth_ttm"
                          },
                          "fiscal_period_fy_h": {
                            "$ref": "#/components/schemas/fiscal_period_fy_h"
                          },
                          "return_on_invested_capital_fq": {
                            "$ref": "#/components/schemas/return_on_invested_capital_fq"
                          },
                          "book_value_per_share_fq": {
                            "$ref": "#/components/schemas/book_value_per_share_fq"
                          },
                          "focus": {
                            "$ref": "#/components/schemas/focus"
                          },
                          "price_earnings_current": {
                            "$ref": "#/components/schemas/price_earnings_current"
                          },
                          "index_provider": {
                            "$ref": "#/components/schemas/index_provider"
                          },
                          "earnings_release_next_trading_date_fy": {
                            "$ref": "#/components/schemas/earnings_release_next_trading_date_fy"
                          },
                          "revenue_forecast_next_fq": {
                            "$ref": "#/components/schemas/revenue_forecast_next_fq"
                          },
                          "dps_common_stock_prim_issue_fy_h": {
                            "$ref": "#/components/schemas/dps_common_stock_prim_issue_fy_h"
                          },
                          "holds_derivatives_flag": {
                            "$ref": "#/components/schemas/holds_derivatives_flag"
                          },
                          "fixed_assets_turnover_fq": {
                            "$ref": "#/components/schemas/fixed_assets_turnover_fq"
                          },
                          "enterprise_value_fq": {
                            "$ref": "#/components/schemas/enterprise_value_fq"
                          },
                          "ebitda_ttm_h": {
                            "$ref": "#/components/schemas/ebitda_ttm_h"
                          },
                          "total_debt_fq_h": {
                            "$ref": "#/components/schemas/total_debt_fq_h"
                          },
                          "return_on_equity_fq": {
                            "$ref": "#/components/schemas/return_on_equity_fq"
                          },
                          "gross_profit_fq": {
                            "$ref": "#/components/schemas/gross_profit_fq"
                          },
                          "fundamental_currency_code": {
                            "$ref": "#/components/schemas/fundamental_currency_code"
                          },
                          "weight_top_10": {
                            "$ref": "#/components/schemas/weight_top_10"
                          },
                          "postmarket_time": {
                            "$ref": "#/components/schemas/postmarket_time"
                          },
                          "revenue_forecast_fq": {
                            "$ref": "#/components/schemas/revenue_forecast_fq"
                          },
                          "premarket_low": {
                            "$ref": "#/components/schemas/premarket_low"
                          },
                          "operating_margin_fy": {
                            "$ref": "#/components/schemas/operating_margin_fy"
                          },
                          "pre_tax_margin_ttm": {
                            "$ref": "#/components/schemas/pre_tax_margin_ttm"
                          },
                          "return_on_capital_employed_fy": {
                            "$ref": "#/components/schemas/return_on_capital_employed_fy"
                          },
                          "net_debt_fq": {
                            "$ref": "#/components/schemas/net_debt_fq"
                          },
                          "dividend_yield_recent": {
                            "$ref": "#/components/schemas/dividend_yield_recent"
                          },
                          "total_revenue_ttm": {
                            "$ref": "#/components/schemas/total_revenue_ttm"
                          },
                          "total_assets_fy_h": {
                            "$ref": "#/components/schemas/total_assets_fy_h"
                          },
                          "recommendation_hold": {
                            "$ref": "#/components/schemas/recommendation_hold"
                          },
                          "fractional": {
                            "$ref": "#/components/schemas/fractional"
                          },
                          "postmarket_open": {
                            "$ref": "#/components/schemas/postmarket_open"
                          },
                          "frequency_recent": {
                            "$ref": "#/components/schemas/frequency_recent"
                          },
                          "long_term_debt_to_assets_fq": {
                            "$ref": "#/components/schemas/long_term_debt_to_assets_fq"
                          },
                          "recommendation_total": {
                            "$ref": "#/components/schemas/recommendation_total"
                          },
                          "leverage_ratio": {
                            "$ref": "#/components/schemas/leverage_ratio"
                          },
                          "leverage": {
                            "$ref": "#/components/schemas/leverage"
                          },
                          "total_debt_to_capital_fq": {
                            "$ref": "#/components/schemas/total_debt_to_capital_fq"
                          },
                          "total_assets": {
                            "$ref": "#/components/schemas/total_assets"
                          },
                          "rates_cf": {
                            "$ref": "#/components/schemas/rates_cf"
                          },
                          "earnings_per_share_diluted_ttm": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_ttm"
                          },
                          "earnings_release_next_date": {
                            "$ref": "#/components/schemas/earnings_release_next_date"
                          },
                          "ex_dividend_date_recent": {
                            "$ref": "#/components/schemas/ex_dividend_date_recent"
                          },
                          "eps_diluted_growth_percent_fq": {
                            "$ref": "#/components/schemas/eps_diluted_growth_percent_fq"
                          },
                          "sell_gen_admin_exp_other_fy": {
                            "$ref": "#/components/schemas/sell_gen_admin_exp_other_fy"
                          },
                          "dividend_payout_ratio_ttm": {
                            "$ref": "#/components/schemas/dividend_payout_ratio_ttm"
                          },
                          "fiscal_period_end_fh_h": {
                            "$ref": "#/components/schemas/fiscal_period_end_fh_h"
                          },
                          "debt_to_equity": {
                            "$ref": "#/components/schemas/debt_to_equity"
                          },
                          "sell_gen_admin_exp_other_ttm": {
                            "$ref": "#/components/schemas/sell_gen_admin_exp_other_ttm"
                          },
                          "interst_cover_fy": {
                            "$ref": "#/components/schemas/interst_cover_fy"
                          },
                          "ebitda_less_capex_interst_cover_fy": {
                            "$ref": "#/components/schemas/ebitda_less_capex_interst_cover_fy"
                          },
                          "total_debt_per_employee_fy": {
                            "$ref": "#/components/schemas/total_debt_per_employee_fy"
                          },
                          "total_revenue_fq_h": {
                            "$ref": "#/components/schemas/total_revenue_fq_h"
                          },
                          "dividend_amount_upcoming": {
                            "$ref": "#/components/schemas/dividend_amount_upcoming"
                          },
                          "total_current_liabilities_fq": {
                            "$ref": "#/components/schemas/total_current_liabilities_fq"
                          },
                          "launch_date": {
                            "$ref": "#/components/schemas/launch_date"
                          },
                          "pre_tax_margin": {
                            "$ref": "#/components/schemas/pre_tax_margin"
                          },
                          "ebitda": {
                            "$ref": "#/components/schemas/ebitda"
                          },
                          "earnings_release_next_trading_date_fq": {
                            "$ref": "#/components/schemas/earnings_release_next_trading_date_fq"
                          },
                          "ex_dividend_date_upcoming": {
                            "$ref": "#/components/schemas/ex_dividend_date_upcoming"
                          },
                          "return_on_tang_assets_fy": {
                            "$ref": "#/components/schemas/return_on_tang_assets_fy"
                          },
                          "sector": {
                            "$ref": "#/components/schemas/sector"
                          },
                          "net_margin_fy": {
                            "$ref": "#/components/schemas/net_margin_fy"
                          },
                          "revenue_per_share_fy": {
                            "$ref": "#/components/schemas/revenue_per_share_fy"
                          },
                          "cash_dividend_coverage_ratio_ttm": {
                            "$ref": "#/components/schemas/cash_dividend_coverage_ratio_ttm"
                          },
                          "operating_margin": {
                            "$ref": "#/components/schemas/operating_margin"
                          },
                          "earnings_release_trading_date_fq": {
                            "$ref": "#/components/schemas/earnings_release_trading_date_fq"
                          },
                          "postmarket_volume": {
                            "$ref": "#/components/schemas/postmarket_volume"
                          },
                          "dividend_ex_date_recent": {
                            "$ref": "#/components/schemas/dividend_ex_date_recent"
                          },
                          "long_term_debt_to_assets_fy": {
                            "$ref": "#/components/schemas/long_term_debt_to_assets_fy"
                          },
                          "ebit_ttm": {
                            "$ref": "#/components/schemas/ebit_ttm"
                          },
                          "total_current_liabilities_fy": {
                            "$ref": "#/components/schemas/total_current_liabilities_fy"
                          },
                          "source-logoid": {
                            "$ref": "#/components/schemas/source-logoid"
                          },
                          "beta_3_year": {
                            "$ref": "#/components/schemas/beta_3_year"
                          },
                          "rates_mc": {
                            "$ref": "#/components/schemas/rates_mc"
                          },
                          "recommendation_under": {
                            "$ref": "#/components/schemas/recommendation_under"
                          },
                          "top_revenue_country_code": {
                            "$ref": "#/components/schemas/top_revenue_country_code"
                          },
                          "total_cash_dividends_paid_fy": {
                            "$ref": "#/components/schemas/total_cash_dividends_paid_fy"
                          },
                          "beta_1_year": {
                            "$ref": "#/components/schemas/beta_1_year"
                          },
                          "postmarket_close": {
                            "$ref": "#/components/schemas/postmarket_close"
                          },
                          "float_shares_outstanding": {
                            "$ref": "#/components/schemas/float_shares_outstanding"
                          },
                          "gross_profit_fq_h": {
                            "$ref": "#/components/schemas/gross_profit_fq_h"
                          },
                          "return_on_total_capital_fq": {
                            "$ref": "#/components/schemas/return_on_total_capital_fq"
                          },
                          "minmove2": {
                            "$ref": "#/components/schemas/minmove2"
                          },
                          "total_shares_outstanding": {
                            "$ref": "#/components/schemas/total_shares_outstanding"
                          },
                          "gross_profit": {
                            "$ref": "#/components/schemas/gross_profit"
                          },
                          "gross_profit_fy": {
                            "$ref": "#/components/schemas/gross_profit_fy"
                          },
                          "last_annual_eps": {
                            "$ref": "#/components/schemas/last_annual_eps"
                          },
                          "free_cash_flow_ttm": {
                            "$ref": "#/components/schemas/free_cash_flow_ttm"
                          },
                          "cash_n_equivalents_fq": {
                            "$ref": "#/components/schemas/cash_n_equivalents_fq"
                          },
                          "total_shares_outstanding_current": {
                            "$ref": "#/components/schemas/total_shares_outstanding_current"
                          },
                          "earnings_release_date": {
                            "$ref": "#/components/schemas/earnings_release_date"
                          },
                          "revenue_fq": {
                            "$ref": "#/components/schemas/revenue_fq"
                          },
                          "free_cash_flow_ttm_h": {
                            "$ref": "#/components/schemas/free_cash_flow_ttm_h"
                          },
                          "shrhldrs_equity_fq": {
                            "$ref": "#/components/schemas/shrhldrs_equity_fq"
                          },
                          "leveraged_flag": {
                            "$ref": "#/components/schemas/leveraged_flag"
                          },
                          "total_debt_fq": {
                            "$ref": "#/components/schemas/total_debt_fq"
                          },
                          "net_debt": {
                            "$ref": "#/components/schemas/net_debt"
                          },
                          "expected_annual_dividends": {
                            "$ref": "#/components/schemas/expected_annual_dividends"
                          },
                          "amount_recent": {
                            "$ref": "#/components/schemas/amount_recent"
                          },
                          "goodwill_fq": {
                            "$ref": "#/components/schemas/goodwill_fq"
                          },
                          "premarket_time": {
                            "$ref": "#/components/schemas/premarket_time"
                          },
                          "research_and_dev_fy": {
                            "$ref": "#/components/schemas/research_and_dev_fy"
                          },
                          "all_time_low_day": {
                            "$ref": "#/components/schemas/all_time_low_day"
                          },
                          "niche": {
                            "$ref": "#/components/schemas/niche"
                          },
                          "ebitda_per_employee_fy": {
                            "$ref": "#/components/schemas/ebitda_per_employee_fy"
                          },
                          "earnings_per_share_forecast_fq": {
                            "$ref": "#/components/schemas/earnings_per_share_forecast_fq"
                          },
                          "payment_date_recent": {
                            "$ref": "#/components/schemas/payment_date_recent"
                          },
                          "all_time_open": {
                            "$ref": "#/components/schemas/all_time_open"
                          },
                          "price_earnings_forward_fy": {
                            "$ref": "#/components/schemas/price_earnings_forward_fy"
                          },
                          "net_income_fy_h": {
                            "$ref": "#/components/schemas/net_income_fy_h"
                          },
                          "sum_for_enterprise_value": {
                            "$ref": "#/components/schemas/sum_for_enterprise_value"
                          },
                          "working_capital_fq": {
                            "$ref": "#/components/schemas/working_capital_fq"
                          },
                          "total_debt_fy": {
                            "$ref": "#/components/schemas/total_debt_fy"
                          },
                          "earnings_release_next_time": {
                            "$ref": "#/components/schemas/earnings_release_next_time"
                          },
                          "next_dividend_date": {
                            "$ref": "#/components/schemas/next_dividend_date"
                          },
                          "transparent_holding_flag": {
                            "$ref": "#/components/schemas/transparent_holding_flag"
                          },
                          "rates_time_series": {
                            "$ref": "#/components/schemas/rates_time_series"
                          },
                          "return_on_equity_fy": {
                            "$ref": "#/components/schemas/return_on_equity_fy"
                          },
                          "total_assets_fq_h": {
                            "$ref": "#/components/schemas/total_assets_fq_h"
                          },
                          "oper_income_ttm": {
                            "$ref": "#/components/schemas/oper_income_ttm"
                          },
                          "premarket_open": {
                            "$ref": "#/components/schemas/premarket_open"
                          },
                          "receivables_turnover_fq": {
                            "$ref": "#/components/schemas/receivables_turnover_fq"
                          },
                          "update-time": {
                            "$ref": "#/components/schemas/update-time"
                          },
                          "indicated_annual_dividend": {
                            "$ref": "#/components/schemas/indicated_annual_dividend"
                          },
                          "inverse_flag": {
                            "$ref": "#/components/schemas/inverse_flag"
                          },
                          "total_debt_to_capital_fy": {
                            "$ref": "#/components/schemas/total_debt_to_capital_fy"
                          },
                          "long_term_debt_to_equity_fq": {
                            "$ref": "#/components/schemas/long_term_debt_to_equity_fq"
                          },
                          "basic_eps_net_income": {
                            "$ref": "#/components/schemas/basic_eps_net_income"
                          },
                          "postmarket_high": {
                            "$ref": "#/components/schemas/postmarket_high"
                          },
                          "dividend_amount_recent": {
                            "$ref": "#/components/schemas/dividend_amount_recent"
                          },
                          "dividend_ex_date_upcoming": {
                            "$ref": "#/components/schemas/dividend_ex_date_upcoming"
                          },
                          "fiscal_period_end_fq": {
                            "$ref": "#/components/schemas/fiscal_period_end_fq"
                          },
                          "dividends_frequency": {
                            "$ref": "#/components/schemas/dividends_frequency"
                          },
                          "weight_top_50": {
                            "$ref": "#/components/schemas/weight_top_50"
                          },
                          "quick_ratio_current": {
                            "$ref": "#/components/schemas/quick_ratio_current"
                          },
                          "net_debt_to_ebitda_fq": {
                            "$ref": "#/components/schemas/net_debt_to_ebitda_fq"
                          },
                          "return_on_tang_equity_fy": {
                            "$ref": "#/components/schemas/return_on_tang_equity_fy"
                          },
                          "total_equity_fq": {
                            "$ref": "#/components/schemas/total_equity_fq"
                          },
                          "book_value_per_share_fy": {
                            "$ref": "#/components/schemas/book_value_per_share_fy"
                          },
                          "asset_turnover_fy": {
                            "$ref": "#/components/schemas/asset_turnover_fy"
                          },
                          "rates_current": {
                            "$ref": "#/components/schemas/rates_current"
                          },
                          "dividend_payment_date_upcoming": {
                            "$ref": "#/components/schemas/dividend_payment_date_upcoming"
                          },
                          "price_sales_current": {
                            "$ref": "#/components/schemas/price_sales_current"
                          },
                          "earnings_per_share_diluted_fy_h": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_fy_h"
                          },
                          "dividends_yield_fq": {
                            "$ref": "#/components/schemas/dividends_yield_fq"
                          },
                          "last_report_frequency": {
                            "$ref": "#/components/schemas/last_report_frequency"
                          },
                          "category": {
                            "$ref": "#/components/schemas/category"
                          },
                          "debt_to_asset_fq": {
                            "$ref": "#/components/schemas/debt_to_asset_fq"
                          },
                          "rates_pt": {
                            "$ref": "#/components/schemas/rates_pt"
                          },
                          "preferred_dividends": {
                            "$ref": "#/components/schemas/preferred_dividends"
                          },
                          "price_annual_sales": {
                            "$ref": "#/components/schemas/price_annual_sales"
                          },
                          "capital_expenditures_unchanged_fq_h": {
                            "$ref": "#/components/schemas/capital_expenditures_unchanged_fq_h"
                          },
                          "rates_fq": {
                            "$ref": "#/components/schemas/rates_fq"
                          },
                          "total_revenue_fy": {
                            "$ref": "#/components/schemas/total_revenue_fy"
                          },
                          "total_debt_fy_h": {
                            "$ref": "#/components/schemas/total_debt_fy_h"
                          },
                          "recommendation_mark": {
                            "$ref": "#/components/schemas/recommendation_mark"
                          },
                          "k1_form": {
                            "$ref": "#/components/schemas/k1_form"
                          },
                          "return_on_tang_assets_fq": {
                            "$ref": "#/components/schemas/return_on_tang_assets_fq"
                          },
                          "industry": {
                            "$ref": "#/components/schemas/industry"
                          },
                          "net_margin": {
                            "$ref": "#/components/schemas/net_margin"
                          },
                          "dividend_payout_ratio_percent_fq": {
                            "$ref": "#/components/schemas/dividend_payout_ratio_percent_fq"
                          },
                          "oper_income_fy": {
                            "$ref": "#/components/schemas/oper_income_fy"
                          },
                          "price_target_median": {
                            "$ref": "#/components/schemas/price_target_median"
                          },
                          "net_income_ttm": {
                            "$ref": "#/components/schemas/net_income_ttm"
                          },
                          "current_ratio_current": {
                            "$ref": "#/components/schemas/current_ratio_current"
                          },
                          "enterprise_value_ebitda_current": {
                            "$ref": "#/components/schemas/enterprise_value_ebitda_current"
                          },
                          "cash_n_short_term_invest_fq": {
                            "$ref": "#/components/schemas/cash_n_short_term_invest_fq"
                          },
                          "price_target_average": {
                            "$ref": "#/components/schemas/price_target_average"
                          },
                          "net_margin_ttm": {
                            "$ref": "#/components/schemas/net_margin_ttm"
                          },
                          "capital_expenditures_unchanged_fy_h": {
                            "$ref": "#/components/schemas/capital_expenditures_unchanged_fy_h"
                          },
                          "total_current_assets": {
                            "$ref": "#/components/schemas/total_current_assets"
                          },
                          "earnings_per_share_diluted_fy": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_fy"
                          },
                          "earnings_release_calendar_date": {
                            "$ref": "#/components/schemas/earnings_release_calendar_date"
                          },
                          "earnings_release_next_calendar_date": {
                            "$ref": "#/components/schemas/earnings_release_next_calendar_date"
                          },
                          "net_debt_to_ebitda_fy": {
                            "$ref": "#/components/schemas/net_debt_to_ebitda_fy"
                          },
                          "quick_ratio": {
                            "$ref": "#/components/schemas/quick_ratio"
                          },
                          "dps_common_stock_prim_issue_fy": {
                            "$ref": "#/components/schemas/dps_common_stock_prim_issue_fy"
                          },
                          "earnings_publication_type_fq": {
                            "$ref": "#/components/schemas/earnings_publication_type_fq"
                          },
                          "interst_cover_ttm": {
                            "$ref": "#/components/schemas/interst_cover_ttm"
                          },
                          "return_on_invested_capital": {
                            "$ref": "#/components/schemas/return_on_invested_capital"
                          },
                          "total_capital": {
                            "$ref": "#/components/schemas/total_capital"
                          },
                          "earnings_per_share_diluted_fq": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_fq"
                          },
                          "yield_upcoming": {
                            "$ref": "#/components/schemas/yield_upcoming"
                          },
                          "brand": {
                            "$ref": "#/components/schemas/brand"
                          },
                          "holdings_region": {
                            "$ref": "#/components/schemas/holdings_region"
                          },
                          "return_of_invested_capital_percent_ttm": {
                            "$ref": "#/components/schemas/return_of_invested_capital_percent_ttm"
                          },
                          "all_time_high": {
                            "$ref": "#/components/schemas/all_time_high"
                          },
                          "fiscal_period_end_fh": {
                            "$ref": "#/components/schemas/fiscal_period_end_fh"
                          },
                          "ucits_compliant_flag": {
                            "$ref": "#/components/schemas/ucits_compliant_flag"
                          },
                          "capital_expenditures_unchanged_ttm_h": {
                            "$ref": "#/components/schemas/capital_expenditures_unchanged_ttm_h"
                          },
                          "cash_dividend_coverage_ratio_fy": {
                            "$ref": "#/components/schemas/cash_dividend_coverage_ratio_fy"
                          },
                          "rates_earnings_next_fq": {
                            "$ref": "#/components/schemas/rates_earnings_next_fq"
                          },
                          "premarket_volume": {
                            "$ref": "#/components/schemas/premarket_volume"
                          },
                          "sell_gen_admin_exp_other_ratio_ttm": {
                            "$ref": "#/components/schemas/sell_gen_admin_exp_other_ratio_ttm"
                          },
                          "revenue_surprise_fq": {
                            "$ref": "#/components/schemas/revenue_surprise_fq"
                          },
                          "most_recent_quarter_date": {
                            "$ref": "#/components/schemas/most_recent_quarter_date"
                          },
                          "price_to_cash_ratio": {
                            "$ref": "#/components/schemas/price_to_cash_ratio"
                          },
                          "capital_expenditures_yoy_growth_fy": {
                            "$ref": "#/components/schemas/capital_expenditures_yoy_growth_fy"
                          },
                          "cagr_5_revenue": {
                            "$ref": "#/components/schemas/cagr_5_revenue"
                          },
                          "earnings_per_share_diluted_qoq_growth_fq": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_qoq_growth_fq"
                          },
                          "shrhldrs_equity_to_total_assets_fy": {
                            "$ref": "#/components/schemas/shrhldrs_equity_to_total_assets_fy"
                          },
                          "enterprise_value_to_ebit_ttm": {
                            "$ref": "#/components/schemas/enterprise_value_to_ebit_ttm"
                          },
                          "price_to_working_capital_fq": {
                            "$ref": "#/components/schemas/price_to_working_capital_fq"
                          },
                          "price_book_fq": {
                            "$ref": "#/components/schemas/price_book_fq"
                          },
                          "price_revenue_ttm": {
                            "$ref": "#/components/schemas/price_revenue_ttm"
                          },
                          "earnings_per_share_diluted_5y_growth_fy": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_5y_growth_fy"
                          },
                          "total_debt_qoq_growth_fq": {
                            "$ref": "#/components/schemas/total_debt_qoq_growth_fq"
                          },
                          "total_debt_to_ebitda_fq": {
                            "$ref": "#/components/schemas/total_debt_to_ebitda_fq"
                          },
                          "non_gaap_price_to_earnings_per_share_forecast_next_fy": {
                            "$ref": "#/components/schemas/non_gaap_price_to_earnings_per_share_forecast_next_fy"
                          },
                          "gross_profit_margin_fy": {
                            "$ref": "#/components/schemas/gross_profit_margin_fy"
                          },
                          "relative_volume": {
                            "$ref": "#/components/schemas/relative_volume"
                          },
                          "update_time": {
                            "$ref": "#/components/schemas/update_time"
                          },
                          "buyback_yield": {
                            "$ref": "#/components/schemas/buyback_yield"
                          },
                          "gross_profit_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/gross_profit_yoy_growth_ttm"
                          },
                          "net_income_qoq_growth_fq": {
                            "$ref": "#/components/schemas/net_income_qoq_growth_fq"
                          },
                          "total_revenue_yoy_growth_fy": {
                            "$ref": "#/components/schemas/total_revenue_yoy_growth_fy"
                          },
                          "gross_profit_yoy_growth_fq": {
                            "$ref": "#/components/schemas/gross_profit_yoy_growth_fq"
                          },
                          "cryptoasset-info_description": {
                            "$ref": "#/components/schemas/cryptoasset-info_description"
                          },
                          "ebitda_yoy_growth_fy": {
                            "$ref": "#/components/schemas/ebitda_yoy_growth_fy"
                          },
                          "earnings_per_share_diluted_yoy_growth_fy": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_yoy_growth_fy"
                          },
                          "capital_expenditures_yoy_growth_fq": {
                            "$ref": "#/components/schemas/capital_expenditures_yoy_growth_fq"
                          },
                          "subtype": {
                            "$ref": "#/components/schemas/subtype"
                          },
                          "gross_profit_qoq_growth_fq": {
                            "$ref": "#/components/schemas/gross_profit_qoq_growth_fq"
                          },
                          "free_cash_flow_yoy_growth_fq": {
                            "$ref": "#/components/schemas/free_cash_flow_yoy_growth_fq"
                          },
                          "low_after_high_all_change": {
                            "$ref": "#/components/schemas/low_after_high_all_change"
                          },
                          "price_target_1y_delta": {
                            "$ref": "#/components/schemas/price_target_1y_delta"
                          },
                          "capital_expenditures_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/capital_expenditures_yoy_growth_ttm"
                          },
                          "total_revenue_qoq_growth_fq": {
                            "$ref": "#/components/schemas/total_revenue_qoq_growth_fq"
                          },
                          "total_revenue_5y_growth_fy": {
                            "$ref": "#/components/schemas/total_revenue_5y_growth_fy"
                          },
                          "enterprise_value_current": {
                            "$ref": "#/components/schemas/enterprise_value_current"
                          },
                          "cash_n_short_term_invest_to_total_current_liabilities_fy": {
                            "$ref": "#/components/schemas/cash_n_short_term_invest_to_total_current_liabilities_fy"
                          },
                          "is_primary": {
                            "$ref": "#/components/schemas/is_primary"
                          },
                          "base_currency_kind": {
                            "$ref": "#/components/schemas/base_currency_kind"
                          },
                          "total_debt_yoy_growth_fy": {
                            "$ref": "#/components/schemas/total_debt_yoy_growth_fy"
                          },
                          "typespecs": {
                            "$ref": "#/components/schemas/typespecs"
                          },
                          "total_assets_qoq_growth_fq": {
                            "$ref": "#/components/schemas/total_assets_qoq_growth_fq"
                          },
                          "shrhldrs_equity_to_total_assets_fq": {
                            "$ref": "#/components/schemas/shrhldrs_equity_to_total_assets_fq"
                          },
                          "expiration": {
                            "$ref": "#/components/schemas/expiration"
                          },
                          "eps_surprise_fq": {
                            "$ref": "#/components/schemas/eps_surprise_fq"
                          },
                          "enterprise_value_to_free_cash_flow_ttm": {
                            "$ref": "#/components/schemas/enterprise_value_to_free_cash_flow_ttm"
                          },
                          "sell_gen_admin_exp_other_ratio_fy": {
                            "$ref": "#/components/schemas/sell_gen_admin_exp_other_ratio_fy"
                          },
                          "cagr_5_net_income": {
                            "$ref": "#/components/schemas/cagr_5_net_income"
                          },
                          "exchange": {
                            "$ref": "#/components/schemas/exchange"
                          },
                          "market_cap_calc": {
                            "$ref": "#/components/schemas/market_cap_calc"
                          },
                          "price_to_cash_f_operating_activities_ttm": {
                            "$ref": "#/components/schemas/price_to_cash_f_operating_activities_ttm"
                          },
                          "oper_income_margin_fy": {
                            "$ref": "#/components/schemas/oper_income_margin_fy"
                          },
                          "earnings_per_share_diluted_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_yoy_growth_ttm"
                          },
                          "price_book_ratio": {
                            "$ref": "#/components/schemas/price_book_ratio"
                          },
                          "research_and_dev_ratio_ttm": {
                            "$ref": "#/components/schemas/research_and_dev_ratio_ttm"
                          },
                          "price_target_1y": {
                            "$ref": "#/components/schemas/price_target_1y"
                          },
                          "total_debt_to_ebitda_fy": {
                            "$ref": "#/components/schemas/total_debt_to_ebitda_fy"
                          },
                          "revenue_surprise_percent_fq": {
                            "$ref": "#/components/schemas/revenue_surprise_percent_fq"
                          },
                          "indexes": {
                            "$ref": "#/components/schemas/indexes"
                          },
                          "eps_surprise_percent_fq": {
                            "$ref": "#/components/schemas/eps_surprise_percent_fq"
                          },
                          "net_income_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/net_income_yoy_growth_ttm"
                          },
                          "earnings_per_share_diluted_yoy_growth_fq": {
                            "$ref": "#/components/schemas/earnings_per_share_diluted_yoy_growth_fq"
                          },
                          "price_earnings_ttm": {
                            "$ref": "#/components/schemas/price_earnings_ttm"
                          },
                          "cash_n_short_term_invest_to_total_debt_fq": {
                            "$ref": "#/components/schemas/cash_n_short_term_invest_to_total_debt_fq"
                          },
                          "low_after_high_all_change_abs": {
                            "$ref": "#/components/schemas/low_after_high_all_change_abs"
                          },
                          "cryptoasset-info_id": {
                            "$ref": "#/components/schemas/cryptoasset-info_id"
                          },
                          "research_and_dev_ratio_fy": {
                            "$ref": "#/components/schemas/research_and_dev_ratio_fy"
                          },
                          "total_revenue_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/total_revenue_yoy_growth_ttm"
                          },
                          "ebitda_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/ebitda_yoy_growth_ttm"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "cagr_5_earnings_per_share_basic": {
                            "$ref": "#/components/schemas/cagr_5_earnings_per_share_basic"
                          },
                          "gross_profit_yoy_growth_fy": {
                            "$ref": "#/components/schemas/gross_profit_yoy_growth_fy"
                          },
                          "ebitda_yoy_growth_fq": {
                            "$ref": "#/components/schemas/ebitda_yoy_growth_fq"
                          },
                          "currency_kind": {
                            "$ref": "#/components/schemas/currency_kind"
                          },
                          "free_cash_flow_margin_fy": {
                            "$ref": "#/components/schemas/free_cash_flow_margin_fy"
                          },
                          "capital_expenditures_qoq_growth_fq": {
                            "$ref": "#/components/schemas/capital_expenditures_qoq_growth_fq"
                          },
                          "ebitda_qoq_growth_fq": {
                            "$ref": "#/components/schemas/ebitda_qoq_growth_fq"
                          },
                          "total_debt_yoy_growth_fq": {
                            "$ref": "#/components/schemas/total_debt_yoy_growth_fq"
                          },
                          "continuous_dividend_payout": {
                            "$ref": "#/components/schemas/continuous_dividend_payout"
                          },
                          "maturity_date": {
                            "$ref": "#/components/schemas/maturity_date"
                          },
                          "days_to_maturity": {
                            "$ref": "#/components/schemas/days_to_maturity"
                          },
                          "currency_id": {
                            "$ref": "#/components/schemas/currency_id"
                          },
                          "continuous_dividend_growth": {
                            "$ref": "#/components/schemas/continuous_dividend_growth"
                          },
                          "free_cash_flow_qoq_growth_fq": {
                            "$ref": "#/components/schemas/free_cash_flow_qoq_growth_fq"
                          },
                          "free_cash_flow_yoy_growth_ttm": {
                            "$ref": "#/components/schemas/free_cash_flow_yoy_growth_ttm"
                          },
                          "total_assets_yoy_growth_fq": {
                            "$ref": "#/components/schemas/total_assets_yoy_growth_fq"
                          },
                          "price_sales_ratio": {
                            "$ref": "#/components/schemas/price_sales_ratio"
                          },
                          "price_sales": {
                            "$ref": "#/components/schemas/price_sales"
                          },
                          "type": {
                            "$ref": "#/components/schemas/type"
                          },
                          "is_blacklisted": {
                            "$ref": "#/components/schemas/is_blacklisted"
                          },
                          "free_cash_flow_margin_ttm": {
                            "$ref": "#/components/schemas/free_cash_flow_margin_ttm"
                          },
                          "total_assets_yoy_growth_fy": {
                            "$ref": "#/components/schemas/total_assets_yoy_growth_fy"
                          },
                          "cash_n_short_term_invest_to_total_current_liabilities_fq": {
                            "$ref": "#/components/schemas/cash_n_short_term_invest_to_total_current_liabilities_fq"
                          },
                          "cash_n_short_term_invest_to_total_debt_fy": {
                            "$ref": "#/components/schemas/cash_n_short_term_invest_to_total_debt_fy"
                          },
                          "active_symbol": {
                            "$ref": "#/components/schemas/active_symbol"
                          },
                          "cagr_5_free_cash_flow": {
                            "$ref": "#/components/schemas/cagr_5_free_cash_flow"
                          },
                          "net_income_bef_disc_oper_margin_fy": {
                            "$ref": "#/components/schemas/net_income_bef_disc_oper_margin_fy"
                          },
                          "submarket": {
                            "$ref": "#/components/schemas/submarket"
                          },
                          "coupon": {
                            "$ref": "#/components/schemas/coupon"
                          },
                          "dps_common_stock_prim_issue_yoy_growth_fy": {
                            "$ref": "#/components/schemas/dps_common_stock_prim_issue_yoy_growth_fy"
                          },
                          "float_shares_percent_current": {
                            "$ref": "#/components/schemas/float_shares_percent_current"
                          },
                          "is_shariah_compliant": {
                            "$ref": "#/components/schemas/is_shariah_compliant"
                          },
                          "total_revenue_yoy_growth_fq": {
                            "$ref": "#/components/schemas/total_revenue_yoy_growth_fq"
                          },
                          "enterprise_value_ebitda_ttm": {
                            "$ref": "#/components/schemas/enterprise_value_ebitda_ttm"
                          },
                          "enterprise_value_to_revenue_ttm": {
                            "$ref": "#/components/schemas/enterprise_value_to_revenue_ttm"
                          },
                          "price_free_cash_flow_ttm": {
                            "$ref": "#/components/schemas/price_free_cash_flow_ttm"
                          },
                          "market": {
                            "$ref": "#/components/schemas/market"
                          },
                          "net_income_yoy_growth_fq": {
                            "$ref": "#/components/schemas/net_income_yoy_growth_fq"
                          },
                          "net_income_yoy_growth_fy": {
                            "$ref": "#/components/schemas/net_income_yoy_growth_fy"
                          },
                          "free_cash_flow_yoy_growth_fy": {
                            "$ref": "#/components/schemas/free_cash_flow_yoy_growth_fy"
                          },
                          "enterprise_value_to_gross_profit_ttm": {
                            "$ref": "#/components/schemas/enterprise_value_to_gross_profit_ttm"
                          },
                          "Perf_All": {
                            "$ref": "#/components/schemas/Perf_All"
                          },
                          "gap_down_abs_240": {
                            "$ref": "#/components/schemas/gap_down_abs_240"
                          },
                          "close_240": {
                            "$ref": "#/components/schemas/close_240"
                          },
                          "volume_change_abs_1M": {
                            "$ref": "#/components/schemas/volume_change_abs_1M"
                          },
                          "high_5": {
                            "$ref": "#/components/schemas/high_5"
                          },
                          "update_mode_1": {
                            "$ref": "#/components/schemas/update_mode_1"
                          },
                          "gap_down_1": {
                            "$ref": "#/components/schemas/gap_down_1"
                          },
                          "gap_up": {
                            "$ref": "#/components/schemas/gap_up"
                          },
                          "pre_change_abs_60": {
                            "$ref": "#/components/schemas/pre_change_abs_60"
                          },
                          "change_abs_60": {
                            "$ref": "#/components/schemas/change_abs_60"
                          },
                          "change_from_open_30": {
                            "$ref": "#/components/schemas/change_from_open_30"
                          },
                          "gap": {
                            "$ref": "#/components/schemas/gap"
                          },
                          "pre_change_15": {
                            "$ref": "#/components/schemas/pre_change_15"
                          },
                          "pre_change_abs_1W": {
                            "$ref": "#/components/schemas/pre_change_abs_1W"
                          },
                          "change_abs_15": {
                            "$ref": "#/components/schemas/change_abs_15"
                          },
                          "change_abs_5": {
                            "$ref": "#/components/schemas/change_abs_5"
                          },
                          "gap_up_5": {
                            "$ref": "#/components/schemas/gap_up_5"
                          },
                          "pre_change_abs_30": {
                            "$ref": "#/components/schemas/pre_change_abs_30"
                          },
                          "gap_60": {
                            "$ref": "#/components/schemas/gap_60"
                          },
                          "volume_60": {
                            "$ref": "#/components/schemas/volume_60"
                          },
                          "pre_change_60": {
                            "$ref": "#/components/schemas/pre_change_60"
                          },
                          "last_bar_update_time_30": {
                            "$ref": "#/components/schemas/last_bar_update_time_30"
                          },
                          "update_mode_240": {
                            "$ref": "#/components/schemas/update_mode_240"
                          },
                          "volume": {
                            "$ref": "#/components/schemas/volume"
                          },
                          "indicators_bars_count_60": {
                            "$ref": "#/components/schemas/indicators_bars_count_60"
                          },
                          "pre_change_abs_1": {
                            "$ref": "#/components/schemas/pre_change_abs_1"
                          },
                          "gap_down_abs_1W": {
                            "$ref": "#/components/schemas/gap_down_abs_1W"
                          },
                          "change_from_open_abs_240": {
                            "$ref": "#/components/schemas/change_from_open_abs_240"
                          },
                          "indicators_bars_count_120": {
                            "$ref": "#/components/schemas/indicators_bars_count_120"
                          },
                          "last_bar_update_time": {
                            "$ref": "#/components/schemas/last_bar_update_time"
                          },
                          "gap_up_120": {
                            "$ref": "#/components/schemas/gap_up_120"
                          },
                          "change_abs_120": {
                            "$ref": "#/components/schemas/change_abs_120"
                          },
                          "open_1M": {
                            "$ref": "#/components/schemas/open_1M"
                          },
                          "last_bar_update_time_120": {
                            "$ref": "#/components/schemas/last_bar_update_time_120"
                          },
                          "gap_up_abs_240": {
                            "$ref": "#/components/schemas/gap_up_abs_240"
                          },
                          "change_from_open_120": {
                            "$ref": "#/components/schemas/change_from_open_120"
                          },
                          "postmarket_change": {
                            "$ref": "#/components/schemas/postmarket_change"
                          },
                          "premarket_change_abs": {
                            "$ref": "#/components/schemas/premarket_change_abs"
                          },
                          "gap_down_60": {
                            "$ref": "#/components/schemas/gap_down_60"
                          },
                          "pre_change_30": {
                            "$ref": "#/components/schemas/pre_change_30"
                          },
                          "close_120": {
                            "$ref": "#/components/schemas/close_120"
                          },
                          "bars_count_1": {
                            "$ref": "#/components/schemas/bars_count_1"
                          },
                          "change_120": {
                            "$ref": "#/components/schemas/change_120"
                          },
                          "gap_up_1W": {
                            "$ref": "#/components/schemas/gap_up_1W"
                          },
                          "low_30": {
                            "$ref": "#/components/schemas/low_30"
                          },
                          "change_from_open": {
                            "$ref": "#/components/schemas/change_from_open"
                          },
                          "change_from_open_abs_15": {
                            "$ref": "#/components/schemas/change_from_open_abs_15"
                          },
                          "bars_count_1M": {
                            "$ref": "#/components/schemas/bars_count_1M"
                          },
                          "pre_change_1": {
                            "$ref": "#/components/schemas/pre_change_1"
                          },
                          "time_60": {
                            "$ref": "#/components/schemas/time_60"
                          },
                          "volume_240": {
                            "$ref": "#/components/schemas/volume_240"
                          },
                          "gap_120": {
                            "$ref": "#/components/schemas/gap_120"
                          },
                          "close": {
                            "$ref": "#/components/schemas/close"
                          },
                          "open_30": {
                            "$ref": "#/components/schemas/open_30"
                          },
                          "update_mode_15": {
                            "$ref": "#/components/schemas/update_mode_15"
                          },
                          "low_1M": {
                            "$ref": "#/components/schemas/low_1M"
                          },
                          "volume_120": {
                            "$ref": "#/components/schemas/volume_120"
                          },
                          "volume_change_abs_120": {
                            "$ref": "#/components/schemas/volume_change_abs_120"
                          },
                          "volume_change_abs": {
                            "$ref": "#/components/schemas/volume_change_abs"
                          },
                          "gap_up_abs_15": {
                            "$ref": "#/components/schemas/gap_up_abs_15"
                          },
                          "time_30": {
                            "$ref": "#/components/schemas/time_30"
                          },
                          "time_120": {
                            "$ref": "#/components/schemas/time_120"
                          },
                          "premarket_change": {
                            "$ref": "#/components/schemas/premarket_change"
                          },
                          "volume_change_abs_60": {
                            "$ref": "#/components/schemas/volume_change_abs_60"
                          },
                          "volume_change_abs_1W": {
                            "$ref": "#/components/schemas/volume_change_abs_1W"
                          },
                          "gap_down_1M": {
                            "$ref": "#/components/schemas/gap_down_1M"
                          },
                          "change_from_open_abs": {
                            "$ref": "#/components/schemas/change_from_open_abs"
                          },
                          "change_1W": {
                            "$ref": "#/components/schemas/change_1W"
                          },
                          "indicators_bars_count_1W": {
                            "$ref": "#/components/schemas/indicators_bars_count_1W"
                          },
                          "high_120": {
                            "$ref": "#/components/schemas/high_120"
                          },
                          "change_60": {
                            "$ref": "#/components/schemas/change_60"
                          },
                          "high_240": {
                            "$ref": "#/components/schemas/high_240"
                          },
                          "indicators_bars_count_15": {
                            "$ref": "#/components/schemas/indicators_bars_count_15"
                          },
                          "volume_change_abs_1": {
                            "$ref": "#/components/schemas/volume_change_abs_1"
                          },
                          "change_from_open_abs_120": {
                            "$ref": "#/components/schemas/change_from_open_abs_120"
                          },
                          "change_from_open_abs_1M": {
                            "$ref": "#/components/schemas/change_from_open_abs_1M"
                          },
                          "change_from_open_5": {
                            "$ref": "#/components/schemas/change_from_open_5"
                          },
                          "last_bar_update_time_1": {
                            "$ref": "#/components/schemas/last_bar_update_time_1"
                          },
                          "low_240": {
                            "$ref": "#/components/schemas/low_240"
                          },
                          "time_240": {
                            "$ref": "#/components/schemas/time_240"
                          },
                          "pre_change_abs": {
                            "$ref": "#/components/schemas/pre_change_abs"
                          },
                          "gap_up_60": {
                            "$ref": "#/components/schemas/gap_up_60"
                          },
                          "gap_up_abs_1W": {
                            "$ref": "#/components/schemas/gap_up_abs_1W"
                          },
                          "bars_count_120": {
                            "$ref": "#/components/schemas/bars_count_120"
                          },
                          "change_1M": {
                            "$ref": "#/components/schemas/change_1M"
                          },
                          "volume_change_1": {
                            "$ref": "#/components/schemas/volume_change_1"
                          },
                          "volume_change_abs_5": {
                            "$ref": "#/components/schemas/volume_change_abs_5"
                          },
                          "change_from_open_abs_1": {
                            "$ref": "#/components/schemas/change_from_open_abs_1"
                          },
                          "change_30": {
                            "$ref": "#/components/schemas/change_30"
                          },
                          "time": {
                            "$ref": "#/components/schemas/time"
                          },
                          "change_240": {
                            "$ref": "#/components/schemas/change_240"
                          },
                          "change_abs_1W": {
                            "$ref": "#/components/schemas/change_abs_1W"
                          },
                          "last_bar_update_time_240": {
                            "$ref": "#/components/schemas/last_bar_update_time_240"
                          },
                          "change_15": {
                            "$ref": "#/components/schemas/change_15"
                          },
                          "high_1": {
                            "$ref": "#/components/schemas/high_1"
                          },
                          "low_1W": {
                            "$ref": "#/components/schemas/low_1W"
                          },
                          "pre_change_abs_240": {
                            "$ref": "#/components/schemas/pre_change_abs_240"
                          },
                          "open_5": {
                            "$ref": "#/components/schemas/open_5"
                          },
                          "pre_change": {
                            "$ref": "#/components/schemas/pre_change"
                          },
                          "gap_down_abs_60": {
                            "$ref": "#/components/schemas/gap_down_abs_60"
                          },
                          "gap_down_15": {
                            "$ref": "#/components/schemas/gap_down_15"
                          },
                          "open_1W": {
                            "$ref": "#/components/schemas/open_1W"
                          },
                          "low_5": {
                            "$ref": "#/components/schemas/low_5"
                          },
                          "change": {
                            "$ref": "#/components/schemas/change"
                          },
                          "update_mode": {
                            "$ref": "#/components/schemas/update_mode"
                          },
                          "volume_15": {
                            "$ref": "#/components/schemas/volume_15"
                          },
                          "gap_up_240": {
                            "$ref": "#/components/schemas/gap_up_240"
                          },
                          "last_bar_update_time_5": {
                            "$ref": "#/components/schemas/last_bar_update_time_5"
                          },
                          "time_1": {
                            "$ref": "#/components/schemas/time_1"
                          },
                          "update_mode_60": {
                            "$ref": "#/components/schemas/update_mode_60"
                          },
                          "gap_15": {
                            "$ref": "#/components/schemas/gap_15"
                          },
                          "volume_change_abs_240": {
                            "$ref": "#/components/schemas/volume_change_abs_240"
                          },
                          "change_abs_1": {
                            "$ref": "#/components/schemas/change_abs_1"
                          },
                          "gap_up_abs": {
                            "$ref": "#/components/schemas/gap_up_abs"
                          },
                          "bars_count_60": {
                            "$ref": "#/components/schemas/bars_count_60"
                          },
                          "gap_down_abs_5": {
                            "$ref": "#/components/schemas/gap_down_abs_5"
                          },
                          "gap_up_abs_5": {
                            "$ref": "#/components/schemas/gap_up_abs_5"
                          },
                          "gap_up_1M": {
                            "$ref": "#/components/schemas/gap_up_1M"
                          },
                          "gap_1M": {
                            "$ref": "#/components/schemas/gap_1M"
                          },
                          "time_15": {
                            "$ref": "#/components/schemas/time_15"
                          },
                          "indicators_bars_count_1M": {
                            "$ref": "#/components/schemas/indicators_bars_count_1M"
                          },
                          "gap_up_abs_1M": {
                            "$ref": "#/components/schemas/gap_up_abs_1M"
                          },
                          "gap_down_abs": {
                            "$ref": "#/components/schemas/gap_down_abs"
                          },
                          "volume_change_1W": {
                            "$ref": "#/components/schemas/volume_change_1W"
                          },
                          "change_from_open_1": {
                            "$ref": "#/components/schemas/change_from_open_1"
                          },
                          "high_1M": {
                            "$ref": "#/components/schemas/high_1M"
                          },
                          "volume_1M": {
                            "$ref": "#/components/schemas/volume_1M"
                          },
                          "indicators_bars_count_240": {
[...]
