{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView bonds API",
    "version": "1.0.0",
    "description": "OpenAPI specification for TradingView bonds market scanner API.\n\n**Data Source**: tv-screener v0.4.0\n**Generator**: tv-generator v2.0.0\n**Generated**: 2025-06-25T15:39:47.095476\n\nThis specification is automatically generated from TradingView Scanner API metadata provided by the tv-screener library. All field definitions, types, and examples are sourced from official TradingView data structures.",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-data-source": "tv-screener",
    "x-data-version": "0.4.0",
    "x-generator": "tv-generator",
    "x-generator-version": "2.0.0",
    "x-generated-date": "2025-06-25T15:39:47.095476",
    "x-market": "bonds",
    "x-field-count": 175
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "bonds",
      "description": "Market: bonds"
    }
  ],
  "paths": {
    "/bonds/scan": {
      "post": {
        "summary": "Scan bonds market",
        "description": "Scan bonds market with filters and options",
        "operationId": "scanBonds",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "TradingView session cookie for real-time data access"
      }
    },
    "schemas": {
      "MarketData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Symbol Type",
            "enum": [
              "bond"
            ]
          },
          "is_primary": {
            "type": "boolean",
            "description": "Primary Listing"
          },
          "active_symbol": {
            "type": "boolean",
            "description": "Current trading day"
          },
          "change": {
            "type": "number",
            "description": "Change %"
          },
          "change_abs": {
            "type": "number",
            "description": "Change"
          },
          "close": {
            "type": "number",
            "description": "Price"
          },
          "sector": {
            "type": "string",
            "description": "Group"
          },
          "volume": {
            "type": "number",
            "description": "Volume"
          },
          "High.1M": {
            "type": "number",
            "description": "1-Month High"
          },
          "Low.1M": {
            "type": "number",
            "description": "1-Month Low"
          },
          "High.3M": {
            "type": "number",
            "description": "3-Month High"
          },
          "Low.3M": {
            "type": "number",
            "description": "3-Month Low"
          },
          "Perf.3M": {
            "type": "number",
            "description": "3-Month Performance"
          },
          "Perf.5Y": {
            "type": "number",
            "description": "5Y Performance"
          },
          "High.6M": {
            "type": "number",
            "description": "6-Month High"
          },
          "Low.6M": {
            "type": "number",
            "description": "6-Month Low"
          },
          "Perf.6M": {
            "type": "number",
            "description": "6-Month Performance"
          },
          "price_52_week_high": {
            "type": "number",
            "description": "52 Week High"
          },
          "price_52_week_low": {
            "type": "number",
            "description": "52 Week Low"
          },
          "High.All": {
            "type": "number",
            "description": "All Time High"
          },
          "Low.All": {
            "type": "number",
            "description": "All Time Low"
          },
          "Perf.All": {
            "type": "number",
            "description": "All Time Performance"
          },
          "change_from_open": {
            "type": "number",
            "description": "Change from Open %"
          },
          "change_from_open_abs": {
            "type": "number",
            "description": "Change from Open"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange",
            "enum": [
              "TVC"
            ]
          },
          "gap": {
            "type": "number",
            "description": "Gap %"
          },
          "high": {
            "type": "number",
            "description": "High"
          },
          "low": {
            "type": "number",
            "description": "Low"
          },
          "Perf.1M": {
            "type": "number",
            "description": "Monthly Performance"
          },
          "open": {
            "type": "number",
            "description": "Open"
          },
          "postmarket_change": {
            "type": "number",
            "description": "Post-market Change %"
          },
          "postmarket_change_abs": {
            "type": "number",
            "description": "Post-market Change"
          },
          "premarket_change": {
            "type": "number",
            "description": "Pre-market Change %"
          },
          "premarket_change_abs": {
            "type": "number",
            "description": "Pre-market Change"
          },
          "premarket_change_from_open": {
            "type": "number",
            "description": "Pre-market Change from Open %"
          },
          "premarket_change_from_open_abs": {
            "type": "number",
            "description": "Pre-market Change from Open"
          },
          "premarket_gap": {
            "type": "number",
            "description": "Pre-market Gap %"
          },
          "submarket": {
            "type": "string",
            "description": "Submarket",
            "enum": [
              ""
            ]
          },
          "Volatility.D": {
            "type": "number",
            "description": "Volatility"
          },
          "Volatility.M": {
            "type": "number",
            "description": "Volatility Month"
          },
          "Volatility.W": {
            "type": "number",
            "description": "Volatility Week"
          },
          "Perf.W": {
            "type": "number",
            "description": "Weekly Performance"
          },
          "Perf.Y": {
            "type": "number",
            "description": "Yearly Performance"
          },
          "Perf.YTD": {
            "type": "number",
            "description": "YTD Performance"
          },
          "currency": {
            "type": "string",
            "description": "Quote currency",
            "enum": [
              "BRL",
              "EUR",
              "KRW"
            ]
          },
          "ask": {
            "type": "number",
            "description": "Ask"
          },
          "bid": {
            "type": "number",
            "description": "Bid"
          },
          "Bond.Change": {
            "type": "number",
            "description": "Field: Bond.Change"
          },
          "Bond.Change|1": {
            "type": "number",
            "description": "Field: Bond.Change|1"
          },
          "Bond.Change.%": {
            "type": "number",
            "description": "Field: Bond.Change.%"
          },
          "Bond.Change.%|1": {
            "type": "number",
            "description": "Field: Bond.Change.%|1"
          },
          "Bond.Currency": {
            "type": "string",
            "description": "Field: Bond.Currency",
            "enum": [
              "BRL",
              "KRW",
              "PCTDY",
              "PCTPAR",
              "PCTYTM"
            ]
          },
          "Bond.Price": {
            "type": "number",
            "description": "Field: Bond.Price"
          },
          "Bond.Price|1": {
            "type": "number",
            "description": "Field: Bond.Price|1"
          },
          "High.1M.Date": {
            "type": "string",
            "description": "Field: High.1M.Date"
          },
          "High.3M.Date": {
            "type": "string",
            "description": "Field: High.3M.Date"
          },
          "High.5D": {
            "type": "number",
            "description": "Field: High.5D"
          },
          "High.6M.Date": {
            "type": "string",
            "description": "Field: High.6M.Date"
          },
          "High.All.Calc": {
            "type": "number",
            "description": "Field: High.All.Calc"
          },
          "High.All.Calc.Date": {
            "type": "string",
            "description": "Field: High.All.Calc.Date"
          },
          "High.All.Date": {
            "type": "string",
            "description": "Field: High.All.Date"
          },
          "Low.1M.Date": {
            "type": "string",
            "description": "Field: Low.1M.Date"
          },
          "Low.3M.Date": {
            "type": "string",
            "description": "Field: Low.3M.Date"
          },
          "Low.5D": {
            "type": "number",
            "description": "Field: Low.5D"
          },
          "Low.6M.Date": {
            "type": "string",
            "description": "Field: Low.6M.Date"
          },
          "Low.After.High.All": {
            "type": "number",
            "description": "Field: Low.After.High.All"
          },
          "Low.All.Calc": {
            "type": "number",
            "description": "Field: Low.All.Calc"
          },
          "Low.All.Calc.Date": {
            "type": "string",
            "description": "Field: Low.All.Calc.Date"
          },
          "Low.All.Date": {
            "type": "string",
            "description": "Field: Low.All.Date"
          },
          "Open.All.Calc": {
            "type": "number",
            "description": "Field: Open.All.Calc"
          },
          "Perf.10Y": {
            "type": "number",
            "description": "Field: Perf.10Y"
          },
          "Perf.3Y": {
            "type": "number",
            "description": "Field: Perf.3Y"
          },
          "Perf.5D": {
            "type": "number",
            "description": "Field: Perf.5D"
          },
          "all_time_high": {
            "type": "number",
            "description": "Field: all_time_high"
          },
          "all_time_high_day": {
            "type": "string",
            "description": "Field: all_time_high_day"
          },
          "all_time_low": {
            "type": "number",
            "description": "Field: all_time_low"
          },
          "all_time_low_day": {
            "type": "string",
            "description": "Field: all_time_low_day"
          },
          "all_time_open": {
            "type": "number",
            "description": "Field: all_time_open"
          },
          "bars_count": {
            "type": "number",
            "description": "Field: bars_count"
          },
          "bars_count|1": {
            "type": "number",
            "description": "Field: bars_count|1"
          },
          "base_currency_kind": {
            "type": "string",
            "description": "Field: base_currency_kind"
          },
          "bid_ask_spread_pct": {
            "type": "number",
            "description": "Field: bid_ask_spread_pct"
          },
          "change|1": {
            "type": "number",
            "description": "Field: change|1"
          },
          "change_abs|1": {
            "type": "number",
            "description": "Field: change_abs|1"
          },
          "change_from_open|1": {
            "type": "number",
            "description": "Field: change_from_open|1"
          },
          "change_from_open_abs|1": {
            "type": "number",
            "description": "Field: change_from_open_abs|1"
          },
          "close|1": {
            "type": "number",
            "description": "Field: close|1"
          },
          "close_1_days_back": {
            "type": "number",
            "description": "Field: close_1_days_back"
          },
          "close_30_days_back": {
            "type": "number",
            "description": "Field: close_30_days_back"
          },
          "close_365_days_back": {
            "type": "number",
            "description": "Field: close_365_days_back"
          },
          "country_code": {
            "type": "string",
            "description": "Field: country_code",
            "enum": [
              "AT",
              "AU",
              "BE",
              "BR",
              "CA",
              "CH",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DE",
              "DK",
              "ES",
              "EU",
              "FI",
              "FR",
              "GB",
              "GR",
              "HK",
              "HU",
              "ID",
              "IE",
              "IN",
              "IS",
              "IT",
              "JP",
              "KR",
              "LT",
              "MY",
              "NL",
              "NO",
              "NZ",
              "PE",
              "PH",
              "PL",
              "PT",
              "RO",
              "RU",
              "SE",
              "SG",
              "SK",
              "TH",
              "TR",
              "TW",
              "UA",
              "US",
              "VN",
              "ZA"
            ]
          },
          "country_code_fund": {
            "type": "string",
            "description": "Field: country_code_fund",
            "enum": [
              "AT",
              "AU",
              "BE",
              "BR",
              "CA",
              "CH",
              "CL",
              "CN",
              "CO",
              "CZ",
              "DE",
              "DK",
              "ES",
              "EU",
              "FI",
              "FR",
              "GB",
              "GR",
              "HK",
              "HU",
              "ID",
              "IE",
              "IN",
              "IS",
              "IT",
              "JP",
              "KR",
              "LT",
              "MY",
              "NL",
              "NO",
              "NZ",
              "PE",
              "PH",
              "PL",
              "PT",
              "RO",
              "RU",
              "SE",
              "SG",
              "SK",
              "TH",
              "TR",
              "TW",
              "UA",
              "US",
              "VN",
              "ZA"
            ]
          },
          "coupon": {
            "type": "number",
            "description": "Field: coupon"
          },
          "cryptoasset-info.description": {
            "type": "string",
            "description": "Field: cryptoasset-info.description"
          },
          "cryptoasset-info.id": {
            "type": "string",
            "description": "Field: cryptoasset-info.id"
          },
          "currency_id": {
            "type": "string",
            "description": "Field: currency_id",
            "enum": [
              "",
              "BRL",
              "EUR",
              "KRW"
            ]
          },
          "currency_kind": {
            "type": "string",
            "description": "Field: currency_kind",
            "enum": [
              "fiat"
            ]
          },
          "current_session": {
            "type": "string",
            "description": "Field: current_session",
            "enum": [
              "market",
              "out_of_session"
            ]
          },
          "days_to_maturity": {
            "type": "number",
            "description": "Field: days_to_maturity"
          },
          "description": {
            "type": "string",
            "description": "Field: description"
          },
          "expiration": {
            "type": "string",
            "description": "Field: expiration"
          },
          "first_bar_time": {
            "type": "string",
            "description": "Field: first_bar_time"
          },
          "first_bar_time_1d": {
            "type": "number",
            "description": "Field: first_bar_time_1d"
          },
          "forex_priority": {
            "type": "number",
            "description": "Field: forex_priority"
          },
          "fractional": {
            "type": "string",
            "description": "Field: fractional",
            "enum": [
              "false",
              "true"
            ]
          },
          "gap|1": {
            "type": "number",
            "description": "Field: gap|1"
          },
          "gap_down": {
            "type": "number",
            "description": "Field: gap_down"
          },
          "gap_down|1": {
            "type": "number",
            "description": "Field: gap_down|1"
          },
          "gap_down_abs": {
            "type": "number",
            "description": "Field: gap_down_abs"
          },
          "gap_down_abs|1": {
            "type": "number",
            "description": "Field: gap_down_abs|1"
          },
          "gap_up": {
            "type": "number",
            "description": "Field: gap_up"
          },
          "gap_up|1": {
            "type": "number",
            "description": "Field: gap_up|1"
          },
          "gap_up_abs": {
            "type": "number",
            "description": "Field: gap_up_abs"
          },
          "gap_up_abs|1": {
            "type": "number",
            "description": "Field: gap_up_abs|1"
          },
          "high|1": {
            "type": "number",
            "description": "Field: high|1"
          },
          "index_priority": {
            "type": "number",
            "description": "Field: index_priority"
          },
          "indexes": {
            "type": "string",
            "description": "Field: indexes"
          },
          "indicators_bars_count": {
            "type": "number",
            "description": "Field: indicators_bars_count"
          },
          "indicators_bars_count|1": {
            "type": "number",
            "description": "Field: indicators_bars_count|1"
          },
          "is_blacklisted": {
            "type": "boolean",
            "description": "Field: is_blacklisted"
          },
          "is_shariah_compliant": {
            "type": "boolean",
            "description": "Field: is_shariah_compliant"
          },
          "last_bar_update_time": {
            "type": "number",
            "description": "Field: last_bar_update_time"
          },
          "last_bar_update_time|1": {
            "type": "number",
            "description": "Field: last_bar_update_time|1"
          },
          "logoid": {
            "type": "string",
            "description": "Field: logoid"
          },
          "low|1": {
            "type": "number",
            "description": "Field: low|1"
          },
          "low_after_high_all_change": {
            "type": "number",
            "description": "Field: low_after_high_all_change"
          },
          "low_after_high_all_change_abs": {
            "type": "number",
            "description": "Field: low_after_high_all_change_abs"
          },
          "market": {
            "type": "string",
            "description": "Field: market",
            "enum": [
              "bonds"
            ]
          },
          "maturity_date": {
            "type": "string",
            "description": "Field: maturity_date"
          },
          "minmov": {
            "type": "number",
            "description": "Field: minmov"
          },
          "minmove2": {
            "type": "number",
            "description": "Field: minmove2"
          },
          "name": {
            "type": "string",
            "description": "Field: name"
          },
          "open|1": {
            "type": "number",
            "description": "Field: open|1"
          },
          "popularity_rank": {
            "type": "number",
            "description": "Field: popularity_rank"
          },
          "post_change": {
            "type": "number",
            "description": "Field: post_change"
          },
          "post_change|1": {
            "type": "number",
            "description": "Field: post_change|1"
          },
          "pre_change": {
            "type": "number",
            "description": "Field: pre_change"
          },
          "pre_change|1": {
            "type": "number",
            "description": "Field: pre_change|1"
          },
          "pre_change_abs": {
            "type": "number",
            "description": "Field: pre_change_abs"
          },
          "pre_change_abs|1": {
            "type": "number",
            "description": "Field: pre_change_abs|1"
          },
          "price_52_week_high_date": {
            "type": "string",
            "description": "Field: price_52_week_high_date"
          },
          "price_52_week_low_date": {
            "type": "string",
            "description": "Field: price_52_week_low_date"
          },
          "pricescale": {
            "type": "number",
            "description": "Field: pricescale"
          },
          "provider-id": {
            "type": "string",
            "description": "Field: provider-id",
            "enum": [
              "refinitiv",
              "tvc"
            ]
          },
          "rates_cf": {
            "type": "object",
            "description": "Field: rates_cf"
          },
          "rates_current": {
            "type": "object",
            "description": "Field: rates_current"
          },
          "rates_dividend_recent": {
            "type": "object",
            "description": "Field: rates_dividend_recent"
          },
          "rates_dividend_upcoming": {
            "type": "object",
            "description": "Field: rates_dividend_upcoming"
          },
          "rates_earnings_fq": {
            "type": "object",
            "description": "Field: rates_earnings_fq"
          },
          "rates_earnings_next_fq": {
            "type": "object",
            "description": "Field: rates_earnings_next_fq"
          },
          "rates_fh": {
            "type": "object",
            "description": "Field: rates_fh"
          },
          "rates_fq": {
            "type": "object",
            "description": "Field: rates_fq"
          },
          "rates_fy": {
            "type": "object",
            "description": "Field: rates_fy"
          },
          "rates_mc": {
            "type": "object",
            "description": "Field: rates_mc"
          },
          "rates_pt": {
            "type": "object",
            "description": "Field: rates_pt"
          },
          "rates_time_series": {
            "type": "object",
            "description": "Field: rates_time_series"
          },
          "rates_ttm": {
            "type": "object",
            "description": "Field: rates_ttm"
          },
          "region": {
            "type": "string",
            "description": "Field: region",
            "enum": [
              "Africa",
              "Americas",
              "Asia",
              "Europe",
              "Middle East",
              "Pacific"
            ]
          },
          "rtc": {
            "type": "number",
            "description": "Field: rtc"
          },
          "source-logoid": {
            "type": "string",
            "description": "Field: source-logoid",
            "enum": [
              "provider/tvc"
            ]
          },
          "subtype": {
            "type": "string",
            "description": "Field: subtype",
            "enum": [
              "cfd",
              "government"
            ]
          },
          "term-to-maturity": {
            "type": "string",
            "description": "Field: term-to-maturity",
            "enum": [
              "P10Y",
              "P11Y",
              "P12Y",
              "P13Y",
              "P14Y",
              "P15Y",
              "P18Y",
              "P19Y",
              "P1M",
              "P1Y",
              "P20Y",
              "P24Y",
              "P25Y",
              "P2M",
              "P2Y",
              "P30Y",
              "P3M",
              "P3Y",
              "P40Y",
              "P4M",
              "P4Y",
              "P50Y",
              "P5M",
              "P5Y",
              "P60Y",
              "P6M",
              "P6Y",
              "P7M",
              "P7Y",
              "P8Y",
              "P95Y",
              "P9M",
              "P9Y"
            ]
          },
          "time": {
            "type": "string",
            "description": "Field: time"
          },
          "time|1": {
            "type": "string",
            "description": "Field: time|1"
          },
          "time_business_day": {
            "type": "number",
            "description": "Field: time_business_day"
          },
          "typespecs": {
            "type": "array",
            "description": "Field: typespecs",
            "enum": [
              "benchmark",
              "cfd",
              "government",
              "yield"
            ]
          },
          "update-time": {
            "type": "number",
            "description": "Field: update-time"
          },
          "update_mode": {
            "type": "string",
            "description": "Field: update_mode",
            "enum": [
              "streaming"
            ]
          },
          "update_mode|1": {
            "type": "string",
            "description": "Field: update_mode|1",
            "enum": [
              "streaming"
            ]
          },
          "update_time": {
            "type": "string",
            "description": "Field: update_time"
          },
          "volume|1": {
            "type": "number",
            "description": "Field: volume|1"
          },
          "volume_change": {
            "type": "number",
            "description": "Field: volume_change"
          },
          "volume_change|1": {
            "type": "number",
            "description": "Field: volume_change|1"
          },
          "volume_change_abs": {
            "type": "number",
            "description": "Field: volume_change_abs"
          },
          "volume_change_abs|1": {
            "type": "number",
            "description": "Field: volume_change_abs|1"
          }
        }
      },
      "ScanRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "description": "Array of filters to apply"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return"
          },
          "range": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 2,
            "description": "Range of results [start, end]"
          }
        },
        "required": [
          "columns",
          "range"
        ]
      },
      "ScanResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketData"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "left": {
            "type": "string",
            "description": "Field name"
          },
          "operation": {
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "gt",
              "lt",
              "eq",
              "nz"
            ],
            "description": "Filter operation"
          },
          "right": {
            "type": "string",
            "description": "Filter value"
          }
        },
        "required": [
          "left",
          "operation",
          "right"
        ]
      },
      "Options": {
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "enum": [
              "en",
              "ru",
              "zh"
            ],
            "default": "en"
          },
          "decimal_places": {
            "type": "integer",
            "minimum": 0,
            "maximum": 8
          }
        }
      }
    }
  }
}