{
  "openapi": "3.1.0",
  "info": {
    "title": "Decentralized Crypto Exchanges API",
    "description": "API for scanning and filtering decentralized cryptocurrency exchange data with comprehensive documentation",
    "version": "2.0.0",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com",
      "email": "support@tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API Production Server"
    },
    {
      "url": "https://scanner-staging.tradingview.com",
      "description": "TradingView Scanner API Staging Server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "crypto_dex",
      "description": "Operations for crypto_dex market"
    },
    {
      "name": "scanner",
      "description": "Market scanning operations"
    }
  ],
  "paths": {
    "/crypto_dex/scan": {
      "post": {
        "tags": [
          "crypto_dex"
        ],
        "summary": "Scan crypto_dex market data with comprehensive documentation",
        "description": "Retrieve and filter crypto_dex market data based on specified criteria This endpoint provides comprehensive market scanning capabilities with detailed filtering and sorting options.",
        "operationId": "scanCryptodex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "symbols",
                  "columns"
                ],
                "properties": {
                  "symbols": {
                    "type": "object",
                    "required": [
                      "tickers"
                    ],
                    "properties": {
                      "tickers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of ticker symbols to scan",
                        "example": [
                          "UNISWAP:UNIUSDT.P",
                          "SUSHISWAP:SUSHIUSDT.P"
                        ]
                      },
                      "query": {
                        "type": "object",
                        "properties": {
                          "types": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Types of symbols to include"
                          }
                        }
                      }
                    }
                  },
                  "columns": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/FieldEnum"
                    },
                    "description": "Fields to retrieve for each symbol",
                    "example": [
                      "total_shares_diluted",
                      "dex_buys_15m",
                      "dex_buyers_4h"
                    ]
                  },
                  "filter": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "left",
                        "operation",
                        "right"
                      ],
                      "properties": {
                        "left": {
                          "type": "string"
                        },
                        "operation": {
                          "type": "string"
                        },
                        "right": {}
                      }
                    },
                    "description": "Filter conditions"
                  },
                  "sort": {
                    "type": "object",
                    "properties": {
                      "sortBy": {
                        "type": "string"
                      },
                      "sortOrder": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      }
                    }
                  },
                  "range": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 2,
                    "maxItems": 2,
                    "description": "Range of results to return [start, end]"
                  }
                }
              },
              "example": {
                "symbols": {
                  "tickers": [
                    "UNISWAP:UNIUSDT.P",
                    "SUSHISWAP:SUSHIUSDT.P"
                  ],
                  "query": {
                    "types": []
                  }
                },
                "columns": [
                  "total_shares_diluted",
                  "dex_buys_15m",
                  "dex_buyers_4h"
                ],
                "filter": [
                  {
                    "left": "total_shares_diluted",
                    "operation": ">",
                    "right": 0
                  }
                ],
                "sort": {
                  "sortBy": "total_shares_diluted",
                  "sortOrder": "desc"
                },
                "range": [
                  0,
                  10
                ]
              }
            }
          },
          "description": "Scan request parameters for crypto_dex market"
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "description": "Total number of symbols matching the criteria"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "s": {
                            "type": "string",
                            "description": "Symbol name"
                          },
                          "total_shares_diluted": {
                            "$ref": "#/components/schemas/total_shares_diluted"
                          },
                          "dex_buys_15m": {
                            "$ref": "#/components/schemas/dex_buys_15m"
                          },
                          "dex_buyers_4h": {
                            "$ref": "#/components/schemas/dex_buyers_4h"
                          },
                          "dex_sell_volume_4h": {
                            "$ref": "#/components/schemas/dex_sell_volume_4h"
                          },
                          "ask": {
                            "$ref": "#/components/schemas/ask"
                          },
                          "dex_buy_volume_4h": {
                            "$ref": "#/components/schemas/dex_buy_volume_4h"
                          },
                          "dex_trading_volume_15m": {
                            "$ref": "#/components/schemas/dex_trading_volume_15m"
                          },
                          "postsactive": {
                            "$ref": "#/components/schemas/postsactive"
                          },
                          "rates_time_series": {
                            "$ref": "#/components/schemas/rates_time_series"
                          },
                          "dex_buyers_12h": {
                            "$ref": "#/components/schemas/dex_buyers_12h"
                          },
                          "circulating_supply": {
                            "$ref": "#/components/schemas/circulating_supply"
                          },
                          "24h_vol_change_cmc": {
                            "$ref": "#/components/schemas/24h_vol_change_cmc"
                          },
                          "rates_mc": {
                            "$ref": "#/components/schemas/rates_mc"
                          },
                          "all_time_open": {
                            "$ref": "#/components/schemas/all_time_open"
                          },
                          "provider-id": {
                            "$ref": "#/components/schemas/provider-id"
                          },
                          "telegram_positive": {
                            "$ref": "#/components/schemas/telegram_positive"
                          },
                          "in_the_money_addresses_percentage": {
                            "$ref": "#/components/schemas/in_the_money_addresses_percentage"
                          },
                          "fractional": {
                            "$ref": "#/components/schemas/fractional"
                          },
                          "average_transaction_usd": {
                            "$ref": "#/components/schemas/average_transaction_usd"
                          },
                          "active_addresses_ratio": {
                            "$ref": "#/components/schemas/active_addresses_ratio"
                          },
                          "all_time_low_day": {
                            "$ref": "#/components/schemas/all_time_low_day"
                          },
                          "dex_txs_count_uniq_24h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_24h"
                          },
                          "galaxyscore": {
                            "$ref": "#/components/schemas/galaxyscore"
                          },
                          "pricescale": {
                            "$ref": "#/components/schemas/pricescale"
                          },
                          "total_value_traded": {
                            "$ref": "#/components/schemas/total_value_traded"
                          },
                          "dex_buys_1h": {
                            "$ref": "#/components/schemas/dex_buys_1h"
                          },
                          "dex_txs_count_1h": {
                            "$ref": "#/components/schemas/dex_txs_count_1h"
                          },
                          "dex_trading_volume_12h": {
                            "$ref": "#/components/schemas/dex_trading_volume_12h"
                          },
                          "rates_fq": {
                            "$ref": "#/components/schemas/rates_fq"
                          },
                          "rates_ttm": {
                            "$ref": "#/components/schemas/rates_ttm"
                          },
                          "minmov": {
                            "$ref": "#/components/schemas/minmov"
                          },
                          "dex_sellers_1h": {
                            "$ref": "#/components/schemas/dex_sellers_1h"
                          },
                          "dex_buys_12h": {
                            "$ref": "#/components/schemas/dex_buys_12h"
                          },
                          "addresses_total": {
                            "$ref": "#/components/schemas/addresses_total"
                          },
                          "addresses_new": {
                            "$ref": "#/components/schemas/addresses_new"
                          },
                          "avg_balance": {
                            "$ref": "#/components/schemas/avg_balance"
                          },
                          "crypto_consensus_algorithms": {
                            "$ref": "#/components/schemas/crypto_consensus_algorithms"
                          },
                          "dex_sellers_4h": {
                            "$ref": "#/components/schemas/dex_sellers_4h"
                          },
                          "rates_dividend_recent": {
                            "$ref": "#/components/schemas/rates_dividend_recent"
                          },
                          "total_supply": {
                            "$ref": "#/components/schemas/total_supply"
                          },
                          "total_addresses_with_balance": {
                            "$ref": "#/components/schemas/total_addresses_with_balance"
                          },
                          "dex_sellers_15m": {
                            "$ref": "#/components/schemas/dex_sellers_15m"
                          },
                          "all_time_high": {
                            "$ref": "#/components/schemas/all_time_high"
                          },
                          "telegram_members": {
                            "$ref": "#/components/schemas/telegram_members"
                          },
                          "dex_buys_4h": {
                            "$ref": "#/components/schemas/dex_buys_4h"
                          },
                          "dex_txs_count_uniq_15m": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_15m"
                          },
                          "dex_txs_count_uniq_4h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_4h"
                          },
                          "bid": {
                            "$ref": "#/components/schemas/bid"
                          },
                          "dex_buy_volume_1h": {
                            "$ref": "#/components/schemas/dex_buy_volume_1h"
                          },
                          "txs_count": {
                            "$ref": "#/components/schemas/txs_count"
                          },
                          "dex_sellers_12h": {
                            "$ref": "#/components/schemas/dex_sellers_12h"
                          },
                          "dex_sell_volume_24h": {
                            "$ref": "#/components/schemas/dex_sell_volume_24h"
                          },
                          "dex_txs_count_4h": {
                            "$ref": "#/components/schemas/dex_txs_count_4h"
                          },
                          "dex_trading_volume_4h": {
                            "$ref": "#/components/schemas/dex_trading_volume_4h"
                          },
                          "rates_earnings_next_fq": {
                            "$ref": "#/components/schemas/rates_earnings_next_fq"
                          },
                          "source-logoid": {
                            "$ref": "#/components/schemas/source-logoid"
                          },
                          "market_cap": {
                            "$ref": "#/components/schemas/market_cap"
                          },
                          "dex_buy_volume_15m": {
                            "$ref": "#/components/schemas/dex_buy_volume_15m"
                          },
                          "minmove2": {
                            "$ref": "#/components/schemas/minmove2"
                          },
                          "dex_trading_volume_24h": {
                            "$ref": "#/components/schemas/dex_trading_volume_24h"
                          },
                          "rates_pt": {
                            "$ref": "#/components/schemas/rates_pt"
                          },
                          "country": {
                            "$ref": "#/components/schemas/country"
                          },
                          "twitter_negative": {
                            "$ref": "#/components/schemas/twitter_negative"
                          },
                          "dex_buyers_15m": {
                            "$ref": "#/components/schemas/dex_buyers_15m"
                          },
                          "dex_buy_volume_24h": {
                            "$ref": "#/components/schemas/dex_buy_volume_24h"
                          },
                          "max_supply": {
                            "$ref": "#/components/schemas/max_supply"
                          },
                          "crypto_common_categories": {
                            "$ref": "#/components/schemas/crypto_common_categories"
                          },
                          "telegram_negative": {
                            "$ref": "#/components/schemas/telegram_negative"
                          },
                          "dex_sells_4h": {
                            "$ref": "#/components/schemas/dex_sells_4h"
                          },
                          "contributorscreated": {
                            "$ref": "#/components/schemas/contributorscreated"
                          },
                          "rates_current": {
                            "$ref": "#/components/schemas/rates_current"
                          },
                          "large_tx_volume_usd": {
                            "$ref": "#/components/schemas/large_tx_volume_usd"
                          },
                          "crypto_blockchain_ecosystems": {
                            "$ref": "#/components/schemas/crypto_blockchain_ecosystems"
                          },
                          "profit_addresses_percentage": {
                            "$ref": "#/components/schemas/profit_addresses_percentage"
                          },
                          "dex_txs_count_12h": {
                            "$ref": "#/components/schemas/dex_txs_count_12h"
                          },
                          "altrank": {
                            "$ref": "#/components/schemas/altrank"
                          },
                          "social_volume_24h": {
                            "$ref": "#/components/schemas/social_volume_24h"
                          },
                          "addresses_active": {
                            "$ref": "#/components/schemas/addresses_active"
                          },
                          "postscreated": {
                            "$ref": "#/components/schemas/postscreated"
                          },
                          "rates_fh": {
                            "$ref": "#/components/schemas/rates_fh"
                          },
                          "crypto_categories": {
                            "$ref": "#/components/schemas/crypto_categories"
                          },
                          "dex_created_time": {
                            "$ref": "#/components/schemas/dex_created_time"
                          },
                          "dex_sells_24h": {
                            "$ref": "#/components/schemas/dex_sells_24h"
                          },
                          "tweets": {
                            "$ref": "#/components/schemas/tweets"
                          },
                          "rtc": {
                            "$ref": "#/components/schemas/rtc"
                          },
                          "dex_sells_1h": {
                            "$ref": "#/components/schemas/dex_sells_1h"
                          },
                          "at_the_money_addresses_percentage": {
                            "$ref": "#/components/schemas/at_the_money_addresses_percentage"
                          },
                          "24h_vol_cmc": {
                            "$ref": "#/components/schemas/24h_vol_cmc"
                          },
                          "dex_txs_count_uniq_1h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_1h"
                          },
                          "dex_txs_count_uniq_12h": {
                            "$ref": "#/components/schemas/dex_txs_count_uniq_12h"
                          },
                          "sentiment": {
                            "$ref": "#/components/schemas/sentiment"
                          },
                          "rates_fy": {
                            "$ref": "#/components/schemas/rates_fy"
                          },
                          "sector": {
                            "$ref": "#/components/schemas/sector"
                          },
                          "contributorsactive": {
                            "$ref": "#/components/schemas/contributorsactive"
                          },
                          "dex_buy_volume_12h": {
                            "$ref": "#/components/schemas/dex_buy_volume_12h"
                          },
                          "addresses_zero_balance": {
                            "$ref": "#/components/schemas/addresses_zero_balance"
                          },
                          "out_the_money_addresses_percentage": {
                            "$ref": "#/components/schemas/out_the_money_addresses_percentage"
                          },
                          "losses_addresses_percentage": {
                            "$ref": "#/components/schemas/losses_addresses_percentage"
                          },
                          "blockchain-id": {
                            "$ref": "#/components/schemas/blockchain-id"
                          },
                          "dex_txs_count_24h": {
                            "$ref": "#/components/schemas/dex_txs_count_24h"
                          },
                          "crypto_code": {
                            "$ref": "#/components/schemas/crypto_code"
                          },
                          "volume-type": {
                            "$ref": "#/components/schemas/volume-type"
                          },
                          "twitter_positive": {
                            "$ref": "#/components/schemas/twitter_positive"
                          },
                          "centralization": {
                            "$ref": "#/components/schemas/centralization"
                          },
                          "dex_total_liquidity": {
                            "$ref": "#/components/schemas/dex_total_liquidity"
                          },
                          "dex_sell_volume_15m": {
                            "$ref": "#/components/schemas/dex_sell_volume_15m"
                          },
                          "update-time": {
                            "$ref": "#/components/schemas/update-time"
                          },
                          "dex_trading_volume_1h": {
                            "$ref": "#/components/schemas/dex_trading_volume_1h"
                          },
                          "dex_sell_volume_12h": {
                            "$ref": "#/components/schemas/dex_sell_volume_12h"
                          },
                          "dex_buys_24h": {
                            "$ref": "#/components/schemas/dex_buys_24h"
                          },
                          "dex_sell_volume_1h": {
                            "$ref": "#/components/schemas/dex_sell_volume_1h"
                          },
                          "txs_volume_usd": {
                            "$ref": "#/components/schemas/txs_volume_usd"
                          },
                          "large_tx_count": {
                            "$ref": "#/components/schemas/large_tx_count"
                          },
                          "github_commits": {
                            "$ref": "#/components/schemas/github_commits"
                          },
                          "break_even_addresses_percentage": {
                            "$ref": "#/components/schemas/break_even_addresses_percentage"
                          },
                          "dex_txs_count_15m": {
                            "$ref": "#/components/schemas/dex_txs_count_15m"
                          },
                          "rates_earnings_fq": {
                            "$ref": "#/components/schemas/rates_earnings_fq"
                          },
                          "tvl": {
                            "$ref": "#/components/schemas/tvl"
                          },
                          "dex_sells_15m": {
                            "$ref": "#/components/schemas/dex_sells_15m"
                          },
                          "dex_sellers_24h": {
                            "$ref": "#/components/schemas/dex_sellers_24h"
                          },
                          "rates_cf": {
                            "$ref": "#/components/schemas/rates_cf"
                          },
                          "all_time_low": {
                            "$ref": "#/components/schemas/all_time_low"
                          },
                          "dex_total_supply": {
                            "$ref": "#/components/schemas/dex_total_supply"
                          },
                          "dex_sells_12h": {
                            "$ref": "#/components/schemas/dex_sells_12h"
                          },
                          "dex_buyers_24h": {
                            "$ref": "#/components/schemas/dex_buyers_24h"
                          },
                          "all_time_high_day": {
                            "$ref": "#/components/schemas/all_time_high_day"
                          },
                          "interactions": {
                            "$ref": "#/components/schemas/interactions"
                          },
                          "socialdominance": {
                            "$ref": "#/components/schemas/socialdominance"
                          },
                          "total_shares_outstanding": {
                            "$ref": "#/components/schemas/total_shares_outstanding"
                          },
                          "crypto_total_rank": {
                            "$ref": "#/components/schemas/crypto_total_rank"
                          },
                          "txs_volume": {
                            "$ref": "#/components/schemas/txs_volume"
                          },
                          "dex_buyers_1h": {
                            "$ref": "#/components/schemas/dex_buyers_1h"
                          },
                          "rates_dividend_upcoming": {
                            "$ref": "#/components/schemas/rates_dividend_upcoming"
                          },
                          "current_session": {
                            "$ref": "#/components/schemas/current_session"
                          },
                          "submarket": {
                            "$ref": "#/components/schemas/submarket"
                          },
                          "base_currency_kind": {
                            "$ref": "#/components/schemas/base_currency_kind"
                          },
                          "indexes": {
                            "$ref": "#/components/schemas/indexes"
                          },
                          "subtype": {
                            "$ref": "#/components/schemas/subtype"
                          },
                          "low_after_high_all_change": {
                            "$ref": "#/components/schemas/low_after_high_all_change"
                          },
                          "velocity": {
                            "$ref": "#/components/schemas/velocity"
                          },
                          "exchange": {
                            "$ref": "#/components/schemas/exchange"
                          },
                          "is_primary": {
                            "$ref": "#/components/schemas/is_primary"
                          },
                          "active_symbol": {
                            "$ref": "#/components/schemas/active_symbol"
                          },
                          "maturity_date": {
                            "$ref": "#/components/schemas/maturity_date"
                          },
                          "update_time": {
                            "$ref": "#/components/schemas/update_time"
                          },
                          "circulating_to_max_supply_ratio": {
                            "$ref": "#/components/schemas/circulating_to_max_supply_ratio"
                          },
                          "market_cap_to_tvl": {
                            "$ref": "#/components/schemas/market_cap_to_tvl"
                          },
                          "currency": {
                            "$ref": "#/components/schemas/currency"
                          },
                          "cryptoasset-info_description": {
                            "$ref": "#/components/schemas/cryptoasset-info_description"
                          },
                          "total_to_max_supply_ratio": {
                            "$ref": "#/components/schemas/total_to_max_supply_ratio"
                          },
                          "typespecs": {
                            "$ref": "#/components/schemas/typespecs"
                          },
                          "is_blacklisted": {
                            "$ref": "#/components/schemas/is_blacklisted"
                          },
                          "is_shariah_compliant": {
                            "$ref": "#/components/schemas/is_shariah_compliant"
                          },
                          "low_after_high_all_change_abs": {
                            "$ref": "#/components/schemas/low_after_high_all_change_abs"
                          },
                          "24h_vol_to_market_cap": {
                            "$ref": "#/components/schemas/24h_vol_to_market_cap"
                          },
                          "market_cap_diluted_calc": {
                            "$ref": "#/components/schemas/market_cap_diluted_calc"
                          },
                          "market_cap_calc": {
                            "$ref": "#/components/schemas/market_cap_calc"
                          },
                          "days_to_maturity": {
                            "$ref": "#/components/schemas/days_to_maturity"
                          },
                          "currency_id": {
                            "$ref": "#/components/schemas/currency_id"
                          },
                          "type": {
                            "$ref": "#/components/schemas/type"
                          },
                          "currency_kind": {
                            "$ref": "#/components/schemas/currency_kind"
                          },
                          "cryptoasset-info_id": {
                            "$ref": "#/components/schemas/cryptoasset-info_id"
                          },
                          "coupon": {
                            "$ref": "#/components/schemas/coupon"
                          },
                          "market": {
                            "$ref": "#/components/schemas/market"
                          },
                          "fully_diluted_value": {
                            "$ref": "#/components/schemas/fully_diluted_value"
                          },
                          "expiration": {
                            "$ref": "#/components/schemas/expiration"
                          },
                          "nvt": {
                            "$ref": "#/components/schemas/nvt"
                          },
                          "bid_ask_spread_pct": {
                            "$ref": "#/components/schemas/bid_ask_spread_pct"
                          },
                          "Perf_All": {
                            "$ref": "#/components/schemas/Perf_All"
                          },
                          "pre_change_60": {
                            "$ref": "#/components/schemas/pre_change_60"
                          },
                          "pre_change_240": {
                            "$ref": "#/components/schemas/pre_change_240"
                          },
                          "last_bar_update_time_240": {
                            "$ref": "#/components/schemas/last_bar_update_time_240"
                          },
                          "gap_up_120": {
                            "$ref": "#/components/schemas/gap_up_120"
                          },
                          "change_from_open_120": {
                            "$ref": "#/components/schemas/change_from_open_120"
                          },
                          "pre_change_1": {
                            "$ref": "#/components/schemas/pre_change_1"
                          },
                          "volume_1": {
                            "$ref": "#/components/schemas/volume_1"
                          },
                          "low_1": {
                            "$ref": "#/components/schemas/low_1"
                          },
                          "change_from_open_abs_30": {
                            "$ref": "#/components/schemas/change_from_open_abs_30"
                          },
                          "last_bar_update_time_60": {
                            "$ref": "#/components/schemas/last_bar_update_time_60"
                          },
                          "change_from_open_abs_1W": {
                            "$ref": "#/components/schemas/change_from_open_abs_1W"
                          },
                          "change_from_open_1M": {
                            "$ref": "#/components/schemas/change_from_open_1M"
                          },
                          "gap_down_60": {
                            "$ref": "#/components/schemas/gap_down_60"
                          },
                          "gap_up_abs_15": {
                            "$ref": "#/components/schemas/gap_up_abs_15"
                          },
                          "change_from_open_1W": {
                            "$ref": "#/components/schemas/change_from_open_1W"
                          },
                          "change_abs_1M": {
                            "$ref": "#/components/schemas/change_abs_1M"
                          },
                          "gap_up_abs_1": {
                            "$ref": "#/components/schemas/gap_up_abs_1"
                          },
                          "premarket_change_from_open_abs": {
                            "$ref": "#/components/schemas/premarket_change_from_open_abs"
                          },
                          "gap_5": {
                            "$ref": "#/components/schemas/gap_5"
                          },
                          "gap": {
                            "$ref": "#/components/schemas/gap"
                          },
                          "gap_down_240": {
                            "$ref": "#/components/schemas/gap_down_240"
                          },
                          "gap_up_1M": {
                            "$ref": "#/components/schemas/gap_up_1M"
                          },
                          "update_mode_1M": {
                            "$ref": "#/components/schemas/update_mode_1M"
                          },
                          "volume_change": {
                            "$ref": "#/components/schemas/volume_change"
                          },
                          "change_from_open": {
                            "$ref": "#/components/schemas/change_from_open"
                          },
                          "gap_up_15": {
                            "$ref": "#/components/schemas/gap_up_15"
                          },
                          "change_abs_1W": {
                            "$ref": "#/components/schemas/change_abs_1W"
                          },
                          "bars_count_1W": {
                            "$ref": "#/components/schemas/bars_count_1W"
                          },
                          "open_1M": {
                            "$ref": "#/components/schemas/open_1M"
                          },
                          "update_mode_240": {
                            "$ref": "#/components/schemas/update_mode_240"
                          },
                          "volume_120": {
                            "$ref": "#/components/schemas/volume_120"
                          },
                          "postmarket_change_abs": {
                            "$ref": "#/components/schemas/postmarket_change_abs"
                          },
                          "time_1M": {
                            "$ref": "#/components/schemas/time_1M"
                          },
                          "change_from_open_abs_120": {
                            "$ref": "#/components/schemas/change_from_open_abs_120"
                          },
                          "bars_count": {
                            "$ref": "#/components/schemas/bars_count"
                          },
                          "open": {
                            "$ref": "#/components/schemas/open"
                          },
                          "high": {
                            "$ref": "#/components/schemas/high"
                          },
                          "high_15": {
                            "$ref": "#/components/schemas/high_15"
                          },
                          "volume_240": {
                            "$ref": "#/components/schemas/volume_240"
                          },
                          "volume_5": {
                            "$ref": "#/components/schemas/volume_5"
                          },
                          "last_bar_update_time_1": {
                            "$ref": "#/components/schemas/last_bar_update_time_1"
                          },
                          "volume_change_abs_1": {
                            "$ref": "#/components/schemas/volume_change_abs_1"
                          },
                          "change_1": {
                            "$ref": "#/components/schemas/change_1"
                          },
                          "gap_up": {
                            "$ref": "#/components/schemas/gap_up"
                          },
                          "volume_60": {
                            "$ref": "#/components/schemas/volume_60"
                          },
                          "pre_change_abs_15": {
                            "$ref": "#/components/schemas/pre_change_abs_15"
                          },
                          "gap_1M": {
                            "$ref": "#/components/schemas/gap_1M"
                          },
                          "close_240": {
                            "$ref": "#/components/schemas/close_240"
                          },
                          "gap_down_1": {
                            "$ref": "#/components/schemas/gap_down_1"
                          },
                          "pre_change_abs_60": {
                            "$ref": "#/components/schemas/pre_change_abs_60"
                          },
                          "gap_down_5": {
                            "$ref": "#/components/schemas/gap_down_5"
                          },
                          "high_30": {
                            "$ref": "#/components/schemas/high_30"
                          },
                          "post_change_120": {
                            "$ref": "#/components/schemas/post_change_120"
                          },
                          "change_from_open_abs_60": {
                            "$ref": "#/components/schemas/change_from_open_abs_60"
                          },
                          "gap_up_60": {
                            "$ref": "#/components/schemas/gap_up_60"
                          },
                          "pre_change_abs_1W": {
                            "$ref": "#/components/schemas/pre_change_abs_1W"
                          },
                          "change_from_open_240": {
                            "$ref": "#/components/schemas/change_from_open_240"
                          },
                          "change_abs_240": {
                            "$ref": "#/components/schemas/change_abs_240"
                          },
                          "open_15": {
                            "$ref": "#/components/schemas/open_15"
                          },
                          "gap_1W": {
                            "$ref": "#/components/schemas/gap_1W"
                          },
                          "volume_change_30": {
                            "$ref": "#/components/schemas/volume_change_30"
                          },
                          "time_30": {
                            "$ref": "#/components/schemas/time_30"
                          },
                          "indicators_bars_count_120": {
                            "$ref": "#/components/schemas/indicators_bars_count_120"
                          },
                          "gap_down_abs_1M": {
                            "$ref": "#/components/schemas/gap_down_abs_1M"
                          },
                          "volume_change_5": {
                            "$ref": "#/components/schemas/volume_change_5"
                          },
                          "gap_down_abs_30": {
                            "$ref": "#/components/schemas/gap_down_abs_30"
                          },
                          "open_1W": {
                            "$ref": "#/components/schemas/open_1W"
                          },
                          "post_change_30": {
                            "$ref": "#/components/schemas/post_change_30"
                          },
                          "bars_count_1": {
                            "$ref": "#/components/schemas/bars_count_1"
                          },
                          "change_abs_30": {
                            "$ref": "#/components/schemas/change_abs_30"
                          },
                          "change_from_open_abs_15": {
                            "$ref": "#/components/schemas/change_from_open_abs_15"
                          },
                          "low_1W": {
                            "$ref": "#/components/schemas/low_1W"
                          },
                          "close_5": {
                            "$ref": "#/components/schemas/close_5"
                          },
                          "indicators_bars_count_30": {
                            "$ref": "#/components/schemas/indicators_bars_count_30"
                          },
                          "last_bar_update_time_15": {
                            "$ref": "#/components/schemas/last_bar_update_time_15"
                          },
                          "close_1W": {
                            "$ref": "#/components/schemas/close_1W"
                          },
                          "change_5": {
                            "$ref": "#/components/schemas/change_5"
                          },
                          "time_1": {
                            "$ref": "#/components/schemas/time_1"
                          },
                          "pre_change_abs_120": {
                            "$ref": "#/components/schemas/pre_change_abs_120"
                          },
                          "pre_change_15": {
                            "$ref": "#/components/schemas/pre_change_15"
                          },
                          "volume_change_abs_1M": {
                            "$ref": "#/components/schemas/volume_change_abs_1M"
                          },
                          "volume_change_abs_5": {
                            "$ref": "#/components/schemas/volume_change_abs_5"
                          },
                          "low_5": {
                            "$ref": "#/components/schemas/low_5"
                          },
                          "last_bar_update_time_30": {
                            "$ref": "#/components/schemas/last_bar_update_time_30"
                          },
                          "update_mode": {
                            "$ref": "#/components/schemas/update_mode"
                          },
                          "time_15": {
                            "$ref": "#/components/schemas/time_15"
                          },
                          "high_1M": {
                            "$ref": "#/components/schemas/high_1M"
                          },
                          "last_bar_update_time_5": {
                            "$ref": "#/components/schemas/last_bar_update_time_5"
                          },
                          "last_bar_update_time_120": {
                            "$ref": "#/components/schemas/last_bar_update_time_120"
                          },
                          "open_120": {
                            "$ref": "#/components/schemas/open_120"
                          },
                          "volume": {
                            "$ref": "#/components/schemas/volume"
                          },
                          "bars_count_1M": {
                            "$ref": "#/components/schemas/bars_count_1M"
                          },
                          "gap_down_abs_5": {
                            "$ref": "#/components/schemas/gap_down_abs_5"
                          },
                          "change_from_open_1": {
                            "$ref": "#/components/schemas/change_from_open_1"
                          },
                          "close_1": {
                            "$ref": "#/components/schemas/close_1"
                          },
                          "low_30": {
                            "$ref": "#/components/schemas/low_30"
                          },
                          "update_mode_60": {
                            "$ref": "#/components/schemas/update_mode_60"
                          },
                          "gap_down_1W": {
                            "$ref": "#/components/schemas/gap_down_1W"
                          },
                          "bars_count_5": {
                            "$ref": "#/components/schemas/bars_count_5"
                          },
                          "time_1W": {
                            "$ref": "#/components/schemas/time_1W"
                          },
                          "volume_1M": {
                            "$ref": "#/components/schemas/volume_1M"
                          },
                          "post_change_1": {
                            "$ref": "#/components/schemas/post_change_1"
                          },
                          "volume_change_abs_30": {
                            "$ref": "#/components/schemas/volume_change_abs_30"
                          },
                          "gap_30": {
                            "$ref": "#/components/schemas/gap_30"
                          },
                          "volume_change_120": {
                            "$ref": "#/components/schemas/volume_change_120"
                          },
                          "gap_down": {
                            "$ref": "#/components/schemas/gap_down"
                          },
                          "volume_change_abs_15": {
                            "$ref": "#/components/schemas/volume_change_abs_15"
                          },
                          "gap_up_abs_1M": {
                            "$ref": "#/components/schemas/gap_up_abs_1M"
                          },
                          "close_60": {
                            "$ref": "#/components/schemas/close_60"
                          },
                          "volume_1W": {
                            "$ref": "#/components/schemas/volume_1W"
                          },
                          "change_abs_1": {
                            "$ref": "#/components/schemas/change_abs_1"
                          },
                          "indicators_bars_count_15": {
                            "$ref": "#/components/schemas/indicators_bars_count_15"
                          },
                          "post_change_1W": {
                            "$ref": "#/components/schemas/post_change_1W"
                          },
                          "post_change_1M": {
                            "$ref": "#/components/schemas/post_change_1M"
                          },
                          "volume_change_240": {
                            "$ref": "#/components/schemas/volume_change_240"
                          },
                          "gap_up_abs_30": {
                            "$ref": "#/components/schemas/gap_up_abs_30"
                          },
                          "pre_change_120": {
                            "$ref": "#/components/schemas/pre_change_120"
                          },
                          "gap_up_1W": {
                            "$ref": "#/components/schemas/gap_up_1W"
                          },
                          "gap_up_abs_5": {
                            "$ref": "#/components/schemas/gap_up_abs_5"
                          },
                          "change_abs_60": {
                            "$ref": "#/components/schemas/change_abs_60"
                          },
                          "low_15": {
                            "$ref": "#/components/schemas/low_15"
                          },
                          "gap_15": {
                            "$ref": "#/components/schemas/gap_15"
                          },
                          "change_from_open_abs_1": {
                            "$ref": "#/components/schemas/change_from_open_abs_1"
                          },
                          "change_abs_120": {
                            "$ref": "#/components/schemas/change_abs_120"
                          },
                          "update_mode_30": {
                            "$ref": "#/components/schemas/update_mode_30"
                          },
                          "change_from_open_60": {
                            "$ref": "#/components/schemas/change_from_open_60"
                          },
                          "time_60": {
                            "$ref": "#/components/schemas/time_60"
                          },
                          "time_240": {
                            "$ref": "#/components/schemas/time_240"
                          },
                          "gap_up_240": {
                            "$ref": "#/components/schemas/gap_up_240"
                          },
                          "open_60": {
                            "$ref": "#/components/schemas/open_60"
                          },
                          "gap_down_15": {
                            "$ref": "#/components/schemas/gap_down_15"
                          },
                          "volume_change_abs_240": {
                            "$ref": "#/components/schemas/volume_change_abs_240"
                          },
                          "premarket_change_from_open": {
                            "$ref": "#/components/schemas/premarket_change_from_open"
                          },
                          "gap_up_abs_1W": {
                            "$ref": "#/components/schemas/gap_up_abs_1W"
                          },
                          "volume_change_1W": {
                            "$ref": "#/components/schemas/volume_change_1W"
                          },
                          "indicators_bars_count_240": {
                            "$ref": "#/components/schemas/indicators_bars_count_240"
                          },
                          "change_from_open_30": {
                            "$ref": "#/components/schemas/change_from_open_30"
                          },
                          "close_120": {
                            "$ref": "#/components/schemas/close_120"
                          },
                          "gap_up_5": {
                            "$ref": "#/components/schemas/gap_up_5"
                          },
                          "change_30": {
                            "$ref": "#/components/schemas/change_30"
                          },
                          "gap_up_abs": {
                            "$ref": "#/components/schemas/gap_up_abs"
                          },
                          "low_60": {
                            "$ref": "#/components/schemas/low_60"
                          },
                          "high_1W": {
                            "$ref": "#/components/schemas/high_1W"
                          },
                          "indicators_bars_count_1W": {
                            "$ref": "#/components/schemas/indicators_bars_count_1W"
                          },
                          "volume_change_1M": {
                            "$ref": "#/components/schemas/volume_change_1M"
                          },
                          "gap_down_abs_240": {
                            "$ref": "#/components/schemas/gap_down_abs_240"
                          },
                          "gap_up_abs_120": {
                            "$ref": "#/components/schemas/gap_up_abs_120"
                          },
                          "last_bar_update_time": {
                            "$ref": "#/components/schemas/last_bar_update_time"
                          },
                          "indicators_bars_count_60": {
                            "$ref": "#/components/schemas/indicators_bars_count_60"
                          },
                          "high_1": {
                            "$ref": "#/components/schemas/high_1"
                          },
                          "close_15": {
                            "$ref": "#/components/schemas/close_15"
                          },
                          "change_from_open_15": {
                            "$ref": "#/components/schemas/change_from_open_15"
                          },
                          "post_change_15": {
                            "$ref": "#/components/schemas/post_change_15"
                          },
                          "post_change_240": {
                            "$ref": "#/components/schemas/post_change_240"
                          },
                          "change_1M": {
                            "$ref": "#/components/schemas/change_1M"
                          },
                          "change_from_open_abs_240": {
                            "$ref": "#/components/schemas/change_from_open_abs_240"
                          },
                          "premarket_change": {
                            "$ref": "#/components/schemas/premarket_change"
                          },
                          "last_bar_update_time_1W": {
                            "$ref": "#/components/schemas/last_bar_update_time_1W"
                          },
                          "high_120": {
                            "$ref": "#/components/schemas/high_120"
                          },
                          "pre_change_abs_1M": {
                            "$ref": "#/components/schemas/pre_change_abs_1M"
                          },
                          "change_abs_5": {
                            "$ref": "#/components/schemas/change_abs_5"
                          },
                          "indicators_bars_count_1": {
                            "$ref": "#/components/schemas/indicators_bars_count_1"
                          },
                          "gap_down_120": {
                            "$ref": "#/components/schemas/gap_down_120"
                          },
                          "high_60": {
                            "$ref": "#/components/schemas/high_60"
                          },
                          "bars_count_60": {
                            "$ref": "#/components/schemas/bars_count_60"
                          },
                          "gap_down_abs_15": {
                            "$ref": "#/components/schemas/gap_down_abs_15"
                          },
                          "update_mode_1W": {
                            "$ref": "#/components/schemas/update_mode_1W"
                          },
                          "gap_down_abs_1W": {
                            "$ref": "#/components/schemas/gap_down_abs_1W"
                          },
                          "change_abs": {
                            "$ref": "#/components/schemas/change_abs"
                          },
                          "gap_down_abs_60": {
                            "$ref": "#/components/schemas/gap_down_abs_60"
                          },
                          "change_240": {
                            "$ref": "#/components/schemas/change_240"
                          },
                          "pre_change_30": {
                            "$ref": "#/components/schemas/pre_change_30"
                          },
                          "low_1M": {
                            "$ref": "#/components/schemas/low_1M"
                          },
                          "close_1M": {
                            "$ref": "#/components/schemas/close_1M"
                          },
                          "high_240": {
                            "$ref": "#/components/schemas/high_240"
                          },
                          "change_from_open_abs_5": {
                            "$ref": "#/components/schemas/change_from_open_abs_5"
                          },
                          "gap_up_1": {
                            "$ref": "#/components/schemas/gap_up_1"
                          },
                          "pre_change_abs": {
                            "$ref": "#/components/schemas/pre_change_abs"
                          },
                          "volume_change_60": {
                            "$ref": "#/components/schemas/volume_change_60"
                          },
                          "gap_down_30": {
                            "$ref": "#/components/schemas/gap_down_30"
                          },
                          "low_120": {
                            "$ref": "#/components/schemas/low_120"
                          },
                          "post_change_60": {
                            "$ref": "#/components/schemas/post_change_60"
                          },
                          "change_1W": {
                            "$ref": "#/components/schemas/change_1W"
                          },
                          "time_120": {
                            "$ref": "#/components/schemas/time_120"
                          },
                          "update_mode_120": {
                            "$ref": "#/components/schemas/update_mode_120"
                          },
                          "low": {
                            "$ref": "#/components/schemas/low"
                          },
                          "volume_change_abs_60": {
                            "$ref": "#/components/schemas/volume_change_abs_60"
                          },
                          "indicators_bars_count_5": {
                            "$ref": "#/components/schemas/indicators_bars_count_5"
                          },
                          "pre_change_abs_1": {
                            "$ref": "#/components/schemas/pre_change_abs_1"
                          },
                          "gap_up_30": {
                            "$ref": "#/components/schemas/gap_up_30"
                          },
                          "bars_count_120": {
                            "$ref": "#/components/schemas/bars_count_120"
                          },
                          "gap_120": {
                            "$ref": "#/components/schemas/gap_120"
                          },
                          "change_from_open_abs_1M": {
                            "$ref": "#/components/schemas/change_from_open_abs_1M"
                          },
                          "indicators_bars_count_1M": {
                            "$ref": "#/components/schemas/indicators_bars_count_1M"
                          },
                          "gap_240": {
                            "$ref": "#/components/schemas/gap_240"
                          },
                          "gap_up_abs_240": {
                            "$ref": "#/components/schemas/gap_up_abs_240"
                          },
                          "time_5": {
                            "$ref": "#/components/schemas/time_5"
                          },
                          "change_120": {
                            "$ref": "#/components/schemas/change_120"
                          },
                          "gap_up_abs_60": {
                            "$ref": "#/components/schemas/gap_up_abs_60"
                          },
                          "gap_down_1M": {
                            "$ref": "#/components/schemas/gap_down_1M"
                          },
                          "update_mode_5": {
                            "$ref": "#/components/schemas/update_mode_5"
                          },
                          "change_from_open_5": {
                            "$ref": "#/components/schemas/change_from_open_5"
                          },
                          "change_abs_15": {
                            "$ref": "#/components/schemas/change_abs_15"
                          },
                          "pre_change_abs_5": {
                            "$ref": "#/components/schemas/pre_change_abs_5"
                          },
                          "time": {
                            "$ref": "#/components/schemas/time"
                          },
                          "indicators_bars_count": {
                            "$ref": "#/components/schemas/indicators_bars_count"
                          },
                          "change_15": {
                            "$ref": "#/components/schemas/change_15"
                          },
                          "change_from_open_abs": {
                            "$ref": "#/components/schemas/change_from_open_abs"
                          },
                          "volume_change_15": {
                            "$ref": "#/components/schemas/volume_change_15"
                          },
                          "close_30": {
                            "$ref": "#/components/schemas/close_30"
                          },
                          "volume_change_abs": {
                            "$ref": "#/components/schemas/volume_change_abs"
                          },
                          "volume_change_abs_1W": {
                            "$ref": "#/components/schemas/volume_change_abs_1W"
                          },
                          "pre_change": {
                            "$ref": "#/components/schemas/pre_change"
                          },
                          "open_240": {
                            "$ref": "#/components/schemas/open_240"
                          },
                          "gap_down_abs_1": {
                            "$ref": "#/components/schemas/gap_down_abs_1"
                          },
                          "gap_1": {
                            "$ref": "#/components/schemas/gap_1"
                          },
                          "open_1": {
                            "$ref": "#/components/schemas/open_1"
                          },
                          "gap_down_abs_120": {
                            "$ref": "#/components/schemas/gap_down_abs_120"
                          },
                          "bars_count_15": {
                            "$ref": "#/components/schemas/bars_count_15"
                          },
                          "low_240": {
                            "$ref": "#/components/schemas/low_240"
                          },
                          "volume_change_1": {
                            "$ref": "#/components/schemas/volume_change_1"
                          },
                          "pre_change_abs_30": {
                            "$ref": "#/components/schemas/pre_change_abs_30"
                          },
                          "volume_30": {
                            "$ref": "#/components/schemas/volume_30"
                          },
                          "open_5": {
                            "$ref": "#/components/schemas/open_5"
                          },
                          "gap_down_abs": {
                            "$ref": "#/components/schemas/gap_down_abs"
                          },
                          "close": {
                            "$ref": "#/components/schemas/close"
                          },
                          "high_5": {
                            "$ref": "#/components/schemas/high_5"
                          },
                          "open_30": {
                            "$ref": "#/components/schemas/open_30"
                          },
                          "bars_count_30": {
                            "$ref": "#/components/schemas/bars_count_30"
                          },
                          "change_60": {
                            "$ref": "#/components/schemas/change_60"
                          },
                          "bars_count_240": {
                            "$ref": "#/components/schemas/bars_count_240"
                          },
                          "pre_change_abs_240": {
                            "$ref": "#/components/schemas/pre_change_abs_240"
                          },
                          "post_change": {
                            "$ref": "#/components/schemas/post_change"
                          },
                          "update_mode_15": {
                            "$ref": "#/components/schemas/update_mode_15"
                          },
                          "pre_change_5": {
                            "$ref": "#/components/schemas/pre_change_5"
                          },
                          "change": {
                            "$ref": "#/components/schemas/change"
                          },
                          "premarket_change_abs": {
                            "$ref": "#/components/schemas/premarket_change_abs"
                          },
                          "premarket_gap": {
                            "$ref": "#/components/schemas/premarket_gap"
                          },
                          "last_bar_update_time_1M": {
                            "$ref": "#/components/schemas/last_bar_update_time_1M"
                          },
                          "postmarket_change": {
                            "$ref": "#/components/schemas/postmarket_change"
                          },
                          "volume_15": {
                            "$ref": "#/components/schemas/volume_15"
                          },
                          "pre_change_1W": {
                            "$ref": "#/components/schemas/pre_change_1W"
                          },
                          "post_change_5": {
                            "$ref": "#/components/schemas/post_change_5"
                          },
                          "volume_change_abs_120": {
                            "$ref": "#/components/schemas/volume_change_abs_120"
                          },
                          "gap_60": {
                            "$ref": "#/components/schemas/gap_60"
                          },
                          "pre_change_1M": {
                            "$ref": "#/components/schemas/pre_change_1M"
                          },
                          "update_mode_1": {
                            "$ref": "#/components/schemas/update_mode_1"
                          },
                          "average_volume_30d_calc_15": {
                            "$ref": "#/components/schemas/average_volume_30d_calc_15"
                          },
                          "Aroon_Down_240": {
                            "$ref": "#/components/schemas/Aroon_Down_240"
                          },
                          "Low_6M_Date": {
                            "$ref": "#/components/schemas/Low_6M_Date"
                          },
                          "Pivot_M_Demark_Middle_240": {
                            "$ref": "#/components/schemas/Pivot_M_Demark_Middle_240"
                          },
                          "EMA250_120": {
                            "$ref": "#/components/schemas/EMA250_120"
                          },
                          "HullMA200_120": {
                            "$ref": "#/components/schemas/HullMA200_120"
                          },
                          "Stoch_D_6_3_3_1_240": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_1_240"
                          },
                          "ChaikinMoneyFlow_60": {
                            "$ref": "#/components/schemas/ChaikinMoneyFlow_60"
                          },
                          "Candle_Doji_Dragonfly_1": {
                            "$ref": "#/components/schemas/Candle_Doji_Dragonfly_1"
                          },
                          "Stoch_D": {
                            "$ref": "#/components/schemas/Stoch_D"
                          },
                          "Stoch_K_8_3_3_5": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3_5"
                          },
                          "Pivot_M_Fibonacci_R1_240": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_R1_240"
                          },
                          "Pivot_M_Classic_Middle_15": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_Middle_15"
                          },
                          "Stoch_K_5_3_3_1_240": {
                            "$ref": "#/components/schemas/Stoch_K_5_3_3_1_240"
                          },
                          "EMA34_120": {
                            "$ref": "#/components/schemas/EMA34_120"
                          },
                          "SMA55": {
                            "$ref": "#/components/schemas/SMA55"
                          },
                          "EMA21_60": {
                            "$ref": "#/components/schemas/EMA21_60"
                          },
                          "High_All": {
                            "$ref": "#/components/schemas/High_All"
                          },
                          "Stoch_D_6_3_3_60": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_60"
                          },
                          "RSI10_1_5": {
                            "$ref": "#/components/schemas/RSI10_1_5"
                          },
                          "SMA150": {
                            "$ref": "#/components/schemas/SMA150"
                          },
                          "EMA55_1W": {
                            "$ref": "#/components/schemas/EMA55_1W"
                          },
                          "Pivot_M_Fibonacci_R1": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_R1"
                          },
                          "SMA75": {
                            "$ref": "#/components/schemas/SMA75"
                          },
                          "Stoch_D_8_3_3_1": {
                            "$ref": "#/components/schemas/Stoch_D_8_3_3_1"
                          },
                          "BB_upper_50": {
                            "$ref": "#/components/schemas/BB_upper_50"
                          },
                          "RSI9_1_1M": {
                            "$ref": "#/components/schemas/RSI9_1_1M"
                          },
                          "Stoch_D_14_1_3_120": {
                            "$ref": "#/components/schemas/Stoch_D_14_1_3_120"
                          },
                          "EMA30_1M": {
                            "$ref": "#/components/schemas/EMA30_1M"
                          },
                          "Pivot_M_Camarilla_Middle_60": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_Middle_60"
                          },
                          "EMA3_15": {
                            "$ref": "#/components/schemas/EMA3_15"
                          },
                          "W_R": {
                            "$ref": "#/components/schemas/W_R"
                          },
                          "ADX_DI_20": {
                            "$ref": "#/components/schemas/ADX_DI_20"
                          },
                          "Candle_SpinningTop_Black": {
                            "$ref": "#/components/schemas/Candle_SpinningTop_Black"
                          },
                          "Rec_VWMA_240": {
                            "$ref": "#/components/schemas/Rec_VWMA_240"
                          },
                          "AO_2_15": {
                            "$ref": "#/components/schemas/AO_2_15"
                          },
                          "Rec_BBPower_15": {
                            "$ref": "#/components/schemas/Rec_BBPower_15"
                          },
                          "SMA10_30": {
                            "$ref": "#/components/schemas/SMA10_30"
                          },
                          "Rec_UO": {
                            "$ref": "#/components/schemas/Rec_UO"
                          },
                          "EMA250": {
                            "$ref": "#/components/schemas/EMA250"
                          },
                          "KltChnl_lower_60": {
                            "$ref": "#/components/schemas/KltChnl_lower_60"
                          },
                          "BB_upper_50_30": {
                            "$ref": "#/components/schemas/BB_upper_50_30"
                          },
                          "average_volume_30d_calc_30": {
                            "$ref": "#/components/schemas/average_volume_30d_calc_30"
                          },
                          "Pivot_M_Classic_R3_1": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_R3_1"
                          },
                          "SMA55_1W": {
                            "$ref": "#/components/schemas/SMA55_1W"
                          },
                          "ADX-DI_100_1_240": {
                            "$ref": "#/components/schemas/ADX-DI_100_1_240"
                          },
                          "Pivot_M_Fibonacci_S1_240": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_S1_240"
                          },
                          "ADX_DI_9_1_240": {
                            "$ref": "#/components/schemas/ADX_DI_9_1_240"
                          },
                          "UO": {
                            "$ref": "#/components/schemas/UO"
                          },
                          "RSI_1": {
                            "$ref": "#/components/schemas/RSI_1"
                          },
                          "Stoch_K_14_1_3_1M": {
                            "$ref": "#/components/schemas/Stoch_K_14_1_3_1M"
                          },
                          "BB_upper_50_1W": {
                            "$ref": "#/components/schemas/BB_upper_50_1W"
                          },
                          "Candle_Doji_Dragonfly_30": {
                            "$ref": "#/components/schemas/Candle_Doji_Dragonfly_30"
                          },
                          "Pivot_M_Woodie_S1_240": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S1_240"
                          },
                          "SMA200_1": {
                            "$ref": "#/components/schemas/SMA200_1"
                          },
                          "Stoch_D_1_240": {
                            "$ref": "#/components/schemas/Stoch_D_1_240"
                          },
                          "Stoch_D_5_3_3_1_15": {
                            "$ref": "#/components/schemas/Stoch_D_5_3_3_1_15"
                          },
                          "Rec_WR_120": {
                            "$ref": "#/components/schemas/Rec_WR_120"
                          },
                          "Ichimoku_Lead1_240": {
                            "$ref": "#/components/schemas/Ichimoku_Lead1_240"
                          },
                          "SMA40_30": {
                            "$ref": "#/components/schemas/SMA40_30"
                          },
                          "Stoch_K_8_3_3_1M": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3_1M"
                          },
                          "SMA150_1": {
                            "$ref": "#/components/schemas/SMA150_1"
                          },
                          "Pivot_M_Fibonacci_S2": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_S2"
                          },
                          "Recommend_Other_30": {
                            "$ref": "#/components/schemas/Recommend_Other_30"
                          },
                          "Rec_VWMA_5": {
                            "$ref": "#/components/schemas/Rec_VWMA_5"
                          },
                          "CCI20_60": {
                            "$ref": "#/components/schemas/CCI20_60"
                          },
                          "SMA26_30": {
                            "$ref": "#/components/schemas/SMA26_30"
                          },
                          "MACD_macd_120": {
                            "$ref": "#/components/schemas/MACD_macd_120"
                          },
                          "Candle_ShootingStar_30": {
                            "$ref": "#/components/schemas/Candle_ShootingStar_30"
                          },
                          "Pivot_M_Woodie_S1_60": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S1_60"
                          },
                          "Pivot_M_Woodie_S3_15": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S3_15"
                          },
                          "Candle_3WhiteSoldiers_60": {
                            "$ref": "#/components/schemas/Candle_3WhiteSoldiers_60"
                          },
                          "Rec_UO_1M": {
                            "$ref": "#/components/schemas/Rec_UO_1M"
                          },
                          "RSI20_1_120": {
                            "$ref": "#/components/schemas/RSI20_1_120"
                          },
                          "Stoch_K_1_1M": {
                            "$ref": "#/components/schemas/Stoch_K_1_1M"
                          },
                          "close_usd_5": {
                            "$ref": "#/components/schemas/close_usd_5"
                          },
                          "EMA21_1": {
                            "$ref": "#/components/schemas/EMA21_1"
                          },
                          "Candle_Doji_Gravestone_1M": {
                            "$ref": "#/components/schemas/Candle_Doji_Gravestone_1M"
                          },
                          "EMA15_120": {
                            "$ref": "#/components/schemas/EMA15_120"
                          },
                          "Pivot_M_Fibonacci_R2_1M": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_R2_1M"
                          },
                          "Stoch_K_8_3_3_1_240": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3_1_240"
                          },
                          "Candle_Doji_Gravestone_1": {
                            "$ref": "#/components/schemas/Candle_Doji_Gravestone_1"
                          },
                          "BB_lower_50_1W": {
                            "$ref": "#/components/schemas/BB_lower_50_1W"
                          },
                          "SMA50_1W": {
                            "$ref": "#/components/schemas/SMA50_1W"
                          },
                          "Stoch_RSI_K_1W": {
                            "$ref": "#/components/schemas/Stoch_RSI_K_1W"
                          },
                          "Ichimoku_Lead1_1M": {
                            "$ref": "#/components/schemas/Ichimoku_Lead1_1M"
                          },
                          "Open_All_Calc": {
                            "$ref": "#/components/schemas/Open_All_Calc"
                          },
                          "High_All_Date": {
                            "$ref": "#/components/schemas/High_All_Date"
                          },
                          "RSI7_1M": {
                            "$ref": "#/components/schemas/RSI7_1M"
                          },
                          "average_volume_60d_calc_1W": {
                            "$ref": "#/components/schemas/average_volume_60d_calc_1W"
                          },
                          "average_volume_60d_calc_usd_30": {
                            "$ref": "#/components/schemas/average_volume_60d_calc_usd_30"
                          },
                          "Stoch_K_6_3_3_1_5": {
                            "$ref": "#/components/schemas/Stoch_K_6_3_3_1_5"
                          },
                          "ADR_120": {
                            "$ref": "#/components/schemas/ADR_120"
                          },
                          "Pivot_M_Camarilla_Middle_5": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_Middle_5"
                          },
                          "Pivot_M_Fibonacci_S3": {
                            "$ref": "#/components/schemas/Pivot_M_Fibonacci_S3"
                          },
                          "RSI_1W": {
                            "$ref": "#/components/schemas/RSI_1W"
                          },
                          "Pivot_M_Woodie_S2_5": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S2_5"
                          },
                          "ADX_9_1M": {
                            "$ref": "#/components/schemas/ADX_9_1M"
                          },
                          "RSI_1_120": {
                            "$ref": "#/components/schemas/RSI_1_120"
                          },
                          "EMA26_1M": {
                            "$ref": "#/components/schemas/EMA26_1M"
                          },
                          "relative_volume_10d_calc_1": {
                            "$ref": "#/components/schemas/relative_volume_10d_calc_1"
                          },
                          "EMA75_240": {
                            "$ref": "#/components/schemas/EMA75_240"
                          },
                          "Candle_Hammer_5": {
                            "$ref": "#/components/schemas/Candle_Hammer_5"
                          },
                          "EMA9_1": {
                            "$ref": "#/components/schemas/EMA9_1"
                          },
                          "Stoch_RSI_D_1W": {
                            "$ref": "#/components/schemas/Stoch_RSI_D_1W"
                          },
                          "ADX_DI_9_1M": {
                            "$ref": "#/components/schemas/ADX_DI_9_1M"
                          },
                          "RSI4_1_5": {
                            "$ref": "#/components/schemas/RSI4_1_5"
                          },
                          "average_volume_10d_calc_usd_60": {
                            "$ref": "#/components/schemas/average_volume_10d_calc_usd_60"
                          },
                          "Pivot_M_Woodie_R3_1M": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_R3_1M"
                          },
                          "Pivot_M_Woodie_Middle": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_Middle"
                          },
                          "EMA14_5": {
                            "$ref": "#/components/schemas/EMA14_5"
                          },
                          "Pivot_M_Woodie_S2_1M": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S2_1M"
                          },
                          "Candle_LongShadow_Lower_15": {
                            "$ref": "#/components/schemas/Candle_LongShadow_Lower_15"
                          },
                          "SMA30_15": {
                            "$ref": "#/components/schemas/SMA30_15"
                          },
                          "Pivot_M_Woodie_S2": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S2"
                          },
                          "SMA250_1W": {
                            "$ref": "#/components/schemas/SMA250_1W"
                          },
                          "Stoch_K_5_3_3_5": {
                            "$ref": "#/components/schemas/Stoch_K_5_3_3_5"
                          },
                          "MACD_macd_1W": {
                            "$ref": "#/components/schemas/MACD_macd_1W"
                          },
                          "EMA2_1": {
                            "$ref": "#/components/schemas/EMA2_1"
                          },
                          "SMA10_5": {
                            "$ref": "#/components/schemas/SMA10_5"
                          },
                          "Perf_1M": {
                            "$ref": "#/components/schemas/Perf_1M"
                          },
                          "ADX_DI_1_1M": {
                            "$ref": "#/components/schemas/ADX_DI_1_1M"
                          },
                          "EMA30": {
                            "$ref": "#/components/schemas/EMA30"
                          },
                          "Rec_Ichimoku": {
                            "$ref": "#/components/schemas/Rec_Ichimoku"
                          },
                          "Candle_ShootingStar_60": {
                            "$ref": "#/components/schemas/Candle_ShootingStar_60"
                          },
                          "SMA21_30": {
                            "$ref": "#/components/schemas/SMA21_30"
                          },
                          "EMA2_1M": {
                            "$ref": "#/components/schemas/EMA2_1M"
                          },
                          "RSI5_15": {
                            "$ref": "#/components/schemas/RSI5_15"
                          },
                          "KltChnl_lower_1M": {
                            "$ref": "#/components/schemas/KltChnl_lower_1M"
                          },
                          "Stoch_K_14_1_3_60": {
                            "$ref": "#/components/schemas/Stoch_K_14_1_3_60"
                          },
                          "volume_base_1M": {
                            "$ref": "#/components/schemas/volume_base_1M"
                          },
                          "Pivot_M_Camarilla_S2_1": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_S2_1"
                          },
                          "BB_lower_50_1": {
                            "$ref": "#/components/schemas/BB_lower_50_1"
                          },
                          "average_volume_60d_calc_1": {
                            "$ref": "#/components/schemas/average_volume_60d_calc_1"
                          },
                          "RSI9": {
                            "$ref": "#/components/schemas/RSI9"
                          },
                          "Value_Traded_240": {
                            "$ref": "#/components/schemas/Value_Traded_240"
                          },
                          "EMA20_1M": {
                            "$ref": "#/components/schemas/EMA20_1M"
                          },
                          "DonchCh20_Upper_60": {
                            "$ref": "#/components/schemas/DonchCh20_Upper_60"
                          },
                          "SMA26_240": {
                            "$ref": "#/components/schemas/SMA26_240"
                          },
                          "SMA89_1M": {
                            "$ref": "#/components/schemas/SMA89_1M"
                          },
                          "SMA9": {
                            "$ref": "#/components/schemas/SMA9"
                          },
                          "Recommend_All_1M": {
                            "$ref": "#/components/schemas/Recommend_All_1M"
                          },
                          "Candle_EveningStar_30": {
                            "$ref": "#/components/schemas/Candle_EveningStar_30"
                          },
                          "EMA10_240": {
                            "$ref": "#/components/schemas/EMA10_240"
                          },
                          "EMA60_120": {
                            "$ref": "#/components/schemas/EMA60_120"
                          },
                          "AO_1_5": {
                            "$ref": "#/components/schemas/AO_1_5"
                          },
                          "SMA7_30": {
                            "$ref": "#/components/schemas/SMA7_30"
                          },
                          "Stoch_D_5_3_3_60": {
                            "$ref": "#/components/schemas/Stoch_D_5_3_3_60"
                          },
                          "SMA13_1W": {
                            "$ref": "#/components/schemas/SMA13_1W"
                          },
                          "Stoch_D_5_3_3_1_1W": {
                            "$ref": "#/components/schemas/Stoch_D_5_3_3_1_1W"
                          },
                          "SMA7_5": {
                            "$ref": "#/components/schemas/SMA7_5"
                          },
                          "SMA8_1W": {
                            "$ref": "#/components/schemas/SMA8_1W"
                          },
                          "Pivot_M_Camarilla_S1_30": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_S1_30"
                          },
                          "Pivot_M_Classic_Middle_5": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_Middle_5"
                          },
                          "EMA30_1": {
                            "$ref": "#/components/schemas/EMA30_1"
                          },
                          "relative_volume_10d_calc_usd_15": {
                            "$ref": "#/components/schemas/relative_volume_10d_calc_usd_15"
                          },
                          "W_R_1M": {
                            "$ref": "#/components/schemas/W_R_1M"
                          },
                          "SMA25_1W": {
                            "$ref": "#/components/schemas/SMA25_1W"
                          },
                          "Stoch_D_14_1_3": {
                            "$ref": "#/components/schemas/Stoch_D_14_1_3"
                          },
                          "Candle_Hammer_15": {
                            "$ref": "#/components/schemas/Candle_Hammer_15"
                          },
                          "ADX-DI_100": {
                            "$ref": "#/components/schemas/ADX-DI_100"
                          },
                          "ADX_DI_9_1_30": {
                            "$ref": "#/components/schemas/ADX_DI_9_1_30"
                          },
                          "AO_1_60": {
                            "$ref": "#/components/schemas/AO_1_60"
                          },
                          "Rec_UO_120": {
                            "$ref": "#/components/schemas/Rec_UO_120"
                          },
                          "Candle_TriStar_Bullish_60": {
                            "$ref": "#/components/schemas/Candle_TriStar_Bullish_60"
                          },
                          "SMA300_240": {
                            "$ref": "#/components/schemas/SMA300_240"
                          },
                          "Candle_3WhiteSoldiers_240": {
                            "$ref": "#/components/schemas/Candle_3WhiteSoldiers_240"
                          },
                          "EMA144_30": {
                            "$ref": "#/components/schemas/EMA144_30"
                          },
                          "SMA40_1": {
                            "$ref": "#/components/schemas/SMA40_1"
                          },
                          "ChaikinMoneyFlow_1M": {
                            "$ref": "#/components/schemas/ChaikinMoneyFlow_1M"
                          },
                          "Stoch_D_8_3_3_30": {
                            "$ref": "#/components/schemas/Stoch_D_8_3_3_30"
                          },
                          "RSI_1M": {
                            "$ref": "#/components/schemas/RSI_1M"
                          },
                          "EMA34_1W": {
                            "$ref": "#/components/schemas/EMA34_1W"
                          },
                          "ADX-DI_50_1_15": {
                            "$ref": "#/components/schemas/ADX-DI_50_1_15"
                          },
                          "High_1M_Date": {
                            "$ref": "#/components/schemas/High_1M_Date"
                          },
                          "ADX_DI_9_15": {
                            "$ref": "#/components/schemas/ADX_DI_9_15"
                          },
                          "Pivot_M_Woodie_S3_60": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S3_60"
                          },
                          "ADX-DI_100_1_1W": {
                            "$ref": "#/components/schemas/ADX-DI_100_1_1W"
                          },
                          "Stoch_D_30": {
                            "$ref": "#/components/schemas/Stoch_D_30"
                          },
                          "Stoch_D_6_3_3_1_30": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_1_30"
                          },
                          "SMA89_15": {
                            "$ref": "#/components/schemas/SMA89_15"
                          },
                          "Pivot_M_Classic_S3_240": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_S3_240"
                          },
                          "Stoch_K_8_3_3_30": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3_30"
                          },
                          "RSI3_30": {
                            "$ref": "#/components/schemas/RSI3_30"
                          },
                          "EMA6_1W": {
                            "$ref": "#/components/schemas/EMA6_1W"
                          },
                          "RSI10_1_240": {
                            "$ref": "#/components/schemas/RSI10_1_240"
                          },
                          "ADX-DI_50_1_120": {
                            "$ref": "#/components/schemas/ADX-DI_50_1_120"
                          },
                          "RSI20_1_60": {
                            "$ref": "#/components/schemas/RSI20_1_60"
                          },
                          "Candle_Hammer_240": {
                            "$ref": "#/components/schemas/Candle_Hammer_240"
                          },
                          "Rec_WR": {
                            "$ref": "#/components/schemas/Rec_WR"
                          },
                          "Candle_InvertedHammer_30": {
                            "$ref": "#/components/schemas/Candle_InvertedHammer_30"
                          },
                          "Stoch_D_14_1_3_1": {
                            "$ref": "#/components/schemas/Stoch_D_14_1_3_1"
                          },
                          "Pivot_M_Camarilla_S3_5": {
                            "$ref": "#/components/schemas/Pivot_M_Camarilla_S3_5"
                          },
                          "Pivot_M_Woodie_S2_1": {
                            "$ref": "#/components/schemas/Pivot_M_Woodie_S2_1"
                          },
                          "ADX_DI_20_120": {
                            "$ref": "#/components/schemas/ADX_DI_20_120"
                          },
                          "Ichimoku_Lead2_20_60_120_30_240": {
                            "$ref": "#/components/schemas/Ichimoku_Lead2_20_60_120_30_240"
                          },
                          "HullMA200_15": {
                            "$ref": "#/components/schemas/HullMA200_15"
                          },
                          "RSI20_1W": {
                            "$ref": "#/components/schemas/RSI20_1W"
                          },
                          "Stoch_D_6_3_3_1_1W": {
                            "$ref": "#/components/schemas/Stoch_D_6_3_3_1_1W"
                          },
                          "EMA5": {
                            "$ref": "#/components/schemas/EMA5"
                          },
                          "Candle_InvertedHammer_120": {
                            "$ref": "#/components/schemas/Candle_InvertedHammer_120"
                          },
                          "Rec_HullMA9_1M": {
                            "$ref": "#/components/schemas/Rec_HullMA9_1M"
                          },
                          "Pivot_M_Classic_S2_120": {
                            "$ref": "#/components/schemas/Pivot_M_Classic_S2_120"
                          },
                          "Stoch_K_8_3_3": {
                            "$ref": "#/components/schemas/Stoch_K_8_3_3"
                          },
                          "Mom_14_30": {
                            "$ref": "#/components/schemas/Mom_14_30"
                          },
                          "average_volume_90d_calc_15": {
                            "$ref": "#/components/schemas/average_volume_90d_calc_15"
                          },
                          "SMA250": {
                            "$ref": "#/components/schemas/SMA250"
                          },
                          "EMA14_1W": {
                            "$ref": "#/components/schemas/EMA14_1W"
                          },
                          "RSI": {
                            "$ref": "#/components/schemas/RSI"
                          },
                          "SMA26_1M": {
                            "$ref": "#/components/schemas/SMA26_1M"
                          },
                          "ADX-DI_20_1_1M": {
                            "$ref": "#/components/schemas/ADX-DI_20_1_1M"
                          },
[...]
