{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView Crypto API",
    "description": "API for TradingView Crypto market data",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "paths": {
    "/scan": {
      "post": {
        "summary": "Run screener scan for Crypto",
        "description": "Execute a TradingView screener query for the Crypto market. Returns indicator values for filtered tickers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "crypto_common_categories": {
                      "type": "array",
                      "example": [
                        "A",
                        "B"
                      ]
                    },
                    "dex_txs_count_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_uniq_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_fy": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "total_value_traded": {
                      "type": "number",
                      "example": "example"
                    },
                    "centralization": {
                      "type": "string",
                      "example": "dex",
                      "enum": [
                        "dex",
                        "cex"
                      ]
                    },
                    "dex_buys_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buyers_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sell_volume_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "current_session": {
                      "type": "string",
                      "example": "market",
                      "enum": [
                        "market"
                      ]
                    },
                    "crypto_total_rank": {
                      "type": "number",
                      "example": 123.45
                    },
                    "txs_volume": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buyers_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buy_volume_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sell_volume_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_uniq_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "contributorsactive": {
                      "type": "number",
                      "example": 123.45
                    },
                    "total_shares_outstanding": {
                      "type": "number",
                      "example": 123.45
                    },
                    "tvl": {
                      "type": "number",
                      "example": "example"
                    },
                    "profit_addresses_percentage": {
                      "type": "number",
                      "example": 123.45
                    },
                    "telegram_positive": {
                      "type": "number",
                      "example": 123.45
                    },
                    "all_time_high_day": {
                      "type": "string",
                      "example": "example"
                    },
                    "dex_sell_volume_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sellers_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pricescale": {
                      "type": "number",
                      "example": 123.45
                    },
                    "break_even_addresses_percentage": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sells_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "tweets": {
                      "type": "number",
                      "example": 123.45
                    },
                    "contributorscreated": {
                      "type": "number",
                      "example": 123.45
                    },
                    "minmov": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sells_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_uniq_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_uniq_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "ask": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sellers_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_current": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "sector": {
                      "type": "string",
                      "example": "RED",
                      "enum": [
                        "RED",
                        "Ontology Gas",
                        "Pyth Network",
                        "Cardano",
                        "Metal DAO",
                        "Melon",
                        "WINkLink",
                        "Litecoin",
                        "Terra Classic",
                        "Ultra",
                        "dogwifhat",
                        "LATOKEN",
                        "SAFE(AnWang)",
                        "NEXPACE",
                        "#TRUMP",
                        "Horizen",
                        "Datamine FLUX",
                        "GUNZ",
                        "Bit2Me",
                        "OPX Finance",
                        "Saga",
                        "Wolf Works DAO",
                        "Vaulta",
                        "Sonic",
                        "Drift",
                        "Tether Gold",
                        "Request Network",
                        "ChainLink",
                        "TokenFi",
                        "Solana",
                        "UMA",
                        "UNUS SED LEO",
                        "dYdX",
                        "SSV Network",
                        "Power Ledger",
                        "CANTO",
                        "Songbird",
                        "Orbs",
                        "FIO Protocol",
                        "Dai",
                        "Aevo",
                        "LTO Network",
                        "Optimism",
                        "Blur",
                        "Stellar",
                        "Astar",
                        "Self Chain",
                        "XYO",
                        "Core",
                        "SophiaVerse",
                        "Nervos Network",
                        "Fetch.ai",
                        "Salmonation",
                        "Scorum Coins",
                        "Curve DAO Token",
                        "AssangeDAO",
                        "Travala.com",
                        "Golem",
                        "Hive",
                        "MAGIC",
                        "Origin Protocol",
                        "Degen",
                        "Bitcoin",
                        "Algorand",
                        "Moonriver",
                        "Baby Bali",
                        "MANEKI",
                        "Terra",
                        "Lisk",
                        "DODO",
                        "WhiteBIT Coin",
                        "Solar",
                        "Arkham",
                        "TRON",
                        "Ampleforth Governance Token",
                        "Aleph Zero",
                        "Frontier",
                        "Aergo",
                        "iExec RLC",
                        "The Graph",
                        "Big Time",
                        "Tottenham Hotspur Fan Token",
                        "Solayer",
                        "BORA",
                        "Nexo",
                        "Elrond",
                        "Real USD",
                        "Orca",
                        "Haedal Protocol",
                        "COW",
                        "Akash Network",
                        "VeChain",
                        "Theta Token",
                        "Polkadot",
                        "Shardeum",
                        "Quantoz EURQ",
                        "Bitget Token",
                        "JOE",
                        "Automata Network",
                        "Partisia Blockchain",
                        "Eutaria",
                        "Bonfida",
                        "Axie Infinity",
                        "Kleros",
                        "Quantoz USDQ",
                        "Celo",
                        "Jupiter",
                        "StablR Euro",
                        "Cosmos",
                        "Immutable X",
                        "BICONOMY (BICO)",
                        "API3",
                        "Ankr",
                        "ETHPoW (IOU)",
                        "Andrew Tate's Dog",
                        "Massive Protocol",
                        "Kava",
                        "Maker",
                        "GoalTime N",
                        "Radworks",
                        "Uniswap",
                        "Arweave",
                        "TON Token",
                        "Mexican Peso Tether",
                        "Kyber Network",
                        "Zilliqa",
                        "Ethereum",
                        "Oasis Network",
                        "Ravencoin",
                        "Orchid",
                        "Syscoin",
                        "CyberConnect",
                        "Avalanche",
                        "Nano",
                        "Threshold",
                        "Civic",
                        "Pepe",
                        "Ronin",
                        "Anime (animeonbase.art)",
                        "Radix Protocol",
                        "ApeSwap",
                        "Bittensor",
                        "Ark",
                        "APEcoin.dev",
                        "Ethereum Classic",
                        "Aave",
                        "Peanut the Squirrel",
                        "Oasys",
                        "AIOZ Network",
                        "Monero",
                        "EigenLayer",
                        "THORChain",
                        "SPACE ID",
                        "Creditcoin",
                        "Cronos",
                        "Chromia",
                        "Kadena",
                        "HyperChainX",
                        "PIVX",
                        "POL (ex-MATIC)",
                        "CV TOKEN",
                        "Secret",
                        "Santos FC Fan Token",
                        "ICON",
                        "NEAR Protocol",
                        "SafePal",
                        "zkSync",
                        "Manta Network",
                        "BlueMove",
                        "Internet Computer",
                        "Flamingo",
                        "Casper",
                        "Mina",
                        "OG Fan Token",
                        "Kryll",
                        "Alitas",
                        "ACryptoS",
                        "Baby Moon Floki",
                        "ZKX",
                        "Bancor",
                        "WalletConnect Token",
                        "NEM",
                        "Axelar",
                        "Flow",
                        "0x",
                        "Band Protocol",
                        "Pendle",
                        "NFPrompt",
                        "Polymesh",
                        "GoМining",
                        "Tether USDt",
                        "Mask Network",
                        "SKALE Network",
                        "BitKan",
                        "Walrus",
                        "Symbol",
                        "SwftCoin",
                        "NYM",
                        "Ontology",
                        "PAX Gold",
                        "Qtum",
                        "Render",
                        "AI",
                        "Spectral",
                        "UXLINK",
                        "Jito",
                        "Zcash",
                        "Gas",
                        "Dent",
                        "Audius",
                        "Oraichain",
                        "Verasity",
                        "ConstitutionDAO",
                        "GMT Token",
                        "1inch",
                        "Deep AI",
                        "XRP",
                        "BakeryToken",
                        "Conflux Network",
                        "Usual",
                        "PolySwarm",
                        "Storj",
                        "Wrapped Bitcoin",
                        "Compound",
                        "Concordium",
                        "Kaia",
                        "Bounce Token",
                        "Sei",
                        "Vulcan Forged PYR",
                        "Celestia",
                        "Theta Fuel",
                        "CertiK",
                        "Ardor",
                        "Hedera",
                        "Amp",
                        "Bitcoin SV",
                        "LayerZero",
                        "DIA",
                        "Prom",
                        "Siacoin",
                        "Push Protocol",
                        "Ampleforth",
                        "SuperFarm",
                        "Binance Coin",
                        "IOTA",
                        "Sweat Economy",
                        "The Sandbox",
                        "Spell Token",
                        "Dash",
                        "Magic Internet Money",
                        "Aster USDF",
                        "Pundi X[new]",
                        "Basic Attention Token",
                        "Heima",
                        "WAX",
                        "Ethereum Name Service",
                        "KAITO",
                        "TerraUSD",
                        "Pocket Network",
                        "USDC",
                        "Illuvium",
                        "PancakeSwap",
                        "Elastos",
                        "Phoenix Global",
                        "ARPA Chain",
                        "Komodo",
                        "Kusama",
                        "Klever",
                        "Tokenize Xchange",
                        "SushiSwap",
                        "Stratis",
                        "Lido DAO",
                        "Chiliz",
                        "Gala",
                        "ORDI",
                        "Raydium",
                        "Ondo",
                        "Phala.Network",
                        "Stafi",
                        "io.net",
                        "Cartesi",
                        "Stargate Finance",
                        "Recovery Right Token",
                        "Aethir",
                        "Marlin",
                        "Ethena",
                        "Dogecoin",
                        "Meta Apes",
                        "Bella Protocol",
                        "NKN",
                        "Berachain",
                        "Rare",
                        "IoTeX",
                        "MiL.k",
                        "Shiden Network",
                        "PlatON",
                        "Tellor",
                        "Injective Protocol",
                        "Aptos",
                        "Decentraland",
                        "MANTRA DAO",
                        "Stacks",
                        "League of Kingdoms Arena",
                        "MetisDAO",
                        "NEO",
                        "yearn.finance",
                        "SHIBA INU",
                        "cat in a dogs world",
                        "OriginTrail",
                        "AdEx",
                        "Literally Me",
                        "EOS",
                        "Steem",
                        "Bitcoin Cash",
                        "Hashflow",
                        "Venus",
                        "Omni",
                        "Jasmy",
                        "ARB Protocol",
                        "Numeraire",
                        "Loopring",
                        "Bitpanda Ecosystem Token",
                        "XinFin Network",
                        "KernelDAO",
                        "Ocean Protocol",
                        "Filecoin",
                        "Enjin Coin",
                        "S",
                        "Wanchain",
                        "Pudgy Penguins",
                        "Moonbeam",
                        "AWE Network",
                        "Wormhole",
                        "Tezos",
                        "Bonk",
                        "Virtuals Protocol",
                        "Archean",
                        "Quant",
                        "Portal",
                        "COTI"
                      ]
                    },
                    "losses_addresses_percentage": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_trading_volume_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "github_commits": {
                      "type": "number",
                      "example": 123.45
                    },
                    "blockchain-id": {
                      "type": "string",
                      "example": "polygon_zkevm",
                      "enum": [
                        "polygon_zkevm",
                        "mantle",
                        "blast",
                        "ethereum",
                        "optimism",
                        "sonic",
                        "tron20",
                        "gnosis_chain",
                        "sui_network",
                        "base",
                        "arbitrum",
                        "ton",
                        "linea",
                        "avalanche_c_chain",
                        "elrond",
                        "cronos",
                        "polygon",
                        "solana",
                        "fantom",
                        "bnb_smart_chain_bep20",
                        "pulsechain",
                        "ronin"
                      ]
                    },
                    "dex_buyers_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_fh": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "rates_ttm": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "rates_pt": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "postscreated": {
                      "type": "number",
                      "example": 123.45
                    },
                    "country": {
                      "type": "string",
                      "example": "example"
                    },
                    "rtc": {
                      "type": "number",
                      "example": 123.45
                    },
                    "large_tx_volume_usd": {
                      "type": "number",
                      "example": "example"
                    },
                    "all_time_low_day": {
                      "type": "string",
                      "example": "example"
                    },
                    "dex_sells_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "avg_balance": {
                      "type": "number",
                      "example": "example"
                    },
                    "24h_vol_change_cmc": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_total_liquidity": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buys_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buy_volume_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_dividend_recent": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "update-time": {
                      "type": "number",
                      "example": 123.45
                    },
                    "postsactive": {
                      "type": "number",
                      "example": 123.45
                    },
                    "crypto_code": {
                      "type": "string",
                      "example": "MINA",
                      "enum": [
                        "MINA",
                        "AWE",
                        "RVN",
                        "AVAX",
                        "RRT",
                        "PUSH",
                        "ALGO",
                        "FET",
                        "LEO",
                        "CVT",
                        "JOE",
                        "SHM",
                        "MLN",
                        "BANANA",
                        "SPELL",
                        "LAT",
                        "ALT",
                        "FIS",
                        "1INCH",
                        "POWR",
                        "DASH",
                        "ARB",
                        "XAUT",
                        "XVS",
                        "KNC",
                        "ADA",
                        "OGN",
                        "USDR",
                        "KAIA",
                        "KLV",
                        "LINK",
                        "ETH",
                        "T",
                        "SC",
                        "FIDA",
                        "SKL",
                        "PHA",
                        "AEVO",
                        "WBTC",
                        "FORTH",
                        "WAL",
                        "CHR",
                        "REQ",
                        "STEEM",
                        "DODO",
                        "FLUX",
                        "EURQ",
                        "DRIFT",
                        "BGB",
                        "QNT",
                        "UMA",
                        "TFUEL",
                        "USUAL",
                        "CRV",
                        "HAEDAL",
                        "ANIME",
                        "MANA",
                        "SPURS",
                        "MIOTA",
                        "XNO",
                        "APT",
                        "ELA",
                        "LRC",
                        "SFP",
                        "HEI",
                        "XYM",
                        "PUNDIX",
                        "BSV",
                        "WAXP",
                        "CHZ",
                        "UST",
                        "SUI",
                        "BERA",
                        "FIL",
                        "USDQ",
                        "ORCA",
                        "APE",
                        "AAVE",
                        "PENDLE",
                        "AI",
                        "KMD",
                        "SWFTC",
                        "IO",
                        "SSV",
                        "HFT",
                        "JUP",
                        "ATH",
                        "TOKEN",
                        "OAS",
                        "BLUR",
                        "NCT",
                        "KSM",
                        "UOS",
                        "DEEP",
                        "CANTO",
                        "W",
                        "POL",
                        "VET",
                        "ATA",
                        "ROSE",
                        "NEAR",
                        "POLYX",
                        "XEM",
                        "BICO",
                        "PNUT",
                        "ZK",
                        "KAITO",
                        "NYM",
                        "TRUMP",
                        "ONDO",
                        "OP",
                        "WLD",
                        "ZKX",
                        "MANEKI",
                        "OCEAN",
                        "NMR",
                        "GLM",
                        "ATOM",
                        "SEI",
                        "RARE",
                        "ENJ",
                        "KRL",
                        "PAXG",
                        "NEO",
                        "AXS",
                        "LUNC",
                        "BAKE",
                        "EIGEN",
                        "ICP",
                        "ARK",
                        "PEOPLE",
                        "RUNE",
                        "MIM",
                        "MLK",
                        "CYBER",
                        "TON",
                        "AKT",
                        "SCRT",
                        "THETA",
                        "STX",
                        "BB",
                        "SLF",
                        "XDC",
                        "IMX",
                        "USDC",
                        "ILV",
                        "VIRTUAL",
                        "METIS",
                        "ASTR",
                        "SUSHI",
                        "DOT",
                        "JUSTICE",
                        "ARCH",
                        "BAND",
                        "SCR",
                        "ZRX",
                        "S",
                        "HYPER",
                        "ACS",
                        "SOL",
                        "ARPA",
                        "OPX",
                        "BIGTIME",
                        "HIVE",
                        "OG",
                        "COMP",
                        "RED",
                        "ZIL",
                        "XTZ",
                        "PNK",
                        "GUN",
                        "STORJ",
                        "TKX",
                        "WBT",
                        "CTK",
                        "HBAR",
                        "AUDIO",
                        "CRO",
                        "PYR",
                        "UNI",
                        "AIOZ",
                        "ADX",
                        "BEST",
                        "STRAX",
                        "GOMINING",
                        "EURR",
                        "BONK",
                        "OMNI",
                        "XRP",
                        "BCH",
                        "ORDI",
                        "USDF",
                        "FRONT",
                        "XRD",
                        "SHELL",
                        "INJ",
                        "AERGO",
                        "PEPE",
                        "MOVE",
                        "EGLD",
                        "AUCTION",
                        "TRB",
                        "FIO",
                        "RENDER",
                        "BEL",
                        "PIVX",
                        "LUNA",
                        "ANKR",
                        "ETC",
                        "SXP",
                        "YFI",
                        "CSPR",
                        "EOS",
                        "IOTX",
                        "GTX",
                        "WIF",
                        "ARKM",
                        "WAN",
                        "GLMR",
                        "SANTOS",
                        "JASMY",
                        "SONIC",
                        "OXT",
                        "CTC",
                        "API3",
                        "ZRO",
                        "KAVA",
                        "LSK",
                        "MTL",
                        "AMPL",
                        "ARDR",
                        "ME",
                        "B2M",
                        "SGB",
                        "TRAC",
                        "SWEAT",
                        "NXPC",
                        "DOGE",
                        "CTSI",
                        "PORTAL",
                        "PROM",
                        "AVA",
                        "CVC",
                        "TRX",
                        "TIA",
                        "GMT",
                        "TAO",
                        "UXLINK",
                        "DAI",
                        "ETHW",
                        "MASK",
                        "RLC",
                        "SOPH",
                        "CORE",
                        "CKB",
                        "DYDX",
                        "LTO",
                        "KERNEL",
                        "USDT",
                        "WIN",
                        "OM",
                        "NFP",
                        "MXNT",
                        "KAN",
                        "AMP",
                        "ONG",
                        "BNT",
                        "MANTA",
                        "FLOKI",
                        "DEGEN",
                        "SAFE",
                        "MAV",
                        "GAS",
                        "ENA",
                        "RAY",
                        "SDN",
                        "ORAI",
                        "FLOW",
                        "QTUM",
                        "ENS",
                        "STG",
                        "SYS",
                        "AR",
                        "KDA",
                        "AZERO",
                        "RON",
                        "ORBS",
                        "A",
                        "EUT",
                        "MEW",
                        "COW",
                        "POKT",
                        "LDO",
                        "NKN",
                        "ZEN",
                        "PYTH",
                        "GALA",
                        "CCD",
                        "RAD",
                        "BTC",
                        "BAT",
                        "ID",
                        "NEXO",
                        "SAGA",
                        "ICX",
                        "SPEC",
                        "WCT",
                        "POND",
                        "MAGIC",
                        "PHB",
                        "LTC",
                        "AXL",
                        "GRT",
                        "MOVR",
                        "DIA",
                        "XLM",
                        "ZEC",
                        "MKR",
                        "SHIB",
                        "JTO",
                        "XMR",
                        "LOKA",
                        "CELO",
                        "LAYER",
                        "LA",
                        "BORA",
                        "CFX",
                        "BNB",
                        "FLM",
                        "XYO",
                        "CAKE",
                        "ONT",
                        "DENT",
                        "MPC",
                        "PENGU",
                        "VRA",
                        "SUPER",
                        "G",
                        "SAND",
                        "COTI"
                      ]
                    },
                    "addresses_new": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume-type": {
                      "type": "string",
                      "example": "base",
                      "enum": [
                        "base",
                        "quote",
                        "tick"
                      ]
                    },
                    "telegram_members": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buys_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_trading_volume_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "fractional": {
                      "type": "string",
                      "example": "false",
                      "enum": [
                        "false"
                      ]
                    },
                    "rates_cf": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "rates_time_series": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "in_the_money_addresses_percentage": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buys_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buy_volume_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_earnings_fq": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "crypto_consensus_algorithms": {
                      "type": "array",
                      "example": [
                        "A",
                        "B"
                      ]
                    },
                    "at_the_money_addresses_percentage": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buys_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sells_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sell_volume_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "large_tx_count": {
                      "type": "number",
                      "example": 123.45
                    },
                    "crypto_blockchain_ecosystems": {
                      "type": "array",
                      "example": [
                        "A",
                        "B"
                      ]
                    },
                    "source-logoid": {
                      "type": "string",
                      "example": "provider/bybit",
                      "enum": [
                        "provider/bybit",
                        "provider/velodrome",
                        "provider/camelot2",
                        "provider/bitget",
                        "provider/bitflyer",
                        "provider/tokenize",
                        "provider/thruster",
                        "provider/raydium",
                        "provider/bluefin",
                        "provider/bingx",
                        "provider/sunswap",
                        "provider/uniswap3",
                        "provider/cryptocom",
                        "provider/bitvavo",
                        "provider/uniswap",
                        "provider/camelot3",
                        "provider/orca",
                        "provider/deribit",
                        "provider/bitstamp",
                        "provider/shadow",
                        "provider/whitebit",
                        "provider/toobit",
                        "provider/nile",
                        "provider/curve",
                        "provider/bitrue",
                        "provider/lbank",
                        "provider/bitso",
                        "provider/okx",
                        "provider/quickswap3",
                        "provider/woonetwork",
                        "provider/honeyswap",
                        "provider/coinex",
                        "provider/pancakeswap3",
                        "provider/btse",
                        "provider/binance",
                        "provider/zoomex",
                        "provider/htx",
                        "provider/lynex",
                        "provider/mmfinance",
                        "provider/tvc",
                        "provider/turbosfinance",
                        "provider/delta",
                        "provider/mexc",
                        "provider/gemini",
                        "provider/pulsex",
                        "provider/agni",
                        "provider/merchantmoelb",
                        "provider/pangolin",
                        "provider/katana",
                        "provider/spookyswap",
                        "provider/sushiswap",
                        "provider/weex",
                        "provider/okcoin",
                        "provider/upbit",
                        "provider/bitmart",
                        "provider/pancakeswap",
                        "provider/traderjoe",
                        "provider/xexchange",
                        "provider/poloniex",
                        "provider/vvsfinance",
                        "provider/kraken",
                        "provider/coinbase",
                        "provider/kcex",
                        "provider/baseswap",
                        "provider/phemex",
                        "provider/wagmi",
                        "provider/kucoin",
                        "provider/gateio",
                        "provider/quickswap",
                        "provider/dedust",
                        "provider/stonfi",
                        "provider/bitazza",
                        "provider/cleopatra",
                        "provider/cetus",
                        "provider/bithumb",
                        "provider/bitmex",
                        "provider/deltain",
                        "provider/biswap",
                        "provider/pionex",
                        "provider/blofin",
                        "provider/bitfinex",
                        "provider/bitkub"
                      ]
                    },
                    "dex_txs_count_uniq_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "all_time_open": {
                      "type": "number",
                      "example": 123.45
                    },
                    "addresses_zero_balance": {
                      "type": "number",
                      "example": 123.45
                    },
                    "crypto_categories": {
                      "type": "array",
                      "example": [
                        "A",
                        "B"
                      ]
                    },
                    "twitter_negative": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sells_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "galaxyscore": {
                      "type": "number",
                      "example": 123.45
                    },
                    "all_time_high": {
                      "type": "number",
                      "example": 123.45
                    },
                    "active_addresses_ratio": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sellers_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buy_volume_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "max_supply": {
                      "type": "number",
                      "example": 123.45
                    },
                    "addresses_active": {
                      "type": "number",
                      "example": 123.45
                    },
                    "out_the_money_addresses_percentage": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sellers_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_trading_volume_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "provider-id": {
                      "type": "string",
                      "example": "bingx",
                      "enum": [
                        "bingx",
                        "okx",
                        "gemini",
                        "xexchange",
                        "quickswap",
                        "baseswap",
                        "uniswap3",
                        "delta",
                        "kraken",
                        "traderjoe",
                        "bitkub",
                        "bybit",
                        "coinex",
                        "tvc",
                        "blofin",
                        "pancakeswap3",
                        "btse",
                        "wagmi",
                        "bitfinex",
                        "honeyswap",
                        "bitstamp",
                        "pangolin",
                        "thruster",
                        "okcoin",
                        "uniswap",
                        "pulsex",
                        "camelot2",
                        "poloniex",
                        "cetus",
                        "gateio",
                        "sushiswap",
                        "deltain",
                        "camelot3",
                        "pancakeswap",
                        "htx",
                        "bitazza",
                        "bluefin",
                        "cleopatra",
                        "quickswap3",
                        "bitmart",
                        "lbank",
                        "katana",
                        "dedust",
                        "phemex",
                        "toobit",
                        "coinbase",
                        "zoomex",
                        "bitrue",
                        "velodrome",
                        "bitso",
                        "cryptocom",
                        "bithumb",
                        "mexc",
                        "biswap",
                        "bitget",
                        "lynex",
                        "shadow",
                        "bitmex",
                        "deribit",
                        "bitvavo",
                        "woonetwork",
                        "sunswap",
                        "upbit",
                        "stonfi",
                        "nile",
                        "curve",
                        "kucoin",
                        "whitebit",
                        "raydium",
                        "orca",
                        "bitflyer",
                        "tokenize",
                        "agni",
                        "merchantmoelb",
                        "mmfinance",
                        "vvsfinance",
                        "pionex",
                        "binance",
                        "kcex",
                        "weex",
                        "turbosfinance",
                        "spookyswap"
                      ]
                    },
                    "txs_count": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_created_time": {
                      "type": "string",
                      "example": "example"
                    },
                    "dex_trading_volume_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "total_addresses_with_balance": {
                      "type": "number",
                      "example": 123.45
                    },
                    "24h_vol_cmc": {
                      "type": "number",
                      "example": "example"
                    },
                    "dex_buyers_15m": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_earnings_next_fq": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "all_time_low": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_txs_count_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "sentiment": {
                      "type": "number",
                      "example": 123.45
                    },
                    "minmove2": {
                      "type": "number",
                      "example": 123.45
                    },
                    "market_cap": {
                      "type": "number",
                      "example": "example"
                    },
                    "twitter_positive": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_dividend_upcoming": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "social_volume_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "total_shares_diluted": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buy_volume_12h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "socialdominance": {
                      "type": "number",
                      "example": 123.45
                    },
                    "interactions": {
                      "type": "number",
                      "example": 123.45
                    },
                    "bid": {
                      "type": "number",
                      "example": 123.45
                    },
                    "telegram_negative": {
                      "type": "number",
                      "example": 123.45
                    },
                    "average_transaction_usd": {
                      "type": "number",
                      "example": "example"
                    },
                    "dex_sell_volume_4h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_trading_volume_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_fq": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "addresses_total": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_buyers_24h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "rates_mc": {
                      "type": "object",
                      "example": {
                        "key": "value"
                      }
                    },
                    "circulating_supply": {
                      "type": "number",
                      "example": 123.45
                    },
                    "total_supply": {
                      "type": "number",
                      "example": 123.45
                    },
                    "txs_volume_usd": {
                      "type": "number",
                      "example": "example"
                    },
                    "dex_total_supply": {
                      "type": "number",
                      "example": 123.45
                    },
                    "dex_sellers_1h": {
                      "type": "number",
                      "example": 123.45
                    },
                    "altrank": {
                      "type": "number",
                      "example": 123.45
                    },
                    "is_primary": {
                      "type": "boolean",
                      "example": true
                    },
                    "total_to_max_supply_ratio": {
                      "type": "number",
                      "example": 123.45
                    },
                    "exchange": {
                      "type": "string",
                      "example": "UNISWAP3OPTIMISM",
                      "enum": [
                        "UNISWAP3OPTIMISM",
                        "PHEMEX",
                        "SUSHISWAP",
                        "KUCOIN",
                        "OKX",
                        "WOONETWORK",
                        "BITAZZA",
                        "LYNEX2",
                        "BINANCEUS",
                        "DELTAIN",
                        "GEMINI",
                        "WEEX",
                        "PANCAKESWAP3BSC",
                        "BISWAP",
                        "UPBIT",
                        "LBANK",
                        "QUICKSWAP3POLYGONZKEVM",
                        "BLOFIN",
                        "BITSTAMP",
                        "BITSO",
                        "CETUS",
                        "PANGOLIN",
                        "WAGMISONIC",
                        "UNISWAP3BSC",
                        "MEXC",
                        "KATANA",
                        "HTX",
                        "PIONEX",
                        "HONEYSWAP",
                        "AGNI",
                        "BITGET",
                        "QUICKSWAP3POLYGON",
                        "BITVAVO",
                        "BITHUMB",
                        "BINGX",
                        "UNISWAP",
                        "WHITEBIT",
                        "BITRUE",
                        "VVSFINANCE",
                        "STONFI2",
                        "BITKUB",
                        "PANCAKESWAP3LINEA",
                        "SPOOKYSWAP",
                        "THRUSTER3",
                        "ZOOMEX",
                        "COINEX",
                        "CAMELOT",
                        "DELTA",
                        "BINANCE",
                        "TRADERJOE",
                        "PULSEX2",
                        "SHADOW",
                        "QUICKSWAP",
                        "CAMELOT3ARBITRUM",
                        "PANCAKESWAP",
                        "UNISWAP3POLYGON",
                        "BASESWAP",
                        "POLONIEX",
                        "GATEIO",
                        "SUSHISWAPPOLYGON",
                        "LYNEX",
                        "KCEX",
                        "BYBIT",
                        "UNISWAP3BASE",
                        "TOOBIT",
                        "OKCOIN",
                        "PANCAKESWAP3ETH",
                        "PULSEX",
                        "MERCHANTMOELB",
                        "STONFI",
                        "CLEOPATRA2",
                        "MMFINANCE",
                        "CURVE",
                        "SUNSWAP3",
                        "BLUEFIN",
                        "TURBOSFINANCE",
                        "BITMART",
                        "NILE",
                        "BTSE",
                        "NILE1",
                        "COINBASE",
                        "CRYPTOCOM",
                        "BITFLYER",
                        "KRAKEN",
                        "VELODROME",
                        "DEDUST",
                        "UNISWAP3ARBITRUM",
                        "UNISWAP3ETH",
                        "XEXCHANGE",
                        "BITFINEX",
                        "UNISWAP3AVALANCHE",
                        "BITMEX",
                        "DERIBIT",
                        "RAYDIUM",
                        "SUNSWAP2",
                        "TOKENIZE",
                        "ORCA"
                      ]
                    },
                    "coupon": {
                      "type": "number",
                      "example": 123.45
                    },
                    "currency": {
                      "type": "string",
                      "example": "DOGE",
                      "enum": [
                        "DOGE",
                        "MIM",
                        "ZBTC",
                        "MOG",
                        "UAHG",
                        "KRW",
                        "ETHX",
                        "RENBTC",
                        "TBTC",
                        "OMG",
                        "WIF",
                        "GNO",
                        "AUT",
                        "BSW",
                        "FXN",
                        "TRX",
                        "SQUID",
                        "JUSDT",
                        "USR",
                        "MIMATIC",
                        "LDO",
                        "KEL",
                        "RZUSD",
                        "SGD",
                        "JPY",
                        "CVXCRV",
                        "CL",
                        "TITANX",
                        "SSTZ",
                        "USDTE",
                        "RESOLV",
                        "EURS",
                        "KP3R",
                        "EUROC",
                        "HELP",
                        "USDE",
                        "USDS",
                        "ROOT",
                        "LODE",
                        "UNI",
                        "USDBC",
                        "BFIC",
                        "WSTETH",
                        "PAXG",
                        "TRY",
                        "SLERF",
                        "IBTC",
                        "FRAX",
                        "PYUSD",
                        "TONNEL",
                        "VNO",
                        "USDF",
                        "PEAS",
                        "METFI",
                        "CAD",
                        "SEUR",
                        "LVLUSD",
                        "MBTC",
                        "XSGD",
                        "WEGLD",
                        "XVS",
                        "WETH",
                        "ZIK",
                        "USDR",
                        "FBX",
                        "KZT",
                        "GBP",
                        "USDN",
                        "MERY",
                        "SOL",
                        "SAND",
                        "GOUT",
                        "OX",
                        "PNG",
                        "TUSD",
                        "SUSDA",
                        "BETH",
                        "USDD",
                        "MSOL",
                        "XRP",
                        "BNB",
                        "USDT",
                        "EUR",
                        "CLEV",
                        "USD1",
                        "CBETH",
                        "ARENA",
                        "AERO",
                        "BGN",
                        "WM",
                        "DF",
                        "AVUSD",
                        "FUSD",
                        "LUA",
                        "THB",
                        "KUDAI",
                        "CNHT",
                        "WFTM",
                        "PETH",
                        "VOW",
                        "EURQ",
                        "TON",
                        "IQ",
                        "CANDY",
                        "PONKE",
                        "ZAR",
                        "SBTC",
                        "NMT",
                        "EURR",
                        "THOREUM",
                        "WLD",
                        "WCRO",
                        "BTCB",
                        "KOGE",
                        "DAIE",
                        "FOX",
                        "ORA",
                        "EVC",
                        "GOLDGR",
                        "SUSDS",
                        "AGENTFUN",
                        "OHM",
                        "USDCE",
                        "JLP",
                        "T",
                        "CVXFXS",
                        "PUFETH",
                        "KAT",
                        "WAVAX",
                        "CHF",
                        "USDX",
                        "JITOSOL",
                        "PYTH",
                        "MOONPIG",
                        "CDXUSD",
                        "FUL",
                        "SRM",
                        "SPX",
                        "FEI",
                        "MEX",
                        "NOCHILL",
                        "GIGA",
                        "ALETH",
                        "ARS",
                        "LWC",
                        "IOTX",
                        "OP",
                        "KLIMA",
                        "WRON",
                        "MXNT",
                        "BARA",
                        "CORGIAI",
                        "TPT",
                        "USDG",
                        "ZORA",
                        "CROID",
                        "STON",
                        "WEETH",
                        "JUSD",
                        "WPE",
                        "PENDLE",
                        "BOSS",
                        "COQ",
                        "USDC",
                        "MANA",
                        "QUICK",
                        "GUSD",
                        "STETH",
                        "MCOIN",
                        "INF",
                        "VVS",
                        "LION",
                        "MEMHASH",
                        "RSWETH",
                        "USC",
                        "FRXETH",
                        "SCRVUSD",
                        "RAY",
                        "AUD",
                        "XETH",
                        "TOKE",
                        "DEFAI",
                        "KOL",
                        "BMX",
                        "HYDRA",
                        "VC",
                        "FLD",
                        "JTO",
                        "USD0",
                        "FXS",
                        "PEPE",
                        "MXN",
                        "BUSD",
                        "XAUT",
                        "EMP",
                        "RLUSD",
                        "USDTB",
                        "FPI",
                        "CVX",
                        "FRXUSD",
                        "FOMO",
                        "AXLUSDC",
                        "CAKE",
                        "BNX",
                        "BTC",
                        "CRVUSD",
                        "VIRTUAL",
                        "POHM",
                        "AMI",
                        "LEGIT",
                        "SUI",
                        "BAKE",
                        "WXDAI",
                        "MOON",
                        "WMATIC",
                        "AGEUR",
                        "DEUSD",
                        "ADA",
                        "CTR",
                        "BITCOIN",
                        "SFUND",
                        "MOBILE",
                        "PLN",
                        "ETH",
                        "RETH",
                        "MGC",
                        "BTR",
                        "VELO",
                        "BRZ",
                        "USD",
                        "ALD",
                        "SDCRV",
                        "LUSD",
                        "ARB",
                        "XEGLD",
                        "WBNB",
                        "B",
                        "FDUSD",
                        "SAVAX",
                        "ATLAS",
                        "CRO",
                        "SUSHI",
                        "FLOKI",
                        "LEMX",
                        "EURI",
                        "ECOR",
                        "DAI",
                        "OETH",
                        "AED",
                        "SYK",
                        "SPA",
                        "WSHIB",
                        "USH",
                        "BCT",
                        "WBTC",
                        "WUSD",
                        "FIST",
                        "HPAY",
                        "UAH",
                        "WDOGE",
                        "HTX",
                        "FARTCOIN",
                        "BRL",
                        "LINK",
                        "CBBTC",
                        "RIO",
                        "NUT",
                        "JOE",
                        "USDQ",
                        "USDZ",
                        "RON",
                        "SUSDE",
                        "PXETH",
                        "KCS",
                        "POPCAT",
                        "CZK",
                        "CAW",
                        "COP"
                      ]
                    },
                    "currency_kind": {
                      "type": "string",
                      "example": "crypto",
                      "enum": [
                        "crypto",
                        "fiat"
                      ]
                    },
                    "base_currency_kind": {
                      "type": "string",
                      "example": "crypto",
                      "enum": [
                        "crypto",
                        "fiat"
                      ]
                    },
                    "velocity": {
                      "type": "number",
                      "example": 123.45
                    },
                    "fully_diluted_value": {
                      "type": "number",
                      "example": 123.45
                    },
                    "is_shariah_compliant": {
                      "type": "boolean",
                      "example": true
                    },
                    "update_time": {
                      "type": "string",
                      "example": "example"
                    },
                    "low_after_high_all_change_abs": {
                      "type": "number",
                      "example": 123.45
                    },
                    "circulating_to_max_supply_ratio": {
                      "type": "number",
                      "example": 123.45
                    },
                    "days_to_maturity": {
                      "type": "number",
                      "example": 123.45
                    },
                    "market_cap_to_tvl": {
                      "type": "number",
                      "example": 123.45
                    },
                    "market": {
                      "type": "string",
                      "example": "crypto",
                      "enum": [
                        "crypto"
                      ]
                    },
                    "subtype": {
                      "type": "string",
                      "example": "crypto",
                      "enum": [
                        "crypto",
                        "perpetual"
                      ]
                    },
                    "indexes": {
                      "type": "string",
                      "example": "example"
                    },
                    "market_cap_diluted_calc": {
                      "type": "number",
                      "example": 123.45
                    },
                    "typespecs": {
                      "type": "array",
                      "example": "defi"
                    },
                    "bid_ask_spread_pct": {
                      "type": "number",
                      "example": 123.45
                    },
                    "market_cap_calc": {
                      "type": "number",
                      "example": 123.45
                    },
                    "submarket": {
                      "type": "string",
                      "example": "",
                      "enum": [
                        ""
                      ]
                    },
                    "24h_vol_to_market_cap": {
                      "type": "number",
                      "example": 123.45
                    },
                    "cryptoasset-info.description": {
                      "type": "string",
                      "example": "example"
                    },
                    "expiration": {
                      "type": "string",
                      "example": "example"
                    },
                    "nvt": {
                      "type": "number",
                      "example": 123.45
                    },
                    "maturity_date": {
                      "type": "string",
                      "example": "example"
                    },
                    "low_after_high_all_change": {
                      "type": "number",
                      "example": 123.45
                    },
                    "currency_id": {
                      "type": "string",
                      "example": "XTVCYOSTEP",
                      "enum": [
                        "XTVCYOSTEP",
                        "XTVCBTC",
                        "XTVCPEPE",
                        "XTVCSDPENDLE",
                        "XTVCMGC",
                        "XTVCDAIE",
                        "PLN",
                        "XTVCKOGE",
                        "XTVCB",
                        "XTVCUSDCE",
                        "BGN",
                        "XTVCCBETH",
                        "XTVCHELP",
                        "XTVCFRAX",
                        "XTVCFLD",
                        "XTVCGNO",
                        "XTVCKLIMA",
                        "XTVCGOLDGR",
                        "KRW",
                        "XTVCECOR",
                        "XTVCYFSX",
                        "XTVCWSHIB",
                        "XTVCWEGLD",
                        "XTVCMOBILE",
                        "XTVCFUL",
                        "XTVCAGENTFUN",
                        "XTVCSUSDA",
                        "XTVCSPX6",
                        "XTVCPYUSD",
                        "XTVCUSDRS",
                        "XTVCWXDAI",
                        "CZK",
                        "XTVCSUSDE",
                        "XTVCUSDF",
                        "XTVCDEFAI",
                        "MXN",
                        "SGD",
                        "XTVCFXB20261231",
                        "XTVCLMX",
                        "XTVCFANSHEN",
                        "XTVCSAVAX",
                        "XTVCFARTCOIN",
                        "XTVCCDXUSD",
                        "XTVCVNO",
                        "XTVCSBTC",
                        "XTVCRETH",
                        "XTVCUSDN",
                        "XTVCCROSS",
                        "XTVCSSTL",
                        "XTVCFOMO",
                        "XTVCTRUSTK",
                        "XTVCCORGIAI",
                        "XTVCCAKE",
                        "XTVCZORA",
                        "XTVCUAHG",
                        "XTVCPETH",
                        "XTVCFIST",
                        "XTVCCRVUSD",
                        "XTVCEUROC",
                        "XTVCSSTB",
                        "XTVCGOUT",
                        "XTVCNOCHILL",
                        "XTVCPONKE",
                        "XTVCUSD1W",
                        "XTVCUSDEE",
                        "XTVCPUFETH",
                        "XTVCPEAS",
                        "XTVCSFUND",
                        "XTVCUSDTE",
                        "XTVCMEXM",
                        "XTVCJLP",
                        "XTVCMOON",
                        "XTVCQUICK",
                        "XTVCEURQ",
                        "XTVCAERO",
                        "XTVCWUSD2",
                        "XTVCRIO",
                        "XTVCSTBTC",
                        "XTVCLPZ",
                        "XTVCBNO",
                        "XTVCFXUSD",
                        "XTVCSCRVUSD",
                        "XTVCUSDE",
                        "XTVCFXN",
                        "XTVCSATOSHIK",
                        "XTVCURWAAI",
                        "XTVCWRON",
                        "XTVCYETH",
                        "XTVCFRXUSD",
                        "XTVCX28",
                        "XTVCVELO",
                        "XTVCBRZ",
                        "XTVCMXNT",
                        "XTVCFDUSD",
                        "XTVCRAY",
                        "XTVCFTB",
                        "XTVCBOSS",
                        "XTVCAPOHM",
                        "XTVCWCRO",
                        "XTVCLVLUSD",
                        "XTVCHTX",
                        "XTVCLODE",
                        "XTVCTSB",
                        "XTVCCOQ",
                        "XTVCUNI",
                        "XTVCBMX",
                        "XTVCGUSD",
                        "XTVCIQ",
                        "XTVCCL",
                        "XTVCJUSD",
                        "XTVCSAND",
                        "XTVCRESOLV",
                        "XTVCYFIE",
                        "XTVCFXS",
                        "XTVCSSTZ",
                        "XTVCSLERF",
                        "XTVCXETH",
                        "XTVCRSWETH",
                        "XTVCFUSD",
                        "XTVCMOG",
                        "BRL",
                        "XTVCPTCUSDO1763596806",
                        "XTVCVOW",
                        "XTVCJOE",
                        "XTVCTACETH",
                        "XTVCLPXCVX",
                        "XTVCETCS20",
                        "XTVCCGM",
                        "XTVCUSDZ",
                        "XTVCUSD1",
                        "XTVCLINK",
                        "XTVCCBBTC",
                        "XTVCWIF",
                        "XTVCTUSD",
                        "XTVCAFCVX",
                        "XTVCSTETH",
                        "XTVCWTBC",
                        "XTVCALETH",
                        "UAH",
                        "XTVCEURR",
                        "XTVCSOL",
                        "XTVCBUSD",
                        "XTVCETH",
                        "XTVCCOSA",
                        "EUR",
                        "AUD",
                        "XTVCXEGLD",
                        "XTVCKUDAI",
                        "XTVCBARA",
                        "XTVCSTON",
                        "XTVCMIM",
                        "XTVCFOX",
                        "XTVCWFTM",
                        "XTVCVVS",
                        "XTVCMERY",
                        "XTVCCVXCRV",
                        "XTVCCTR",
                        "XTVCSRM",
                        "XTVCKCS",
                        "XTVCDOGE",
                        "XTVCOHM",
                        "XTVCEVCE",
                        "XTVCTBTC",
                        "XTVCMETFI",
                        "XTVCOMG",
                        "XTVCJITOSOL",
                        "XTVCSUI",
                        "XTVCHYDRA",
                        "XTVCEURI",
                        "XTVCBETH",
                        "XTVCSE",
                        "XTVCWEETHS",
                        "XTVCSDCRV",
                        "JPY",
                        "XTVCBTCM",
                        "XTVCMEMHASH",
                        "XTVCWRUB",
                        "XTVCTHOREUM",
                        "XTVCBNB",
                        "XTVCCROID",
                        "XTVCEURS",
                        "XTVCBABYLIBERTY",
                        "XTVCSEUR",
                        "XTVCXSGD",
                        "XTVCARENA",
                        "XTVCPYTH",
                        "XTVCSPX",
                        "XTVCCAW",
                        "XTVCWSTETH",
                        "KZT",
                        "GBP",
                        "XTVCPPEAS",
                        "XTVCNUT",
                        "XTVCMORNINGSTAR",
                        "XTVCJTO",
                        "XTVCKCH",
                        "XTVCMANA",
                        "XTVCMSOL",
                        "XTVCXVS",
                        "XTVCPNTO",
                        "XTVCLUA",
                        "XTVCCLEVCVX",
                        "XTVCYCRV",
                        "XTVCUSDBC",
                        "XTVCMAUSDC",
                        "XTVCLWC",
                        "XTVCLUSD",
                        "TRY",
                        "XTVCT",
                        "XTVCDEUSD",
                        "XTVCCLEV",
                        "CHF",
                        "XTVCUSC",
                        "XTVCTPT",
                        "XTVCUSDS",
                        "XTVCPOHM",
                        "XTVCCHOCO",
                        "XTVCBARIO",
                        "XTVCBFIC",
                        "XTVCAUT",
                        "XTVCKP3R",
                        "XTVCSUSDS",
                        "XTVCTON",
                        "XTVCWEETH",
                        "XTVCOX",
                        "XTVCAXLUSDC",
                        "XTVCUSR",
                        "XTVCPENDLE",
                        "XTVCWLD",
                        "XTVCBITCOIN",
                        "XTVCDF",
                        "XTVCMOONPIG",
                        "XTVCUSDQ",
                        "XTVCOP",
                        "XTVCJUSDT",
                        "XTVCVC",
                        "XTVCHOWDY",
                        "XTVCBTRB",
                        "THB",
                        "XTVCBSW",
                        "XTVCUSDG",
                        "XTVCNMT",
                        "USD",
                        "XTVCVIRTUAL",
                        "XTVCRZUSD",
                        "XTVCAVUSD",
                        "XTVCGIGA",
                        "XTVCRENBTC",
                        "XTVCKEL",
                        "XTVCARB",
                        "XTVCAMI",
                        "XTVCUSDX",
                        "XTVCUSDTB",
                        "XTVCCANDY",
                        "CAD",
                        "XTVCEURO",
                        "XTVCSPA",
                        "XTVCSYK",
                        "XTVCMCOIN",
                        "XTVCPIAO",
                        "ARS",
                        "XTVCDAI",
                        "XTVCWBNB",
                        "XTVCLDO",
                        "XTVCSQUID",
                        "XTVCUSDD",
                        "XTVCTONNEL",
                        "XTVCXAUT",
                        "XTVCBTCB",
                        "XTVCTOKE",
                        "XTVCASDIC",
                        "XTVCLEGIT",
                        "XTVCPOPCAT",
                        "XTVCEMP",
                        "XTVCWPE",
                        "XTVCHPAY",
                        "XTVCYUK",
                        "XTVCRUBT",
                        "XTVCPNG",
                        "XTVCSTLINK",
                        "XTVCZBTC",
                        "XTVCWDOGE",
                        "XTVCALD",
                        "XTVCAETHC",
                        "XTVCUSDHHUBBLESTABLECOIN",
                        "XTVCBAKE",
                        "XTVCBCT",
                        "RON",
                        "XTVCORA",
                        "XTVCWM",
                        "XTVCIBTC",
                        "XTVCYYLM",
                        "XTVCUSDC",
                        "XTVCWBTC",
                        "XTVCETHX",
                        "XTVCTIAN",
                        "XTVCDPG",
                        "XTVCUSDT",
                        "XTVCZIK",
                        "XTVCTITANX",
                        "XTVCSBNB",
                        "XTVCFLOKI",
                        "XTVCOETH",
                        "XTVCQYTB",
                        "XTVCFBX",
                        "XTVCAGEUR",
                        "AED",
                        "XTVCSTRAC",
                        "XTVCMIMATIC",
                        "XTVCCVX",
                        "ZAR",
                        "XTVCFRXETH",
                        "COP",
                        "XTVCXRP",
                        "XTVCCRO",
                        "XTVCJENG",
                        "XTVCUSD0",
                        "XTVCADA",
                        "XTVCPAXG",
                        "XTVCTRX",
                        "XTVCROOT",
                        "XTVCIOTX",
                        "XTVCUSHHA",
                        "XTVCCNHT",
                        "XTVCLION",
                        "XTVCMBTC",
                        "XTVCWAVAX",
                        "XTVCSDYFI",
                        "XTVCCVXFXS",
                        "XTVCUPYFI",
                        "XTVCLEMX",
                        "XTVCWETHE",
                        "XTVCATLAS",
                        "XTVCWETH",
                        "XTVCRLUSD",
                        "XTVCPXETH",
                        "XTVCTACUSD",
                        "XTVCFEI",
                        "XTVCINF",
                        "XTVCSUSHI",
                        "XTVCBNX",
                        "XTVCFPI",
                        "XTVCKAT",
                        "XTVCWMATIC",
                        "XTVCKOL"
                      ]
                    },
                    "cryptoasset-info.id": {
                      "type": "string",
                      "example": "example"
                    },
                    "type": {
                      "type": "string",
                      "example": "spot",
                      "enum": [
                        "spot",
                        "swap",
                        "futures"
                      ]
                    },
                    "is_blacklisted": {
                      "type": "boolean",
                      "example": true
                    },
                    "active_symbol": {
                      "type": "boolean",
                      "example": true
                    },
                    "Perf.All": {
                      "type": "number",
                      "example": 123.45
                    },
                    "indicators_bars_count": {
                      "type": "number",
                      "example": 123.45
                    },
                    "bars_count|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low": {
                      "type": "number",
                      "example": 123.45
                    },
                    "time|15": {
                      "type": "string",
                      "example": "example"
                    },
                    "close|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low|5": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open_abs": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "high|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume_change|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "close|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "bars_count|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up_abs|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down_abs|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up_abs|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|5": {
                      "type": "number",
                      "example": 123.45
                    },
                    "time|30": {
                      "type": "string",
                      "example": "example"
                    },
                    "indicators_bars_count|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_abs|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "last_bar_update_time|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change_abs|240": {
                      "type": "number",
                      "example": 123.45
                    },
                    "indicators_bars_count|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change_abs|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "post_change": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up_abs|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "last_bar_update_time|240": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume_change_abs|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change_abs": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_abs|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "time|1W": {
                      "type": "string",
                      "example": "example"
                    },
                    "post_change|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "post_change|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "premarket_change_from_open_abs": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "bars_count|240": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change_abs|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume|5": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume_change_abs|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up_abs|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "premarket_change_abs": {
                      "type": "number",
                      "example": 123.45
                    },
                    "update_mode": {
                      "type": "string",
                      "example": "streaming",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "volume_change|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "close|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open_abs|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "post_change|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "open": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "indicators_bars_count|5": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up_abs|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "close|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "update_mode|120": {
                      "type": "string",
                      "example": "streaming",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "gap|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low|240": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume_change|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "time|60": {
                      "type": "string",
                      "example": "example"
                    },
                    "volume|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "open|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down_abs|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "last_bar_update_time|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "time|5": {
                      "type": "string",
                      "example": "example"
                    },
                    "volume_change_abs|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "indicators_bars_count|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "premarket_change": {
                      "type": "number",
                      "example": 123.45
                    },
                    "bars_count|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "post_change|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "open|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down_abs|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "bars_count|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "post_change|5": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "low|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_abs|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "pre_change|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down_abs|1M": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume_change|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_from_open_abs|240": {
                      "type": "number",
                      "example": 123.45
                    },
                    "last_bar_update_time|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "postmarket_change": {
                      "type": "number",
                      "example": 123.45
                    },
                    "update_mode|240": {
                      "type": "string",
                      "example": "streaming",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "gap_down|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_down_abs|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "high|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up|120": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change|1": {
                      "type": "number",
                      "example": 123.45
                    },
                    "gap_up|30": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_abs": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change|15": {
                      "type": "number",
                      "example": 123.45
                    },
                    "volume_change_abs|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "open|1W": {
                      "type": "number",
                      "example": 123.45
                    },
                    "change_abs|240": {
                      "type": "number",
                      "example": 123.45
                    },
                    "time|120": {
                      "type": "string",
                      "example": "example"
                    },
                    "volume|60": {
                      "type": "number",
                      "example": 123.45
                    },
                    "indicators_bars_count|15": {
                      "type": "number",
[...]
