{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView economics2 API",
    "version": "1.0.0",
    "description": "OpenAPI specification for TradingView economics2 market scanner API.\n\n**Data Source**: tv-screener v0.4.0\n**Generator**: tv-generator v2.0.0\n**Generated**: 2025-06-25T15:39:47.095476\n\nThis specification is automatically generated from TradingView Scanner API metadata provided by the tv-screener library. All field definitions, types, and examples are sourced from official TradingView data structures.",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-data-source": "tv-screener",
    "x-data-version": "0.4.0",
    "x-generator": "tv-generator",
    "x-generator-version": "2.0.0",
    "x-generated-date": "2025-06-25T15:39:47.095476",
    "x-market": "economics2",
    "x-field-count": 75
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "economics2",
      "description": "Market: economics2"
    }
  ],
  "paths": {
    "/economics2/scan": {
      "post": {
        "summary": "Scan economics2 market",
        "description": "Scan economics2 market with filters and options",
        "operationId": "scanEconomics2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "TradingView session cookie for real-time data access"
      }
    },
    "schemas": {
      "MarketData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Symbol Type",
            "enum": [
              "economic"
            ]
          },
          "is_primary": {
            "type": "boolean",
            "description": "Primary Listing"
          },
          "active_symbol": {
            "type": "boolean",
            "description": "Current trading day"
          },
          "change": {
            "type": "number",
            "description": "Change %"
          },
          "change_abs": {
            "type": "number",
            "description": "Change"
          },
          "close": {
            "type": "number",
            "description": "Price"
          },
          "volume": {
            "type": "number",
            "description": "Volume"
          },
          "Perf.All": {
            "type": "number",
            "description": "All Time Performance"
          },
          "change_from_open": {
            "type": "number",
            "description": "Change from Open %"
          },
          "change_from_open_abs": {
            "type": "number",
            "description": "Change from Open"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange",
            "enum": [
              "ECONOMICS",
              "FRED"
            ]
          },
          "gap": {
            "type": "number",
            "description": "Gap %"
          },
          "high": {
            "type": "number",
            "description": "High"
          },
          "low": {
            "type": "number",
            "description": "Low"
          },
          "open": {
            "type": "number",
            "description": "Open"
          },
          "postmarket_change": {
            "type": "number",
            "description": "Post-market Change %"
          },
          "postmarket_change_abs": {
            "type": "number",
            "description": "Post-market Change"
          },
          "premarket_change": {
            "type": "number",
            "description": "Pre-market Change %"
          },
          "premarket_change_abs": {
            "type": "number",
            "description": "Pre-market Change"
          },
          "premarket_change_from_open": {
            "type": "number",
            "description": "Pre-market Change from Open %"
          },
          "premarket_change_from_open_abs": {
            "type": "number",
            "description": "Pre-market Change from Open"
          },
          "premarket_gap": {
            "type": "number",
            "description": "Pre-market Gap %"
          },
          "submarket": {
            "type": "string",
            "description": "Submarket",
            "enum": [
              ""
            ]
          },
          "currency": {
            "type": "string",
            "description": "Quote currency",
            "enum": [
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHF",
              "CLP",
              "CNY",
              "COP",
              "CRC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ETB",
              "EUR",
              "FJD",
              "GBP",
              "GEL",
              "GHS",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SLL",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TND",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "UYU",
              "UZS",
              "VES",
              "VND",
              "XAF",
              "XOF",
              "XPF",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "bars_count": {
            "type": "number",
            "description": "Field: bars_count"
          },
          "base_currency_kind": {
            "type": "string",
            "description": "Field: base_currency_kind"
          },
          "country_code": {
            "type": "string",
            "description": "Field: country_code",
            "enum": [
              "AD",
              "AE",
              "AF",
              "AG",
              "AL",
              "AM",
              "AO",
              "AR",
              "AT",
              "AU",
              "AW",
              "AZ",
              "BA",
              "BB",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BM",
              "BN",
              "BO",
              "BR",
              "BS",
              "BT",
              "BW",
              "BY",
              "BZ",
              "CA",
              "CD",
              "CF",
              "CG",
              "CH",
              "CI",
              "CL",
              "CM",
              "CN",
              "CO",
              "CR",
              "CU",
              "CV",
              "CY",
              "CZ",
              "DE",
              "DJ",
              "DK",
              "DM",
              "DO",
              "DZ",
              "EC",
              "EE",
              "EG",
              "ER",
              "ES",
              "ET",
              "EU",
              "FI",
              "FJ",
              "FO",
              "FR",
              "GA",
              "GB",
              "GD",
              "GE",
              "GH",
              "GL",
              "GM",
              "GN",
              "GQ",
              "GR",
              "GT",
              "GW",
              "GY",
              "HK",
              "HN",
              "HR",
              "HT",
              "HU",
              "ID",
              "IE",
              "IL",
              "IM",
              "IN",
              "IQ",
              "IR",
              "IS",
              "IT",
              "JM",
              "JO",
              "JP",
              "KE",
              "KG",
              "KH",
              "KI",
              "KM",
              "KP",
              "KR",
              "KW",
              "KY",
              "KZ",
              "LA",
              "LB",
              "LC",
              "LI",
              "LK",
              "LR",
              "LS",
              "LT",
              "LU",
              "LV",
              "LY",
              "MA",
              "MC",
              "MD",
              "ME",
              "MG",
              "MK",
              "ML",
              "MM",
              "MN",
              "MO",
              "MR",
              "MT",
              "MU",
              "MV",
              "MW",
              "MX",
              "MY",
              "MZ",
              "NA",
              "NC",
              "NE",
              "NG",
              "NI",
              "NL",
              "NO",
              "NP",
              "NZ",
              "OM",
              "PA",
              "PE",
              "PG",
              "PH",
              "PK",
              "PL",
              "PR",
              "PS",
              "PT",
              "PY",
              "QA",
              "RO",
              "RS",
              "RU",
              "RW",
              "SA",
              "SB",
              "SC",
              "SD",
              "SE",
              "SG",
              "SI",
              "SK",
              "SL",
              "SM",
              "SN",
              "SO",
              "SR",
              "SS",
              "ST",
              "SV",
              "SY",
              "SZ",
              "TD",
              "TG",
              "TH",
              "TJ",
              "TL",
              "TM",
              "TN",
              "TO",
              "TR",
              "TT",
              "TW",
              "TZ",
              "UA",
              "UG",
              "US",
              "UY",
              "UZ",
              "VC",
              "VE",
              "VN",
              "VU",
              "WS",
              "WW",
              "XK",
              "YE",
              "ZA",
              "ZM",
              "ZW"
            ]
          },
          "coupon": {
            "type": "number",
            "description": "Field: coupon"
          },
          "cryptoasset-info.description": {
            "type": "string",
            "description": "Field: cryptoasset-info.description"
          },
          "cryptoasset-info.id": {
            "type": "string",
            "description": "Field: cryptoasset-info.id"
          },
          "currency_id": {
            "type": "string",
            "description": "Field: currency_id",
            "enum": [
              "",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BZD",
              "CAD",
              "CDF",
              "CHF",
              "CLP",
              "CNY",
              "COP",
              "CRC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ETB",
              "EUR",
              "FJD",
              "GBP",
              "GEL",
              "GHS",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRU",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RWF",
              "SAR",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SLL",
              "SRD",
              "SSP",
              "STN",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TND",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "UYU",
              "UZS",
              "VES",
              "VND",
              "XAF",
              "XOF",
              "XPF",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          },
          "currency_kind": {
            "type": "string",
            "description": "Field: currency_kind",
            "enum": [
              "fiat"
            ]
          },
          "days_to_maturity": {
            "type": "number",
            "description": "Field: days_to_maturity"
          },
          "description": {
            "type": "string",
            "description": "Field: description"
          },
          "economic-category-id": {
            "type": "string",
            "description": "Field: economic-category-id",
            "enum": [
              "bsnss",
              "cnsm",
              "gdp",
              "gov",
              "hlth",
              "hse",
              "lbr",
              "mny",
              "prce",
              "trd",
              "txs"
            ]
          },
          "expiration": {
            "type": "string",
            "description": "Field: expiration"
          },
          "gap_down": {
            "type": "number",
            "description": "Field: gap_down"
          },
          "gap_down_abs": {
            "type": "number",
            "description": "Field: gap_down_abs"
          },
          "gap_up": {
            "type": "number",
            "description": "Field: gap_up"
          },
          "gap_up_abs": {
            "type": "number",
            "description": "Field: gap_up_abs"
          },
          "indexes": {
            "type": "string",
            "description": "Field: indexes"
          },
          "indicators_bars_count": {
            "type": "number",
            "description": "Field: indicators_bars_count"
          },
          "is_blacklisted": {
            "type": "boolean",
            "description": "Field: is_blacklisted"
          },
          "is_shariah_compliant": {
            "type": "boolean",
            "description": "Field: is_shariah_compliant"
          },
          "last_bar_update_time": {
            "type": "number",
            "description": "Field: last_bar_update_time"
          },
          "logoid": {
            "type": "string",
            "description": "Field: logoid"
          },
          "market": {
            "type": "string",
            "description": "Field: market",
            "enum": [
              "economics2"
            ]
          },
          "maturity_date": {
            "type": "string",
            "description": "Field: maturity_date"
          },
          "measure": {
            "type": "string",
            "description": "Field: measure",
            "enum": [
              "currency",
              "price",
              "unit"
            ]
          },
          "name": {
            "type": "string",
            "description": "Field: name"
          },
          "post_change": {
            "type": "number",
            "description": "Field: post_change"
          },
          "pre_change": {
            "type": "number",
            "description": "Field: pre_change"
          },
          "pre_change_abs": {
            "type": "number",
            "description": "Field: pre_change_abs"
          },
          "rates_cf": {
            "type": "object",
            "description": "Field: rates_cf"
          },
          "rates_current": {
            "type": "object",
            "description": "Field: rates_current"
          },
          "rates_dividend_recent": {
            "type": "object",
            "description": "Field: rates_dividend_recent"
          },
          "rates_dividend_upcoming": {
            "type": "object",
            "description": "Field: rates_dividend_upcoming"
          },
          "rates_earnings_fq": {
            "type": "object",
            "description": "Field: rates_earnings_fq"
          },
          "rates_earnings_next_fq": {
            "type": "object",
            "description": "Field: rates_earnings_next_fq"
          },
          "rates_fh": {
            "type": "object",
            "description": "Field: rates_fh"
          },
          "rates_fq": {
            "type": "object",
            "description": "Field: rates_fq"
          },
          "rates_fy": {
            "type": "object",
            "description": "Field: rates_fy"
          },
          "rates_mc": {
            "type": "object",
            "description": "Field: rates_mc"
          },
          "rates_pt": {
            "type": "object",
            "description": "Field: rates_pt"
          },
          "rates_time_series": {
            "type": "object",
            "description": "Field: rates_time_series"
          },
          "rates_ttm": {
            "type": "object",
            "description": "Field: rates_ttm"
          },
          "subtype": {
            "type": "string",
            "description": "Field: subtype",
            "enum": [
              ""
            ]
          },
          "time": {
            "type": "string",
            "description": "Field: time"
          },
          "typespecs": {
            "type": "array",
            "description": "Field: typespecs",
            "enum": [
              ""
            ]
          },
          "unit-id": {
            "type": "string",
            "description": "Field: unit-id",
            "enum": [
              "DAY",
              "HOUR",
              "LTR",
              "MONTH",
              "MTK",
              "WEEK",
              "YEAR"
            ]
          },
          "update_mode": {
            "type": "string",
            "description": "Field: update_mode",
            "enum": [
              "streaming"
            ]
          },
          "update_time": {
            "type": "string",
            "description": "Field: update_time"
          },
          "value-unit-id": {
            "type": "string",
            "description": "Field: value-unit-id",
            "enum": [
              "BLL",
              "BUA",
              "CAP",
              "CMPNY",
              "FTQ",
              "GWH",
              "HOUR",
              "JOU",
              "KGM",
              "MTK",
              "NBL",
              "PCT",
              "PCTGDP",
              "PMP",
              "POINT",
              "PSN",
              "PTP",
              "RATIO",
              "TIV",
              "TNE",
              "UNIT",
              "YEAR"
            ]
          },
          "volume_change": {
            "type": "number",
            "description": "Field: volume_change"
          },
          "volume_change_abs": {
            "type": "number",
            "description": "Field: volume_change_abs"
          }
        }
      },
      "ScanRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "description": "Array of filters to apply"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return"
          },
          "range": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 2,
            "description": "Range of results [start, end]"
          }
        },
        "required": [
          "columns",
          "range"
        ]
      },
      "ScanResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketData"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "left": {
            "type": "string",
            "description": "Field name"
          },
          "operation": {
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "gt",
              "lt",
              "eq",
              "nz"
            ],
            "description": "Filter operation"
          },
          "right": {
            "type": "string",
            "description": "Filter value"
          }
        },
        "required": [
          "left",
          "operation",
          "right"
        ]
      },
      "Options": {
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "enum": [
              "en",
              "ru",
              "zh"
            ],
            "default": "en"
          },
          "decimal_places": {
            "type": "integer",
            "minimum": 0,
            "maximum": 8
          }
        }
      }
    }
  }
}