{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView futures API",
    "version": "1.0.0",
    "description": "OpenAPI specification for TradingView futures market scanner API.\n\n**Data Source**: tv-screener v0.4.0\n**Generator**: tv-generator v2.0.0\n**Generated**: 2025-06-25T15:39:47.095476\n\nThis specification is automatically generated from TradingView Scanner API metadata provided by the tv-screener library. All field definitions, types, and examples are sourced from official TradingView data structures.",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-data-source": "tv-screener",
    "x-data-version": "0.4.0",
    "x-generator": "tv-generator",
    "x-generator-version": "2.0.0",
    "x-generated-date": "2025-06-25T15:39:47.095476",
    "x-market": "futures",
    "x-field-count": 389
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "futures",
      "description": "Market: futures"
    }
  ],
  "paths": {
    "/futures/scan": {
      "post": {
        "summary": "Scan futures market",
        "description": "Scan futures market with filters and options",
        "operationId": "scanFutures",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "TradingView session cookie for real-time data access"
      }
    },
    "schemas": {
      "MarketData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Symbol Type",
            "enum": [
              "futures"
            ]
          },
          "is_primary": {
            "type": "boolean",
            "description": "Primary Listing"
          },
          "active_symbol": {
            "type": "boolean",
            "description": "Current trading day"
          },
          "change": {
            "type": "number",
            "description": "Change %"
          },
          "change_abs": {
            "type": "number",
            "description": "Change"
          },
          "close": {
            "type": "number",
            "description": "Price"
          },
          "sector": {
            "type": "string",
            "description": "Group",
            "enum": [
              "Agricultural",
              "Currencies",
              "Energy",
              "Financials",
              "Indexes",
              "Metals"
            ]
          },
          "Recommend.All": {
            "type": "number",
            "description": "Technical Rating"
          },
          "volume": {
            "type": "number",
            "description": "Volume"
          },
          "Value.Traded": {
            "type": "number",
            "description": "Volume*Price"
          },
          "High.1M": {
            "type": "number",
            "description": "1-Month High"
          },
          "Low.1M": {
            "type": "number",
            "description": "1-Month Low"
          },
          "High.3M": {
            "type": "number",
            "description": "3-Month High"
          },
          "Low.3M": {
            "type": "number",
            "description": "3-Month Low"
          },
          "Perf.3M": {
            "type": "number",
            "description": "3-Month Performance"
          },
          "Perf.5Y": {
            "type": "number",
            "description": "5Y Performance"
          },
          "High.6M": {
            "type": "number",
            "description": "6-Month High"
          },
          "Low.6M": {
            "type": "number",
            "description": "6-Month Low"
          },
          "Perf.6M": {
            "type": "number",
            "description": "6-Month Performance"
          },
          "price_52_week_high": {
            "type": "number",
            "description": "52 Week High"
          },
          "price_52_week_low": {
            "type": "number",
            "description": "52 Week Low"
          },
          "High.All": {
            "type": "number",
            "description": "All Time High"
          },
          "Low.All": {
            "type": "number",
            "description": "All Time Low"
          },
          "Perf.All": {
            "type": "number",
            "description": "All Time Performance"
          },
          "Aroon.Down": {
            "type": "number",
            "description": "Aroon Down (14)"
          },
          "Aroon.Up": {
            "type": "number",
            "description": "Aroon Up (14)"
          },
          "ADR": {
            "type": "number",
            "description": "Average Day Range (14)"
          },
          "ADX": {
            "type": "number",
            "description": "Average Directional Index (14)"
          },
          "ATR": {
            "type": "number",
            "description": "Average True Range (14)"
          },
          "average_volume_10d_calc": {
            "type": "number",
            "description": "Average Volume (10 day)"
          },
          "average_volume_30d_calc": {
            "type": "number",
            "description": "Average Volume (30 day)"
          },
          "average_volume_60d_calc": {
            "type": "number",
            "description": "Average Volume (60 day)"
          },
          "average_volume_90d_calc": {
            "type": "number",
            "description": "Average Volume (90 day)"
          },
          "AO": {
            "type": "number",
            "description": "Awesome Oscillator"
          },
          "BB.lower": {
            "type": "number",
            "description": "Bollinger Lower Band (20)"
          },
          "BB.upper": {
            "type": "number",
            "description": "Bollinger Upper Band (20)"
          },
          "BBPower": {
            "type": "number",
            "description": "Bull Bear Power"
          },
          "ChaikinMoneyFlow": {
            "type": "number",
            "description": "Chaikin Money Flow (20)"
          },
          "change_from_open": {
            "type": "number",
            "description": "Change from Open %"
          },
          "change_from_open_abs": {
            "type": "number",
            "description": "Change from Open"
          },
          "CCI20": {
            "type": "number",
            "description": "Commodity Channel Index (20)"
          },
          "DonchCh20.Lower": {
            "type": "number",
            "description": "Donchian Channels Lower Band (20)"
          },
          "DonchCh20.Upper": {
            "type": "number",
            "description": "Donchian Channels Upper Band (20)"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange",
            "enum": [
              "ADX",
              "ASX24",
              "BET",
              "BIST",
              "BMFBOVESPA",
              "BSE",
              "CBOE",
              "CBOT",
              "CBOT_MINI",
              "CFFEX",
              "CME",
              "CME_MINI",
              "COMEX",
              "COMEX_MINI",
              "DFM",
              "EUREX",
              "EURONEXT",
              "GPW",
              "HKEX",
              "HNX",
              "ICEAD",
              "ICEENDEX",
              "ICEEUR",
              "ICESG",
              "ICEUS",
              "KRX",
              "LME",
              "MATBAROFEX",
              "MCX",
              "MGEX",
              "MSEI",
              "MYX",
              "NASDAQDUBAI",
              "NCDEX",
              "NSE",
              "NSEIX",
              "NYMEX",
              "NYMEX_MINI",
              "NZX",
              "OSE",
              "RUS",
              "SGX",
              "SHFE",
              "TAIFEX",
              "TFEX",
              "TFX",
              "TMX",
              "TOCOM"
            ]
          },
          "EMA5": {
            "type": "number",
            "description": "Exponential Moving Average (5)"
          },
          "EMA10": {
            "type": "number",
            "description": "Exponential Moving Average (10)"
          },
          "EMA20": {
            "type": "number",
            "description": "Exponential Moving Average (20)"
          },
          "EMA30": {
            "type": "number",
            "description": "Exponential Moving Average (30)"
          },
          "EMA50": {
            "type": "number",
            "description": "Exponential Moving Average (50)"
          },
          "EMA100": {
            "type": "number",
            "description": "Exponential Moving Average (100)"
          },
          "EMA200": {
            "type": "number",
            "description": "Exponential Moving Average (200)"
          },
          "gap": {
            "type": "number",
            "description": "Gap %"
          },
          "high": {
            "type": "number",
            "description": "High"
          },
          "HullMA9": {
            "type": "number",
            "description": "Hull Moving Average (9)"
          },
          "Ichimoku.BLine": {
            "type": "number",
            "description": "Ichimoku Base Line (9, 26, 52, 26)"
          },
          "Ichimoku.CLine": {
            "type": "number",
            "description": "Ichimoku Conversion Line (9, 26, 52, 26)"
          },
          "Ichimoku.Lead1": {
            "type": "number",
            "description": "Ichimoku Leading Span A (9, 26, 52, 26)"
          },
          "Ichimoku.Lead2": {
            "type": "number",
            "description": "Ichimoku Leading Span B (9, 26, 52, 26)"
          },
          "KltChnl.lower": {
            "type": "number",
            "description": "Keltner Channels Lower Band (20)"
          },
          "KltChnl.upper": {
            "type": "number",
            "description": "Keltner Channels Upper Band (20)"
          },
          "low": {
            "type": "number",
            "description": "Low"
          },
          "MACD.macd": {
            "type": "number",
            "description": "MACD Level (12, 26)"
          },
          "MACD.signal": {
            "type": "number",
            "description": "MACD Signal (12, 26)"
          },
          "Mom": {
            "type": "number",
            "description": "Momentum (10)"
          },
          "MoneyFlow": {
            "type": "number",
            "description": "Money Flow (14)"
          },
          "Perf.1M": {
            "type": "number",
            "description": "Monthly Performance"
          },
          "Recommend.MA": {
            "type": "number",
            "description": "Moving Averages Rating"
          },
          "ADX-DI": {
            "type": "number",
            "description": "Negative Directional Indicator (14)"
          },
          "open": {
            "type": "number",
            "description": "Open"
          },
          "Recommend.Other": {
            "type": "number",
            "description": "Oscillators Rating"
          },
          "P.SAR": {
            "type": "number",
            "description": "Parabolic SAR"
          },
          "Pivot.M.Camarilla.Middle": {
            "type": "number",
            "description": "Pivot Camarilla P"
          },
          "Pivot.M.Camarilla.R1": {
            "type": "number",
            "description": "Pivot Camarilla R1"
          },
          "Pivot.M.Camarilla.R2": {
            "type": "number",
            "description": "Pivot Camarilla R2"
          },
          "Pivot.M.Camarilla.R3": {
            "type": "number",
            "description": "Pivot Camarilla R3"
          },
          "Pivot.M.Camarilla.S1": {
            "type": "number",
            "description": "Pivot Camarilla S1"
          },
          "Pivot.M.Camarilla.S2": {
            "type": "number",
            "description": "Pivot Camarilla S2"
          },
          "Pivot.M.Camarilla.S3": {
            "type": "number",
            "description": "Pivot Camarilla S3"
          },
          "Pivot.M.Classic.Middle": {
            "type": "number",
            "description": "Pivot Classic P"
          },
          "Pivot.M.Classic.R1": {
            "type": "number",
            "description": "Pivot Classic R1"
          },
          "Pivot.M.Classic.R2": {
            "type": "number",
            "description": "Pivot Classic R2"
          },
          "Pivot.M.Classic.R3": {
            "type": "number",
            "description": "Pivot Classic R3"
          },
          "Pivot.M.Classic.S1": {
            "type": "number",
            "description": "Pivot Classic S1"
          },
          "Pivot.M.Classic.S2": {
            "type": "number",
            "description": "Pivot Classic S2"
          },
          "Pivot.M.Classic.S3": {
            "type": "number",
            "description": "Pivot Classic S3"
          },
          "Pivot.M.Demark.Middle": {
            "type": "number",
            "description": "Pivot DM P"
          },
          "Pivot.M.Demark.R1": {
            "type": "number",
            "description": "Pivot DM R1"
          },
          "Pivot.M.Demark.S1": {
            "type": "number",
            "description": "Pivot DM S1"
          },
          "Pivot.M.Fibonacci.Middle": {
            "type": "number",
            "description": "Pivot Fibonacci P"
          },
          "Pivot.M.Fibonacci.R1": {
            "type": "number",
            "description": "Pivot Fibonacci R1"
          },
          "Pivot.M.Fibonacci.R2": {
            "type": "number",
            "description": "Pivot Fibonacci R2"
          },
          "Pivot.M.Fibonacci.R3": {
            "type": "number",
            "description": "Pivot Fibonacci R3"
          },
          "Pivot.M.Fibonacci.S1": {
            "type": "number",
            "description": "Pivot Fibonacci S1"
          },
          "Pivot.M.Fibonacci.S2": {
            "type": "number",
            "description": "Pivot Fibonacci S2"
          },
          "Pivot.M.Fibonacci.S3": {
            "type": "number",
            "description": "Pivot Fibonacci S3"
          },
          "Pivot.M.Woodie.Middle": {
            "type": "number",
            "description": "Pivot Woodie P"
          },
          "Pivot.M.Woodie.R1": {
            "type": "number",
            "description": "Pivot Woodie R1"
          },
          "Pivot.M.Woodie.R2": {
            "type": "number",
            "description": "Pivot Woodie R2"
          },
          "Pivot.M.Woodie.R3": {
            "type": "number",
            "description": "Pivot Woodie R3"
          },
          "Pivot.M.Woodie.S1": {
            "type": "number",
            "description": "Pivot Woodie S1"
          },
          "Pivot.M.Woodie.S2": {
            "type": "number",
            "description": "Pivot Woodie S2"
          },
          "Pivot.M.Woodie.S3": {
            "type": "number",
            "description": "Pivot Woodie S3"
          },
          "ADX+DI": {
            "type": "number",
            "description": "Positive Directional Indicator (14)"
          },
          "postmarket_change": {
            "type": "number",
            "description": "Post-market Change %"
          },
          "postmarket_change_abs": {
            "type": "number",
            "description": "Post-market Change"
          },
          "premarket_change": {
            "type": "number",
            "description": "Pre-market Change %"
          },
          "premarket_change_abs": {
            "type": "number",
            "description": "Pre-market Change"
          },
          "premarket_change_from_open": {
            "type": "number",
            "description": "Pre-market Change from Open %"
          },
          "premarket_change_from_open_abs": {
            "type": "number",
            "description": "Pre-market Change from Open"
          },
          "premarket_gap": {
            "type": "number",
            "description": "Pre-market Gap %"
          },
          "ROC": {
            "type": "number",
            "description": "Rate Of Change (9)"
          },
          "RSI7": {
            "type": "number",
            "description": "Relative Strength Index (7)"
          },
          "RSI": {
            "type": "number",
            "description": "Relative Strength Index (14)"
          },
          "relative_volume_10d_calc": {
            "type": "number",
            "description": "Relative Volume"
          },
          "SMA5": {
            "type": "number",
            "description": "Simple Moving Average (5)"
          },
          "SMA10": {
            "type": "number",
            "description": "Simple Moving Average (10)"
          },
          "SMA20": {
            "type": "number",
            "description": "Simple Moving Average (20)"
          },
          "SMA30": {
            "type": "number",
            "description": "Simple Moving Average (30)"
          },
          "SMA50": {
            "type": "number",
            "description": "Simple Moving Average (50)"
          },
          "SMA100": {
            "type": "number",
            "description": "Simple Moving Average (100)"
          },
          "SMA200": {
            "type": "number",
            "description": "Simple Moving Average (200)"
          },
          "Stoch.D": {
            "type": "number",
            "description": "Stochastic %D (14, 3, 3)"
          },
          "Stoch.K": {
            "type": "number",
            "description": "Stochastic %K (14, 3, 3)"
          },
          "Stoch.RSI.K": {
            "type": "number",
            "description": "Stochastic RSI Fast (3, 3, 14, 14)"
          },
          "Stoch.RSI.D": {
            "type": "number",
            "description": "Stochastic RSI Slow (3, 3, 14, 14)"
          },
          "submarket": {
            "type": "string",
            "description": "Submarket",
            "enum": [
              ""
            ]
          },
          "UO": {
            "type": "number",
            "description": "Ultimate Oscillator (7, 14, 28)"
          },
          "Volatility.D": {
            "type": "number",
            "description": "Volatility"
          },
          "Volatility.M": {
            "type": "number",
            "description": "Volatility Month"
          },
          "Volatility.W": {
            "type": "number",
            "description": "Volatility Week"
          },
          "VWAP": {
            "type": "number",
            "description": "Volume Weighted Average Price"
          },
          "VWMA": {
            "type": "number",
            "description": "Volume Weighted Moving Average (20)"
          },
          "Perf.W": {
            "type": "number",
            "description": "Weekly Performance"
          },
          "W.R": {
            "type": "number",
            "description": "Williams Percent Range (14)"
          },
          "Perf.Y": {
            "type": "number",
            "description": "Yearly Performance"
          },
          "Perf.YTD": {
            "type": "number",
            "description": "YTD Performance"
          },
          "currency": {
            "type": "string",
            "description": "Quote currency",
            "enum": [
              "AED",
              "ARS",
              "AUD",
              "BRL",
              "CAD",
              "CHF",
              "CLP",
              "CNH",
              "CNY",
              "CZK",
              "DKK",
              "EUR",
              "GBP",
              "GBX",
              "HKD",
              "HUF",
              "INR",
              "JPY",
              "KRW",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "PLN",
              "RON",
              "RSD",
              "RUB",
              "SEK",
              "SGD",
              "THB",
              "TRY",
              "TWD",
              "UAH",
              "USD",
              "USX",
              "VND",
              "ZAR"
            ]
          },
          "ADRP": {
            "type": "number",
            "description": "Field: ADRP"
          },
          "ADX+DI[1]": {
            "type": "number",
            "description": "Field: ADX+DI[1]"
          },
          "ADX+DI_9": {
            "type": "number",
            "description": "Field: ADX+DI_9"
          },
          "ADX+DI_20": {
            "type": "number",
            "description": "Field: ADX+DI_20"
          },
          "ADX+DI_100[1]": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]"
          },
          "ADX+DI_50": {
            "type": "number",
            "description": "Field: ADX+DI_50"
          },
          "ADX+DI_20[1]": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]"
          },
          "ADX+DI_50[1]": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]"
          },
          "ADX+DI_9[1]": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]"
          },
          "ADX+DI_100": {
            "type": "number",
            "description": "Field: ADX+DI_100"
          },
          "ADX-DI[1]": {
            "type": "number",
            "description": "Field: ADX-DI[1]"
          },
          "ADX-DI_9": {
            "type": "number",
            "description": "Field: ADX-DI_9"
          },
          "ADX-DI_20": {
            "type": "number",
            "description": "Field: ADX-DI_20"
          },
          "ADX-DI_100[1]": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]"
          },
          "ADX-DI_50": {
            "type": "number",
            "description": "Field: ADX-DI_50"
          },
          "ADX-DI_20[1]": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]"
          },
          "ADX-DI_50[1]": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]"
          },
          "ADX-DI_9[1]": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]"
          },
          "ADX-DI_100": {
            "type": "number",
            "description": "Field: ADX-DI_100"
          },
          "ADX_9": {
            "type": "number",
            "description": "Field: ADX_9"
          },
          "ADX_20": {
            "type": "number",
            "description": "Field: ADX_20"
          },
          "ADX_50": {
            "type": "number",
            "description": "Field: ADX_50"
          },
          "ADX_100": {
            "type": "number",
            "description": "Field: ADX_100"
          },
          "AO[1]": {
            "type": "number",
            "description": "Field: AO[1]"
          },
          "AO[2]": {
            "type": "number",
            "description": "Field: AO[2]"
          },
          "ATRP": {
            "type": "number",
            "description": "Field: ATRP"
          },
          "BB.basis": {
            "type": "number",
            "description": "Field: BB.basis"
          },
          "BB.basis_50": {
            "type": "number",
            "description": "Field: BB.basis_50"
          },
          "BB.lower_50": {
            "type": "number",
            "description": "Field: BB.lower_50"
          },
          "BB.upper_50": {
            "type": "number",
            "description": "Field: BB.upper_50"
          },
          "CCI20[1]": {
            "type": "number",
            "description": "Field: CCI20[1]"
          },
          "Candle.3BlackCrows": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows"
          },
          "Candle.3WhiteSoldiers": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers"
          },
          "Candle.AbandonedBaby.Bearish": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish"
          },
          "Candle.AbandonedBaby.Bullish": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish"
          },
          "Candle.Doji": {
            "type": "number",
            "description": "Field: Candle.Doji"
          },
          "Candle.Doji.Dragonfly": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly"
          },
          "Candle.Doji.Gravestone": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone"
          },
          "Candle.Engulfing.Bearish": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish"
          },
          "Candle.Engulfing.Bullish": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish"
          },
          "Candle.EveningStar": {
            "type": "number",
            "description": "Field: Candle.EveningStar"
          },
          "Candle.Hammer": {
            "type": "number",
            "description": "Field: Candle.Hammer"
          },
          "Candle.HangingMan": {
            "type": "number",
            "description": "Field: Candle.HangingMan"
          },
          "Candle.Harami.Bearish": {
            "type": "number",
            "description": "Field: Candle.Harami.Bearish"
          },
          "Candle.Harami.Bullish": {
            "type": "number",
            "description": "Field: Candle.Harami.Bullish"
          },
          "Candle.InvertedHammer": {
            "type": "number",
            "description": "Field: Candle.InvertedHammer"
          },
          "Candle.Kicking.Bearish": {
            "type": "number",
            "description": "Field: Candle.Kicking.Bearish"
          },
          "Candle.Kicking.Bullish": {
            "type": "number",
            "description": "Field: Candle.Kicking.Bullish"
          },
          "Candle.LongShadow.Lower": {
            "type": "number",
            "description": "Field: Candle.LongShadow.Lower"
          },
          "Candle.LongShadow.Upper": {
            "type": "number",
            "description": "Field: Candle.LongShadow.Upper"
          },
          "Candle.Marubozu.Black": {
            "type": "number",
            "description": "Field: Candle.Marubozu.Black"
          },
          "Candle.Marubozu.White": {
            "type": "number",
            "description": "Field: Candle.Marubozu.White"
          },
          "Candle.MorningStar": {
            "type": "number",
            "description": "Field: Candle.MorningStar"
          },
          "Candle.ShootingStar": {
            "type": "number",
            "description": "Field: Candle.ShootingStar"
          },
          "Candle.SpinningTop.Black": {
            "type": "number",
            "description": "Field: Candle.SpinningTop.Black"
          },
          "Candle.SpinningTop.White": {
            "type": "number",
            "description": "Field: Candle.SpinningTop.White"
          },
          "Candle.TriStar.Bearish": {
            "type": "number",
            "description": "Field: Candle.TriStar.Bearish"
          },
          "Candle.TriStar.Bullish": {
            "type": "number",
            "description": "Field: Candle.TriStar.Bullish"
          },
          "DonchCh20.Middle": {
            "type": "number",
            "description": "Field: DonchCh20.Middle"
          },
          "EMA2": {
            "type": "number",
            "description": "Field: EMA2"
          },
          "EMA3": {
            "type": "number",
            "description": "Field: EMA3"
          },
          "EMA6": {
            "type": "number",
            "description": "Field: EMA6"
          },
          "EMA7": {
            "type": "number",
            "description": "Field: EMA7"
          },
          "EMA8": {
            "type": "number",
            "description": "Field: EMA8"
          },
          "EMA9": {
            "type": "number",
            "description": "Field: EMA9"
          },
          "EMA12": {
            "type": "number",
            "description": "Field: EMA12"
          },
          "EMA13": {
            "type": "number",
            "description": "Field: EMA13"
          },
          "EMA14": {
            "type": "number",
            "description": "Field: EMA14"
          },
          "EMA15": {
            "type": "number",
            "description": "Field: EMA15"
          },
          "EMA21": {
            "type": "number",
            "description": "Field: EMA21"
          },
          "EMA25": {
            "type": "number",
            "description": "Field: EMA25"
          },
          "EMA26": {
            "type": "number",
            "description": "Field: EMA26"
          },
          "EMA34": {
            "type": "number",
            "description": "Field: EMA34"
          },
          "EMA40": {
            "type": "number",
            "description": "Field: EMA40"
          },
          "EMA55": {
            "type": "number",
            "description": "Field: EMA55"
          },
          "EMA60": {
            "type": "number",
            "description": "Field: EMA60"
          },
          "EMA75": {
            "type": "number",
            "description": "Field: EMA75"
          },
          "EMA89": {
            "type": "number",
            "description": "Field: EMA89"
          },
          "EMA120": {
            "type": "number",
            "description": "Field: EMA120"
          },
          "EMA144": {
            "type": "number",
            "description": "Field: EMA144"
          },
          "EMA150": {
            "type": "number",
            "description": "Field: EMA150"
          },
          "EMA250": {
            "type": "number",
            "description": "Field: EMA250"
          },
          "EMA300": {
            "type": "number",
            "description": "Field: EMA300"
          },
          "High.1M.Date": {
            "type": "string",
            "description": "Field: High.1M.Date"
          },
          "High.3M.Date": {
            "type": "string",
            "description": "Field: High.3M.Date"
          },
          "High.5D": {
            "type": "number",
            "description": "Field: High.5D"
          },
          "High.6M.Date": {
            "type": "string",
            "description": "Field: High.6M.Date"
          },
          "High.All.Calc": {
            "type": "number",
            "description": "Field: High.All.Calc"
          },
          "High.All.Calc.Date": {
            "type": "string",
            "description": "Field: High.All.Calc.Date"
          },
          "High.All.Date": {
            "type": "string",
            "description": "Field: High.All.Date"
          },
          "HullMA20": {
            "type": "number",
            "description": "Field: HullMA20"
          },
          "HullMA200": {
            "type": "number",
            "description": "Field: HullMA200"
          },
          "Ichimoku.BLine_20_60_120_30": {
            "type": "number",
            "description": "Field: Ichimoku.BLine_20_60_120_30"
          },
          "Ichimoku.CLine_20_60_120_30": {
            "type": "number",
            "description": "Field: Ichimoku.CLine_20_60_120_30"
          },
          "Ichimoku.Lead1_20_60_120_30": {
            "type": "number",
            "description": "Field: Ichimoku.Lead1_20_60_120_30"
          },
          "Ichimoku.Lead2_20_60_120_30": {
            "type": "number",
            "description": "Field: Ichimoku.Lead2_20_60_120_30"
          },
          "KltChnl.basis": {
            "type": "number",
            "description": "Field: KltChnl.basis"
          },
          "Low.1M.Date": {
            "type": "string",
            "description": "Field: Low.1M.Date"
          },
          "Low.3M.Date": {
            "type": "string",
            "description": "Field: Low.3M.Date"
          },
          "Low.5D": {
            "type": "number",
            "description": "Field: Low.5D"
          },
          "Low.6M.Date": {
            "type": "string",
            "description": "Field: Low.6M.Date"
          },
          "Low.After.High.All": {
            "type": "number",
            "description": "Field: Low.After.High.All"
          },
          "Low.All.Calc": {
            "type": "number",
            "description": "Field: Low.All.Calc"
          },
          "Low.All.Calc.Date": {
            "type": "string",
            "description": "Field: Low.All.Calc.Date"
          },
          "Low.All.Date": {
            "type": "string",
            "description": "Field: Low.All.Date"
          },
          "MACD.hist": {
            "type": "number",
            "description": "Field: MACD.hist"
          },
          "Mom[1]": {
            "type": "number",
            "description": "Field: Mom[1]"
          },
          "Mom_14": {
            "type": "number",
            "description": "Field: Mom_14"
          },
          "Mom_14[1]": {
            "type": "number",
            "description": "Field: Mom_14[1]"
          },
          "Open.All.Calc": {
            "type": "number",
            "description": "Field: Open.All.Calc"
          },
          "Perf.10Y": {
            "type": "number",
            "description": "Field: Perf.10Y"
          },
          "Perf.3Y": {
            "type": "number",
            "description": "Field: Perf.3Y"
          },
          "Perf.5D": {
            "type": "number",
            "description": "Field: Perf.5D"
          },
          "RSI2": {
            "type": "number",
            "description": "Field: RSI2"
          },
          "RSI3": {
            "type": "number",
            "description": "Field: RSI3"
          },
          "RSI4": {
            "type": "number",
            "description": "Field: RSI4"
          },
          "RSI5": {
            "type": "number",
            "description": "Field: RSI5"
          },
          "RSI9": {
            "type": "number",
            "description": "Field: RSI9"
          },
          "RSI10": {
            "type": "number",
            "description": "Field: RSI10"
          },
          "RSI20": {
            "type": "number",
            "description": "Field: RSI20"
          },
          "RSI21": {
            "type": "number",
            "description": "Field: RSI21"
          },
          "RSI30": {
            "type": "number",
            "description": "Field: RSI30"
          },
          "RSI10[1]": {
            "type": "number",
            "description": "Field: RSI10[1]"
          },
          "RSI20[1]": {
            "type": "number",
            "description": "Field: RSI20[1]"
          },
          "RSI21[1]": {
            "type": "number",
            "description": "Field: RSI21[1]"
          },
          "RSI2[1]": {
            "type": "number",
            "description": "Field: RSI2[1]"
          },
          "RSI30[1]": {
            "type": "number",
            "description": "Field: RSI30[1]"
          },
          "RSI3[1]": {
            "type": "number",
            "description": "Field: RSI3[1]"
          },
          "RSI4[1]": {
            "type": "number",
            "description": "Field: RSI4[1]"
          },
          "RSI5[1]": {
            "type": "number",
            "description": "Field: RSI5[1]"
          },
          "RSI7[1]": {
            "type": "number",
            "description": "Field: RSI7[1]"
          },
          "RSI9[1]": {
            "type": "number",
            "description": "Field: RSI9[1]"
          },
          "RSI[1]": {
            "type": "number",
            "description": "Field: RSI[1]"
          },
          "Rec.BBPower": {
            "type": "number",
            "description": "Field: Rec.BBPower"
          },
          "Rec.HullMA9": {
            "type": "number",
            "description": "Field: Rec.HullMA9"
          },
          "Rec.Ichimoku": {
            "type": "number",
            "description": "Field: Rec.Ichimoku"
          },
          "Rec.Stoch.RSI": {
            "type": "number",
            "description": "Field: Rec.Stoch.RSI"
          },
          "Rec.UO": {
            "type": "number",
            "description": "Field: Rec.UO"
          },
          "Rec.VWMA": {
            "type": "number",
            "description": "Field: Rec.VWMA"
          },
          "Rec.WR": {
            "type": "number",
            "description": "Field: Rec.WR"
          },
          "SMA2": {
            "type": "number",
            "description": "Field: SMA2"
          },
          "SMA3": {
            "type": "number",
            "description": "Field: SMA3"
          },
          "SMA6": {
            "type": "number",
            "description": "Field: SMA6"
          },
          "SMA7": {
            "type": "number",
            "description": "Field: SMA7"
          },
          "SMA8": {
            "type": "number",
            "description": "Field: SMA8"
          },
          "SMA9": {
            "type": "number",
            "description": "Field: SMA9"
          },
          "SMA12": {
            "type": "number",
            "description": "Field: SMA12"
          },
          "SMA13": {
            "type": "number",
            "description": "Field: SMA13"
          },
          "SMA14": {
            "type": "number",
            "description": "Field: SMA14"
          },
          "SMA15": {
            "type": "number",
            "description": "Field: SMA15"
          },
          "SMA21": {
            "type": "number",
            "description": "Field: SMA21"
          },
          "SMA25": {
            "type": "number",
            "description": "Field: SMA25"
          },
          "SMA26": {
            "type": "number",
            "description": "Field: SMA26"
          },
          "SMA34": {
            "type": "number",
            "description": "Field: SMA34"
          },
          "SMA40": {
            "type": "number",
            "description": "Field: SMA40"
          },
          "SMA55": {
            "type": "number",
            "description": "Field: SMA55"
          },
          "SMA60": {
            "type": "number",
            "description": "Field: SMA60"
          },
          "SMA75": {
            "type": "number",
            "description": "Field: SMA75"
          },
          "SMA89": {
            "type": "number",
            "description": "Field: SMA89"
          },
          "SMA120": {
            "type": "number",
            "description": "Field: SMA120"
          },
          "SMA144": {
            "type": "number",
            "description": "Field: SMA144"
          },
          "SMA150": {
            "type": "number",
            "description": "Field: SMA150"
          },
          "SMA250": {
            "type": "number",
            "description": "Field: SMA250"
          },
          "SMA300": {
            "type": "number",
            "description": "Field: SMA300"
          },
          "Stoch.D[1]": {
            "type": "number",
            "description": "Field: Stoch.D[1]"
          },
          "Stoch.D_14_1_3": {
            "type": "number",
            "description": "Field: Stoch.D_14_1_3"
          },
          "Stoch.D_14_1_3[1]": {
            "type": "number",
            "description": "Field: Stoch.D_14_1_3[1]"
          },
          "Stoch.D_5_3_3": {
            "type": "number",
            "description": "Field: Stoch.D_5_3_3"
          },
          "Stoch.D_5_3_3[1]": {
            "type": "number",
            "description": "Field: Stoch.D_5_3_3[1]"
          },
          "Stoch.D_6_3_3": {
            "type": "number",
            "description": "Field: Stoch.D_6_3_3"
          },
          "Stoch.D_6_3_3[1]": {
            "type": "number",
            "description": "Field: Stoch.D_6_3_3[1]"
          },
          "Stoch.D_8_3_3": {
            "type": "number",
            "description": "Field: Stoch.D_8_3_3"
          },
          "Stoch.D_8_3_3[1]": {
            "type": "number",
            "description": "Field: Stoch.D_8_3_3[1]"
          },
          "Stoch.K[1]": {
            "type": "number",
            "description": "Field: Stoch.K[1]"
          },
          "Stoch.K_14_1_3": {
            "type": "number",
            "description": "Field: Stoch.K_14_1_3"
          },
          "Stoch.K_14_1_3[1]": {
            "type": "number",
            "description": "Field: Stoch.K_14_1_3[1]"
          },
          "Stoch.K_5_3_3": {
            "type": "number",
            "description": "Field: Stoch.K_5_3_3"
          },
          "Stoch.K_5_3_3[1]": {
            "type": "number",
            "description": "Field: Stoch.K_5_3_3[1]"
          },
          "Stoch.K_6_3_3": {
            "type": "number",
            "description": "Field: Stoch.K_6_3_3"
          },
          "Stoch.K_6_3_3[1]": {
            "type": "number",
            "description": "Field: Stoch.K_6_3_3[1]"
          },
          "Stoch.K_8_3_3": {
            "type": "number",
            "description": "Field: Stoch.K_8_3_3"
          },
          "Stoch.K_8_3_3[1]": {
            "type": "number",
            "description": "Field: Stoch.K_8_3_3[1]"
          },
          "all_time_high": {
            "type": "number",
            "description": "Field: all_time_high"
          },
          "all_time_high_day": {
            "type": "string",
            "description": "Field: all_time_high_day"
          },
          "all_time_low": {
            "type": "number",
            "description": "Field: all_time_low"
          },
          "all_time_low_day": {
            "type": "string",
            "description": "Field: all_time_low_day"
          },
          "all_time_open": {
            "type": "number",
            "description": "Field: all_time_open"
          },
          "bars_count": {
            "type": "number",
            "description": "Field: bars_count"
          },
          "base_currency_kind": {
            "type": "string",
            "description": "Field: base_currency_kind",
            "enum": [
              "crypto",
              "fiat"
            ]
          },
          "country_code": {
            "type": "string",
            "description": "Field: country_code",
            "enum": [
              "AE",
              "AR",
              "AU",
              "BE",
              "BR",
              "CA",
              "CN",
              "EU",
              "FR",
              "GB",
              "HK",
              "HU",
              "IN",
              "JP",
              "KR",
              "MY",
              "NL",
              "NO",
              "NZ",
              "PL",
              "PT",
              "RU",
              "SG",
              "TH",
              "TR",
              "TW",
              "US",
              "VN"
            ]
          },
          "coupon": {
            "type": "number",
            "description": "Field: coupon"
          },
          "cryptoasset-info.description": {
            "type": "string",
            "description": "Field: cryptoasset-info.description"
          },
          "cryptoasset-info.id": {
            "type": "string",
            "description": "Field: cryptoasset-info.id"
          },
          "currency_id": {
            "type": "string",
            "description": "Field: currency_id",
            "enum": [
              "AED",
              "ARS",
              "AUD",
              "BRL",
              "CAD",
              "CHF",
              "CLP",
              "CNY",
              "CZK",
              "DKK",
              "EUR",
              "GBP",
              "HKD",
              "HUF",
              "INR",
              "JPY",
              "KRW",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "PLN",
              "RON",
              "RSD",
              "RUB",
              "SEK",
              "SGD",
              "THB",
              "TRY",
              "TWD",
              "UAH",
              "USD",
              "VND",
              "XTVCNH",
              "XTVGBX",
              "XTVUSX",
              "ZAR"
            ]
          },
          "currency_kind": {
            "type": "string",
            "description": "Field: currency_kind",
            "enum": [
              "fiat"
            ]
          },
          "current_session": {
            "type": "string",
            "description": "Field: current_session",
            "enum": [
              "market",
              "out_of_session",
              "pre_market"
            ]
          },
          "days_to_maturity": {
            "type": "number",
            "description": "Field: days_to_maturity"
          },
          "description": {
            "type": "string",
            "description": "Field: description"
          },
          "expiration": {
            "type": "string",
            "description": "Field: expiration"
          },
          "first_bar_time": {
            "type": "string",
            "description": "Field: first_bar_time"
          },
          "fractional": {
            "type": "string",
            "description": "Field: fractional",
            "enum": [
              "false",
              "true"
            ]
          },
          "fundamental_currency_code": {
            "type": "string",
            "description": "Field: fundamental_currency_code"
          },
          "gap_down": {
            "type": "number",
            "description": "Field: gap_down"
          },
          "gap_down_abs": {
            "type": "number",
            "description": "Field: gap_down_abs"
          },
          "gap_up": {
            "type": "number",
            "description": "Field: gap_up"
          },
          "gap_up_abs": {
            "type": "number",
            "description": "Field: gap_up_abs"
          },
          "indexes": {
            "type": "string",
            "description": "Field: indexes"
          },
          "indicators_bars_count": {
            "type": "number",
            "description": "Field: indicators_bars_count"
          },
          "is_blacklisted": {
            "type": "boolean",
            "description": "Field: is_blacklisted"
          },
          "is_shariah_compliant": {
            "type": "boolean",
            "description": "Field: is_shariah_compliant"
          },
          "last_bar_update_time": {
            "type": "number",
            "description": "Field: last_bar_update_time"
          },
          "logoid": {
            "type": "string",
            "description": "Field: logoid"
          },
          "low_after_high_all_change": {
            "type": "number",
            "description": "Field: low_after_high_all_change"
          },
          "low_after_high_all_change_abs": {
            "type": "number",
            "description": "Field: low_after_high_all_change_abs"
          },
          "market": {
            "type": "string",
            "description": "Field: market",
            "enum": [
              "futures"
            ]
          },
          "maturity_date": {
            "type": "string",
            "description": "Field: maturity_date"
          },
          "minmov": {
            "type": "number",
            "description": "Field: minmov"
          },
          "minmove2": {
            "type": "number",
            "description": "Field: minmove2"
          },
          "name": {
            "type": "string",
            "description": "Field: name"
          },
          "open_interest": {
            "type": "number",
            "description": "Field: open_interest"
          },
          "popularity_rank": {
            "type": "number",
            "description": "Field: popularity_rank"
          },
          "post_change": {
            "type": "number",
            "description": "Field: post_change"
          },
          "pre_change": {
            "type": "number",
            "description": "Field: pre_change"
          },
          "pre_change_abs": {
            "type": "number",
            "description": "Field: pre_change_abs"
          },
          "price_52_week_high_date": {
            "type": "string",
            "description": "Field: price_52_week_high_date"
          },
          "price_52_week_low_date": {
            "type": "string",
            "description": "Field: price_52_week_low_date"
          },
          "pricescale": {
            "type": "number",
            "description": "Field: pricescale"
          },
          "product": {
            "type": "string",
            "description": "Field: product",
            "enum": [
              "Commodity/Agriculture",
              "Commodity/Agriculture/Dairy",
              "Commodity/Agriculture/Fertilizer",
              "Commodity/Agriculture/GrainAndSeed",
              "Commodity/Agriculture/GrainAndSeed/AdzukiBean",
              "Commodity/Agriculture/GrainAndSeed/Barley",
              "Commodity/Agriculture/GrainAndSeed/Corn",
              "Commodity/Agriculture/GrainAndSeed/Millet",
              "Commodity/Agriculture/GrainAndSeed/Oats",
              "Commodity/Agriculture/GrainAndSeed/PalmOil",
              "Commodity/Agriculture/GrainAndSeed/Rapeseed",
              "Commodity/Agriculture/GrainAndSeed/Rice/Rough",
              "Commodity/Agriculture/GrainAndSeed/Soybean",
              "Commodity/Agriculture/GrainAndSeed/Soybean/Meal",
              "Commodity/Agriculture/GrainAndSeed/Soybean/Oil",
              "Commodity/Agriculture/GrainAndSeed/Sunflower",
              "Commodity/Agriculture/GrainAndSeed/Wheat",
              "Commodity/Agriculture/GrainAndSeed/Wheat/HRS",
              "Commodity/Agriculture/GrainAndSeed/Wheat/HRW",
              "Commodity/Agriculture/GrainAndSeed/Wheat/SRW",
              "Commodity/Agriculture/Livestock",
              "Commodity/Agriculture/Livestock/Cattle/Feeder",
              "Commodity/Agriculture/Livestock/Cattle/Live",
              "Commodity/Agriculture/Livestock/Hog",
              "Commodity/Agriculture/Lumber",
              "Commodity/Agriculture/Softs",
              "Commodity/Agriculture/Softs/CastorOil",
              "Commodity/Agriculture/Softs/CastorSeed",
              "Commodity/Agriculture/Softs/Cocoa",
              "Commodity/Agriculture/Softs/Coffee/Arabica",
              "Commodity/Agriculture/Softs/Coffee/Robusta",
              "Commodity/Agriculture/Softs/Coriander",
              "Commodity/Agriculture/Softs/Cotton/CottonSeed",
              "Commodity/Agriculture/Softs/Cotton/Kapas",
              "Commodity/Agriculture/Softs/Cotton/Raw",
              "Commodity/Agriculture/Softs/Cumin",
              "Commodity/Agriculture/Softs/FrozenOrangeJuice",
              "Commodity/Agriculture/Softs/Guar",
              "Commodity/Agriculture/Softs/Isabgol",
              "Commodity/Agriculture/Softs/MenthaOil",
              "Commodity/Agriculture/Softs/Rubber",
              "Commodity/Agriculture/Softs/Sesame",
              "Commodity/Agriculture/Softs/Sugar",
              "Commodity/Agriculture/Softs/Sugar/Raw",
              "Commodity/Agriculture/Softs/Sugar/White",
              "Commodity/Agriculture/Softs/Turmeric",
              "Commodity/Energy",
              "Commodity/Energy/Biofuel",
              "Commodity/Energy/Coal",
              "Commodity/Energy/Electricity",
              "Commodity/Energy/Emissions",
              "Commodity/Energy/Freight",
              "Commodity/Energy/NatGas",
              "Commodity/Energy/Oil",
              "Commodity/Energy/Oil/CrudeOil",
              "Commodity/Energy/Oil/CrudeOil/BAKKEN",
              "Commodity/Energy/Oil/CrudeOil/Brent",
              "Commodity/Energy/Oil/CrudeOil/Dubai",
              "Commodity/Energy/Oil/CrudeOil/Murban",
              "Commodity/Energy/Oil/CrudeOil/WTI",
              "Commodity/Energy/Oil/Refined",
              "Commodity/Energy/Oil/Refined/Gasoil",
              "Commodity/Energy/Oil/Refined/Gasoline",
              "Commodity/Energy/Oil/Refined/Heating",
              "Commodity/Metals",
              "Commodity/Metals/Ferrous",
              "Commodity/Metals/Ferrous/Steel",
              "Commodity/Metals/NonFerrous",
              "Commodity/Metals/NonFerrous/Aluminium",
              "Commodity/Metals/NonFerrous/Cobalt",
              "Commodity/Metals/NonFerrous/Copper",
              "Commodity/Metals/NonFerrous/Lead",
              "Commodity/Metals/NonFerrous/Lithium",
              "Commodity/Metals/NonFerrous/Molybdenum",
              "Commodity/Metals/NonFerrous/Nickel",
              "Commodity/Metals/NonFerrous/Tin",
              "Commodity/Metals/NonFerrous/Uranium",
              "Commodity/Metals/NonFerrous/Zinc",
              "Commodity/Metals/Precious",
              "Commodity/Metals/Precious/Gold",
              "Commodity/Metals/Precious/Palladium",
              "Commodity/Metals/Precious/Platinum",
              "Commodity/Metals/Precious/Silver",
              "Commodity/Weather",
              "Financial/Currency",
              "Financial/Equity",
              "Financial/Index",
              "Financial/InterestRate"
            ]
          },
          "provider-id": {
            "type": "string",
            "description": "Field: provider-id",
            "enum": [
              "alor",
              "ice"
            ]
          },
          "rates_cf": {
            "type": "object",
            "description": "Field: rates_cf"
          },
          "rates_current": {
            "type": "object",
            "description": "Field: rates_current"
          },
          "rates_dividend_recent": {
            "type": "object",
            "description": "Field: rates_dividend_recent"
          },
          "rates_dividend_upcoming": {
            "type": "object",
            "description": "Field: rates_dividend_upcoming"
          },
          "rates_earnings_fq": {
            "type": "object",
            "description": "Field: rates_earnings_fq"
          },
          "rates_earnings_next_fq": {
            "type": "object",
            "description": "Field: rates_earnings_next_fq"
          },
          "rates_fh": {
            "type": "object",
            "description": "Field: rates_fh"
          },
          "rates_fq": {
            "type": "object",
            "description": "Field: rates_fq"
          },
          "rates_fy": {
            "type": "object",
            "description": "Field: rates_fy"
          },
          "rates_mc": {
            "type": "object",
            "description": "Field: rates_mc"
          },
          "rates_pt": {
            "type": "object",
            "description": "Field: rates_pt"
          },
          "rates_time_series": {
            "type": "object",
            "description": "Field: rates_time_series"
          },
          "rates_ttm": {
            "type": "object",
            "description": "Field: rates_ttm"
          },
          "source-logoid": {
            "type": "string",
            "description": "Field: source-logoid",
            "enum": [
              "country/AE",
              "source/ADX",
              "source/ASX24",
              "source/BET",
              "source/BIST",
              "source/BMFBOVESPA",
              "source/BSE",
              "source/CBOE",
              "source/CBOT",
              "source/CBOT_MINI",
              "source/CFFEX",
              "source/CME",
              "source/CME_MINI",
              "source/COMEX",
              "source/COMEX_MINI",
              "source/DFM",
              "source/EUREX",
              "source/EURONEXT",
              "source/GPW",
              "source/HKEX",
              "source/HNX",
              "source/ICEAD",
              "source/ICEENDEX",
              "source/ICEEUR",
              "source/ICESG",
              "source/ICEUS",
              "source/KRX",
              "source/LME",
              "source/MATBAROFEX",
              "source/MCX",
              "source/MGEX",
              "source/MSEI",
              "source/MYX",
              "source/NCDEX",
              "source/NSE",
              "source/NSEIX",
              "source/NYMEX",
              "source/NYMEX_MINI",
              "source/NZX",
              "source/OSE",
              "source/RUS",
              "source/SGX",
              "source/SHFE",
              "source/TAIFEX",
              "source/TFEX",
              "source/TFX",
              "source/TMX",
              "source/TOCOM"
            ]
          },
          "subtype": {
            "type": "string",
            "description": "Field: subtype",
            "enum": [
              "",
              "continuous",
              "micro",
              "mini"
            ]
          },
          "time": {
            "type": "string",
            "description": "Field: time"
          },
          "time_business_day": {
            "type": "number",
            "description": "Field: time_business_day"
          },
          "typespecs": {
            "type": "array",
            "description": "Field: typespecs",
            "enum": [
              "",
              "continuous",
              "expired",
              "micro",
              "mini",
              "synthetic"
            ]
          },
          "update-time": {
            "type": "number",
            "description": "Field: update-time"
          },
          "update_mode": {
            "type": "string",
            "description": "Field: update_mode",
            "enum": [
              "delayed_streaming_1200",
              "endofday",
              "streaming"
            ]
          },
          "update_time": {
            "type": "string",
            "description": "Field: update_time"
          },
          "volume_change": {
            "type": "number",
            "description": "Field: volume_change"
          },
          "volume_change_abs": {
            "type": "number",
            "description": "Field: volume_change_abs"
          }
        }
      },
      "ScanRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "description": "Array of filters to apply"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return"
          },
          "range": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 2,
            "description": "Range of results [start, end]"
          }
        },
        "required": [
          "columns",
          "range"
        ]
      },
      "ScanResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketData"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "left": {
            "type": "string",
            "description": "Field name"
          },
          "operation": {
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "gt",
              "lt",
              "eq",
              "nz"
            ],
            "description": "Filter operation"
          },
          "right": {
            "type": "string",
            "description": "Filter value"
          }
        },
        "required": [
          "left",
          "operation",
          "right"
        ]
      },
      "Options": {
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "enum": [
              "en",
              "ru",
              "zh"
            ],
            "default": "en"
          },
          "decimal_places": {
            "type": "integer",
            "minimum": 0,
            "maximum": 8
          }
        }
      }
    }
  }
}