{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView ireland API",
    "version": "1.0.0",
    "description": "OpenAPI specification for TradingView ireland market scanner API.\n\n**Data Source**: tv-screener v0.4.0\n**Generator**: tv-generator v2.0.0\n**Generated**: 2025-06-25T15:39:47.095476\n\nThis specification is automatically generated from TradingView Scanner API metadata provided by the tv-screener library. All field definitions, types, and examples are sourced from official TradingView data structures.",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-data-source": "tv-screener",
    "x-data-version": "0.4.0",
    "x-generator": "tv-generator",
    "x-generator-version": "2.0.0",
    "x-generated-date": "2025-06-25T15:39:47.095476",
    "x-market": "ireland",
    "x-field-count": 3338
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "ireland",
      "description": "Market: ireland"
    }
  ],
  "paths": {
    "/ireland/scan": {
      "post": {
        "summary": "Scan ireland market",
        "description": "Scan ireland market with filters and options",
        "operationId": "scanIreland",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "TradingView session cookie for real-time data access"
      }
    },
    "schemas": {
      "MarketData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Symbol Type",
            "example": "stock",
            "enum": [
              "stock"
            ]
          },
          "is_primary": {
            "type": "boolean",
            "description": "Primary Listing",
            "example": true
          },
          "active_symbol": {
            "type": "boolean",
            "description": "Current trading day",
            "example": true
          },
          "earnings_per_share_basic_ttm": {
            "type": "string",
            "description": "Basic EPS (TTM)",
            "example": "example"
          },
          "change": {
            "type": "number",
            "description": "Change %",
            "example": 123.45
          },
          "change_abs": {
            "type": "number",
            "description": "Change",
            "example": 123.45
          },
          "market_cap_basic": {
            "type": "string",
            "description": "Market Capitalization",
            "example": "example"
          },
          "number_of_employees": {
            "type": "number",
            "description": "Number of Employees",
            "example": 123.45
          },
          "close": {
            "type": "number",
            "description": "Price",
            "example": 123.45
          },
          "price_earnings_ttm": {
            "type": "number",
            "description": "Price to Earnings Ratio (TTM)",
            "example": 123.45
          },
          "sector": {
            "type": "string",
            "description": "Group",
            "example": "Commercial Services",
            "enum": [
              "Commercial Services",
              "Consumer Durables",
              "Consumer Non-Durables",
              "Consumer Services",
              "Distribution Services",
              "Finance",
              "Health Technology",
              "Industrial Services",
              "Non-Energy Minerals",
              "Process Industries",
              "Producer Manufacturing",
              "Technology Services",
              "Transportation"
            ]
          },
          "Recommend.All": {
            "type": "number",
            "description": "Technical Rating",
            "example": 123.45
          },
          "volume": {
            "type": "number",
            "description": "Volume",
            "example": 123.45
          },
          "Value.Traded": {
            "type": "number",
            "description": "Volume*Price",
            "example": 123.45
          },
          "High.1M": {
            "type": "number",
            "description": "1-Month High",
            "example": 123.45
          },
          "Low.1M": {
            "type": "number",
            "description": "1-Month Low",
            "example": 123.45
          },
          "beta_1_year": {
            "type": "number",
            "description": "1-Year Beta",
            "example": 123.45
          },
          "High.3M": {
            "type": "number",
            "description": "3-Month High",
            "example": 123.45
          },
          "Low.3M": {
            "type": "number",
            "description": "3-Month Low",
            "example": 123.45
          },
          "Perf.3M": {
            "type": "number",
            "description": "3-Month Performance",
            "example": 123.45
          },
          "Perf.5Y": {
            "type": "number",
            "description": "5Y Performance",
            "example": 123.45
          },
          "High.6M": {
            "type": "number",
            "description": "6-Month High",
            "example": 123.45
          },
          "Low.6M": {
            "type": "number",
            "description": "6-Month Low",
            "example": 123.45
          },
          "Perf.6M": {
            "type": "number",
            "description": "6-Month Performance",
            "example": 123.45
          },
          "price_52_week_high": {
            "type": "number",
            "description": "52 Week High",
            "example": 123.45
          },
          "price_52_week_low": {
            "type": "number",
            "description": "52 Week Low",
            "example": 123.45
          },
          "High.All": {
            "type": "number",
            "description": "All Time High",
            "example": 123.45
          },
          "Low.All": {
            "type": "number",
            "description": "All Time Low",
            "example": 123.45
          },
          "Perf.All": {
            "type": "number",
            "description": "All Time Performance",
            "example": 123.45
          },
          "Aroon.Down": {
            "type": "number",
            "description": "Aroon Down (14)",
            "example": 123.45
          },
          "Aroon.Up": {
            "type": "number",
            "description": "Aroon Up (14)",
            "example": 123.45
          },
          "ADR": {
            "type": "number",
            "description": "Average Day Range (14)",
            "example": 123.45
          },
          "ADX": {
            "type": "number",
            "description": "Average Directional Index (14)",
            "example": 123.45
          },
          "ATR": {
            "type": "number",
            "description": "Average True Range (14)",
            "example": 123.45
          },
          "average_volume_10d_calc": {
            "type": "number",
            "description": "Average Volume (10 day)",
            "example": 123.45
          },
          "average_volume_30d_calc": {
            "type": "number",
            "description": "Average Volume (30 day)",
            "example": 123.45
          },
          "average_volume_60d_calc": {
            "type": "number",
            "description": "Average Volume (60 day)",
            "example": 123.45
          },
          "average_volume_90d_calc": {
            "type": "number",
            "description": "Average Volume (90 day)",
            "example": 123.45
          },
          "AO": {
            "type": "number",
            "description": "Awesome Oscillator",
            "example": 123.45
          },
          "basic_eps_net_income": {
            "type": "string",
            "description": "Basic EPS (FY)",
            "example": "example"
          },
          "BB.lower": {
            "type": "number",
            "description": "Bollinger Lower Band (20)",
            "example": 123.45
          },
          "BB.upper": {
            "type": "number",
            "description": "Bollinger Upper Band (20)",
            "example": 123.45
          },
          "BBPower": {
            "type": "number",
            "description": "Bull Bear Power",
            "example": 123.45
          },
          "cash_n_short_term_invest_fy": {
            "type": "string",
            "description": "Cash and short term investments (FY)",
            "example": "example"
          },
          "cash_n_short_term_invest_fq": {
            "type": "string",
            "description": "Cash and short term investments (MRQ)",
            "example": "example"
          },
          "cash_n_equivalents_fy": {
            "type": "string",
            "description": "Cash & Equivalents (FY)",
            "example": "example"
          },
          "cash_n_equivalents_fq": {
            "type": "string",
            "description": "Cash & Equivalents (MRQ)",
            "example": "example"
          },
          "ChaikinMoneyFlow": {
            "type": "number",
            "description": "Chaikin Money Flow (20)",
            "example": 123.45
          },
          "change_from_open": {
            "type": "number",
            "description": "Change from Open %",
            "example": 123.45
          },
          "change_from_open_abs": {
            "type": "number",
            "description": "Change from Open",
            "example": 123.45
          },
          "CCI20": {
            "type": "number",
            "description": "Commodity Channel Index (20)",
            "example": 123.45
          },
          "country": {
            "type": "string",
            "description": "Region",
            "example": "Ireland",
            "enum": [
              "Ireland",
              "Netherlands",
              "United Kingdom"
            ]
          },
          "current_ratio": {
            "type": "number",
            "description": "Current Ratio (MRQ)",
            "example": 123.45
          },
          "debt_to_equity": {
            "type": "number",
            "description": "Debt to Equity Ratio (MRQ)",
            "example": 123.45
          },
          "dividends_paid": {
            "type": "string",
            "description": "Dividends Paid (FY)",
            "example": "example"
          },
          "dps_common_stock_prim_issue_yoy_growth_fy": {
            "type": "number",
            "description": "Dividends per share (Annual YoY Growth)",
            "example": 123.45
          },
          "dps_common_stock_prim_issue_fy": {
            "type": "string",
            "description": "Dividends per Share (FY)",
            "example": "example"
          },
          "dividends_per_share_fq": {
            "type": "string",
            "description": "Dividends per Share (MRQ)",
            "example": "example"
          },
          "dividend_yield_recent": {
            "type": "number",
            "description": "Dividend Yield Forward",
            "example": 123.45
          },
          "DonchCh20.Lower": {
            "type": "number",
            "description": "Donchian Channels Lower Band (20)",
            "example": 123.45
          },
          "DonchCh20.Upper": {
            "type": "number",
            "description": "Donchian Channels Upper Band (20)",
            "example": 123.45
          },
          "ebitda_yoy_growth_fy": {
            "type": "number",
            "description": "EBITDA (Annual YoY Growth)",
            "example": 123.45
          },
          "ebitda_qoq_growth_fq": {
            "type": "number",
            "description": "EBITDA (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "ebitda_yoy_growth_fq": {
            "type": "number",
            "description": "EBITDA (Quarterly YoY Growth)",
            "example": 123.45
          },
          "ebitda": {
            "type": "string",
            "description": "EBITDA (TTM)",
            "example": "example"
          },
          "ebitda_yoy_growth_ttm": {
            "type": "number",
            "description": "EBITDA (TTM YoY Growth)",
            "example": 123.45
          },
          "enterprise_value_ebitda_ttm": {
            "type": "number",
            "description": "Enterprise Value/EBITDA (TTM)",
            "example": 123.45
          },
          "enterprise_value_fq": {
            "type": "string",
            "description": "Enterprise Value (MRQ)",
            "example": "example"
          },
          "earnings_per_share_diluted_yoy_growth_fy": {
            "type": "number",
            "description": "EPS Diluted (Annual YoY Growth)",
            "example": 123.45
          },
          "last_annual_eps": {
            "type": "string",
            "description": "EPS Diluted (FY)",
            "example": "example"
          },
          "earnings_per_share_fq": {
            "type": "string",
            "description": "EPS Diluted (MRQ)",
            "example": "example"
          },
          "earnings_per_share_diluted_qoq_growth_fq": {
            "type": "number",
            "description": "EPS Diluted (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "earnings_per_share_diluted_yoy_growth_fq": {
            "type": "number",
            "description": "EPS Diluted (Quarterly YoY Growth)",
            "example": 123.45
          },
          "earnings_per_share_diluted_ttm": {
            "type": "string",
            "description": "EPS Diluted (TTM)",
            "example": "example"
          },
          "earnings_per_share_diluted_yoy_growth_ttm": {
            "type": "number",
            "description": "EPS Diluted (TTM YoY Growth)",
            "example": 123.45
          },
          "earnings_per_share_forecast_next_fq": {
            "type": "string",
            "description": "EPS Forecast (MRQ)",
            "example": "example"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange",
            "example": "EURONEXT",
            "enum": [
              "EURONEXT"
            ]
          },
          "EMA5": {
            "type": "number",
            "description": "Exponential Moving Average (5)",
            "example": 123.45
          },
          "EMA10": {
            "type": "number",
            "description": "Exponential Moving Average (10)",
            "example": 123.45
          },
          "EMA20": {
            "type": "number",
            "description": "Exponential Moving Average (20)",
            "example": 123.45
          },
          "EMA30": {
            "type": "number",
            "description": "Exponential Moving Average (30)",
            "example": 123.45
          },
          "EMA50": {
            "type": "number",
            "description": "Exponential Moving Average (50)",
            "example": 123.45
          },
          "EMA100": {
            "type": "number",
            "description": "Exponential Moving Average (100)",
            "example": 123.45
          },
          "EMA200": {
            "type": "number",
            "description": "Exponential Moving Average (200)",
            "example": 123.45
          },
          "free_cash_flow_yoy_growth_fy": {
            "type": "number",
            "description": "Free Cash Flow (Annual YoY Growth)",
            "example": 123.45
          },
          "free_cash_flow_margin_fy": {
            "type": "number",
            "description": "Free Cash Flow Margin (FY)",
            "example": 123.45
          },
          "free_cash_flow_margin_ttm": {
            "type": "number",
            "description": "Free Cash Flow Margin (TTM)",
            "example": 123.45
          },
          "free_cash_flow_qoq_growth_fq": {
            "type": "number",
            "description": "Free Cash Flow (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "free_cash_flow_yoy_growth_fq": {
            "type": "number",
            "description": "Free Cash Flow (Quarterly YoY Growth)",
            "example": 123.45
          },
          "free_cash_flow_yoy_growth_ttm": {
            "type": "number",
            "description": "Free Cash Flow (TTM YoY Growth)",
            "example": 123.45
          },
          "gap": {
            "type": "number",
            "description": "Gap %",
            "example": 123.45
          },
          "goodwill": {
            "type": "string",
            "description": "Goodwill",
            "example": "example"
          },
          "gross_profit_margin_fy": {
            "type": "number",
            "description": "Gross Margin (FY)",
            "example": 123.45
          },
          "gross_margin": {
            "type": "number",
            "description": "Gross Margin (TTM)",
            "example": 123.45
          },
          "gross_profit_yoy_growth_fy": {
            "type": "number",
            "description": "Gross Profit (Annual YoY Growth)",
            "example": 123.45
          },
          "gross_profit": {
            "type": "string",
            "description": "Gross Profit (FY)",
            "example": "example"
          },
          "gross_profit_fq": {
            "type": "string",
            "description": "Gross Profit (MRQ)",
            "example": "example"
          },
          "gross_profit_qoq_growth_fq": {
            "type": "number",
            "description": "Gross Profit (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "gross_profit_yoy_growth_fq": {
            "type": "number",
            "description": "Gross Profit (Quarterly YoY Growth)",
            "example": 123.45
          },
          "gross_profit_yoy_growth_ttm": {
            "type": "number",
            "description": "Gross Profit (TTM YoY Growth)",
            "example": 123.45
          },
          "high": {
            "type": "number",
            "description": "High",
            "example": 123.45
          },
          "HullMA9": {
            "type": "number",
            "description": "Hull Moving Average (9)",
            "example": 123.45
          },
          "Ichimoku.BLine": {
            "type": "number",
            "description": "Ichimoku Base Line (9, 26, 52, 26)",
            "example": 123.45
          },
          "Ichimoku.CLine": {
            "type": "number",
            "description": "Ichimoku Conversion Line (9, 26, 52, 26)",
            "example": 123.45
          },
          "Ichimoku.Lead1": {
            "type": "number",
            "description": "Ichimoku Leading Span A (9, 26, 52, 26)",
            "example": 123.45
          },
          "Ichimoku.Lead2": {
            "type": "number",
            "description": "Ichimoku Leading Span B (9, 26, 52, 26)",
            "example": 123.45
          },
          "industry": {
            "type": "string",
            "description": "Industry",
            "example": "Agricultural Commodities/Milling",
            "enum": [
              "Agricultural Commodities/Milling",
              "Airlines",
              "Biotechnology",
              "Building Products",
              "Engineering & Construction",
              "Financial Conglomerates",
              "Food: Meat/Fish/Dairy",
              "Food: Specialty/Candy",
              "Homebuilding",
              "Hotels/Resorts/Cruise lines",
              "Investment Banks/Brokers",
              "Major Banks",
              "Marine Shipping",
              "Medical Distributors",
              "Miscellaneous Commercial Services",
              "Other Metals/Minerals",
              "Packaged Software",
              "Pharmaceuticals: Major",
              "Precious Metals",
              "Property/Casualty Insurance",
              "Real Estate Investment Trusts",
              "Trucks/Construction/Farm Machinery"
            ]
          },
          "KltChnl.lower": {
            "type": "number",
            "description": "Keltner Channels Lower Band (20)",
            "example": 123.45
          },
          "KltChnl.upper": {
            "type": "number",
            "description": "Keltner Channels Upper Band (20)",
            "example": 123.45
          },
          "last_annual_revenue": {
            "type": "string",
            "description": "Last Year Revenue (FY)",
            "example": "example"
          },
          "low": {
            "type": "number",
            "description": "Low",
            "example": 123.45
          },
          "MACD.macd": {
            "type": "number",
            "description": "MACD Level (12, 26)",
            "example": 123.45
          },
          "MACD.signal": {
            "type": "number",
            "description": "MACD Signal (12, 26)",
            "example": 123.45
          },
          "Mom": {
            "type": "number",
            "description": "Momentum (10)",
            "example": 123.45
          },
          "MoneyFlow": {
            "type": "number",
            "description": "Money Flow (14)",
            "example": 123.45
          },
          "Perf.1M": {
            "type": "number",
            "description": "Monthly Performance",
            "example": 123.45
          },
          "Recommend.MA": {
            "type": "number",
            "description": "Moving Averages Rating",
            "example": 123.45
          },
          "ADX-DI": {
            "type": "number",
            "description": "Negative Directional Indicator (14)",
            "example": 123.45
          },
          "net_debt": {
            "type": "string",
            "description": "Net Debt (MRQ)",
            "example": "example"
          },
          "net_income_yoy_growth_fy": {
            "type": "number",
            "description": "Net Income (Annual YoY Growth)",
            "example": 123.45
          },
          "net_income": {
            "type": "string",
            "description": "Net Income (FY)",
            "example": "example"
          },
          "net_income_qoq_growth_fq": {
            "type": "number",
            "description": "Net Income (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "net_income_yoy_growth_fq": {
            "type": "number",
            "description": "Net Income (Quarterly YoY Growth)",
            "example": 123.45
          },
          "net_income_yoy_growth_ttm": {
            "type": "number",
            "description": "Net Income (TTM YoY Growth)",
            "example": 123.45
          },
          "net_income_bef_disc_oper_margin_fy": {
            "type": "number",
            "description": "Net Margin (FY)",
            "example": 123.45
          },
          "after_tax_margin": {
            "type": "number",
            "description": "Net Margin (TTM)",
            "example": 123.45
          },
          "number_of_shareholders": {
            "type": "number",
            "description": "Number of Shareholders",
            "example": 123.45
          },
          "open": {
            "type": "number",
            "description": "Open",
            "example": 123.45
          },
          "oper_income_margin_fy": {
            "type": "number",
            "description": "Operating Margin (FY)",
            "example": 123.45
          },
          "operating_margin": {
            "type": "number",
            "description": "Operating Margin (TTM)",
            "example": 123.45
          },
          "Recommend.Other": {
            "type": "number",
            "description": "Oscillators Rating",
            "example": 123.45
          },
          "P.SAR": {
            "type": "number",
            "description": "Parabolic SAR",
            "example": 123.45
          },
          "Pivot.M.Camarilla.Middle": {
            "type": "number",
            "description": "Pivot Camarilla P",
            "example": 123.45
          },
          "Pivot.M.Camarilla.R1": {
            "type": "number",
            "description": "Pivot Camarilla R1",
            "example": 123.45
          },
          "Pivot.M.Camarilla.R2": {
            "type": "number",
            "description": "Pivot Camarilla R2",
            "example": 123.45
          },
          "Pivot.M.Camarilla.R3": {
            "type": "number",
            "description": "Pivot Camarilla R3",
            "example": 123.45
          },
          "Pivot.M.Camarilla.S1": {
            "type": "number",
            "description": "Pivot Camarilla S1",
            "example": 123.45
          },
          "Pivot.M.Camarilla.S2": {
            "type": "number",
            "description": "Pivot Camarilla S2",
            "example": 123.45
          },
          "Pivot.M.Camarilla.S3": {
            "type": "number",
            "description": "Pivot Camarilla S3",
            "example": 123.45
          },
          "Pivot.M.Classic.Middle": {
            "type": "number",
            "description": "Pivot Classic P",
            "example": 123.45
          },
          "Pivot.M.Classic.R1": {
            "type": "number",
            "description": "Pivot Classic R1",
            "example": 123.45
          },
          "Pivot.M.Classic.R2": {
            "type": "number",
            "description": "Pivot Classic R2",
            "example": 123.45
          },
          "Pivot.M.Classic.R3": {
            "type": "number",
            "description": "Pivot Classic R3",
            "example": 123.45
          },
          "Pivot.M.Classic.S1": {
            "type": "number",
            "description": "Pivot Classic S1",
            "example": 123.45
          },
          "Pivot.M.Classic.S2": {
            "type": "number",
            "description": "Pivot Classic S2",
            "example": 123.45
          },
          "Pivot.M.Classic.S3": {
            "type": "number",
            "description": "Pivot Classic S3",
            "example": 123.45
          },
          "Pivot.M.Demark.Middle": {
            "type": "number",
            "description": "Pivot DM P",
            "example": 123.45
          },
          "Pivot.M.Demark.R1": {
            "type": "number",
            "description": "Pivot DM R1",
            "example": 123.45
          },
          "Pivot.M.Demark.S1": {
            "type": "number",
            "description": "Pivot DM S1",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.Middle": {
            "type": "number",
            "description": "Pivot Fibonacci P",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.R1": {
            "type": "number",
            "description": "Pivot Fibonacci R1",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.R2": {
            "type": "number",
            "description": "Pivot Fibonacci R2",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.R3": {
            "type": "number",
            "description": "Pivot Fibonacci R3",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.S1": {
            "type": "number",
            "description": "Pivot Fibonacci S1",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.S2": {
            "type": "number",
            "description": "Pivot Fibonacci S2",
            "example": 123.45
          },
          "Pivot.M.Fibonacci.S3": {
            "type": "number",
            "description": "Pivot Fibonacci S3",
            "example": 123.45
          },
          "Pivot.M.Woodie.Middle": {
            "type": "number",
            "description": "Pivot Woodie P",
            "example": 123.45
          },
          "Pivot.M.Woodie.R1": {
            "type": "number",
            "description": "Pivot Woodie R1",
            "example": 123.45
          },
          "Pivot.M.Woodie.R2": {
            "type": "number",
            "description": "Pivot Woodie R2",
            "example": 123.45
          },
          "Pivot.M.Woodie.R3": {
            "type": "number",
            "description": "Pivot Woodie R3",
            "example": 123.45
          },
          "Pivot.M.Woodie.S1": {
            "type": "number",
            "description": "Pivot Woodie S1",
            "example": 123.45
          },
          "Pivot.M.Woodie.S2": {
            "type": "number",
            "description": "Pivot Woodie S2",
            "example": 123.45
          },
          "Pivot.M.Woodie.S3": {
            "type": "number",
            "description": "Pivot Woodie S3",
            "example": 123.45
          },
          "ADX+DI": {
            "type": "number",
            "description": "Positive Directional Indicator (14)",
            "example": 123.45
          },
          "postmarket_change": {
            "type": "number",
            "description": "Post-market Change %",
            "example": 123.45
          },
          "postmarket_change_abs": {
            "type": "number",
            "description": "Post-market Change",
            "example": 123.45
          },
          "postmarket_close": {
            "type": "number",
            "description": "Post-market Close",
            "example": 123.45
          },
          "postmarket_high": {
            "type": "number",
            "description": "Post-market High",
            "example": 123.45
          },
          "postmarket_low": {
            "type": "number",
            "description": "Post-market Low",
            "example": 123.45
          },
          "postmarket_open": {
            "type": "number",
            "description": "Post-market Open",
            "example": 123.45
          },
          "postmarket_volume": {
            "type": "number",
            "description": "Post-market Volume",
            "example": 123.45
          },
          "premarket_change": {
            "type": "number",
            "description": "Pre-market Change %",
            "example": 123.45
          },
          "premarket_change_abs": {
            "type": "number",
            "description": "Pre-market Change",
            "example": 123.45
          },
          "premarket_change_from_open": {
            "type": "number",
            "description": "Pre-market Change from Open %",
            "example": 123.45
          },
          "premarket_change_from_open_abs": {
            "type": "number",
            "description": "Pre-market Change from Open",
            "example": 123.45
          },
          "premarket_close": {
            "type": "number",
            "description": "Pre-market Close",
            "example": 123.45
          },
          "premarket_gap": {
            "type": "number",
            "description": "Pre-market Gap %",
            "example": 123.45
          },
          "premarket_high": {
            "type": "number",
            "description": "Pre-market High",
            "example": 123.45
          },
          "premarket_low": {
            "type": "number",
            "description": "Pre-market Low",
            "example": 123.45
          },
          "premarket_open": {
            "type": "number",
            "description": "Pre-market Open",
            "example": 123.45
          },
          "premarket_volume": {
            "type": "number",
            "description": "Pre-market Volume",
            "example": 123.45
          },
          "pre_tax_margin": {
            "type": "number",
            "description": "Pretax Margin (TTM)",
            "example": 123.45
          },
          "price_book_ratio": {
            "type": "number",
            "description": "Price to Book (FY)",
            "example": 123.45
          },
          "price_book_fq": {
            "type": "number",
            "description": "Price to Book (MRQ)",
            "example": 123.45
          },
          "price_free_cash_flow_ttm": {
            "type": "number",
            "description": "Price to Free Cash Flow (TTM)",
            "example": 123.45
          },
          "price_revenue_ttm": {
            "type": "number",
            "description": "Price to Revenue Ratio (TTM)",
            "example": 123.45
          },
          "price_sales_ratio": {
            "type": "number",
            "description": "Price to Sales (FY)",
            "example": 123.45
          },
          "quick_ratio": {
            "type": "number",
            "description": "Quick Ratio (MRQ)",
            "example": 123.45
          },
          "ROC": {
            "type": "number",
            "description": "Rate Of Change (9)",
            "example": 123.45
          },
          "earnings_release_date": {
            "type": "string",
            "description": "Recent Earnings Date",
            "example": "example"
          },
          "RSI7": {
            "type": "number",
            "description": "Relative Strength Index (7)",
            "example": 123.45
          },
          "RSI": {
            "type": "number",
            "description": "Relative Strength Index (14)",
            "example": 123.45
          },
          "relative_volume_10d_calc": {
            "type": "number",
            "description": "Relative Volume",
            "example": 123.45
          },
          "research_and_dev_ratio_fy": {
            "type": "number",
            "description": "Research & development Ratio (FY)",
            "example": 123.45
          },
          "research_and_dev_ratio_ttm": {
            "type": "number",
            "description": "Research & development Ratio (TTM)",
            "example": 123.45
          },
          "return_on_assets": {
            "type": "number",
            "description": "Return on Assets (TTM)",
            "example": 123.45
          },
          "return_on_equity": {
            "type": "number",
            "description": "Return on Equity (TTM)",
            "example": 123.45
          },
          "return_on_invested_capital": {
            "type": "number",
            "description": "Return on Invested Capital (TTM)",
            "example": 123.45
          },
          "total_revenue_yoy_growth_fy": {
            "type": "number",
            "description": "Revenue (Annual YoY Growth)",
            "example": 123.45
          },
          "revenue_per_employee": {
            "type": "string",
            "description": "Revenue per Employee (FY)",
            "example": "example"
          },
          "total_revenue_qoq_growth_fq": {
            "type": "number",
            "description": "Revenue (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "total_revenue_yoy_growth_fq": {
            "type": "number",
            "description": "Revenue (Quarterly YoY Growth)",
            "example": 123.45
          },
          "total_revenue_yoy_growth_ttm": {
            "type": "number",
            "description": "Revenue (TTM YoY Growth)",
            "example": 123.45
          },
          "sell_gen_admin_exp_other_ratio_fy": {
            "type": "number",
            "description": "Selling General & Admin expenses Ratio (FY)",
            "example": 123.45
          },
          "sell_gen_admin_exp_other_ratio_ttm": {
            "type": "number",
            "description": "Selling General & Admin expenses Ratio (TTM)",
            "example": 123.45
          },
          "float_shares_outstanding": {
            "type": "number",
            "description": "Shares Float",
            "example": 123.45
          },
          "SMA5": {
            "type": "number",
            "description": "Simple Moving Average (5)",
            "example": 123.45
          },
          "SMA10": {
            "type": "number",
            "description": "Simple Moving Average (10)",
            "example": 123.45
          },
          "SMA20": {
            "type": "number",
            "description": "Simple Moving Average (20)",
            "example": 123.45
          },
          "SMA30": {
            "type": "number",
            "description": "Simple Moving Average (30)",
            "example": 123.45
          },
          "SMA50": {
            "type": "number",
            "description": "Simple Moving Average (50)",
            "example": 123.45
          },
          "SMA100": {
            "type": "number",
            "description": "Simple Moving Average (100)",
            "example": 123.45
          },
          "SMA200": {
            "type": "number",
            "description": "Simple Moving Average (200)",
            "example": 123.45
          },
          "Stoch.D": {
            "type": "number",
            "description": "Stochastic %D (14, 3, 3)",
            "example": 123.45
          },
          "Stoch.K": {
            "type": "number",
            "description": "Stochastic %K (14, 3, 3)",
            "example": 123.45
          },
          "Stoch.RSI.K": {
            "type": "number",
            "description": "Stochastic RSI Fast (3, 3, 14, 14)",
            "example": 123.45
          },
          "Stoch.RSI.D": {
            "type": "number",
            "description": "Stochastic RSI Slow (3, 3, 14, 14)",
            "example": 123.45
          },
          "submarket": {
            "type": "string",
            "description": "Submarket",
            "example": "",
            "enum": [
              ""
            ]
          },
          "total_assets_yoy_growth_fy": {
            "type": "number",
            "description": "Total Assets (Annual YoY Growth)",
            "example": 123.45
          },
          "total_assets": {
            "type": "string",
            "description": "Total Assets (MRQ)",
            "example": "example"
          },
          "total_assets_qoq_growth_fq": {
            "type": "number",
            "description": "Total Assets (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "total_assets_yoy_growth_fq": {
            "type": "number",
            "description": "Total Assets (Quarterly YoY Growth)",
            "example": 123.45
          },
          "total_current_assets": {
            "type": "string",
            "description": "Total Current Assets (MRQ)",
            "example": "example"
          },
          "total_debt_yoy_growth_fy": {
            "type": "number",
            "description": "Total Debt (Annual YoY Growth)",
            "example": 123.45
          },
          "total_debt": {
            "type": "string",
            "description": "Total Debt (MRQ)",
            "example": "example"
          },
          "total_debt_qoq_growth_fq": {
            "type": "number",
            "description": "Total Debt (Quarterly QoQ Growth)",
            "example": 123.45
          },
          "total_debt_yoy_growth_fq": {
            "type": "number",
            "description": "Total Debt (Quarterly YoY Growth)",
            "example": 123.45
          },
          "total_liabilities_fy": {
            "type": "string",
            "description": "Total Liabilities (FY)",
            "example": "example"
          },
          "total_liabilities_fq": {
            "type": "string",
            "description": "Total Liabilities (MRQ)",
            "example": "example"
          },
          "total_revenue": {
            "type": "string",
            "description": "Total Revenue (FY)",
            "example": "example"
          },
          "total_shares_outstanding_fundamental": {
            "type": "number",
            "description": "Total Shares Outstanding",
            "example": 123.45
          },
          "UO": {
            "type": "number",
            "description": "Ultimate Oscillator (7, 14, 28)",
            "example": 123.45
          },
          "earnings_release_next_date": {
            "type": "string",
            "description": "Upcoming Earnings Date",
            "example": "example"
          },
          "Volatility.D": {
            "type": "number",
            "description": "Volatility",
            "example": 123.45
          },
          "Volatility.M": {
            "type": "number",
            "description": "Volatility Month",
            "example": 123.45
          },
          "Volatility.W": {
            "type": "number",
            "description": "Volatility Week",
            "example": 123.45
          },
          "VWAP": {
            "type": "number",
            "description": "Volume Weighted Average Price",
            "example": 123.45
          },
          "VWMA": {
            "type": "number",
            "description": "Volume Weighted Moving Average (20)",
            "example": 123.45
          },
          "Perf.W": {
            "type": "number",
            "description": "Weekly Performance",
            "example": 123.45
          },
          "W.R": {
            "type": "number",
            "description": "Williams Percent Range (14)",
            "example": 123.45
          },
          "Perf.Y": {
            "type": "number",
            "description": "Yearly Performance",
            "example": 123.45
          },
          "Perf.YTD": {
            "type": "number",
            "description": "YTD Performance",
            "example": 123.45
          },
          "currency": {
            "type": "string",
            "description": "Quote currency",
            "example": "EUR",
            "enum": [
              "EUR"
            ]
          },
          "total_shares_outstanding": {
            "type": "number",
            "description": "Available Coins",
            "example": 123.45
          },
          "market_cap_calc": {
            "type": "number",
            "description": "Market Capitalization",
            "example": 123.45
          },
          "ADR|1": {
            "type": "number",
            "description": "Field: ADR|1",
            "example": 123.45
          },
          "ADR|5": {
            "type": "number",
            "description": "Field: ADR|5",
            "example": 123.45
          },
          "ADR|15": {
            "type": "number",
            "description": "Field: ADR|15",
            "example": 123.45
          },
          "ADR|30": {
            "type": "number",
            "description": "Field: ADR|30",
            "example": 123.45
          },
          "ADR|60": {
            "type": "number",
            "description": "Field: ADR|60",
            "example": 123.45
          },
          "ADR|120": {
            "type": "number",
            "description": "Field: ADR|120",
            "example": 123.45
          },
          "ADR|240": {
            "type": "number",
            "description": "Field: ADR|240",
            "example": 123.45
          },
          "ADR|1W": {
            "type": "number",
            "description": "Field: ADR|1W",
            "example": 123.45
          },
          "ADR|1M": {
            "type": "number",
            "description": "Field: ADR|1M",
            "example": 123.45
          },
          "ADRP": {
            "type": "number",
            "description": "Field: ADRP",
            "example": 123.45
          },
          "ADRP|1": {
            "type": "number",
            "description": "Field: ADRP|1",
            "example": 123.45
          },
          "ADRP|5": {
            "type": "number",
            "description": "Field: ADRP|5",
            "example": 123.45
          },
          "ADRP|15": {
            "type": "number",
            "description": "Field: ADRP|15",
            "example": 123.45
          },
          "ADRP|30": {
            "type": "number",
            "description": "Field: ADRP|30",
            "example": 123.45
          },
          "ADRP|60": {
            "type": "number",
            "description": "Field: ADRP|60",
            "example": 123.45
          },
          "ADRP|120": {
            "type": "number",
            "description": "Field: ADRP|120",
            "example": 123.45
          },
          "ADRP|240": {
            "type": "number",
            "description": "Field: ADRP|240",
            "example": 123.45
          },
          "ADRP|1W": {
            "type": "number",
            "description": "Field: ADRP|1W",
            "example": 123.45
          },
          "ADRP|1M": {
            "type": "number",
            "description": "Field: ADRP|1M",
            "example": 123.45
          },
          "ADX|1": {
            "type": "number",
            "description": "Field: ADX|1",
            "example": 123.45
          },
          "ADX|5": {
            "type": "number",
            "description": "Field: ADX|5",
            "example": 123.45
          },
          "ADX|15": {
            "type": "number",
            "description": "Field: ADX|15",
            "example": 123.45
          },
          "ADX|30": {
            "type": "number",
            "description": "Field: ADX|30",
            "example": 123.45
          },
          "ADX|60": {
            "type": "number",
            "description": "Field: ADX|60",
            "example": 123.45
          },
          "ADX|120": {
            "type": "number",
            "description": "Field: ADX|120",
            "example": 123.45
          },
          "ADX|240": {
            "type": "number",
            "description": "Field: ADX|240",
            "example": 123.45
          },
          "ADX|1W": {
            "type": "number",
            "description": "Field: ADX|1W",
            "example": 123.45
          },
          "ADX|1M": {
            "type": "number",
            "description": "Field: ADX|1M",
            "example": 123.45
          },
          "ADX+DI|1": {
            "type": "number",
            "description": "Field: ADX+DI|1",
            "example": 123.45
          },
          "ADX+DI|5": {
            "type": "number",
            "description": "Field: ADX+DI|5",
            "example": 123.45
          },
          "ADX+DI|15": {
            "type": "number",
            "description": "Field: ADX+DI|15",
            "example": 123.45
          },
          "ADX+DI|30": {
            "type": "number",
            "description": "Field: ADX+DI|30",
            "example": 123.45
          },
          "ADX+DI|60": {
            "type": "number",
            "description": "Field: ADX+DI|60",
            "example": 123.45
          },
          "ADX+DI|120": {
            "type": "number",
            "description": "Field: ADX+DI|120",
            "example": 123.45
          },
          "ADX+DI|240": {
            "type": "number",
            "description": "Field: ADX+DI|240",
            "example": 123.45
          },
          "ADX+DI|1W": {
            "type": "number",
            "description": "Field: ADX+DI|1W",
            "example": 123.45
          },
          "ADX+DI|1M": {
            "type": "number",
            "description": "Field: ADX+DI|1M",
            "example": 123.45
          },
          "ADX+DI[1]": {
            "type": "number",
            "description": "Field: ADX+DI[1]",
            "example": 123.45
          },
          "ADX+DI[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI[1]|1",
            "example": 123.45
          },
          "ADX+DI[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI[1]|5",
            "example": 123.45
          },
          "ADX+DI[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI[1]|15",
            "example": 123.45
          },
          "ADX+DI[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI[1]|30",
            "example": 123.45
          },
          "ADX+DI[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI[1]|60",
            "example": 123.45
          },
          "ADX+DI[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI[1]|120",
            "example": 123.45
          },
          "ADX+DI[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI[1]|240",
            "example": 123.45
          },
          "ADX+DI[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI[1]|1W",
            "example": 123.45
          },
          "ADX+DI[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI[1]|1M",
            "example": 123.45
          },
          "ADX+DI_9": {
            "type": "number",
            "description": "Field: ADX+DI_9",
            "example": 123.45
          },
          "ADX+DI_20": {
            "type": "number",
            "description": "Field: ADX+DI_20",
            "example": 123.45
          },
          "ADX+DI_100|1": {
            "type": "number",
            "description": "Field: ADX+DI_100|1",
            "example": 123.45
          },
          "ADX+DI_100|5": {
            "type": "number",
            "description": "Field: ADX+DI_100|5",
            "example": 123.45
          },
          "ADX+DI_100|15": {
            "type": "number",
            "description": "Field: ADX+DI_100|15",
            "example": 123.45
          },
          "ADX+DI_100|30": {
            "type": "number",
            "description": "Field: ADX+DI_100|30",
            "example": 123.45
          },
          "ADX+DI_100|60": {
            "type": "number",
            "description": "Field: ADX+DI_100|60",
            "example": 123.45
          },
          "ADX+DI_100|120": {
            "type": "number",
            "description": "Field: ADX+DI_100|120",
            "example": 123.45
          },
          "ADX+DI_100|240": {
            "type": "number",
            "description": "Field: ADX+DI_100|240",
            "example": 123.45
          },
          "ADX+DI_100|1W": {
            "type": "number",
            "description": "Field: ADX+DI_100|1W",
            "example": 123.45
          },
          "ADX+DI_100|1M": {
            "type": "number",
            "description": "Field: ADX+DI_100|1M",
            "example": 123.45
          },
          "ADX+DI_100[1]": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]",
            "example": 123.45
          },
          "ADX+DI_100[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|1",
            "example": 123.45
          },
          "ADX+DI_100[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|5",
            "example": 123.45
          },
          "ADX+DI_100[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|15",
            "example": 123.45
          },
          "ADX+DI_100[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|30",
            "example": 123.45
          },
          "ADX+DI_100[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|60",
            "example": 123.45
          },
          "ADX+DI_100[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|120",
            "example": 123.45
          },
          "ADX+DI_100[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|240",
            "example": 123.45
          },
          "ADX+DI_100[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|1W",
            "example": 123.45
          },
          "ADX+DI_100[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|1M",
            "example": 123.45
          },
          "ADX+DI_50": {
            "type": "number",
            "description": "Field: ADX+DI_50",
            "example": 123.45
          },
          "ADX+DI_20|1": {
            "type": "number",
            "description": "Field: ADX+DI_20|1",
            "example": 123.45
          },
          "ADX+DI_20|5": {
            "type": "number",
            "description": "Field: ADX+DI_20|5",
            "example": 123.45
          },
          "ADX+DI_20|15": {
            "type": "number",
            "description": "Field: ADX+DI_20|15",
            "example": 123.45
          },
          "ADX+DI_20|30": {
            "type": "number",
            "description": "Field: ADX+DI_20|30",
            "example": 123.45
          },
          "ADX+DI_20|60": {
            "type": "number",
            "description": "Field: ADX+DI_20|60",
            "example": 123.45
          },
          "ADX+DI_20|120": {
            "type": "number",
            "description": "Field: ADX+DI_20|120",
            "example": 123.45
          },
          "ADX+DI_20|240": {
            "type": "number",
            "description": "Field: ADX+DI_20|240",
            "example": 123.45
          },
          "ADX+DI_20|1W": {
            "type": "number",
            "description": "Field: ADX+DI_20|1W",
            "example": 123.45
          },
          "ADX+DI_20|1M": {
            "type": "number",
            "description": "Field: ADX+DI_20|1M",
            "example": 123.45
          },
          "ADX+DI_20[1]": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]",
            "example": 123.45
          },
          "ADX+DI_20[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|1",
            "example": 123.45
          },
          "ADX+DI_20[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|5",
            "example": 123.45
          },
          "ADX+DI_20[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|15",
            "example": 123.45
          },
          "ADX+DI_20[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|30",
            "example": 123.45
          },
          "ADX+DI_20[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|60",
            "example": 123.45
          },
          "ADX+DI_20[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|120",
            "example": 123.45
          },
          "ADX+DI_20[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|240",
            "example": 123.45
          },
          "ADX+DI_20[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|1W",
            "example": 123.45
          },
          "ADX+DI_20[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|1M",
            "example": 123.45
          },
          "ADX+DI_50|1": {
            "type": "number",
            "description": "Field: ADX+DI_50|1",
            "example": 123.45
          },
          "ADX+DI_50|5": {
            "type": "number",
            "description": "Field: ADX+DI_50|5",
            "example": 123.45
          },
          "ADX+DI_50|15": {
            "type": "number",
            "description": "Field: ADX+DI_50|15",
            "example": 123.45
          },
          "ADX+DI_50|30": {
            "type": "number",
            "description": "Field: ADX+DI_50|30",
            "example": 123.45
          },
          "ADX+DI_50|60": {
            "type": "number",
            "description": "Field: ADX+DI_50|60",
            "example": 123.45
          },
          "ADX+DI_50|120": {
            "type": "number",
            "description": "Field: ADX+DI_50|120",
            "example": 123.45
          },
          "ADX+DI_50|240": {
            "type": "number",
            "description": "Field: ADX+DI_50|240",
            "example": 123.45
          },
          "ADX+DI_50|1W": {
            "type": "number",
            "description": "Field: ADX+DI_50|1W",
            "example": 123.45
          },
          "ADX+DI_50|1M": {
            "type": "number",
            "description": "Field: ADX+DI_50|1M",
            "example": 123.45
          },
          "ADX+DI_50[1]": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]",
            "example": 123.45
          },
          "ADX+DI_50[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|1",
            "example": 123.45
          },
          "ADX+DI_50[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|5",
            "example": 123.45
          },
          "ADX+DI_50[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|15",
            "example": 123.45
          },
          "ADX+DI_50[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|30",
            "example": 123.45
          },
          "ADX+DI_50[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|60",
            "example": 123.45
          },
          "ADX+DI_50[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|120",
            "example": 123.45
          },
          "ADX+DI_50[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|240",
            "example": 123.45
          },
          "ADX+DI_50[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|1W",
            "example": 123.45
          },
          "ADX+DI_50[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|1M",
            "example": 123.45
          },
          "ADX+DI_9|1": {
            "type": "number",
            "description": "Field: ADX+DI_9|1",
            "example": 123.45
          },
          "ADX+DI_9|5": {
            "type": "number",
            "description": "Field: ADX+DI_9|5",
            "example": 123.45
          },
          "ADX+DI_9|15": {
            "type": "number",
            "description": "Field: ADX+DI_9|15",
            "example": 123.45
          },
          "ADX+DI_9|30": {
            "type": "number",
            "description": "Field: ADX+DI_9|30",
            "example": 123.45
          },
          "ADX+DI_9|60": {
            "type": "number",
            "description": "Field: ADX+DI_9|60",
            "example": 123.45
          },
          "ADX+DI_9|120": {
            "type": "number",
            "description": "Field: ADX+DI_9|120",
            "example": 123.45
          },
          "ADX+DI_9|240": {
            "type": "number",
            "description": "Field: ADX+DI_9|240",
            "example": 123.45
          },
          "ADX+DI_9|1W": {
            "type": "number",
            "description": "Field: ADX+DI_9|1W",
            "example": 123.45
          },
          "ADX+DI_9|1M": {
            "type": "number",
            "description": "Field: ADX+DI_9|1M",
            "example": 123.45
          },
          "ADX+DI_9[1]": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]",
            "example": 123.45
          },
          "ADX+DI_9[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|1",
            "example": 123.45
          },
          "ADX+DI_9[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|5",
            "example": 123.45
          },
          "ADX+DI_9[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|15",
            "example": 123.45
          },
          "ADX+DI_9[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|30",
            "example": 123.45
          },
          "ADX+DI_9[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|60",
            "example": 123.45
          },
          "ADX+DI_9[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|120",
            "example": 123.45
          },
          "ADX+DI_9[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|240",
            "example": 123.45
          },
          "ADX+DI_9[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|1W",
            "example": 123.45
          },
          "ADX+DI_9[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|1M",
            "example": 123.45
          },
          "ADX+DI_100": {
            "type": "number",
            "description": "Field: ADX+DI_100",
            "example": 123.45
          },
          "ADX-DI|1": {
            "type": "number",
            "description": "Field: ADX-DI|1",
            "example": 123.45
          },
          "ADX-DI|5": {
            "type": "number",
            "description": "Field: ADX-DI|5",
            "example": 123.45
          },
          "ADX-DI|15": {
            "type": "number",
            "description": "Field: ADX-DI|15",
            "example": 123.45
          },
          "ADX-DI|30": {
            "type": "number",
            "description": "Field: ADX-DI|30",
            "example": 123.45
          },
          "ADX-DI|60": {
            "type": "number",
            "description": "Field: ADX-DI|60",
            "example": 123.45
          },
          "ADX-DI|120": {
            "type": "number",
            "description": "Field: ADX-DI|120",
            "example": 123.45
          },
          "ADX-DI|240": {
            "type": "number",
            "description": "Field: ADX-DI|240",
            "example": 123.45
          },
          "ADX-DI|1W": {
            "type": "number",
            "description": "Field: ADX-DI|1W",
            "example": 123.45
          },
          "ADX-DI|1M": {
            "type": "number",
            "description": "Field: ADX-DI|1M",
            "example": 123.45
          },
          "ADX-DI[1]": {
            "type": "number",
            "description": "Field: ADX-DI[1]",
            "example": 123.45
          },
          "ADX-DI[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI[1]|1",
            "example": 123.45
          },
          "ADX-DI[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI[1]|5",
            "example": 123.45
          },
          "ADX-DI[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI[1]|15",
            "example": 123.45
          },
          "ADX-DI[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI[1]|30",
            "example": 123.45
          },
          "ADX-DI[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI[1]|60",
            "example": 123.45
          },
          "ADX-DI[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI[1]|120",
            "example": 123.45
          },
          "ADX-DI[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI[1]|240",
            "example": 123.45
          },
          "ADX-DI[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI[1]|1W",
            "example": 123.45
          },
          "ADX-DI[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI[1]|1M",
            "example": 123.45
          },
          "ADX-DI_9": {
            "type": "number",
            "description": "Field: ADX-DI_9",
            "example": 123.45
          },
          "ADX-DI_20": {
            "type": "number",
            "description": "Field: ADX-DI_20",
            "example": 123.45
          },
          "ADX-DI_100|1": {
            "type": "number",
            "description": "Field: ADX-DI_100|1",
            "example": 123.45
          },
          "ADX-DI_100|5": {
            "type": "number",
            "description": "Field: ADX-DI_100|5",
            "example": 123.45
          },
          "ADX-DI_100|15": {
            "type": "number",
            "description": "Field: ADX-DI_100|15",
            "example": 123.45
          },
          "ADX-DI_100|30": {
            "type": "number",
            "description": "Field: ADX-DI_100|30",
            "example": 123.45
          },
          "ADX-DI_100|60": {
            "type": "number",
            "description": "Field: ADX-DI_100|60",
            "example": 123.45
          },
          "ADX-DI_100|120": {
            "type": "number",
            "description": "Field: ADX-DI_100|120",
            "example": 123.45
          },
          "ADX-DI_100|240": {
            "type": "number",
            "description": "Field: ADX-DI_100|240",
            "example": 123.45
          },
          "ADX-DI_100|1W": {
            "type": "number",
            "description": "Field: ADX-DI_100|1W",
            "example": 123.45
          },
          "ADX-DI_100|1M": {
            "type": "number",
            "description": "Field: ADX-DI_100|1M",
            "example": 123.45
          },
          "ADX-DI_100[1]": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]",
            "example": 123.45
          },
          "ADX-DI_100[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|1",
            "example": 123.45
          },
          "ADX-DI_100[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|5",
            "example": 123.45
          },
          "ADX-DI_100[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|15",
            "example": 123.45
          },
          "ADX-DI_100[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|30",
            "example": 123.45
          },
          "ADX-DI_100[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|60",
            "example": 123.45
          },
          "ADX-DI_100[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|120",
            "example": 123.45
          },
          "ADX-DI_100[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|240",
            "example": 123.45
          },
          "ADX-DI_100[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|1W",
            "example": 123.45
          },
          "ADX-DI_100[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|1M",
            "example": 123.45
          },
          "ADX-DI_50": {
            "type": "number",
            "description": "Field: ADX-DI_50",
            "example": 123.45
          },
          "ADX-DI_20|1": {
            "type": "number",
            "description": "Field: ADX-DI_20|1",
            "example": 123.45
          },
          "ADX-DI_20|5": {
            "type": "number",
            "description": "Field: ADX-DI_20|5",
            "example": 123.45
          },
          "ADX-DI_20|15": {
            "type": "number",
            "description": "Field: ADX-DI_20|15",
            "example": 123.45
          },
          "ADX-DI_20|30": {
            "type": "number",
            "description": "Field: ADX-DI_20|30",
            "example": 123.45
          },
          "ADX-DI_20|60": {
            "type": "number",
            "description": "Field: ADX-DI_20|60",
            "example": 123.45
          },
          "ADX-DI_20|120": {
            "type": "number",
            "description": "Field: ADX-DI_20|120",
            "example": 123.45
          },
          "ADX-DI_20|240": {
            "type": "number",
            "description": "Field: ADX-DI_20|240",
            "example": 123.45
          },
          "ADX-DI_20|1W": {
            "type": "number",
            "description": "Field: ADX-DI_20|1W",
            "example": 123.45
          },
          "ADX-DI_20|1M": {
            "type": "number",
            "description": "Field: ADX-DI_20|1M",
            "example": 123.45
          },
          "ADX-DI_20[1]": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]",
            "example": 123.45
          },
          "ADX-DI_20[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|1",
            "example": 123.45
          },
          "ADX-DI_20[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|5",
            "example": 123.45
          },
          "ADX-DI_20[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|15",
            "example": 123.45
          },
          "ADX-DI_20[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|30",
            "example": 123.45
          },
          "ADX-DI_20[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|60",
            "example": 123.45
          },
          "ADX-DI_20[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|120",
            "example": 123.45
          },
          "ADX-DI_20[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|240",
            "example": 123.45
          },
          "ADX-DI_20[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|1W",
            "example": 123.45
          },
          "ADX-DI_20[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|1M",
            "example": 123.45
          },
          "ADX-DI_50|1": {
            "type": "number",
            "description": "Field: ADX-DI_50|1",
            "example": 123.45
          },
          "ADX-DI_50|5": {
            "type": "number",
            "description": "Field: ADX-DI_50|5",
            "example": 123.45
          },
          "ADX-DI_50|15": {
            "type": "number",
            "description": "Field: ADX-DI_50|15",
            "example": 123.45
          },
          "ADX-DI_50|30": {
            "type": "number",
            "description": "Field: ADX-DI_50|30",
            "example": 123.45
          },
          "ADX-DI_50|60": {
            "type": "number",
            "description": "Field: ADX-DI_50|60",
            "example": 123.45
          },
          "ADX-DI_50|120": {
            "type": "number",
            "description": "Field: ADX-DI_50|120",
            "example": 123.45
          },
          "ADX-DI_50|240": {
            "type": "number",
            "description": "Field: ADX-DI_50|240",
            "example": 123.45
          },
          "ADX-DI_50|1W": {
            "type": "number",
            "description": "Field: ADX-DI_50|1W",
            "example": 123.45
          },
          "ADX-DI_50|1M": {
            "type": "number",
            "description": "Field: ADX-DI_50|1M",
            "example": 123.45
          },
          "ADX-DI_50[1]": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]",
            "example": 123.45
          },
          "ADX-DI_50[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|1",
            "example": 123.45
          },
          "ADX-DI_50[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|5",
            "example": 123.45
          },
          "ADX-DI_50[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|15",
            "example": 123.45
          },
          "ADX-DI_50[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|30",
            "example": 123.45
          },
          "ADX-DI_50[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|60",
            "example": 123.45
          },
          "ADX-DI_50[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|120",
            "example": 123.45
          },
          "ADX-DI_50[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|240",
            "example": 123.45
          },
          "ADX-DI_50[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|1W",
            "example": 123.45
          },
          "ADX-DI_50[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|1M",
            "example": 123.45
          },
          "ADX-DI_9|1": {
            "type": "number",
            "description": "Field: ADX-DI_9|1",
            "example": 123.45
          },
          "ADX-DI_9|5": {
            "type": "number",
            "description": "Field: ADX-DI_9|5",
            "example": 123.45
          },
          "ADX-DI_9|15": {
            "type": "number",
            "description": "Field: ADX-DI_9|15",
            "example": 123.45
          },
          "ADX-DI_9|30": {
            "type": "number",
            "description": "Field: ADX-DI_9|30",
            "example": 123.45
          },
          "ADX-DI_9|60": {
            "type": "number",
            "description": "Field: ADX-DI_9|60",
            "example": 123.45
          },
          "ADX-DI_9|120": {
            "type": "number",
            "description": "Field: ADX-DI_9|120",
            "example": 123.45
          },
          "ADX-DI_9|240": {
            "type": "number",
            "description": "Field: ADX-DI_9|240",
            "example": 123.45
          },
          "ADX-DI_9|1W": {
            "type": "number",
            "description": "Field: ADX-DI_9|1W",
            "example": 123.45
          },
          "ADX-DI_9|1M": {
            "type": "number",
            "description": "Field: ADX-DI_9|1M",
            "example": 123.45
          },
          "ADX-DI_9[1]": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]",
            "example": 123.45
          },
          "ADX-DI_9[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|1",
            "example": 123.45
          },
          "ADX-DI_9[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|5",
            "example": 123.45
          },
          "ADX-DI_9[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|15",
            "example": 123.45
          },
          "ADX-DI_9[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|30",
            "example": 123.45
          },
          "ADX-DI_9[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|60",
            "example": 123.45
          },
          "ADX-DI_9[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|120",
            "example": 123.45
          },
          "ADX-DI_9[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|240",
            "example": 123.45
          },
          "ADX-DI_9[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|1W",
            "example": 123.45
          },
          "ADX-DI_9[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|1M",
            "example": 123.45
          },
          "ADX-DI_100": {
            "type": "number",
            "description": "Field: ADX-DI_100",
            "example": 123.45
          },
          "ADX_9": {
            "type": "number",
            "description": "Field: ADX_9",
            "example": 123.45
          },
          "ADX_20": {
            "type": "number",
            "description": "Field: ADX_20",
            "example": 123.45
          },
          "ADX_100|1": {
            "type": "number",
            "description": "Field: ADX_100|1",
            "example": 123.45
          },
          "ADX_100|5": {
            "type": "number",
            "description": "Field: ADX_100|5",
            "example": 123.45
          },
          "ADX_100|15": {
            "type": "number",
            "description": "Field: ADX_100|15",
            "example": 123.45
          },
          "ADX_100|30": {
            "type": "number",
            "description": "Field: ADX_100|30",
            "example": 123.45
          },
          "ADX_100|60": {
            "type": "number",
            "description": "Field: ADX_100|60",
            "example": 123.45
          },
          "ADX_100|120": {
            "type": "number",
            "description": "Field: ADX_100|120",
            "example": 123.45
          },
          "ADX_100|240": {
            "type": "number",
            "description": "Field: ADX_100|240",
            "example": 123.45
          },
          "ADX_100|1W": {
            "type": "number",
            "description": "Field: ADX_100|1W",
            "example": 123.45
          },
          "ADX_100|1M": {
            "type": "number",
            "description": "Field: ADX_100|1M",
            "example": 123.45
          },
          "ADX_50": {
            "type": "number",
            "description": "Field: ADX_50",
            "example": 123.45
          },
          "ADX_20|1": {
            "type": "number",
            "description": "Field: ADX_20|1",
            "example": 123.45
          },
          "ADX_20|5": {
            "type": "number",
            "description": "Field: ADX_20|5",
            "example": 123.45
          },
          "ADX_20|15": {
            "type": "number",
            "description": "Field: ADX_20|15",
            "example": 123.45
          },
          "ADX_20|30": {
            "type": "number",
            "description": "Field: ADX_20|30",
            "example": 123.45
          },
          "ADX_20|60": {
            "type": "number",
            "description": "Field: ADX_20|60",
            "example": 123.45
          },
          "ADX_20|120": {
            "type": "number",
            "description": "Field: ADX_20|120",
            "example": 123.45
          },
          "ADX_20|240": {
            "type": "number",
            "description": "Field: ADX_20|240",
            "example": 123.45
          },
          "ADX_20|1W": {
            "type": "number",
            "description": "Field: ADX_20|1W",
            "example": 123.45
          },
          "ADX_20|1M": {
            "type": "number",
            "description": "Field: ADX_20|1M",
            "example": 123.45
          },
          "ADX_50|1": {
            "type": "number",
            "description": "Field: ADX_50|1",
            "example": 123.45
          },
          "ADX_50|5": {
            "type": "number",
            "description": "Field: ADX_50|5",
            "example": 123.45
          },
          "ADX_50|15": {
            "type": "number",
            "description": "Field: ADX_50|15",
            "example": 123.45
          },
          "ADX_50|30": {
            "type": "number",
            "description": "Field: ADX_50|30",
            "example": 123.45
          },
          "ADX_50|60": {
            "type": "number",
            "description": "Field: ADX_50|60",
            "example": 123.45
          },
          "ADX_50|120": {
            "type": "number",
            "description": "Field: ADX_50|120",
            "example": 123.45
          },
          "ADX_50|240": {
            "type": "number",
            "description": "Field: ADX_50|240",
            "example": 123.45
          },
          "ADX_50|1W": {
            "type": "number",
            "description": "Field: ADX_50|1W",
            "example": 123.45
          },
          "ADX_50|1M": {
            "type": "number",
            "description": "Field: ADX_50|1M",
            "example": 123.45
          },
          "ADX_9|1": {
            "type": "number",
            "description": "Field: ADX_9|1",
            "example": 123.45
          },
          "ADX_9|5": {
            "type": "number",
            "description": "Field: ADX_9|5",
            "example": 123.45
          },
          "ADX_9|15": {
            "type": "number",
            "description": "Field: ADX_9|15",
            "example": 123.45
          },
          "ADX_9|30": {
            "type": "number",
            "description": "Field: ADX_9|30",
            "example": 123.45
          },
          "ADX_9|60": {
            "type": "number",
            "description": "Field: ADX_9|60",
            "example": 123.45
          },
          "ADX_9|120": {
            "type": "number",
            "description": "Field: ADX_9|120",
            "example": 123.45
          },
          "ADX_9|240": {
            "type": "number",
            "description": "Field: ADX_9|240",
            "example": 123.45
          },
          "ADX_9|1W": {
            "type": "number",
            "description": "Field: ADX_9|1W",
            "example": 123.45
          },
          "ADX_9|1M": {
            "type": "number",
            "description": "Field: ADX_9|1M",
            "example": 123.45
          },
          "ADX_100": {
            "type": "number",
            "description": "Field: ADX_100",
            "example": 123.45
          },
          "AO|1": {
            "type": "number",
            "description": "Field: AO|1",
            "example": 123.45
          },
          "AO|5": {
            "type": "number",
            "description": "Field: AO|5",
            "example": 123.45
          },
          "AO|15": {
            "type": "number",
            "description": "Field: AO|15",
            "example": 123.45
          },
          "AO|30": {
            "type": "number",
            "description": "Field: AO|30",
            "example": 123.45
          },
          "AO|60": {
            "type": "number",
            "description": "Field: AO|60",
            "example": 123.45
          },
          "AO|120": {
            "type": "number",
            "description": "Field: AO|120",
            "example": 123.45
          },
          "AO|240": {
            "type": "number",
            "description": "Field: AO|240",
            "example": 123.45
          },
          "AO|1W": {
            "type": "number",
            "description": "Field: AO|1W",
            "example": 123.45
          },
          "AO|1M": {
            "type": "number",
            "description": "Field: AO|1M",
            "example": 123.45
          },
          "AO[1]": {
            "type": "number",
            "description": "Field: AO[1]",
            "example": 123.45
          },
          "AO[1]|1": {
            "type": "number",
            "description": "Field: AO[1]|1",
            "example": 123.45
          },
          "AO[1]|5": {
            "type": "number",
            "description": "Field: AO[1]|5",
            "example": 123.45
          },
          "AO[1]|15": {
            "type": "number",
            "description": "Field: AO[1]|15",
            "example": 123.45
          },
          "AO[1]|30": {
            "type": "number",
            "description": "Field: AO[1]|30",
            "example": 123.45
          },
          "AO[1]|60": {
            "type": "number",
            "description": "Field: AO[1]|60",
            "example": 123.45
          },
          "AO[1]|120": {
            "type": "number",
            "description": "Field: AO[1]|120",
            "example": 123.45
          },
          "AO[1]|240": {
            "type": "number",
            "description": "Field: AO[1]|240",
            "example": 123.45
          },
          "AO[1]|1W": {
            "type": "number",
            "description": "Field: AO[1]|1W",
            "example": 123.45
          },
          "AO[1]|1M": {
            "type": "number",
            "description": "Field: AO[1]|1M",
            "example": 123.45
          },
          "AO[2]": {
            "type": "number",
            "description": "Field: AO[2]",
            "example": 123.45
          },
          "AO[2]|1": {
            "type": "number",
            "description": "Field: AO[2]|1",
            "example": 123.45
          },
          "AO[2]|5": {
            "type": "number",
            "description": "Field: AO[2]|5",
            "example": 123.45
          },
          "AO[2]|15": {
            "type": "number",
            "description": "Field: AO[2]|15",
            "example": 123.45
          },
          "AO[2]|30": {
            "type": "number",
            "description": "Field: AO[2]|30",
            "example": 123.45
          },
          "AO[2]|60": {
            "type": "number",
            "description": "Field: AO[2]|60",
            "example": 123.45
          },
          "AO[2]|120": {
            "type": "number",
            "description": "Field: AO[2]|120",
            "example": 123.45
          },
          "AO[2]|240": {
            "type": "number",
            "description": "Field: AO[2]|240",
            "example": 123.45
          },
          "AO[2]|1W": {
            "type": "number",
            "description": "Field: AO[2]|1W",
            "example": 123.45
          },
          "AO[2]|1M": {
            "type": "number",
            "description": "Field: AO[2]|1M",
            "example": 123.45
          },
          "ATR|1": {
            "type": "number",
            "description": "Field: ATR|1",
            "example": 123.45
          },
          "ATR|5": {
            "type": "number",
            "description": "Field: ATR|5",
            "example": 123.45
          },
          "ATR|15": {
            "type": "number",
            "description": "Field: ATR|15",
            "example": 123.45
          },
          "ATR|30": {
            "type": "number",
            "description": "Field: ATR|30",
            "example": 123.45
          },
          "ATR|60": {
            "type": "number",
            "description": "Field: ATR|60",
            "example": 123.45
          },
          "ATR|120": {
            "type": "number",
            "description": "Field: ATR|120",
            "example": 123.45
          },
          "ATR|240": {
            "type": "number",
            "description": "Field: ATR|240",
            "example": 123.45
          },
          "ATR|1W": {
            "type": "number",
            "description": "Field: ATR|1W",
            "example": 123.45
          },
          "ATR|1M": {
            "type": "number",
            "description": "Field: ATR|1M",
            "example": 123.45
          },
          "ATRP": {
            "type": "number",
            "description": "Field: ATRP",
            "example": 123.45
          },
          "ATRP|1": {
            "type": "number",
            "description": "Field: ATRP|1",
            "example": 123.45
          },
          "ATRP|5": {
            "type": "number",
            "description": "Field: ATRP|5",
            "example": 123.45
          },
          "ATRP|15": {
            "type": "number",
            "description": "Field: ATRP|15",
            "example": 123.45
          },
          "ATRP|30": {
            "type": "number",
            "description": "Field: ATRP|30",
            "example": 123.45
          },
          "ATRP|60": {
            "type": "number",
            "description": "Field: ATRP|60",
            "example": 123.45
          },
          "ATRP|120": {
            "type": "number",
            "description": "Field: ATRP|120",
            "example": 123.45
          },
          "ATRP|240": {
            "type": "number",
            "description": "Field: ATRP|240",
            "example": 123.45
          },
          "ATRP|1W": {
            "type": "number",
            "description": "Field: ATRP|1W",
            "example": 123.45
          },
          "ATRP|1M": {
            "type": "number",
            "description": "Field: ATRP|1M",
            "example": 123.45
          },
          "Aroon.Down|1": {
            "type": "number",
            "description": "Field: Aroon.Down|1",
            "example": 123.45
          },
          "Aroon.Down|5": {
            "type": "number",
            "description": "Field: Aroon.Down|5",
            "example": 123.45
          },
          "Aroon.Down|15": {
            "type": "number",
            "description": "Field: Aroon.Down|15",
            "example": 123.45
          },
          "Aroon.Down|30": {
            "type": "number",
            "description": "Field: Aroon.Down|30",
            "example": 123.45
          },
          "Aroon.Down|60": {
            "type": "number",
            "description": "Field: Aroon.Down|60",
            "example": 123.45
          },
          "Aroon.Down|120": {
            "type": "number",
            "description": "Field: Aroon.Down|120",
            "example": 123.45
          },
          "Aroon.Down|240": {
            "type": "number",
            "description": "Field: Aroon.Down|240",
            "example": 123.45
          },
          "Aroon.Down|1W": {
            "type": "number",
            "description": "Field: Aroon.Down|1W",
            "example": 123.45
          },
          "Aroon.Down|1M": {
            "type": "number",
            "description": "Field: Aroon.Down|1M",
            "example": 123.45
          },
          "Aroon.Up|1": {
            "type": "number",
            "description": "Field: Aroon.Up|1",
            "example": 123.45
          },
          "Aroon.Up|5": {
            "type": "number",
            "description": "Field: Aroon.Up|5",
            "example": 123.45
          },
          "Aroon.Up|15": {
            "type": "number",
            "description": "Field: Aroon.Up|15",
            "example": 123.45
          },
          "Aroon.Up|30": {
            "type": "number",
            "description": "Field: Aroon.Up|30",
            "example": 123.45
          },
          "Aroon.Up|60": {
            "type": "number",
            "description": "Field: Aroon.Up|60",
            "example": 123.45
          },
          "Aroon.Up|120": {
            "type": "number",
            "description": "Field: Aroon.Up|120",
            "example": 123.45
          },
          "Aroon.Up|240": {
            "type": "number",
            "description": "Field: Aroon.Up|240",
            "example": 123.45
          },
          "Aroon.Up|1W": {
            "type": "number",
            "description": "Field: Aroon.Up|1W",
            "example": 123.45
          },
          "Aroon.Up|1M": {
            "type": "number",
            "description": "Field: Aroon.Up|1M",
            "example": 123.45
          },
          "BB.basis": {
            "type": "number",
            "description": "Field: BB.basis",
            "example": 123.45
          },
          "BB.basis|1": {
            "type": "number",
            "description": "Field: BB.basis|1",
            "example": 123.45
          },
          "BB.basis|5": {
            "type": "number",
            "description": "Field: BB.basis|5",
            "example": 123.45
          },
          "BB.basis|15": {
            "type": "number",
            "description": "Field: BB.basis|15",
            "example": 123.45
          },
          "BB.basis|30": {
            "type": "number",
            "description": "Field: BB.basis|30",
            "example": 123.45
          },
          "BB.basis|60": {
            "type": "number",
            "description": "Field: BB.basis|60",
            "example": 123.45
          },
          "BB.basis|120": {
            "type": "number",
            "description": "Field: BB.basis|120",
            "example": 123.45
          },
          "BB.basis|240": {
            "type": "number",
            "description": "Field: BB.basis|240",
            "example": 123.45
          },
          "BB.basis|1W": {
            "type": "number",
            "description": "Field: BB.basis|1W",
            "example": 123.45
          },
          "BB.basis|1M": {
            "type": "number",
            "description": "Field: BB.basis|1M",
            "example": 123.45
          },
          "BB.basis_50": {
            "type": "number",
            "description": "Field: BB.basis_50",
            "example": 123.45
          },
          "BB.basis_50|1": {
            "type": "number",
            "description": "Field: BB.basis_50|1",
            "example": 123.45
          },
          "BB.basis_50|5": {
            "type": "number",
            "description": "Field: BB.basis_50|5",
            "example": 123.45
          },
          "BB.basis_50|15": {
            "type": "number",
            "description": "Field: BB.basis_50|15",
            "example": 123.45
          },
          "BB.basis_50|30": {
            "type": "number",
            "description": "Field: BB.basis_50|30",
            "example": 123.45
          },
          "BB.basis_50|60": {
            "type": "number",
            "description": "Field: BB.basis_50|60",
            "example": 123.45
          },
          "BB.basis_50|120": {
            "type": "number",
            "description": "Field: BB.basis_50|120",
            "example": 123.45
          },
          "BB.basis_50|240": {
            "type": "number",
            "description": "Field: BB.basis_50|240",
            "example": 123.45
          },
          "BB.basis_50|1W": {
            "type": "number",
            "description": "Field: BB.basis_50|1W",
            "example": 123.45
          },
          "BB.basis_50|1M": {
            "type": "number",
            "description": "Field: BB.basis_50|1M",
            "example": 123.45
          },
          "BB.lower|1": {
            "type": "number",
            "description": "Field: BB.lower|1",
            "example": 123.45
          },
          "BB.lower|5": {
            "type": "number",
            "description": "Field: BB.lower|5",
            "example": 123.45
          },
          "BB.lower|15": {
            "type": "number",
            "description": "Field: BB.lower|15",
            "example": 123.45
          },
          "BB.lower|30": {
            "type": "number",
            "description": "Field: BB.lower|30",
            "example": 123.45
          },
          "BB.lower|60": {
            "type": "number",
            "description": "Field: BB.lower|60",
            "example": 123.45
          },
          "BB.lower|120": {
            "type": "number",
            "description": "Field: BB.lower|120",
            "example": 123.45
          },
          "BB.lower|240": {
            "type": "number",
            "description": "Field: BB.lower|240",
            "example": 123.45
          },
          "BB.lower|1W": {
            "type": "number",
            "description": "Field: BB.lower|1W",
            "example": 123.45
          },
          "BB.lower|1M": {
            "type": "number",
            "description": "Field: BB.lower|1M",
            "example": 123.45
          },
          "BB.lower_50": {
            "type": "number",
            "description": "Field: BB.lower_50",
            "example": 123.45
          },
          "BB.lower_50|1": {
            "type": "number",
            "description": "Field: BB.lower_50|1",
            "example": 123.45
          },
          "BB.lower_50|5": {
            "type": "number",
            "description": "Field: BB.lower_50|5",
            "example": 123.45
          },
          "BB.lower_50|15": {
            "type": "number",
            "description": "Field: BB.lower_50|15",
            "example": 123.45
          },
          "BB.lower_50|30": {
            "type": "number",
            "description": "Field: BB.lower_50|30",
            "example": 123.45
          },
          "BB.lower_50|60": {
            "type": "number",
            "description": "Field: BB.lower_50|60",
            "example": 123.45
          },
          "BB.lower_50|120": {
            "type": "number",
            "description": "Field: BB.lower_50|120",
            "example": 123.45
          },
          "BB.lower_50|240": {
            "type": "number",
            "description": "Field: BB.lower_50|240",
            "example": 123.45
          },
          "BB.lower_50|1W": {
            "type": "number",
            "description": "Field: BB.lower_50|1W",
            "example": 123.45
          },
          "BB.lower_50|1M": {
            "type": "number",
            "description": "Field: BB.lower_50|1M",
            "example": 123.45
          },
          "BB.upper|1": {
            "type": "number",
            "description": "Field: BB.upper|1",
            "example": 123.45
          },
          "BB.upper|5": {
            "type": "number",
            "description": "Field: BB.upper|5",
            "example": 123.45
          },
          "BB.upper|15": {
            "type": "number",
            "description": "Field: BB.upper|15",
            "example": 123.45
          },
          "BB.upper|30": {
            "type": "number",
            "description": "Field: BB.upper|30",
            "example": 123.45
          },
          "BB.upper|60": {
            "type": "number",
            "description": "Field: BB.upper|60",
            "example": 123.45
          },
          "BB.upper|120": {
            "type": "number",
            "description": "Field: BB.upper|120",
            "example": 123.45
          },
          "BB.upper|240": {
            "type": "number",
            "description": "Field: BB.upper|240",
            "example": 123.45
          },
          "BB.upper|1W": {
            "type": "number",
            "description": "Field: BB.upper|1W",
            "example": 123.45
          },
          "BB.upper|1M": {
            "type": "number",
            "description": "Field: BB.upper|1M",
            "example": 123.45
          },
          "BB.upper_50": {
            "type": "number",
            "description": "Field: BB.upper_50",
            "example": 123.45
          },
          "BB.upper_50|1": {
            "type": "number",
            "description": "Field: BB.upper_50|1",
            "example": 123.45
          },
          "BB.upper_50|5": {
            "type": "number",
            "description": "Field: BB.upper_50|5",
            "example": 123.45
          },
          "BB.upper_50|15": {
            "type": "number",
            "description": "Field: BB.upper_50|15",
            "example": 123.45
          },
[...]
