{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView ireland API",
    "version": "1.0.0",
    "description": "OpenAPI specification for TradingView ireland market scanner API.\n\n**Data Source**: tv-screener v0.4.0\n**Generator**: tv-generator v2.0.0\n**Generated**: 2025-06-25T15:39:47.095476\n\nThis specification is automatically generated from TradingView Scanner API metadata provided by the tv-screener library. All field definitions, types, and examples are sourced from official TradingView data structures.",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-data-source": "tv-screener",
    "x-data-version": "0.4.0",
    "x-generator": "tv-generator",
    "x-generator-version": "2.0.0",
    "x-generated-date": "2025-06-25T15:39:47.095476",
    "x-market": "ireland",
    "x-field-count": 3338
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "ireland",
      "description": "Market: ireland"
    }
  ],
  "paths": {
    "/ireland/scan": {
      "post": {
        "summary": "Scan ireland market",
        "description": "Scan ireland market with filters and options",
        "operationId": "scanIreland",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "TradingView session cookie for real-time data access"
      }
    },
    "schemas": {
      "MarketData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Symbol Type",
            "enum": [
              "stock"
            ]
          },
          "is_primary": {
            "type": "boolean",
            "description": "Primary Listing"
          },
          "active_symbol": {
            "type": "boolean",
            "description": "Current trading day"
          },
          "earnings_per_share_basic_ttm": {
            "type": "string",
            "description": "Basic EPS (TTM)"
          },
          "change": {
            "type": "number",
            "description": "Change %"
          },
          "change_abs": {
            "type": "number",
            "description": "Change"
          },
          "market_cap_basic": {
            "type": "string",
            "description": "Market Capitalization"
          },
          "number_of_employees": {
            "type": "number",
            "description": "Number of Employees"
          },
          "close": {
            "type": "number",
            "description": "Price"
          },
          "price_earnings_ttm": {
            "type": "number",
            "description": "Price to Earnings Ratio (TTM)"
          },
          "sector": {
            "type": "string",
            "description": "Group",
            "enum": [
              "Commercial Services",
              "Consumer Durables",
              "Consumer Non-Durables",
              "Consumer Services",
              "Distribution Services",
              "Finance",
              "Health Technology",
              "Industrial Services",
              "Non-Energy Minerals",
              "Process Industries",
              "Producer Manufacturing",
              "Technology Services",
              "Transportation"
            ]
          },
          "Recommend.All": {
            "type": "number",
            "description": "Technical Rating"
          },
          "volume": {
            "type": "number",
            "description": "Volume"
          },
          "Value.Traded": {
            "type": "number",
            "description": "Volume*Price"
          },
          "High.1M": {
            "type": "number",
            "description": "1-Month High"
          },
          "Low.1M": {
            "type": "number",
            "description": "1-Month Low"
          },
          "beta_1_year": {
            "type": "number",
            "description": "1-Year Beta"
          },
          "High.3M": {
            "type": "number",
            "description": "3-Month High"
          },
          "Low.3M": {
            "type": "number",
            "description": "3-Month Low"
          },
          "Perf.3M": {
            "type": "number",
            "description": "3-Month Performance"
          },
          "Perf.5Y": {
            "type": "number",
            "description": "5Y Performance"
          },
          "High.6M": {
            "type": "number",
            "description": "6-Month High"
          },
          "Low.6M": {
            "type": "number",
            "description": "6-Month Low"
          },
          "Perf.6M": {
            "type": "number",
            "description": "6-Month Performance"
          },
          "price_52_week_high": {
            "type": "number",
            "description": "52 Week High"
          },
          "price_52_week_low": {
            "type": "number",
            "description": "52 Week Low"
          },
          "High.All": {
            "type": "number",
            "description": "All Time High"
          },
          "Low.All": {
            "type": "number",
            "description": "All Time Low"
          },
          "Perf.All": {
            "type": "number",
            "description": "All Time Performance"
          },
          "Aroon.Down": {
            "type": "number",
            "description": "Aroon Down (14)"
          },
          "Aroon.Up": {
            "type": "number",
            "description": "Aroon Up (14)"
          },
          "ADR": {
            "type": "number",
            "description": "Average Day Range (14)"
          },
          "ADX": {
            "type": "number",
            "description": "Average Directional Index (14)"
          },
          "ATR": {
            "type": "number",
            "description": "Average True Range (14)"
          },
          "average_volume_10d_calc": {
            "type": "number",
            "description": "Average Volume (10 day)"
          },
          "average_volume_30d_calc": {
            "type": "number",
            "description": "Average Volume (30 day)"
          },
          "average_volume_60d_calc": {
            "type": "number",
            "description": "Average Volume (60 day)"
          },
          "average_volume_90d_calc": {
            "type": "number",
            "description": "Average Volume (90 day)"
          },
          "AO": {
            "type": "number",
            "description": "Awesome Oscillator"
          },
          "basic_eps_net_income": {
            "type": "string",
            "description": "Basic EPS (FY)"
          },
          "BB.lower": {
            "type": "number",
            "description": "Bollinger Lower Band (20)"
          },
          "BB.upper": {
            "type": "number",
            "description": "Bollinger Upper Band (20)"
          },
          "BBPower": {
            "type": "number",
            "description": "Bull Bear Power"
          },
          "cash_n_short_term_invest_fy": {
            "type": "string",
            "description": "Cash and short term investments (FY)"
          },
          "cash_n_short_term_invest_fq": {
            "type": "string",
            "description": "Cash and short term investments (MRQ)"
          },
          "cash_n_equivalents_fy": {
            "type": "string",
            "description": "Cash & Equivalents (FY)"
          },
          "cash_n_equivalents_fq": {
            "type": "string",
            "description": "Cash & Equivalents (MRQ)"
          },
          "ChaikinMoneyFlow": {
            "type": "number",
            "description": "Chaikin Money Flow (20)"
          },
          "change_from_open": {
            "type": "number",
            "description": "Change from Open %"
          },
          "change_from_open_abs": {
            "type": "number",
            "description": "Change from Open"
          },
          "CCI20": {
            "type": "number",
            "description": "Commodity Channel Index (20)"
          },
          "country": {
            "type": "string",
            "description": "Region",
            "enum": [
              "Ireland",
              "Netherlands",
              "United Kingdom"
            ]
          },
          "current_ratio": {
            "type": "number",
            "description": "Current Ratio (MRQ)"
          },
          "debt_to_equity": {
            "type": "number",
            "description": "Debt to Equity Ratio (MRQ)"
          },
          "dividends_paid": {
            "type": "string",
            "description": "Dividends Paid (FY)"
          },
          "dps_common_stock_prim_issue_yoy_growth_fy": {
            "type": "number",
            "description": "Dividends per share (Annual YoY Growth)"
          },
          "dps_common_stock_prim_issue_fy": {
            "type": "string",
            "description": "Dividends per Share (FY)"
          },
          "dividends_per_share_fq": {
            "type": "string",
            "description": "Dividends per Share (MRQ)"
          },
          "dividend_yield_recent": {
            "type": "number",
            "description": "Dividend Yield Forward"
          },
          "DonchCh20.Lower": {
            "type": "number",
            "description": "Donchian Channels Lower Band (20)"
          },
          "DonchCh20.Upper": {
            "type": "number",
            "description": "Donchian Channels Upper Band (20)"
          },
          "ebitda_yoy_growth_fy": {
            "type": "number",
            "description": "EBITDA (Annual YoY Growth)"
          },
          "ebitda_qoq_growth_fq": {
            "type": "number",
            "description": "EBITDA (Quarterly QoQ Growth)"
          },
          "ebitda_yoy_growth_fq": {
            "type": "number",
            "description": "EBITDA (Quarterly YoY Growth)"
          },
          "ebitda": {
            "type": "string",
            "description": "EBITDA (TTM)"
          },
          "ebitda_yoy_growth_ttm": {
            "type": "number",
            "description": "EBITDA (TTM YoY Growth)"
          },
          "enterprise_value_ebitda_ttm": {
            "type": "number",
            "description": "Enterprise Value/EBITDA (TTM)"
          },
          "enterprise_value_fq": {
            "type": "string",
            "description": "Enterprise Value (MRQ)"
          },
          "earnings_per_share_diluted_yoy_growth_fy": {
            "type": "number",
            "description": "EPS Diluted (Annual YoY Growth)"
          },
          "last_annual_eps": {
            "type": "string",
            "description": "EPS Diluted (FY)"
          },
          "earnings_per_share_fq": {
            "type": "string",
            "description": "EPS Diluted (MRQ)"
          },
          "earnings_per_share_diluted_qoq_growth_fq": {
            "type": "number",
            "description": "EPS Diluted (Quarterly QoQ Growth)"
          },
          "earnings_per_share_diluted_yoy_growth_fq": {
            "type": "number",
            "description": "EPS Diluted (Quarterly YoY Growth)"
          },
          "earnings_per_share_diluted_ttm": {
            "type": "string",
            "description": "EPS Diluted (TTM)"
          },
          "earnings_per_share_diluted_yoy_growth_ttm": {
            "type": "number",
            "description": "EPS Diluted (TTM YoY Growth)"
          },
          "earnings_per_share_forecast_next_fq": {
            "type": "string",
            "description": "EPS Forecast (MRQ)"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange",
            "enum": [
              "EURONEXT"
            ]
          },
          "EMA5": {
            "type": "number",
            "description": "Exponential Moving Average (5)"
          },
          "EMA10": {
            "type": "number",
            "description": "Exponential Moving Average (10)"
          },
          "EMA20": {
            "type": "number",
            "description": "Exponential Moving Average (20)"
          },
          "EMA30": {
            "type": "number",
            "description": "Exponential Moving Average (30)"
          },
          "EMA50": {
            "type": "number",
            "description": "Exponential Moving Average (50)"
          },
          "EMA100": {
            "type": "number",
            "description": "Exponential Moving Average (100)"
          },
          "EMA200": {
            "type": "number",
            "description": "Exponential Moving Average (200)"
          },
          "free_cash_flow_yoy_growth_fy": {
            "type": "number",
            "description": "Free Cash Flow (Annual YoY Growth)"
          },
          "free_cash_flow_margin_fy": {
            "type": "number",
            "description": "Free Cash Flow Margin (FY)"
          },
          "free_cash_flow_margin_ttm": {
            "type": "number",
            "description": "Free Cash Flow Margin (TTM)"
          },
          "free_cash_flow_qoq_growth_fq": {
            "type": "number",
            "description": "Free Cash Flow (Quarterly QoQ Growth)"
          },
          "free_cash_flow_yoy_growth_fq": {
            "type": "number",
            "description": "Free Cash Flow (Quarterly YoY Growth)"
          },
          "free_cash_flow_yoy_growth_ttm": {
            "type": "number",
            "description": "Free Cash Flow (TTM YoY Growth)"
          },
          "gap": {
            "type": "number",
            "description": "Gap %"
          },
          "goodwill": {
            "type": "string",
            "description": "Goodwill"
          },
          "gross_profit_margin_fy": {
            "type": "number",
            "description": "Gross Margin (FY)"
          },
          "gross_margin": {
            "type": "number",
            "description": "Gross Margin (TTM)"
          },
          "gross_profit_yoy_growth_fy": {
            "type": "number",
            "description": "Gross Profit (Annual YoY Growth)"
          },
          "gross_profit": {
            "type": "string",
            "description": "Gross Profit (FY)"
          },
          "gross_profit_fq": {
            "type": "string",
            "description": "Gross Profit (MRQ)"
          },
          "gross_profit_qoq_growth_fq": {
            "type": "number",
            "description": "Gross Profit (Quarterly QoQ Growth)"
          },
          "gross_profit_yoy_growth_fq": {
            "type": "number",
            "description": "Gross Profit (Quarterly YoY Growth)"
          },
          "gross_profit_yoy_growth_ttm": {
            "type": "number",
            "description": "Gross Profit (TTM YoY Growth)"
          },
          "high": {
            "type": "number",
            "description": "High"
          },
          "HullMA9": {
            "type": "number",
            "description": "Hull Moving Average (9)"
          },
          "Ichimoku.BLine": {
            "type": "number",
            "description": "Ichimoku Base Line (9, 26, 52, 26)"
          },
          "Ichimoku.CLine": {
            "type": "number",
            "description": "Ichimoku Conversion Line (9, 26, 52, 26)"
          },
          "Ichimoku.Lead1": {
            "type": "number",
            "description": "Ichimoku Leading Span A (9, 26, 52, 26)"
          },
          "Ichimoku.Lead2": {
            "type": "number",
            "description": "Ichimoku Leading Span B (9, 26, 52, 26)"
          },
          "industry": {
            "type": "string",
            "description": "Industry",
            "enum": [
              "Agricultural Commodities/Milling",
              "Airlines",
              "Biotechnology",
              "Building Products",
              "Engineering & Construction",
              "Financial Conglomerates",
              "Food: Meat/Fish/Dairy",
              "Food: Specialty/Candy",
              "Homebuilding",
              "Hotels/Resorts/Cruise lines",
              "Investment Banks/Brokers",
              "Major Banks",
              "Marine Shipping",
              "Medical Distributors",
              "Miscellaneous Commercial Services",
              "Other Metals/Minerals",
              "Packaged Software",
              "Pharmaceuticals: Major",
              "Precious Metals",
              "Property/Casualty Insurance",
              "Real Estate Investment Trusts",
              "Trucks/Construction/Farm Machinery"
            ]
          },
          "KltChnl.lower": {
            "type": "number",
            "description": "Keltner Channels Lower Band (20)"
          },
          "KltChnl.upper": {
            "type": "number",
            "description": "Keltner Channels Upper Band (20)"
          },
          "last_annual_revenue": {
            "type": "string",
            "description": "Last Year Revenue (FY)"
          },
          "low": {
            "type": "number",
            "description": "Low"
          },
          "MACD.macd": {
            "type": "number",
            "description": "MACD Level (12, 26)"
          },
          "MACD.signal": {
            "type": "number",
            "description": "MACD Signal (12, 26)"
          },
          "Mom": {
            "type": "number",
            "description": "Momentum (10)"
          },
          "MoneyFlow": {
            "type": "number",
            "description": "Money Flow (14)"
          },
          "Perf.1M": {
            "type": "number",
            "description": "Monthly Performance"
          },
          "Recommend.MA": {
            "type": "number",
            "description": "Moving Averages Rating"
          },
          "ADX-DI": {
            "type": "number",
            "description": "Negative Directional Indicator (14)"
          },
          "net_debt": {
            "type": "string",
            "description": "Net Debt (MRQ)"
          },
          "net_income_yoy_growth_fy": {
            "type": "number",
            "description": "Net Income (Annual YoY Growth)"
          },
          "net_income": {
            "type": "string",
            "description": "Net Income (FY)"
          },
          "net_income_qoq_growth_fq": {
            "type": "number",
            "description": "Net Income (Quarterly QoQ Growth)"
          },
          "net_income_yoy_growth_fq": {
            "type": "number",
            "description": "Net Income (Quarterly YoY Growth)"
          },
          "net_income_yoy_growth_ttm": {
            "type": "number",
            "description": "Net Income (TTM YoY Growth)"
          },
          "net_income_bef_disc_oper_margin_fy": {
            "type": "number",
            "description": "Net Margin (FY)"
          },
          "after_tax_margin": {
            "type": "number",
            "description": "Net Margin (TTM)"
          },
          "number_of_shareholders": {
            "type": "number",
            "description": "Number of Shareholders"
          },
          "open": {
            "type": "number",
            "description": "Open"
          },
          "oper_income_margin_fy": {
            "type": "number",
            "description": "Operating Margin (FY)"
          },
          "operating_margin": {
            "type": "number",
            "description": "Operating Margin (TTM)"
          },
          "Recommend.Other": {
            "type": "number",
            "description": "Oscillators Rating"
          },
          "P.SAR": {
            "type": "number",
            "description": "Parabolic SAR"
          },
          "Pivot.M.Camarilla.Middle": {
            "type": "number",
            "description": "Pivot Camarilla P"
          },
          "Pivot.M.Camarilla.R1": {
            "type": "number",
            "description": "Pivot Camarilla R1"
          },
          "Pivot.M.Camarilla.R2": {
            "type": "number",
            "description": "Pivot Camarilla R2"
          },
          "Pivot.M.Camarilla.R3": {
            "type": "number",
            "description": "Pivot Camarilla R3"
          },
          "Pivot.M.Camarilla.S1": {
            "type": "number",
            "description": "Pivot Camarilla S1"
          },
          "Pivot.M.Camarilla.S2": {
            "type": "number",
            "description": "Pivot Camarilla S2"
          },
          "Pivot.M.Camarilla.S3": {
            "type": "number",
            "description": "Pivot Camarilla S3"
          },
          "Pivot.M.Classic.Middle": {
            "type": "number",
            "description": "Pivot Classic P"
          },
          "Pivot.M.Classic.R1": {
            "type": "number",
            "description": "Pivot Classic R1"
          },
          "Pivot.M.Classic.R2": {
            "type": "number",
            "description": "Pivot Classic R2"
          },
          "Pivot.M.Classic.R3": {
            "type": "number",
            "description": "Pivot Classic R3"
          },
          "Pivot.M.Classic.S1": {
            "type": "number",
            "description": "Pivot Classic S1"
          },
          "Pivot.M.Classic.S2": {
            "type": "number",
            "description": "Pivot Classic S2"
          },
          "Pivot.M.Classic.S3": {
            "type": "number",
            "description": "Pivot Classic S3"
          },
          "Pivot.M.Demark.Middle": {
            "type": "number",
            "description": "Pivot DM P"
          },
          "Pivot.M.Demark.R1": {
            "type": "number",
            "description": "Pivot DM R1"
          },
          "Pivot.M.Demark.S1": {
            "type": "number",
            "description": "Pivot DM S1"
          },
          "Pivot.M.Fibonacci.Middle": {
            "type": "number",
            "description": "Pivot Fibonacci P"
          },
          "Pivot.M.Fibonacci.R1": {
            "type": "number",
            "description": "Pivot Fibonacci R1"
          },
          "Pivot.M.Fibonacci.R2": {
            "type": "number",
            "description": "Pivot Fibonacci R2"
          },
          "Pivot.M.Fibonacci.R3": {
            "type": "number",
            "description": "Pivot Fibonacci R3"
          },
          "Pivot.M.Fibonacci.S1": {
            "type": "number",
            "description": "Pivot Fibonacci S1"
          },
          "Pivot.M.Fibonacci.S2": {
            "type": "number",
            "description": "Pivot Fibonacci S2"
          },
          "Pivot.M.Fibonacci.S3": {
            "type": "number",
            "description": "Pivot Fibonacci S3"
          },
          "Pivot.M.Woodie.Middle": {
            "type": "number",
            "description": "Pivot Woodie P"
          },
          "Pivot.M.Woodie.R1": {
            "type": "number",
            "description": "Pivot Woodie R1"
          },
          "Pivot.M.Woodie.R2": {
            "type": "number",
            "description": "Pivot Woodie R2"
          },
          "Pivot.M.Woodie.R3": {
            "type": "number",
            "description": "Pivot Woodie R3"
          },
          "Pivot.M.Woodie.S1": {
            "type": "number",
            "description": "Pivot Woodie S1"
          },
          "Pivot.M.Woodie.S2": {
            "type": "number",
            "description": "Pivot Woodie S2"
          },
          "Pivot.M.Woodie.S3": {
            "type": "number",
            "description": "Pivot Woodie S3"
          },
          "ADX+DI": {
            "type": "number",
            "description": "Positive Directional Indicator (14)"
          },
          "postmarket_change": {
            "type": "number",
            "description": "Post-market Change %"
          },
          "postmarket_change_abs": {
            "type": "number",
            "description": "Post-market Change"
          },
          "postmarket_close": {
            "type": "number",
            "description": "Post-market Close"
          },
          "postmarket_high": {
            "type": "number",
            "description": "Post-market High"
          },
          "postmarket_low": {
            "type": "number",
            "description": "Post-market Low"
          },
          "postmarket_open": {
            "type": "number",
            "description": "Post-market Open"
          },
          "postmarket_volume": {
            "type": "number",
            "description": "Post-market Volume"
          },
          "premarket_change": {
            "type": "number",
            "description": "Pre-market Change %"
          },
          "premarket_change_abs": {
            "type": "number",
            "description": "Pre-market Change"
          },
          "premarket_change_from_open": {
            "type": "number",
            "description": "Pre-market Change from Open %"
          },
          "premarket_change_from_open_abs": {
            "type": "number",
            "description": "Pre-market Change from Open"
          },
          "premarket_close": {
            "type": "number",
            "description": "Pre-market Close"
          },
          "premarket_gap": {
            "type": "number",
            "description": "Pre-market Gap %"
          },
          "premarket_high": {
            "type": "number",
            "description": "Pre-market High"
          },
          "premarket_low": {
            "type": "number",
            "description": "Pre-market Low"
          },
          "premarket_open": {
            "type": "number",
            "description": "Pre-market Open"
          },
          "premarket_volume": {
            "type": "number",
            "description": "Pre-market Volume"
          },
          "pre_tax_margin": {
            "type": "number",
            "description": "Pretax Margin (TTM)"
          },
          "price_book_ratio": {
            "type": "number",
            "description": "Price to Book (FY)"
          },
          "price_book_fq": {
            "type": "number",
            "description": "Price to Book (MRQ)"
          },
          "price_free_cash_flow_ttm": {
            "type": "number",
            "description": "Price to Free Cash Flow (TTM)"
          },
          "price_revenue_ttm": {
            "type": "number",
            "description": "Price to Revenue Ratio (TTM)"
          },
          "price_sales_ratio": {
            "type": "number",
            "description": "Price to Sales (FY)"
          },
          "quick_ratio": {
            "type": "number",
            "description": "Quick Ratio (MRQ)"
          },
          "ROC": {
            "type": "number",
            "description": "Rate Of Change (9)"
          },
          "earnings_release_date": {
            "type": "string",
            "description": "Recent Earnings Date"
          },
          "RSI7": {
            "type": "number",
            "description": "Relative Strength Index (7)"
          },
          "RSI": {
            "type": "number",
            "description": "Relative Strength Index (14)"
          },
          "relative_volume_10d_calc": {
            "type": "number",
            "description": "Relative Volume"
          },
          "research_and_dev_ratio_fy": {
            "type": "number",
            "description": "Research & development Ratio (FY)"
          },
          "research_and_dev_ratio_ttm": {
            "type": "number",
            "description": "Research & development Ratio (TTM)"
          },
          "return_on_assets": {
            "type": "number",
            "description": "Return on Assets (TTM)"
          },
          "return_on_equity": {
            "type": "number",
            "description": "Return on Equity (TTM)"
          },
          "return_on_invested_capital": {
            "type": "number",
            "description": "Return on Invested Capital (TTM)"
          },
          "total_revenue_yoy_growth_fy": {
            "type": "number",
            "description": "Revenue (Annual YoY Growth)"
          },
          "revenue_per_employee": {
            "type": "string",
            "description": "Revenue per Employee (FY)"
          },
          "total_revenue_qoq_growth_fq": {
            "type": "number",
            "description": "Revenue (Quarterly QoQ Growth)"
          },
          "total_revenue_yoy_growth_fq": {
            "type": "number",
            "description": "Revenue (Quarterly YoY Growth)"
          },
          "total_revenue_yoy_growth_ttm": {
            "type": "number",
            "description": "Revenue (TTM YoY Growth)"
          },
          "sell_gen_admin_exp_other_ratio_fy": {
            "type": "number",
            "description": "Selling General & Admin expenses Ratio (FY)"
          },
          "sell_gen_admin_exp_other_ratio_ttm": {
            "type": "number",
            "description": "Selling General & Admin expenses Ratio (TTM)"
          },
          "float_shares_outstanding": {
            "type": "number",
            "description": "Shares Float"
          },
          "SMA5": {
            "type": "number",
            "description": "Simple Moving Average (5)"
          },
          "SMA10": {
            "type": "number",
            "description": "Simple Moving Average (10)"
          },
          "SMA20": {
            "type": "number",
            "description": "Simple Moving Average (20)"
          },
          "SMA30": {
            "type": "number",
            "description": "Simple Moving Average (30)"
          },
          "SMA50": {
            "type": "number",
            "description": "Simple Moving Average (50)"
          },
          "SMA100": {
            "type": "number",
            "description": "Simple Moving Average (100)"
          },
          "SMA200": {
            "type": "number",
            "description": "Simple Moving Average (200)"
          },
          "Stoch.D": {
            "type": "number",
            "description": "Stochastic %D (14, 3, 3)"
          },
          "Stoch.K": {
            "type": "number",
            "description": "Stochastic %K (14, 3, 3)"
          },
          "Stoch.RSI.K": {
            "type": "number",
            "description": "Stochastic RSI Fast (3, 3, 14, 14)"
          },
          "Stoch.RSI.D": {
            "type": "number",
            "description": "Stochastic RSI Slow (3, 3, 14, 14)"
          },
          "submarket": {
            "type": "string",
            "description": "Submarket",
            "enum": [
              ""
            ]
          },
          "total_assets_yoy_growth_fy": {
            "type": "number",
            "description": "Total Assets (Annual YoY Growth)"
          },
          "total_assets": {
            "type": "string",
            "description": "Total Assets (MRQ)"
          },
          "total_assets_qoq_growth_fq": {
            "type": "number",
            "description": "Total Assets (Quarterly QoQ Growth)"
          },
          "total_assets_yoy_growth_fq": {
            "type": "number",
            "description": "Total Assets (Quarterly YoY Growth)"
          },
          "total_current_assets": {
            "type": "string",
            "description": "Total Current Assets (MRQ)"
          },
          "total_debt_yoy_growth_fy": {
            "type": "number",
            "description": "Total Debt (Annual YoY Growth)"
          },
          "total_debt": {
            "type": "string",
            "description": "Total Debt (MRQ)"
          },
          "total_debt_qoq_growth_fq": {
            "type": "number",
            "description": "Total Debt (Quarterly QoQ Growth)"
          },
          "total_debt_yoy_growth_fq": {
            "type": "number",
            "description": "Total Debt (Quarterly YoY Growth)"
          },
          "total_liabilities_fy": {
            "type": "string",
            "description": "Total Liabilities (FY)"
          },
          "total_liabilities_fq": {
            "type": "string",
            "description": "Total Liabilities (MRQ)"
          },
          "total_revenue": {
            "type": "string",
            "description": "Total Revenue (FY)"
          },
          "total_shares_outstanding_fundamental": {
            "type": "number",
            "description": "Total Shares Outstanding"
          },
          "UO": {
            "type": "number",
            "description": "Ultimate Oscillator (7, 14, 28)"
          },
          "earnings_release_next_date": {
            "type": "string",
            "description": "Upcoming Earnings Date"
          },
          "Volatility.D": {
            "type": "number",
            "description": "Volatility"
          },
          "Volatility.M": {
            "type": "number",
            "description": "Volatility Month"
          },
          "Volatility.W": {
            "type": "number",
            "description": "Volatility Week"
          },
          "VWAP": {
            "type": "number",
            "description": "Volume Weighted Average Price"
          },
          "VWMA": {
            "type": "number",
            "description": "Volume Weighted Moving Average (20)"
          },
          "Perf.W": {
            "type": "number",
            "description": "Weekly Performance"
          },
          "W.R": {
            "type": "number",
            "description": "Williams Percent Range (14)"
          },
          "Perf.Y": {
            "type": "number",
            "description": "Yearly Performance"
          },
          "Perf.YTD": {
            "type": "number",
            "description": "YTD Performance"
          },
          "currency": {
            "type": "string",
            "description": "Quote currency",
            "enum": [
              "EUR"
            ]
          },
          "total_shares_outstanding": {
            "type": "number",
            "description": "Available Coins"
          },
          "market_cap_calc": {
            "type": "number",
            "description": "Market Capitalization"
          },
          "ADR|1": {
            "type": "number",
            "description": "Field: ADR|1"
          },
          "ADR|5": {
            "type": "number",
            "description": "Field: ADR|5"
          },
          "ADR|15": {
            "type": "number",
            "description": "Field: ADR|15"
          },
          "ADR|30": {
            "type": "number",
            "description": "Field: ADR|30"
          },
          "ADR|60": {
            "type": "number",
            "description": "Field: ADR|60"
          },
          "ADR|120": {
            "type": "number",
            "description": "Field: ADR|120"
          },
          "ADR|240": {
            "type": "number",
            "description": "Field: ADR|240"
          },
          "ADR|1W": {
            "type": "number",
            "description": "Field: ADR|1W"
          },
          "ADR|1M": {
            "type": "number",
            "description": "Field: ADR|1M"
          },
          "ADRP": {
            "type": "number",
            "description": "Field: ADRP"
          },
          "ADRP|1": {
            "type": "number",
            "description": "Field: ADRP|1"
          },
          "ADRP|5": {
            "type": "number",
            "description": "Field: ADRP|5"
          },
          "ADRP|15": {
            "type": "number",
            "description": "Field: ADRP|15"
          },
          "ADRP|30": {
            "type": "number",
            "description": "Field: ADRP|30"
          },
          "ADRP|60": {
            "type": "number",
            "description": "Field: ADRP|60"
          },
          "ADRP|120": {
            "type": "number",
            "description": "Field: ADRP|120"
          },
          "ADRP|240": {
            "type": "number",
            "description": "Field: ADRP|240"
          },
          "ADRP|1W": {
            "type": "number",
            "description": "Field: ADRP|1W"
          },
          "ADRP|1M": {
            "type": "number",
            "description": "Field: ADRP|1M"
          },
          "ADX|1": {
            "type": "number",
            "description": "Field: ADX|1"
          },
          "ADX|5": {
            "type": "number",
            "description": "Field: ADX|5"
          },
          "ADX|15": {
            "type": "number",
            "description": "Field: ADX|15"
          },
          "ADX|30": {
            "type": "number",
            "description": "Field: ADX|30"
          },
          "ADX|60": {
            "type": "number",
            "description": "Field: ADX|60"
          },
          "ADX|120": {
            "type": "number",
            "description": "Field: ADX|120"
          },
          "ADX|240": {
            "type": "number",
            "description": "Field: ADX|240"
          },
          "ADX|1W": {
            "type": "number",
            "description": "Field: ADX|1W"
          },
          "ADX|1M": {
            "type": "number",
            "description": "Field: ADX|1M"
          },
          "ADX+DI|1": {
            "type": "number",
            "description": "Field: ADX+DI|1"
          },
          "ADX+DI|5": {
            "type": "number",
            "description": "Field: ADX+DI|5"
          },
          "ADX+DI|15": {
            "type": "number",
            "description": "Field: ADX+DI|15"
          },
          "ADX+DI|30": {
            "type": "number",
            "description": "Field: ADX+DI|30"
          },
          "ADX+DI|60": {
            "type": "number",
            "description": "Field: ADX+DI|60"
          },
          "ADX+DI|120": {
            "type": "number",
            "description": "Field: ADX+DI|120"
          },
          "ADX+DI|240": {
            "type": "number",
            "description": "Field: ADX+DI|240"
          },
          "ADX+DI|1W": {
            "type": "number",
            "description": "Field: ADX+DI|1W"
          },
          "ADX+DI|1M": {
            "type": "number",
            "description": "Field: ADX+DI|1M"
          },
          "ADX+DI[1]": {
            "type": "number",
            "description": "Field: ADX+DI[1]"
          },
          "ADX+DI[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI[1]|1"
          },
          "ADX+DI[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI[1]|5"
          },
          "ADX+DI[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI[1]|15"
          },
          "ADX+DI[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI[1]|30"
          },
          "ADX+DI[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI[1]|60"
          },
          "ADX+DI[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI[1]|120"
          },
          "ADX+DI[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI[1]|240"
          },
          "ADX+DI[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI[1]|1W"
          },
          "ADX+DI[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI[1]|1M"
          },
          "ADX+DI_9": {
            "type": "number",
            "description": "Field: ADX+DI_9"
          },
          "ADX+DI_20": {
            "type": "number",
            "description": "Field: ADX+DI_20"
          },
          "ADX+DI_100|1": {
            "type": "number",
            "description": "Field: ADX+DI_100|1"
          },
          "ADX+DI_100|5": {
            "type": "number",
            "description": "Field: ADX+DI_100|5"
          },
          "ADX+DI_100|15": {
            "type": "number",
            "description": "Field: ADX+DI_100|15"
          },
          "ADX+DI_100|30": {
            "type": "number",
            "description": "Field: ADX+DI_100|30"
          },
          "ADX+DI_100|60": {
            "type": "number",
            "description": "Field: ADX+DI_100|60"
          },
          "ADX+DI_100|120": {
            "type": "number",
            "description": "Field: ADX+DI_100|120"
          },
          "ADX+DI_100|240": {
            "type": "number",
            "description": "Field: ADX+DI_100|240"
          },
          "ADX+DI_100|1W": {
            "type": "number",
            "description": "Field: ADX+DI_100|1W"
          },
          "ADX+DI_100|1M": {
            "type": "number",
            "description": "Field: ADX+DI_100|1M"
          },
          "ADX+DI_100[1]": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]"
          },
          "ADX+DI_100[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|1"
          },
          "ADX+DI_100[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|5"
          },
          "ADX+DI_100[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|15"
          },
          "ADX+DI_100[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|30"
          },
          "ADX+DI_100[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|60"
          },
          "ADX+DI_100[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|120"
          },
          "ADX+DI_100[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|240"
          },
          "ADX+DI_100[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|1W"
          },
          "ADX+DI_100[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_100[1]|1M"
          },
          "ADX+DI_50": {
            "type": "number",
            "description": "Field: ADX+DI_50"
          },
          "ADX+DI_20|1": {
            "type": "number",
            "description": "Field: ADX+DI_20|1"
          },
          "ADX+DI_20|5": {
            "type": "number",
            "description": "Field: ADX+DI_20|5"
          },
          "ADX+DI_20|15": {
            "type": "number",
            "description": "Field: ADX+DI_20|15"
          },
          "ADX+DI_20|30": {
            "type": "number",
            "description": "Field: ADX+DI_20|30"
          },
          "ADX+DI_20|60": {
            "type": "number",
            "description": "Field: ADX+DI_20|60"
          },
          "ADX+DI_20|120": {
            "type": "number",
            "description": "Field: ADX+DI_20|120"
          },
          "ADX+DI_20|240": {
            "type": "number",
            "description": "Field: ADX+DI_20|240"
          },
          "ADX+DI_20|1W": {
            "type": "number",
            "description": "Field: ADX+DI_20|1W"
          },
          "ADX+DI_20|1M": {
            "type": "number",
            "description": "Field: ADX+DI_20|1M"
          },
          "ADX+DI_20[1]": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]"
          },
          "ADX+DI_20[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|1"
          },
          "ADX+DI_20[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|5"
          },
          "ADX+DI_20[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|15"
          },
          "ADX+DI_20[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|30"
          },
          "ADX+DI_20[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|60"
          },
          "ADX+DI_20[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|120"
          },
          "ADX+DI_20[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|240"
          },
          "ADX+DI_20[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|1W"
          },
          "ADX+DI_20[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_20[1]|1M"
          },
          "ADX+DI_50|1": {
            "type": "number",
            "description": "Field: ADX+DI_50|1"
          },
          "ADX+DI_50|5": {
            "type": "number",
            "description": "Field: ADX+DI_50|5"
          },
          "ADX+DI_50|15": {
            "type": "number",
            "description": "Field: ADX+DI_50|15"
          },
          "ADX+DI_50|30": {
            "type": "number",
            "description": "Field: ADX+DI_50|30"
          },
          "ADX+DI_50|60": {
            "type": "number",
            "description": "Field: ADX+DI_50|60"
          },
          "ADX+DI_50|120": {
            "type": "number",
            "description": "Field: ADX+DI_50|120"
          },
          "ADX+DI_50|240": {
            "type": "number",
            "description": "Field: ADX+DI_50|240"
          },
          "ADX+DI_50|1W": {
            "type": "number",
            "description": "Field: ADX+DI_50|1W"
          },
          "ADX+DI_50|1M": {
            "type": "number",
            "description": "Field: ADX+DI_50|1M"
          },
          "ADX+DI_50[1]": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]"
          },
          "ADX+DI_50[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|1"
          },
          "ADX+DI_50[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|5"
          },
          "ADX+DI_50[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|15"
          },
          "ADX+DI_50[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|30"
          },
          "ADX+DI_50[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|60"
          },
          "ADX+DI_50[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|120"
          },
          "ADX+DI_50[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|240"
          },
          "ADX+DI_50[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|1W"
          },
          "ADX+DI_50[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_50[1]|1M"
          },
          "ADX+DI_9|1": {
            "type": "number",
            "description": "Field: ADX+DI_9|1"
          },
          "ADX+DI_9|5": {
            "type": "number",
            "description": "Field: ADX+DI_9|5"
          },
          "ADX+DI_9|15": {
            "type": "number",
            "description": "Field: ADX+DI_9|15"
          },
          "ADX+DI_9|30": {
            "type": "number",
            "description": "Field: ADX+DI_9|30"
          },
          "ADX+DI_9|60": {
            "type": "number",
            "description": "Field: ADX+DI_9|60"
          },
          "ADX+DI_9|120": {
            "type": "number",
            "description": "Field: ADX+DI_9|120"
          },
          "ADX+DI_9|240": {
            "type": "number",
            "description": "Field: ADX+DI_9|240"
          },
          "ADX+DI_9|1W": {
            "type": "number",
            "description": "Field: ADX+DI_9|1W"
          },
          "ADX+DI_9|1M": {
            "type": "number",
            "description": "Field: ADX+DI_9|1M"
          },
          "ADX+DI_9[1]": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]"
          },
          "ADX+DI_9[1]|1": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|1"
          },
          "ADX+DI_9[1]|5": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|5"
          },
          "ADX+DI_9[1]|15": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|15"
          },
          "ADX+DI_9[1]|30": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|30"
          },
          "ADX+DI_9[1]|60": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|60"
          },
          "ADX+DI_9[1]|120": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|120"
          },
          "ADX+DI_9[1]|240": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|240"
          },
          "ADX+DI_9[1]|1W": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|1W"
          },
          "ADX+DI_9[1]|1M": {
            "type": "number",
            "description": "Field: ADX+DI_9[1]|1M"
          },
          "ADX+DI_100": {
            "type": "number",
            "description": "Field: ADX+DI_100"
          },
          "ADX-DI|1": {
            "type": "number",
            "description": "Field: ADX-DI|1"
          },
          "ADX-DI|5": {
            "type": "number",
            "description": "Field: ADX-DI|5"
          },
          "ADX-DI|15": {
            "type": "number",
            "description": "Field: ADX-DI|15"
          },
          "ADX-DI|30": {
            "type": "number",
            "description": "Field: ADX-DI|30"
          },
          "ADX-DI|60": {
            "type": "number",
            "description": "Field: ADX-DI|60"
          },
          "ADX-DI|120": {
            "type": "number",
            "description": "Field: ADX-DI|120"
          },
          "ADX-DI|240": {
            "type": "number",
            "description": "Field: ADX-DI|240"
          },
          "ADX-DI|1W": {
            "type": "number",
            "description": "Field: ADX-DI|1W"
          },
          "ADX-DI|1M": {
            "type": "number",
            "description": "Field: ADX-DI|1M"
          },
          "ADX-DI[1]": {
            "type": "number",
            "description": "Field: ADX-DI[1]"
          },
          "ADX-DI[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI[1]|1"
          },
          "ADX-DI[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI[1]|5"
          },
          "ADX-DI[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI[1]|15"
          },
          "ADX-DI[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI[1]|30"
          },
          "ADX-DI[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI[1]|60"
          },
          "ADX-DI[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI[1]|120"
          },
          "ADX-DI[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI[1]|240"
          },
          "ADX-DI[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI[1]|1W"
          },
          "ADX-DI[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI[1]|1M"
          },
          "ADX-DI_9": {
            "type": "number",
            "description": "Field: ADX-DI_9"
          },
          "ADX-DI_20": {
            "type": "number",
            "description": "Field: ADX-DI_20"
          },
          "ADX-DI_100|1": {
            "type": "number",
            "description": "Field: ADX-DI_100|1"
          },
          "ADX-DI_100|5": {
            "type": "number",
            "description": "Field: ADX-DI_100|5"
          },
          "ADX-DI_100|15": {
            "type": "number",
            "description": "Field: ADX-DI_100|15"
          },
          "ADX-DI_100|30": {
            "type": "number",
            "description": "Field: ADX-DI_100|30"
          },
          "ADX-DI_100|60": {
            "type": "number",
            "description": "Field: ADX-DI_100|60"
          },
          "ADX-DI_100|120": {
            "type": "number",
            "description": "Field: ADX-DI_100|120"
          },
          "ADX-DI_100|240": {
            "type": "number",
            "description": "Field: ADX-DI_100|240"
          },
          "ADX-DI_100|1W": {
            "type": "number",
            "description": "Field: ADX-DI_100|1W"
          },
          "ADX-DI_100|1M": {
            "type": "number",
            "description": "Field: ADX-DI_100|1M"
          },
          "ADX-DI_100[1]": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]"
          },
          "ADX-DI_100[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|1"
          },
          "ADX-DI_100[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|5"
          },
          "ADX-DI_100[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|15"
          },
          "ADX-DI_100[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|30"
          },
          "ADX-DI_100[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|60"
          },
          "ADX-DI_100[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|120"
          },
          "ADX-DI_100[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|240"
          },
          "ADX-DI_100[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|1W"
          },
          "ADX-DI_100[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_100[1]|1M"
          },
          "ADX-DI_50": {
            "type": "number",
            "description": "Field: ADX-DI_50"
          },
          "ADX-DI_20|1": {
            "type": "number",
            "description": "Field: ADX-DI_20|1"
          },
          "ADX-DI_20|5": {
            "type": "number",
            "description": "Field: ADX-DI_20|5"
          },
          "ADX-DI_20|15": {
            "type": "number",
            "description": "Field: ADX-DI_20|15"
          },
          "ADX-DI_20|30": {
            "type": "number",
            "description": "Field: ADX-DI_20|30"
          },
          "ADX-DI_20|60": {
            "type": "number",
            "description": "Field: ADX-DI_20|60"
          },
          "ADX-DI_20|120": {
            "type": "number",
            "description": "Field: ADX-DI_20|120"
          },
          "ADX-DI_20|240": {
            "type": "number",
            "description": "Field: ADX-DI_20|240"
          },
          "ADX-DI_20|1W": {
            "type": "number",
            "description": "Field: ADX-DI_20|1W"
          },
          "ADX-DI_20|1M": {
            "type": "number",
            "description": "Field: ADX-DI_20|1M"
          },
          "ADX-DI_20[1]": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]"
          },
          "ADX-DI_20[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|1"
          },
          "ADX-DI_20[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|5"
          },
          "ADX-DI_20[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|15"
          },
          "ADX-DI_20[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|30"
          },
          "ADX-DI_20[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|60"
          },
          "ADX-DI_20[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|120"
          },
          "ADX-DI_20[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|240"
          },
          "ADX-DI_20[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|1W"
          },
          "ADX-DI_20[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_20[1]|1M"
          },
          "ADX-DI_50|1": {
            "type": "number",
            "description": "Field: ADX-DI_50|1"
          },
          "ADX-DI_50|5": {
            "type": "number",
            "description": "Field: ADX-DI_50|5"
          },
          "ADX-DI_50|15": {
            "type": "number",
            "description": "Field: ADX-DI_50|15"
          },
          "ADX-DI_50|30": {
            "type": "number",
            "description": "Field: ADX-DI_50|30"
          },
          "ADX-DI_50|60": {
            "type": "number",
            "description": "Field: ADX-DI_50|60"
          },
          "ADX-DI_50|120": {
            "type": "number",
            "description": "Field: ADX-DI_50|120"
          },
          "ADX-DI_50|240": {
            "type": "number",
            "description": "Field: ADX-DI_50|240"
          },
          "ADX-DI_50|1W": {
            "type": "number",
            "description": "Field: ADX-DI_50|1W"
          },
          "ADX-DI_50|1M": {
            "type": "number",
            "description": "Field: ADX-DI_50|1M"
          },
          "ADX-DI_50[1]": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]"
          },
          "ADX-DI_50[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|1"
          },
          "ADX-DI_50[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|5"
          },
          "ADX-DI_50[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|15"
          },
          "ADX-DI_50[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|30"
          },
          "ADX-DI_50[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|60"
          },
          "ADX-DI_50[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|120"
          },
          "ADX-DI_50[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|240"
          },
          "ADX-DI_50[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|1W"
          },
          "ADX-DI_50[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_50[1]|1M"
          },
          "ADX-DI_9|1": {
            "type": "number",
            "description": "Field: ADX-DI_9|1"
          },
          "ADX-DI_9|5": {
            "type": "number",
            "description": "Field: ADX-DI_9|5"
          },
          "ADX-DI_9|15": {
            "type": "number",
            "description": "Field: ADX-DI_9|15"
          },
          "ADX-DI_9|30": {
            "type": "number",
            "description": "Field: ADX-DI_9|30"
          },
          "ADX-DI_9|60": {
            "type": "number",
            "description": "Field: ADX-DI_9|60"
          },
          "ADX-DI_9|120": {
            "type": "number",
            "description": "Field: ADX-DI_9|120"
          },
          "ADX-DI_9|240": {
            "type": "number",
            "description": "Field: ADX-DI_9|240"
          },
          "ADX-DI_9|1W": {
            "type": "number",
            "description": "Field: ADX-DI_9|1W"
          },
          "ADX-DI_9|1M": {
            "type": "number",
            "description": "Field: ADX-DI_9|1M"
          },
          "ADX-DI_9[1]": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]"
          },
          "ADX-DI_9[1]|1": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|1"
          },
          "ADX-DI_9[1]|5": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|5"
          },
          "ADX-DI_9[1]|15": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|15"
          },
          "ADX-DI_9[1]|30": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|30"
          },
          "ADX-DI_9[1]|60": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|60"
          },
          "ADX-DI_9[1]|120": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|120"
          },
          "ADX-DI_9[1]|240": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|240"
          },
          "ADX-DI_9[1]|1W": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|1W"
          },
          "ADX-DI_9[1]|1M": {
            "type": "number",
            "description": "Field: ADX-DI_9[1]|1M"
          },
          "ADX-DI_100": {
            "type": "number",
            "description": "Field: ADX-DI_100"
          },
          "ADX_9": {
            "type": "number",
            "description": "Field: ADX_9"
          },
          "ADX_20": {
            "type": "number",
            "description": "Field: ADX_20"
          },
          "ADX_100|1": {
            "type": "number",
            "description": "Field: ADX_100|1"
          },
          "ADX_100|5": {
            "type": "number",
            "description": "Field: ADX_100|5"
          },
          "ADX_100|15": {
            "type": "number",
            "description": "Field: ADX_100|15"
          },
          "ADX_100|30": {
            "type": "number",
            "description": "Field: ADX_100|30"
          },
          "ADX_100|60": {
            "type": "number",
            "description": "Field: ADX_100|60"
          },
          "ADX_100|120": {
            "type": "number",
            "description": "Field: ADX_100|120"
          },
          "ADX_100|240": {
            "type": "number",
            "description": "Field: ADX_100|240"
          },
          "ADX_100|1W": {
            "type": "number",
            "description": "Field: ADX_100|1W"
          },
          "ADX_100|1M": {
            "type": "number",
            "description": "Field: ADX_100|1M"
          },
          "ADX_50": {
            "type": "number",
            "description": "Field: ADX_50"
          },
          "ADX_20|1": {
            "type": "number",
            "description": "Field: ADX_20|1"
          },
          "ADX_20|5": {
            "type": "number",
            "description": "Field: ADX_20|5"
          },
          "ADX_20|15": {
            "type": "number",
            "description": "Field: ADX_20|15"
          },
          "ADX_20|30": {
            "type": "number",
            "description": "Field: ADX_20|30"
          },
          "ADX_20|60": {
            "type": "number",
            "description": "Field: ADX_20|60"
          },
          "ADX_20|120": {
            "type": "number",
            "description": "Field: ADX_20|120"
          },
          "ADX_20|240": {
            "type": "number",
            "description": "Field: ADX_20|240"
          },
          "ADX_20|1W": {
            "type": "number",
            "description": "Field: ADX_20|1W"
          },
          "ADX_20|1M": {
            "type": "number",
            "description": "Field: ADX_20|1M"
          },
          "ADX_50|1": {
            "type": "number",
            "description": "Field: ADX_50|1"
          },
          "ADX_50|5": {
            "type": "number",
            "description": "Field: ADX_50|5"
          },
          "ADX_50|15": {
            "type": "number",
            "description": "Field: ADX_50|15"
          },
          "ADX_50|30": {
            "type": "number",
            "description": "Field: ADX_50|30"
          },
          "ADX_50|60": {
            "type": "number",
            "description": "Field: ADX_50|60"
          },
          "ADX_50|120": {
            "type": "number",
            "description": "Field: ADX_50|120"
          },
          "ADX_50|240": {
            "type": "number",
            "description": "Field: ADX_50|240"
          },
          "ADX_50|1W": {
            "type": "number",
            "description": "Field: ADX_50|1W"
          },
          "ADX_50|1M": {
            "type": "number",
            "description": "Field: ADX_50|1M"
          },
          "ADX_9|1": {
            "type": "number",
            "description": "Field: ADX_9|1"
          },
          "ADX_9|5": {
            "type": "number",
            "description": "Field: ADX_9|5"
          },
          "ADX_9|15": {
            "type": "number",
            "description": "Field: ADX_9|15"
          },
          "ADX_9|30": {
            "type": "number",
            "description": "Field: ADX_9|30"
          },
          "ADX_9|60": {
            "type": "number",
            "description": "Field: ADX_9|60"
          },
          "ADX_9|120": {
            "type": "number",
            "description": "Field: ADX_9|120"
          },
          "ADX_9|240": {
            "type": "number",
            "description": "Field: ADX_9|240"
          },
          "ADX_9|1W": {
            "type": "number",
            "description": "Field: ADX_9|1W"
          },
          "ADX_9|1M": {
            "type": "number",
            "description": "Field: ADX_9|1M"
          },
          "ADX_100": {
            "type": "number",
            "description": "Field: ADX_100"
          },
          "AO|1": {
            "type": "number",
            "description": "Field: AO|1"
          },
          "AO|5": {
            "type": "number",
            "description": "Field: AO|5"
          },
          "AO|15": {
            "type": "number",
            "description": "Field: AO|15"
          },
          "AO|30": {
            "type": "number",
            "description": "Field: AO|30"
          },
          "AO|60": {
            "type": "number",
            "description": "Field: AO|60"
          },
          "AO|120": {
            "type": "number",
            "description": "Field: AO|120"
          },
          "AO|240": {
            "type": "number",
            "description": "Field: AO|240"
          },
          "AO|1W": {
            "type": "number",
            "description": "Field: AO|1W"
          },
          "AO|1M": {
            "type": "number",
            "description": "Field: AO|1M"
          },
          "AO[1]": {
            "type": "number",
            "description": "Field: AO[1]"
          },
          "AO[1]|1": {
            "type": "number",
            "description": "Field: AO[1]|1"
          },
          "AO[1]|5": {
            "type": "number",
            "description": "Field: AO[1]|5"
          },
          "AO[1]|15": {
            "type": "number",
            "description": "Field: AO[1]|15"
          },
          "AO[1]|30": {
            "type": "number",
            "description": "Field: AO[1]|30"
          },
          "AO[1]|60": {
            "type": "number",
            "description": "Field: AO[1]|60"
          },
          "AO[1]|120": {
            "type": "number",
            "description": "Field: AO[1]|120"
          },
          "AO[1]|240": {
            "type": "number",
            "description": "Field: AO[1]|240"
          },
          "AO[1]|1W": {
            "type": "number",
            "description": "Field: AO[1]|1W"
          },
          "AO[1]|1M": {
            "type": "number",
            "description": "Field: AO[1]|1M"
          },
          "AO[2]": {
            "type": "number",
            "description": "Field: AO[2]"
          },
          "AO[2]|1": {
            "type": "number",
            "description": "Field: AO[2]|1"
          },
          "AO[2]|5": {
            "type": "number",
            "description": "Field: AO[2]|5"
          },
          "AO[2]|15": {
            "type": "number",
            "description": "Field: AO[2]|15"
          },
          "AO[2]|30": {
            "type": "number",
            "description": "Field: AO[2]|30"
          },
          "AO[2]|60": {
            "type": "number",
            "description": "Field: AO[2]|60"
          },
          "AO[2]|120": {
            "type": "number",
            "description": "Field: AO[2]|120"
          },
          "AO[2]|240": {
            "type": "number",
            "description": "Field: AO[2]|240"
          },
          "AO[2]|1W": {
            "type": "number",
            "description": "Field: AO[2]|1W"
          },
          "AO[2]|1M": {
            "type": "number",
            "description": "Field: AO[2]|1M"
          },
          "ATR|1": {
            "type": "number",
            "description": "Field: ATR|1"
          },
          "ATR|5": {
            "type": "number",
            "description": "Field: ATR|5"
          },
          "ATR|15": {
            "type": "number",
            "description": "Field: ATR|15"
          },
          "ATR|30": {
            "type": "number",
            "description": "Field: ATR|30"
          },
          "ATR|60": {
            "type": "number",
            "description": "Field: ATR|60"
          },
          "ATR|120": {
            "type": "number",
            "description": "Field: ATR|120"
          },
          "ATR|240": {
            "type": "number",
            "description": "Field: ATR|240"
          },
          "ATR|1W": {
            "type": "number",
            "description": "Field: ATR|1W"
          },
          "ATR|1M": {
            "type": "number",
            "description": "Field: ATR|1M"
          },
          "ATRP": {
            "type": "number",
            "description": "Field: ATRP"
          },
          "ATRP|1": {
            "type": "number",
            "description": "Field: ATRP|1"
          },
          "ATRP|5": {
            "type": "number",
            "description": "Field: ATRP|5"
          },
          "ATRP|15": {
            "type": "number",
            "description": "Field: ATRP|15"
          },
          "ATRP|30": {
            "type": "number",
            "description": "Field: ATRP|30"
          },
          "ATRP|60": {
            "type": "number",
            "description": "Field: ATRP|60"
          },
          "ATRP|120": {
            "type": "number",
            "description": "Field: ATRP|120"
          },
          "ATRP|240": {
            "type": "number",
            "description": "Field: ATRP|240"
          },
          "ATRP|1W": {
            "type": "number",
            "description": "Field: ATRP|1W"
          },
          "ATRP|1M": {
            "type": "number",
            "description": "Field: ATRP|1M"
          },
          "Aroon.Down|1": {
            "type": "number",
            "description": "Field: Aroon.Down|1"
          },
          "Aroon.Down|5": {
            "type": "number",
            "description": "Field: Aroon.Down|5"
          },
          "Aroon.Down|15": {
            "type": "number",
            "description": "Field: Aroon.Down|15"
          },
          "Aroon.Down|30": {
            "type": "number",
            "description": "Field: Aroon.Down|30"
          },
          "Aroon.Down|60": {
            "type": "number",
            "description": "Field: Aroon.Down|60"
          },
          "Aroon.Down|120": {
            "type": "number",
            "description": "Field: Aroon.Down|120"
          },
          "Aroon.Down|240": {
            "type": "number",
            "description": "Field: Aroon.Down|240"
          },
          "Aroon.Down|1W": {
            "type": "number",
            "description": "Field: Aroon.Down|1W"
          },
          "Aroon.Down|1M": {
            "type": "number",
            "description": "Field: Aroon.Down|1M"
          },
          "Aroon.Up|1": {
            "type": "number",
            "description": "Field: Aroon.Up|1"
          },
          "Aroon.Up|5": {
            "type": "number",
            "description": "Field: Aroon.Up|5"
          },
          "Aroon.Up|15": {
            "type": "number",
            "description": "Field: Aroon.Up|15"
          },
          "Aroon.Up|30": {
            "type": "number",
            "description": "Field: Aroon.Up|30"
          },
          "Aroon.Up|60": {
            "type": "number",
            "description": "Field: Aroon.Up|60"
          },
          "Aroon.Up|120": {
            "type": "number",
            "description": "Field: Aroon.Up|120"
          },
          "Aroon.Up|240": {
            "type": "number",
            "description": "Field: Aroon.Up|240"
          },
          "Aroon.Up|1W": {
            "type": "number",
            "description": "Field: Aroon.Up|1W"
          },
          "Aroon.Up|1M": {
            "type": "number",
            "description": "Field: Aroon.Up|1M"
          },
          "BB.basis": {
            "type": "number",
            "description": "Field: BB.basis"
          },
          "BB.basis|1": {
            "type": "number",
            "description": "Field: BB.basis|1"
          },
          "BB.basis|5": {
            "type": "number",
            "description": "Field: BB.basis|5"
          },
          "BB.basis|15": {
            "type": "number",
            "description": "Field: BB.basis|15"
          },
          "BB.basis|30": {
            "type": "number",
            "description": "Field: BB.basis|30"
          },
          "BB.basis|60": {
            "type": "number",
            "description": "Field: BB.basis|60"
          },
          "BB.basis|120": {
            "type": "number",
            "description": "Field: BB.basis|120"
          },
          "BB.basis|240": {
            "type": "number",
            "description": "Field: BB.basis|240"
          },
          "BB.basis|1W": {
            "type": "number",
            "description": "Field: BB.basis|1W"
          },
          "BB.basis|1M": {
            "type": "number",
            "description": "Field: BB.basis|1M"
          },
          "BB.basis_50": {
            "type": "number",
            "description": "Field: BB.basis_50"
          },
          "BB.basis_50|1": {
            "type": "number",
            "description": "Field: BB.basis_50|1"
          },
          "BB.basis_50|5": {
            "type": "number",
            "description": "Field: BB.basis_50|5"
          },
          "BB.basis_50|15": {
            "type": "number",
            "description": "Field: BB.basis_50|15"
          },
          "BB.basis_50|30": {
            "type": "number",
            "description": "Field: BB.basis_50|30"
          },
          "BB.basis_50|60": {
            "type": "number",
            "description": "Field: BB.basis_50|60"
          },
          "BB.basis_50|120": {
            "type": "number",
            "description": "Field: BB.basis_50|120"
          },
          "BB.basis_50|240": {
            "type": "number",
            "description": "Field: BB.basis_50|240"
          },
          "BB.basis_50|1W": {
            "type": "number",
            "description": "Field: BB.basis_50|1W"
          },
          "BB.basis_50|1M": {
            "type": "number",
            "description": "Field: BB.basis_50|1M"
          },
          "BB.lower|1": {
            "type": "number",
            "description": "Field: BB.lower|1"
          },
          "BB.lower|5": {
            "type": "number",
            "description": "Field: BB.lower|5"
          },
          "BB.lower|15": {
            "type": "number",
            "description": "Field: BB.lower|15"
          },
          "BB.lower|30": {
            "type": "number",
            "description": "Field: BB.lower|30"
          },
          "BB.lower|60": {
            "type": "number",
            "description": "Field: BB.lower|60"
          },
          "BB.lower|120": {
            "type": "number",
            "description": "Field: BB.lower|120"
          },
          "BB.lower|240": {
            "type": "number",
            "description": "Field: BB.lower|240"
          },
          "BB.lower|1W": {
            "type": "number",
            "description": "Field: BB.lower|1W"
          },
          "BB.lower|1M": {
            "type": "number",
            "description": "Field: BB.lower|1M"
          },
          "BB.lower_50": {
            "type": "number",
            "description": "Field: BB.lower_50"
          },
          "BB.lower_50|1": {
            "type": "number",
            "description": "Field: BB.lower_50|1"
          },
          "BB.lower_50|5": {
            "type": "number",
            "description": "Field: BB.lower_50|5"
          },
          "BB.lower_50|15": {
            "type": "number",
            "description": "Field: BB.lower_50|15"
          },
          "BB.lower_50|30": {
            "type": "number",
            "description": "Field: BB.lower_50|30"
          },
          "BB.lower_50|60": {
            "type": "number",
            "description": "Field: BB.lower_50|60"
          },
          "BB.lower_50|120": {
            "type": "number",
            "description": "Field: BB.lower_50|120"
          },
          "BB.lower_50|240": {
            "type": "number",
            "description": "Field: BB.lower_50|240"
          },
          "BB.lower_50|1W": {
            "type": "number",
            "description": "Field: BB.lower_50|1W"
          },
          "BB.lower_50|1M": {
            "type": "number",
            "description": "Field: BB.lower_50|1M"
          },
          "BB.upper|1": {
            "type": "number",
            "description": "Field: BB.upper|1"
          },
          "BB.upper|5": {
            "type": "number",
            "description": "Field: BB.upper|5"
          },
          "BB.upper|15": {
            "type": "number",
            "description": "Field: BB.upper|15"
          },
          "BB.upper|30": {
            "type": "number",
            "description": "Field: BB.upper|30"
          },
          "BB.upper|60": {
            "type": "number",
            "description": "Field: BB.upper|60"
          },
          "BB.upper|120": {
            "type": "number",
            "description": "Field: BB.upper|120"
          },
          "BB.upper|240": {
            "type": "number",
            "description": "Field: BB.upper|240"
          },
          "BB.upper|1W": {
            "type": "number",
            "description": "Field: BB.upper|1W"
          },
          "BB.upper|1M": {
            "type": "number",
            "description": "Field: BB.upper|1M"
          },
          "BB.upper_50": {
            "type": "number",
            "description": "Field: BB.upper_50"
          },
          "BB.upper_50|1": {
            "type": "number",
            "description": "Field: BB.upper_50|1"
          },
          "BB.upper_50|5": {
            "type": "number",
            "description": "Field: BB.upper_50|5"
          },
          "BB.upper_50|15": {
            "type": "number",
            "description": "Field: BB.upper_50|15"
          },
          "BB.upper_50|30": {
            "type": "number",
            "description": "Field: BB.upper_50|30"
          },
          "BB.upper_50|60": {
            "type": "number",
            "description": "Field: BB.upper_50|60"
          },
          "BB.upper_50|120": {
            "type": "number",
            "description": "Field: BB.upper_50|120"
          },
          "BB.upper_50|240": {
            "type": "number",
            "description": "Field: BB.upper_50|240"
          },
          "BB.upper_50|1W": {
            "type": "number",
            "description": "Field: BB.upper_50|1W"
          },
          "BB.upper_50|1M": {
            "type": "number",
            "description": "Field: BB.upper_50|1M"
          },
          "BBPower|1": {
            "type": "number",
            "description": "Field: BBPower|1"
          },
          "BBPower|5": {
            "type": "number",
            "description": "Field: BBPower|5"
          },
          "BBPower|15": {
            "type": "number",
            "description": "Field: BBPower|15"
          },
          "BBPower|30": {
            "type": "number",
            "description": "Field: BBPower|30"
          },
          "BBPower|60": {
            "type": "number",
            "description": "Field: BBPower|60"
          },
          "BBPower|120": {
            "type": "number",
            "description": "Field: BBPower|120"
          },
          "BBPower|240": {
            "type": "number",
            "description": "Field: BBPower|240"
          },
          "BBPower|1W": {
            "type": "number",
            "description": "Field: BBPower|1W"
          },
          "BBPower|1M": {
            "type": "number",
            "description": "Field: BBPower|1M"
          },
          "CCI20|1": {
            "type": "number",
            "description": "Field: CCI20|1"
          },
          "CCI20|5": {
            "type": "number",
            "description": "Field: CCI20|5"
          },
          "CCI20|15": {
            "type": "number",
            "description": "Field: CCI20|15"
          },
          "CCI20|30": {
            "type": "number",
            "description": "Field: CCI20|30"
          },
          "CCI20|60": {
            "type": "number",
            "description": "Field: CCI20|60"
          },
          "CCI20|120": {
            "type": "number",
            "description": "Field: CCI20|120"
          },
          "CCI20|240": {
            "type": "number",
            "description": "Field: CCI20|240"
          },
          "CCI20|1W": {
            "type": "number",
            "description": "Field: CCI20|1W"
          },
          "CCI20|1M": {
            "type": "number",
            "description": "Field: CCI20|1M"
          },
          "CCI20[1]": {
            "type": "number",
            "description": "Field: CCI20[1]"
          },
          "CCI20[1]|1": {
            "type": "number",
            "description": "Field: CCI20[1]|1"
          },
          "CCI20[1]|5": {
            "type": "number",
            "description": "Field: CCI20[1]|5"
          },
          "CCI20[1]|15": {
            "type": "number",
            "description": "Field: CCI20[1]|15"
          },
          "CCI20[1]|30": {
            "type": "number",
            "description": "Field: CCI20[1]|30"
          },
          "CCI20[1]|60": {
            "type": "number",
            "description": "Field: CCI20[1]|60"
          },
          "CCI20[1]|120": {
            "type": "number",
            "description": "Field: CCI20[1]|120"
          },
          "CCI20[1]|240": {
            "type": "number",
            "description": "Field: CCI20[1]|240"
          },
          "CCI20[1]|1W": {
            "type": "number",
            "description": "Field: CCI20[1]|1W"
          },
          "CCI20[1]|1M": {
            "type": "number",
            "description": "Field: CCI20[1]|1M"
          },
          "Candle.3BlackCrows": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows"
          },
          "Candle.3BlackCrows|1": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|1"
          },
          "Candle.3BlackCrows|5": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|5"
          },
          "Candle.3BlackCrows|15": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|15"
          },
          "Candle.3BlackCrows|30": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|30"
          },
          "Candle.3BlackCrows|60": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|60"
          },
          "Candle.3BlackCrows|120": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|120"
          },
          "Candle.3BlackCrows|240": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|240"
          },
          "Candle.3BlackCrows|1W": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|1W"
          },
          "Candle.3BlackCrows|1M": {
            "type": "number",
            "description": "Field: Candle.3BlackCrows|1M"
          },
          "Candle.3WhiteSoldiers": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers"
          },
          "Candle.3WhiteSoldiers|1": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|1"
          },
          "Candle.3WhiteSoldiers|5": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|5"
          },
          "Candle.3WhiteSoldiers|15": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|15"
          },
          "Candle.3WhiteSoldiers|30": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|30"
          },
          "Candle.3WhiteSoldiers|60": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|60"
          },
          "Candle.3WhiteSoldiers|120": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|120"
          },
          "Candle.3WhiteSoldiers|240": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|240"
          },
          "Candle.3WhiteSoldiers|1W": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|1W"
          },
          "Candle.3WhiteSoldiers|1M": {
            "type": "number",
            "description": "Field: Candle.3WhiteSoldiers|1M"
          },
          "Candle.AbandonedBaby.Bearish": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish"
          },
          "Candle.AbandonedBaby.Bearish|1": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|1"
          },
          "Candle.AbandonedBaby.Bearish|5": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|5"
          },
          "Candle.AbandonedBaby.Bearish|15": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|15"
          },
          "Candle.AbandonedBaby.Bearish|30": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|30"
          },
          "Candle.AbandonedBaby.Bearish|60": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|60"
          },
          "Candle.AbandonedBaby.Bearish|120": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|120"
          },
          "Candle.AbandonedBaby.Bearish|240": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|240"
          },
          "Candle.AbandonedBaby.Bearish|1W": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|1W"
          },
          "Candle.AbandonedBaby.Bearish|1M": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bearish|1M"
          },
          "Candle.AbandonedBaby.Bullish": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish"
          },
          "Candle.AbandonedBaby.Bullish|1": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|1"
          },
          "Candle.AbandonedBaby.Bullish|5": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|5"
          },
          "Candle.AbandonedBaby.Bullish|15": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|15"
          },
          "Candle.AbandonedBaby.Bullish|30": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|30"
          },
          "Candle.AbandonedBaby.Bullish|60": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|60"
          },
          "Candle.AbandonedBaby.Bullish|120": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|120"
          },
          "Candle.AbandonedBaby.Bullish|240": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|240"
          },
          "Candle.AbandonedBaby.Bullish|1W": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|1W"
          },
          "Candle.AbandonedBaby.Bullish|1M": {
            "type": "number",
            "description": "Field: Candle.AbandonedBaby.Bullish|1M"
          },
          "Candle.Doji": {
            "type": "number",
            "description": "Field: Candle.Doji"
          },
          "Candle.Doji|1": {
            "type": "number",
            "description": "Field: Candle.Doji|1"
          },
          "Candle.Doji|5": {
            "type": "number",
            "description": "Field: Candle.Doji|5"
          },
          "Candle.Doji|15": {
            "type": "number",
            "description": "Field: Candle.Doji|15"
          },
          "Candle.Doji|30": {
            "type": "number",
            "description": "Field: Candle.Doji|30"
          },
          "Candle.Doji|60": {
            "type": "number",
            "description": "Field: Candle.Doji|60"
          },
          "Candle.Doji|120": {
            "type": "number",
            "description": "Field: Candle.Doji|120"
          },
          "Candle.Doji|240": {
            "type": "number",
            "description": "Field: Candle.Doji|240"
          },
          "Candle.Doji|1W": {
            "type": "number",
            "description": "Field: Candle.Doji|1W"
          },
          "Candle.Doji|1M": {
            "type": "number",
            "description": "Field: Candle.Doji|1M"
          },
          "Candle.Doji.Dragonfly": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly"
          },
          "Candle.Doji.Dragonfly|1": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|1"
          },
          "Candle.Doji.Dragonfly|5": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|5"
          },
          "Candle.Doji.Dragonfly|15": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|15"
          },
          "Candle.Doji.Dragonfly|30": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|30"
          },
          "Candle.Doji.Dragonfly|60": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|60"
          },
          "Candle.Doji.Dragonfly|120": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|120"
          },
          "Candle.Doji.Dragonfly|240": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|240"
          },
          "Candle.Doji.Dragonfly|1W": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|1W"
          },
          "Candle.Doji.Dragonfly|1M": {
            "type": "number",
            "description": "Field: Candle.Doji.Dragonfly|1M"
          },
          "Candle.Doji.Gravestone": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone"
          },
          "Candle.Doji.Gravestone|1": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|1"
          },
          "Candle.Doji.Gravestone|5": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|5"
          },
          "Candle.Doji.Gravestone|15": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|15"
          },
          "Candle.Doji.Gravestone|30": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|30"
          },
          "Candle.Doji.Gravestone|60": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|60"
          },
          "Candle.Doji.Gravestone|120": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|120"
          },
          "Candle.Doji.Gravestone|240": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|240"
          },
          "Candle.Doji.Gravestone|1W": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|1W"
          },
          "Candle.Doji.Gravestone|1M": {
            "type": "number",
            "description": "Field: Candle.Doji.Gravestone|1M"
          },
          "Candle.Engulfing.Bearish": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish"
          },
          "Candle.Engulfing.Bearish|1": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|1"
          },
          "Candle.Engulfing.Bearish|5": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|5"
          },
          "Candle.Engulfing.Bearish|15": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|15"
          },
          "Candle.Engulfing.Bearish|30": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|30"
          },
          "Candle.Engulfing.Bearish|60": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|60"
          },
          "Candle.Engulfing.Bearish|120": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|120"
          },
          "Candle.Engulfing.Bearish|240": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|240"
          },
          "Candle.Engulfing.Bearish|1W": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|1W"
          },
          "Candle.Engulfing.Bearish|1M": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bearish|1M"
          },
          "Candle.Engulfing.Bullish": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish"
          },
          "Candle.Engulfing.Bullish|1": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|1"
          },
          "Candle.Engulfing.Bullish|5": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|5"
          },
          "Candle.Engulfing.Bullish|15": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|15"
          },
          "Candle.Engulfing.Bullish|30": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|30"
          },
          "Candle.Engulfing.Bullish|60": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|60"
          },
          "Candle.Engulfing.Bullish|120": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|120"
          },
          "Candle.Engulfing.Bullish|240": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|240"
          },
          "Candle.Engulfing.Bullish|1W": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|1W"
          },
          "Candle.Engulfing.Bullish|1M": {
            "type": "number",
            "description": "Field: Candle.Engulfing.Bullish|1M"
          },
          "Candle.EveningStar": {
            "type": "number",
            "description": "Field: Candle.EveningStar"
          },
          "Candle.EveningStar|1": {
            "type": "number",
            "description": "Field: Candle.EveningStar|1"
          },
          "Candle.EveningStar|5": {
            "type": "number",
            "description": "Field: Candle.EveningStar|5"
          },
          "Candle.EveningStar|15": {
            "type": "number",
            "description": "Field: Candle.EveningStar|15"
          },
          "Candle.EveningStar|30": {
            "type": "number",
            "description": "Field: Candle.EveningStar|30"
          },
          "Candle.EveningStar|60": {
            "type": "number",
            "description": "Field: Candle.EveningStar|60"
          },
          "Candle.EveningStar|120": {
            "type": "number",
            "description": "Field: Candle.EveningStar|120"
          },
          "Candle.EveningStar|240": {
            "type": "number",
            "description": "Field: Candle.EveningStar|240"
          },
          "Candle.EveningStar|1W": {
            "type": "number",
            "description": "Field: Candle.EveningStar|1W"
          },
          "Candle.EveningStar|1M": {
            "type": "number",
            "description": "Field: Candle.EveningStar|1M"
          },
          "Candle.Hammer": {
            "type": "number",
            "description": "Field: Candle.Hammer"
          },
          "Candle.Hammer|1": {
            "type": "number",
            "description": "Field: Candle.Hammer|1"
          },
          "Candle.Hammer|5": {
            "type": "number",
            "description": "Field: Candle.Hammer|5"
          },
          "Candle.Hammer|15": {
            "type": "number",
            "description": "Field: Candle.Hammer|15"
          },
          "Candle.Hammer|30": {
            "type": "number",
            "description": "Field: Candle.Hammer|30"
          },
          "Candle.Hammer|60": {
            "type": "number",
            "description": "Field: Candle.Hammer|60"
          },
          "Candle.Hammer|120": {
            "type": "number",
            "description": "Field: Candle.Hammer|120"
          },
          "Candle.Hammer|240": {
            "type": "number",
            "description": "Field: Candle.Hammer|240"
          },
          "Candle.Hammer|1W": {
            "type": "number",
            "description": "Field: Candle.Hammer|1W"
          },
          "Candle.Hammer|1M": {
            "type": "number",
[...]
