{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView options API",
    "version": "1.0.0",
    "description": "OpenAPI specification for TradingView options market scanner API.\n\n**Data Source**: tv-screener v0.4.0\n**Generator**: tv-generator v2.0.0\n**Generated**: 2025-06-25T15:39:47.095476\n\nThis specification is automatically generated from TradingView Scanner API metadata provided by the tv-screener library. All field definitions, types, and examples are sourced from official TradingView data structures.",
    "contact": {
      "name": "TradingView Scanner API",
      "url": "https://scanner.tradingview.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-data-source": "tv-screener",
    "x-data-version": "0.4.0",
    "x-generator": "tv-generator",
    "x-generator-version": "2.0.0",
    "x-generated-date": "2025-06-25T15:39:47.095476",
    "x-market": "options",
    "x-field-count": 68
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "options",
      "description": "Market: options"
    }
  ],
  "paths": {
    "/options/scan": {
      "post": {
        "summary": "Scan options market",
        "description": "Scan options market with filters and options",
        "operationId": "scanOptions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful scan result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "sessionid",
        "description": "TradingView session cookie for real-time data access"
      }
    },
    "schemas": {
      "MarketData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Symbol Type",
            "enum": [
              "option"
            ]
          },
          "is_primary": {
            "type": "boolean",
            "description": "Primary Listing"
          },
          "active_symbol": {
            "type": "boolean",
            "description": "Current trading day"
          },
          "change": {
            "type": "number",
            "description": "Change %"
          },
          "change_abs": {
            "type": "number",
            "description": "Change"
          },
          "close": {
            "type": "number",
            "description": "Price"
          },
          "volume": {
            "type": "number",
            "description": "Volume"
          },
          "Perf.All": {
            "type": "number",
            "description": "All Time Performance"
          },
          "change_from_open": {
            "type": "number",
            "description": "Change from Open %"
          },
          "change_from_open_abs": {
            "type": "number",
            "description": "Change from Open"
          },
          "exchange": {
            "type": "string",
            "description": "Exchange",
            "enum": [
              "BSE",
              "CBOT",
              "CBOT_MINI",
              "CME",
              "CME_MINI",
              "COMEX",
              "NSE",
              "NYMEX",
              "OPRA"
            ]
          },
          "gap": {
            "type": "number",
            "description": "Gap %"
          },
          "high": {
            "type": "number",
            "description": "High"
          },
          "low": {
            "type": "number",
            "description": "Low"
          },
          "open": {
            "type": "number",
            "description": "Open"
          },
          "postmarket_change": {
            "type": "number",
            "description": "Post-market Change %"
          },
          "postmarket_change_abs": {
            "type": "number",
            "description": "Post-market Change"
          },
          "premarket_change": {
            "type": "number",
            "description": "Pre-market Change %"
          },
          "premarket_change_abs": {
            "type": "number",
            "description": "Pre-market Change"
          },
          "premarket_change_from_open": {
            "type": "number",
            "description": "Pre-market Change from Open %"
          },
          "premarket_change_from_open_abs": {
            "type": "number",
            "description": "Pre-market Change from Open"
          },
          "premarket_gap": {
            "type": "number",
            "description": "Pre-market Gap %"
          },
          "submarket": {
            "type": "string",
            "description": "Submarket",
            "enum": [
              ""
            ]
          },
          "currency": {
            "type": "string",
            "description": "Quote currency",
            "enum": [
              "CHF",
              "CNH",
              "EUR",
              "GBP",
              "INR",
              "JPY",
              "USD",
              "USX"
            ]
          },
          "ask": {
            "type": "number",
            "description": "Ask"
          },
          "bid": {
            "type": "number",
            "description": "Bid"
          },
          "bars_count": {
            "type": "number",
            "description": "Field: bars_count"
          },
          "base_currency_kind": {
            "type": "string",
            "description": "Field: base_currency_kind"
          },
          "bid_ask_spread_pct": {
            "type": "number",
            "description": "Field: bid_ask_spread_pct"
          },
          "coupon": {
            "type": "number",
            "description": "Field: coupon"
          },
          "cryptoasset-info.description": {
            "type": "string",
            "description": "Field: cryptoasset-info.description"
          },
          "cryptoasset-info.id": {
            "type": "string",
            "description": "Field: cryptoasset-info.id"
          },
          "currency_id": {
            "type": "string",
            "description": "Field: currency_id",
            "enum": [
              "CHF",
              "EUR",
              "GBP",
              "INR",
              "JPY",
              "USD",
              "XTVCNH",
              "XTVUSX"
            ]
          },
          "currency_kind": {
            "type": "string",
            "description": "Field: currency_kind",
            "enum": [
              "fiat"
            ]
          },
          "days_to_maturity": {
            "type": "number",
            "description": "Field: days_to_maturity"
          },
          "description": {
            "type": "string",
            "description": "Field: description"
          },
          "expiration": {
            "type": "string",
            "description": "Field: expiration"
          },
          "fractional": {
            "type": "string",
            "description": "Field: fractional",
            "enum": [
              "false",
              "true"
            ]
          },
          "gap_down": {
            "type": "number",
            "description": "Field: gap_down"
          },
          "gap_down_abs": {
            "type": "number",
            "description": "Field: gap_down_abs"
          },
          "gap_up": {
            "type": "number",
            "description": "Field: gap_up"
          },
          "gap_up_abs": {
            "type": "number",
            "description": "Field: gap_up_abs"
          },
          "indexes": {
            "type": "string",
            "description": "Field: indexes"
          },
          "indicators_bars_count": {
            "type": "number",
            "description": "Field: indicators_bars_count"
          },
          "is_blacklisted": {
            "type": "boolean",
            "description": "Field: is_blacklisted"
          },
          "is_shariah_compliant": {
            "type": "boolean",
            "description": "Field: is_shariah_compliant"
          },
          "last_bar_update_time": {
            "type": "number",
            "description": "Field: last_bar_update_time"
          },
          "logoid": {
            "type": "string",
            "description": "Field: logoid"
          },
          "market": {
            "type": "string",
            "description": "Field: market",
            "enum": [
              "options"
            ]
          },
          "maturity_date": {
            "type": "string",
            "description": "Field: maturity_date"
          },
          "minmov": {
            "type": "number",
            "description": "Field: minmov"
          },
          "minmove2": {
            "type": "number",
            "description": "Field: minmove2"
          },
          "name": {
            "type": "string",
            "description": "Field: name"
          },
          "option-type": {
            "type": "string",
            "description": "Field: option-type",
            "enum": [
              "call",
              "put"
            ]
          },
          "post_change": {
            "type": "number",
            "description": "Field: post_change"
          },
          "pre_change": {
            "type": "number",
            "description": "Field: pre_change"
          },
          "pre_change_abs": {
            "type": "number",
            "description": "Field: pre_change_abs"
          },
          "pricescale": {
            "type": "number",
            "description": "Field: pricescale"
          },
          "source-logoid": {
            "type": "string",
            "description": "Field: source-logoid",
            "enum": [
              "source/BSE",
              "source/CBOT",
              "source/CBOT_MINI",
              "source/CME",
              "source/CME_MINI",
              "source/COMEX",
              "source/NSE",
              "source/NYMEX",
              "source/OPRA"
            ]
          },
          "strike": {
            "type": "number",
            "description": "Field: strike"
          },
          "subtype": {
            "type": "string",
            "description": "Field: subtype",
            "enum": [
              ""
            ]
          },
          "time": {
            "type": "string",
            "description": "Field: time"
          },
          "typespecs": {
            "type": "array",
            "description": "Field: typespecs",
            "enum": [
              ""
            ]
          },
          "update-time": {
            "type": "number",
            "description": "Field: update-time"
          },
          "update_mode": {
            "type": "string",
            "description": "Field: update_mode",
            "enum": [
              "streaming"
            ]
          },
          "update_time": {
            "type": "string",
            "description": "Field: update_time"
          },
          "volume_change": {
            "type": "number",
            "description": "Field: volume_change"
          },
          "volume_change_abs": {
            "type": "number",
            "description": "Field: volume_change_abs"
          }
        }
      },
      "ScanRequest": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Filter"
            },
            "description": "Array of filters to apply"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Columns to return"
          },
          "range": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 2,
            "description": "Range of results [start, end]"
          }
        },
        "required": [
          "columns",
          "range"
        ]
      },
      "ScanResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketData"
            }
          },
          "totalCount": {
            "type": "integer"
          }
        }
      },
      "Filter": {
        "type": "object",
        "properties": {
          "left": {
            "type": "string",
            "description": "Field name"
          },
          "operation": {
            "type": "string",
            "enum": [
              "and",
              "or",
              "not",
              "gt",
              "lt",
              "eq",
              "nz"
            ],
            "description": "Filter operation"
          },
          "right": {
            "type": "string",
            "description": "Filter value"
          }
        },
        "required": [
          "left",
          "operation",
          "right"
        ]
      },
      "Options": {
        "type": "object",
        "properties": {
          "lang": {
            "type": "string",
            "enum": [
              "en",
              "ru",
              "zh"
            ],
            "default": "en"
          },
          "decimal_places": {
            "type": "integer",
            "minimum": 0,
            "maximum": 8
          }
        }
      }
    }
  }
}