{
  "openapi": "3.1.0",
  "info": {
    "title": "TradingView Russia API",
    "description": "### Purpose:\nThis API provides access to real-time Russia market data from TradingView Scanner.\n\n### Supported Operations:\n- Scan market with filters and technical indicators\n- Filter and sort by various criteria (price, volume, indicators)\n- Get market metadata and reference information\n\n### Authentication:\n- API Key via `Authorization: Bearer <token>`\n\n### Features:\n- Time format: ISO 8601, UTC\n- All parameters and responses strictly typed per OpenAPI 3.1.0\n- Compatible with GPT Builder Custom Actions\n\n### Example Usage:\nGet list of tickers with RSI > 70 via POST /scan with appropriate filters.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://scanner.tradingview.com",
      "description": "TradingView Scanner API"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/scan": {
      "post": {
        "summary": "Scan Russia market",
        "description": "Scan Russia market with filters and technical indicators",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_current_liabilities_fy": {
                      "type": "number"
                    },
                    "total_equity_fq": {
                      "type": "number"
                    },
                    "ebitda_less_capex_interst_cover_fy": {
                      "type": "number"
                    },
                    "rtc": {
                      "type": "number"
                    },
                    "total_assets": {
                      "type": "number"
                    },
                    "earnings_per_share_fq": {
                      "type": "number"
                    },
                    "dividend_frequency_upcoming": {
                      "type": "string"
                    },
                    "price_earnings_forward_fy": {
                      "type": "number"
                    },
                    "recommendation_total": {
                      "type": "number"
                    },
                    "cash_f_financing_activities_ttm": {
                      "type": "number"
                    },
                    "free_cash_flow_per_employee_fy": {
                      "type": "number"
                    },
                    "preferred_dividends": {
                      "type": "number"
                    },
                    "issuance_of_stock_net_ttm": {
                      "type": "number"
                    },
                    "debt_to_equity_fq": {
                      "type": "number"
                    },
                    "goodwill": {
                      "type": "number"
                    },
                    "dividends_frequency": {
                      "type": "string",
                      "enum": [
                        "Other",
                        "Semi-annual"
                      ]
                    },
                    "top_revenue_country_code": {
                      "type": "string",
                      "enum": [
                        "RU",
                        "CN"
                      ]
                    },
                    "rates_ttm": {
                      "type": "object"
                    },
                    "fractional": {
                      "type": "string",
                      "enum": [
                        "false"
                      ]
                    },
                    "dividend_payment_date_upcoming": {
                      "type": "string"
                    },
                    "update-time": {
                      "type": "number"
                    },
                    "actively_managed": {
                      "type": "string",
                      "enum": [
                        "1",
                        "0"
                      ]
                    },
                    "beta_1_year": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_fy": {
                      "type": "number"
                    },
                    "postmarket_close": {
                      "type": "number"
                    },
                    "postmarket_time": {
                      "type": "string"
                    },
                    "dividend_ex_date_upcoming": {
                      "type": "string"
                    },
                    "sum_for_enterprise_value": {
                      "type": "number"
                    },
                    "return_on_assets_fq": {
                      "type": "number"
                    },
                    "weight_top_10": {
                      "type": "number"
                    },
                    "long_term_capital": {
                      "type": "number"
                    },
                    "research_and_dev_ttm": {
                      "type": "number"
                    },
                    "gross_profit_ttm_h": {
                      "type": "number"
                    },
                    "earnings_per_share_forecast_next_fy": {
                      "type": "number"
                    },
                    "recommendation_mark": {
                      "type": "number"
                    },
                    "cash_f_investing_activities_ttm": {
                      "type": "number"
                    },
                    "goodwill_fq": {
                      "type": "number"
                    },
                    "total_debt_fq": {
                      "type": "number"
                    },
                    "total_current_assets_fq": {
                      "type": "number"
                    },
                    "payment_date_recent": {
                      "type": "string"
                    },
                    "recommendation_buy": {
                      "type": "number"
                    },
                    "strategy": {
                      "type": "string",
                      "enum": [
                        "1",
                        "16",
                        "33"
                      ]
                    },
                    "return_on_tang_equity_fq": {
                      "type": "number"
                    },
                    "total_shares_outstanding": {
                      "type": "number"
                    },
                    "total_liabilities_fq": {
                      "type": "number"
                    },
                    "gross_profit_ttm": {
                      "type": "number"
                    },
                    "weight_top_50": {
                      "type": "number"
                    },
                    "earnings_per_share_fy": {
                      "type": "number"
                    },
                    "expected_annual_dividends": {
                      "type": "number"
                    },
                    "earnings_release_trading_date_fy": {
                      "type": "string"
                    },
                    "ex_dividend_date_recent": {
                      "type": "string"
                    },
                    "ex_dividend_date_upcoming": {
                      "type": "string"
                    },
                    "number_of_shareholders": {
                      "type": "number"
                    },
                    "amount_recent": {
                      "type": "number"
                    },
                    "all_time_open": {
                      "type": "number"
                    },
                    "dps_common_stock_prim_issue_fy": {
                      "type": "number"
                    },
                    "total_revenue_ttm": {
                      "type": "number"
                    },
                    "ebitda_fq_h": {
                      "type": "number"
                    },
                    "source-logoid": {
                      "type": "string",
                      "enum": [
                        "source/RUS"
                      ]
                    },
                    "rates_cf": {
                      "type": "object"
                    },
                    "price_annual_sales": {
                      "type": "number"
                    },
                    "earnings_release_next_trading_date_fq": {
                      "type": "string"
                    },
                    "dividend_payout_ratio_percent_fy": {
                      "type": "number"
                    },
                    "rates_dividend_upcoming": {
                      "type": "object"
                    },
                    "earnings_per_share_basic_fy_h": {
                      "type": "number"
                    },
                    "capital_expenditures_unchanged_ttm_h": {
                      "type": "number"
                    },
                    "return_on_tang_assets_fy": {
                      "type": "number"
                    },
                    "receivables_turnover_fy": {
                      "type": "number"
                    },
                    "rates_fh": {
                      "type": "object"
                    },
                    "free_cash_flow_fy": {
                      "type": "number"
                    },
                    "total_assets_fq": {
                      "type": "number"
                    },
                    "dividends_yield_fy": {
                      "type": "number"
                    },
                    "return_on_tang_equity_fy": {
                      "type": "number"
                    },
                    "pre_tax_margin": {
                      "type": "number"
                    },
                    "revenue_fq": {
                      "type": "number"
                    },
                    "price_annual_book": {
                      "type": "number"
                    },
                    "gross_profit_fq_h": {
                      "type": "number"
                    },
                    "ebitda_fy": {
                      "type": "number"
                    },
                    "leverage_ratio": {
                      "type": "string"
                    },
                    "asset_turnover_fy": {
                      "type": "number"
                    },
                    "capital_expenditures_unchanged_fy_h": {
                      "type": "number"
                    },
                    "gross_margin": {
                      "type": "number"
                    },
                    "return_on_total_capital_fy": {
                      "type": "number"
                    },
                    "current_ratio_current": {
                      "type": "number"
                    },
                    "total_shares_outstanding_fundamental": {
                      "type": "number"
                    },
                    "diluted_shares_outstanding_fq": {
                      "type": "number"
                    },
                    "minmov": {
                      "type": "number"
                    },
                    "total_current_assets": {
                      "type": "number"
                    },
                    "net_debt_fq": {
                      "type": "number"
                    },
                    "basic_eps_net_income": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_fq": {
                      "type": "number"
                    },
                    "premarket_open": {
                      "type": "number"
                    },
                    "operating_margin_ttm": {
                      "type": "number"
                    },
                    "expense_ratio": {
                      "type": "number"
                    },
                    "return_on_tang_assets_fq": {
                      "type": "number"
                    },
                    "minmove2": {
                      "type": "number"
                    },
                    "rates_time_series": {
                      "type": "object"
                    },
                    "rates_pt": {
                      "type": "object"
                    },
                    "return_on_capital_employed_fq": {
                      "type": "number"
                    },
                    "all_time_high": {
                      "type": "number"
                    },
                    "ebitda_fy_h": {
                      "type": "number"
                    },
                    "net_income_fy_h": {
                      "type": "number"
                    },
                    "ebitda_interst_cover_ttm": {
                      "type": "number"
                    },
                    "postmarket_volume": {
                      "type": "number"
                    },
                    "enterprise_value_fq": {
                      "type": "number"
                    },
                    "earnings_release_next_calendar_date": {
                      "type": "string"
                    },
                    "dividend_payout_ratio_ttm": {
                      "type": "number"
                    },
                    "operating_margin_fy": {
                      "type": "number"
                    },
                    "dividend_treatment": {
                      "type": "string",
                      "enum": [
                        "Capitalizes",
                        "Distributes"
                      ]
                    },
                    "index_provider": {
                      "type": "string",
                      "enum": [
                        "Solactive AG",
                        "MarketVector Indexes GmbH",
                        "Moscow Stock Exchange OJSC",
                        "The London Bullion Market Association",
                        "Kazakhstan Stock Exchange"
                      ]
                    },
                    "earnings_per_share_basic_ttm": {
                      "type": "number"
                    },
                    "cash_ratio": {
                      "type": "number"
                    },
                    "float_shares_outstanding_current": {
                      "type": "number"
                    },
                    "dividend_amount_recent": {
                      "type": "number"
                    },
                    "working_capital_fq": {
                      "type": "number"
                    },
                    "next_dividend_date": {
                      "type": "string"
                    },
                    "weight_top_25": {
                      "type": "number"
                    },
                    "fixed_assets_turnover_fy": {
                      "type": "number"
                    },
                    "debt_to_assets": {
                      "type": "number"
                    },
                    "last_annual_eps": {
                      "type": "number"
                    },
                    "price_cash_flow_current": {
                      "type": "number"
                    },
                    "cash_n_short_term_invest_fq": {
                      "type": "number"
                    },
                    "book_value_per_share_fy": {
                      "type": "number"
                    },
                    "operating_margin": {
                      "type": "number"
                    },
                    "gross_profit_fy": {
                      "type": "number"
                    },
                    "fiscal_period_end_fh": {
                      "type": "string"
                    },
                    "return_of_invested_capital_percent_ttm": {
                      "type": "number"
                    },
                    "ebitda": {
                      "type": "number"
                    },
                    "dividend_amount_upcoming": {
                      "type": "number"
                    },
                    "total_assets_fq_h": {
                      "type": "number"
                    },
                    "return_on_assets": {
                      "type": "number"
                    },
                    "number_of_employees": {
                      "type": "number"
                    },
                    "earnings_release_trading_date_fq": {
                      "type": "string"
                    },
                    "average_volume": {
                      "type": "number"
                    },
                    "recommendation_sell": {
                      "type": "number"
                    },
                    "focus": {
                      "type": "string",
                      "enum": [
                        "63",
                        "52",
                        "94",
                        "53",
                        "78",
                        "2025",
                        "73",
                        "29",
                        "62",
                        "58"
                      ]
                    },
                    "earnings_publication_type_next_fq": {
                      "type": "number"
                    },
                    "debt_to_equity": {
                      "type": "number"
                    },
                    "number_of_employees_fy": {
                      "type": "number"
                    },
                    "eps_diluted_growth_percent_fq": {
                      "type": "number"
                    },
                    "dps_common_stock_prim_issue_fy_h": {
                      "type": "number"
                    },
                    "return_on_invested_capital_fy": {
                      "type": "number"
                    },
                    "all_time_low_day": {
                      "type": "string"
                    },
                    "invent_turnover_fy": {
                      "type": "number"
                    },
                    "total_cash_dividends_paid_fy": {
                      "type": "number"
                    },
                    "net_income_fq_h": {
                      "type": "number"
                    },
                    "net_income_ttm_h": {
                      "type": "number"
                    },
                    "receivables_turnover_fq": {
                      "type": "number"
                    },
                    "earnings_release_time": {
                      "type": "number"
                    },
                    "dps_common_stock_prim_issue_fq": {
                      "type": "number"
                    },
                    "ebitda_less_capex_interst_cover_ttm": {
                      "type": "number"
                    },
                    "return_on_total_capital_fq": {
                      "type": "number"
                    },
                    "total_capital": {
                      "type": "number"
                    },
                    "frequency_upcoming": {
                      "type": "string"
                    },
                    "all_time_low": {
                      "type": "number"
                    },
                    "free_cash_flow": {
                      "type": "number"
                    },
                    "current_ratio": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_ttm": {
                      "type": "number"
                    },
                    "revenue_per_share_fy": {
                      "type": "number"
                    },
                    "total_assets_to_equity_fy": {
                      "type": "number"
                    },
                    "earnings_per_share_forecast_next_fq": {
                      "type": "number"
                    },
                    "yield_upcoming": {
                      "type": "number"
                    },
                    "cash_n_equivalents_fy": {
                      "type": "number"
                    },
                    "asset_turnover_current": {
                      "type": "number"
                    },
                    "interst_cover_fy": {
                      "type": "number"
                    },
                    "earnings_release_next_trading_date_fy": {
                      "type": "string"
                    },
                    "dividend_payout_ratio_percent_fq": {
                      "type": "number"
                    },
                    "cash_n_equivalents_fq": {
                      "type": "number"
                    },
                    "total_revenue_ttm_h": {
                      "type": "number"
                    },
                    "price_earnings_growth_ttm": {
                      "type": "number"
                    },
                    "net_income_ttm": {
                      "type": "number"
                    },
                    "holds_derivatives_flag": {
                      "type": "string",
                      "enum": [
                        "0"
                      ]
                    },
                    "return_on_capital_employed_fy": {
                      "type": "number"
                    },
                    "earnings_per_share_basic_fy": {
                      "type": "number"
                    },
                    "rates_earnings_fq": {
                      "type": "object"
                    },
                    "total_assets_per_employee_fy": {
                      "type": "number"
                    },
                    "price_sales_current": {
                      "type": "number"
                    },
                    "earnings_release_calendar_date": {
                      "type": "string"
                    },
                    "ebit_ttm": {
                      "type": "number"
                    },
                    "price_free_cash_flow_current": {
                      "type": "number"
                    },
                    "oper_income_ttm": {
                      "type": "number"
                    },
                    "currency_hedged_flag": {
                      "type": "string",
                      "enum": [
                        "1",
                        "0"
                      ]
                    },
                    "price_target_median": {
                      "type": "number"
                    },
                    "total_liabilities_fy": {
                      "type": "number"
                    },
                    "sell_gen_admin_exp_other_ttm": {
                      "type": "number"
                    },
                    "price_target_low": {
                      "type": "number"
                    },
                    "quick_ratio_fq": {
                      "type": "number"
                    },
                    "transparent_holding_flag": {
                      "type": "string",
                      "enum": [
                        "1",
                        "0"
                      ]
                    },
                    "dividend_payment_date_recent": {
                      "type": "string"
                    },
                    "long_term_debt_to_equity_fq": {
                      "type": "number"
                    },
                    "gross_profit_fy_h": {
                      "type": "number"
                    },
                    "total_debt_fq_h": {
                      "type": "number"
                    },
                    "ebitda_interst_cover_fy": {
                      "type": "number"
                    },
                    "total_debt": {
                      "type": "number"
                    },
                    "revenue_forecast_next_fq": {
                      "type": "number"
                    },
                    "premarket_high": {
                      "type": "number"
                    },
                    "fundamental_currency_code": {
                      "type": "string",
                      "enum": [
                        "RUB"
                      ]
                    },
                    "dividend_ex_date_recent": {
                      "type": "string"
                    },
                    "country_code_fund": {
                      "type": "string",
                      "enum": [
                        "AE",
                        "CY",
                        "RU",
                        "IE"
                      ]
                    },
                    "indicated_annual_dividend": {
                      "type": "number"
                    },
                    "aum": {
                      "type": "number"
                    },
                    "last_annual_revenue": {
                      "type": "number"
                    },
                    "rates_current": {
                      "type": "object"
                    },
                    "launch_date": {
                      "type": "string"
                    },
                    "premarket_low": {
                      "type": "number"
                    },
                    "postmarket_open": {
                      "type": "number"
                    },
                    "yield_recent": {
                      "type": "number"
                    },
                    "long_term_debt_to_assets_fq": {
                      "type": "number"
                    },
                    "net_debt_to_ebitda_fy": {
                      "type": "number"
                    },
                    "dividends_per_share_fq": {
                      "type": "number"
                    },
                    "after_tax_margin": {
                      "type": "number"
                    },
                    "ebitda_ttm_h": {
                      "type": "number"
                    },
                    "revenue_per_share_ttm": {
                      "type": "number"
                    },
                    "book_value_per_share_fq": {
                      "type": "number"
                    },
                    "fiscal_period_end_fh_h": {
                      "type": "number"
                    },
                    "market_cap_basic": {
                      "type": "number"
                    },
                    "net_income_bef_disc_oper_fy": {
                      "type": "number"
                    },
                    "free_cash_flow_fy_h": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_fy_h": {
                      "type": "number"
                    },
                    "k1_form": {
                      "type": "string",
                      "enum": [
                        "0"
                      ]
                    },
                    "rates_dividend_recent": {
                      "type": "object"
                    },
                    "total_revenue_fq_h": {
                      "type": "number"
                    },
                    "dividend_yield_upcoming": {
                      "type": "number"
                    },
                    "return_on_equity_fy": {
                      "type": "number"
                    },
                    "current_ratio_fq": {
                      "type": "number"
                    },
                    "niche": {
                      "type": "string",
                      "enum": [
                        "144",
                        "107",
                        "1038",
                        "116",
                        "13",
                        "39",
                        "1033"
                      ]
                    },
                    "capital_expenditures_ttm": {
                      "type": "number"
                    },
                    "dividends_yield": {
                      "type": "number"
                    },
                    "enterprise_value_ebitda_current": {
                      "type": "number"
                    },
                    "frequency_recent": {
                      "type": "string"
                    },
                    "dividends_yield_fq": {
                      "type": "number"
                    },
                    "inverse_flag": {
                      "type": "number"
                    },
                    "ucits_compliant_flag": {
                      "type": "string",
                      "enum": [
                        "1",
                        "0"
                      ]
                    },
                    "total_shares_outstanding_current": {
                      "type": "number"
                    },
                    "postmarket_high": {
                      "type": "number"
                    },
                    "premarket_time": {
                      "type": "string"
                    },
                    "gross_profit_fq": {
                      "type": "number"
                    },
                    "net_margin_ttm": {
                      "type": "number"
                    },
                    "brand": {
                      "type": "string",
                      "enum": [
                        "T-Capital",
                        "VTB",
                        "Sber",
                        "Sberbank",
                        "FinEx ETF"
                      ]
                    },
                    "oper_income_per_employee_fy": {
                      "type": "number"
                    },
                    "revenue_forecast_fq": {
                      "type": "number"
                    },
                    "earnings_per_share_forecast_fq": {
                      "type": "number"
                    },
                    "eps_diluted_growth_percent_fy": {
                      "type": "number"
                    },
                    "long_term_debt_to_assets_fy": {
                      "type": "number"
                    },
                    "oper_income_fy": {
                      "type": "number"
                    },
                    "weighting_scheme": {
                      "type": "string",
                      "enum": [
                        "9",
                        "1",
                        "17",
                        "12"
                      ]
                    },
                    "total_assets_to_equity_fq": {
                      "type": "number"
                    },
                    "current_session": {
                      "type": "string",
                      "enum": [
                        "market"
                      ]
                    },
                    "revenue_per_employee_fy": {
                      "type": "number"
                    },
                    "float_shares_outstanding": {
                      "type": "number"
                    },
                    "free_cash_flow_ttm_h": {
                      "type": "number"
                    },
                    "total_debt_fy": {
                      "type": "number"
                    },
                    "price_target_high": {
                      "type": "number"
                    },
                    "fiscal_period_fy_h": {
                      "type": "number"
                    },
                    "nav": {
                      "type": "number"
                    },
                    "industry": {
                      "type": "string",
                      "enum": [
                        "Investment Banks/Brokers",
                        "Electric Utilities",
                        "Trucking",
                        "Department Stores",
                        "Coal",
                        "Containers/Packaging",
                        "Restaurants",
                        "Building Products",
                        "Internet Retail",
                        "Railroads",
                        "Biotechnology",
                        "Financial Conglomerates",
                        "Beverages: Alcoholic",
                        "Other Transportation",
                        "Metal Fabrication",
                        "Motor Vehicles",
                        "Other Consumer Services",
                        "Construction Materials",
                        "Oil & Gas Production",
                        "Drugstore Chains",
                        "Trucks/Construction/Farm Machinery",
                        "Engineering & Construction",
                        "Auto Parts: OEM",
                        "Oilfield Services/Equipment",
                        "Major Telecommunications",
                        "Homebuilding",
                        "Gas Distributors",
                        "Regional Banks",
                        "Internet Software/Services",
                        "Chemicals: Specialty",
                        "Chemicals: Agricultural",
                        "Multi-Line Insurance",
                        "Pharmaceuticals: Other",
                        "Pulp & Paper",
                        "Food: Specialty/Candy",
                        "Steel",
                        "Marine Shipping",
                        "Airlines",
                        "Integrated Oil",
                        "Wireless Telecommunications",
                        "Precious Metals",
                        "Aluminum",
                        "Finance/Rental/Leasing",
                        "Insurance Brokers/Services",
                        "Investment Trusts/Mutual Funds",
                        "Textiles",
                        "Other Metals/Minerals",
                        "Oil & Gas Pipelines",
                        "Pharmaceuticals: Generic",
                        "Investment Managers",
                        "Oil Refining/Marketing",
                        "Specialty Telecommunications",
                        "Food Retail",
                        "Electronic Production Equipment",
                        "Major Banks",
                        "Wholesale Distributors",
                        "Air Freight/Couriers",
                        "Miscellaneous Commercial Services",
                        "Apparel/Footwear Retail",
                        "Real Estate Development",
                        "Electronic Components",
                        "Medical/Nursing Services",
                        "Aerospace & Defense",
                        "Alternative Power Generation",
                        "Miscellaneous Manufacturing",
                        "Industrial Machinery",
                        "Pharmaceuticals: Major",
                        "Electronic Equipment/Instruments",
                        "Agricultural Commodities/Milling",
                        "Home Furnishings"
                      ]
                    },
                    "rates_fy": {
                      "type": "object"
                    },
                    "earnings_publication_type_fq": {
                      "type": "number"
                    },
                    "research_and_dev_fy": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_fq_h": {
                      "type": "number"
                    },
                    "leveraged_flag": {
                      "type": "string",
                      "enum": [
                        "Non-leveraged"
                      ]
                    },
                    "country": {
                      "type": "string",
                      "enum": [
                        "Cyprus",
                        "Russian Federation",
                        "Ireland",
                        "United Arab Emirates"
                      ]
                    },
                    "postmarket_low": {
                      "type": "number"
                    },
                    "index_priority": {
                      "type": "number"
                    },
                    "free_cash_flow_fq": {
                      "type": "number"
                    },
                    "rates_fq": {
                      "type": "object"
                    },
                    "pricescale": {
                      "type": "number"
                    },
                    "amount_upcoming": {
                      "type": "number"
                    },
                    "net_margin_fy": {
                      "type": "number"
                    },
                    "asset_class": {
                      "type": "string",
                      "enum": [
                        "b6e443a6c4a8a2e7918c5dbf3d45c796",
                        "c05f85d35d1cd0be6ebb2af4be16e06a",
                        "8fe80395f389e29e3ea42210337f0350",
                        "b090e99b8d95f5837ec178c2d3d3fc50"
                      ]
                    },
                    "issuer": {
                      "type": "string",
                      "enum": [
                        "KBA Consulting Management Ltd.",
                        "VTB Capital Asset Management JSC",
                        "Sberbank Russia PJSC",
                        "VTB Bank PJSC",
                        "Government of Russia",
                        "FinEx Capital Holdings (Jersey) Ltd.",
                        "T-Bank"
                      ]
                    },
                    "capital_expenditures_unchanged_fq_h": {
                      "type": "number"
                    },
                    "total_debt_per_employee_fy": {
                      "type": "number"
                    },
                    "rates_earnings_next_fq": {
                      "type": "object"
                    },
                    "beta_3_year": {
                      "type": "number"
                    },
                    "rates_mc": {
                      "type": "object"
                    },
                    "payment_date_upcoming": {
                      "type": "string"
                    },
                    "earnings_release_next_date": {
                      "type": "string"
                    },
                    "free_cash_flow_ttm": {
                      "type": "number"
                    },
                    "cash_n_short_term_invest_fy": {
                      "type": "number"
                    },
                    "invent_turnover_current": {
                      "type": "number"
                    },
                    "dividends_paid": {
                      "type": "number"
                    },
                    "net_debt": {
                      "type": "number"
                    },
                    "total_assets_fy_h": {
                      "type": "number"
                    },
                    "interst_cover_ttm": {
                      "type": "number"
                    },
                    "sector": {
                      "type": "string",
                      "enum": [
                        "Industrial Services",
                        "Electronic Technology",
                        "Transportation",
                        "Miscellaneous",
                        "Technology Services",
                        "Health Services",
                        "Distribution Services",
                        "Health Technology",
                        "Utilities",
                        "Producer Manufacturing",
                        "Non-Energy Minerals",
                        "Consumer Services",
                        "Consumer Non-Durables",
                        "Commercial Services",
                        "Process Industries",
                        "Consumer Durables",
                        "Communications",
                        "Energy Minerals",
                        "Finance",
                        "Retail Trade"
                      ]
                    },
                    "beta_5_year": {
                      "type": "number"
                    },
                    "premarket_close": {
                      "type": "number"
                    },
                    "gross_margin_fy": {
                      "type": "number"
                    },
                    "return_on_equity_fq": {
                      "type": "number"
                    },
                    "fixed_assets_turnover_fq": {
                      "type": "number"
                    },
                    "research_and_dev_per_employee_fy": {
                      "type": "number"
                    },
                    "net_income_fy": {
                      "type": "number"
                    },
                    "revenue_per_employee": {
                      "type": "number"
                    },
                    "total_assets_fy": {
                      "type": "number"
                    },
                    "return_on_assets_fy": {
                      "type": "number"
                    },
                    "dividends_yield_current": {
                      "type": "number"
                    },
                    "return_on_invested_capital_fq": {
                      "type": "number"
                    },
                    "leverage": {
                      "type": "string",
                      "enum": [
                        "88ba1211175189c63246bb29132b1d2e"
                      ]
                    },
                    "net_debt_to_ebitda_fq": {
                      "type": "number"
                    },
                    "gross_margin_percent_ttm": {
                      "type": "number"
                    },
                    "cash_dividend_coverage_ratio_ttm": {
                      "type": "number"
                    },
                    "free_cash_flow_fq_h": {
                      "type": "number"
                    },
                    "total_debt_fy_h": {
                      "type": "number"
                    },
                    "shrhldrs_equity_fy": {
                      "type": "number"
                    },
                    "total_shares_outstanding_calculated": {
                      "type": "number"
                    },
                    "premarket_volume": {
                      "type": "number"
                    },
                    "sell_gen_admin_exp_other_fy": {
                      "type": "number"
                    },
                    "cash_f_operating_activities_ttm": {
                      "type": "number"
                    },
                    "all_time_high_day": {
                      "type": "string"
                    },
                    "total_revenue_fy": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_ttm_h": {
                      "type": "number"
                    },
                    "recommendation_under": {
                      "type": "number"
                    },
                    "etf_fund_currency": {
                      "type": "string",
                      "enum": [
                        "RUB",
                        "USD",
                        "EUR",
                        "KZT"
                      ]
                    },
                    "quick_ratio": {
                      "type": "number"
                    },
                    "price_target_average": {
                      "type": "number"
                    },
                    "recommendation_over": {
                      "type": "number"
                    },
                    "category": {
                      "type": "string",
                      "enum": [
                        "58",
                        "26",
                        "8",
                        "27",
                        "3",
                        "62",
                        "68",
                        "70"
                      ]
                    },
                    "net_income_per_employee_fy": {
                      "type": "number"
                    },
                    "total_revenue": {
                      "type": "number"
                    },
                    "number_of_shareholders_fy": {
                      "type": "number"
                    },
                    "total_revenue_fy_h": {
                      "type": "number"
                    },
                    "last_report_frequency": {
                      "type": "number"
                    },
                    "quick_ratio_current": {
                      "type": "number"
                    },
                    "net_income": {
                      "type": "number"
                    },
                    "earnings_release_next_time": {
                      "type": "number"
                    },
                    "dividend_frequency_recent": {
                      "type": "string"
                    },
                    "dividend_yield_recent": {
                      "type": "number"
                    },
                    "recommendation_hold": {
                      "type": "number"
                    },
                    "fiscal_period_end_fq": {
                      "type": "string"
                    },
                    "return_on_equity": {
                      "type": "number"
                    },
                    "gross_profit": {
                      "type": "number"
                    },
                    "earnings_release_date": {
                      "type": "string"
                    },
                    "total_current_liabilities_fq": {
                      "type": "number"
                    },
                    "selection_criteria": {
                      "type": "string",
                      "enum": [
                        "25",
                        "24",
                        "36",
                        "32",
                        "5",
                        "31"
                      ]
                    },
                    "debt_to_asset_fq": {
                      "type": "number"
                    },
                    "debt_to_asset_fy": {
                      "type": "number"
                    },
                    "cash_dividend_coverage_ratio_fy": {
                      "type": "number"
                    },
                    "net_margin": {
                      "type": "number"
                    },
                    "ebitda_per_employee_fy": {
                      "type": "number"
                    },
                    "total_debt_to_capital_fq": {
                      "type": "number"
                    },
                    "total_debt_to_capital_fy": {
                      "type": "number"
                    },
                    "return_on_invested_capital": {
                      "type": "number"
                    },
                    "ebitda_ttm": {
                      "type": "number"
                    },
                    "shrhldrs_equity_fq": {
                      "type": "number"
                    },
                    "gross_margin_ttm": {
                      "type": "number"
                    },
                    "pre_tax_margin_ttm": {
                      "type": "number"
                    },
                    "price_earnings_current": {
                      "type": "number"
                    },
                    "provider-id": {
                      "type": "string",
                      "enum": [
                        "alor"
                      ]
                    },
                    "holdings_region": {
                      "type": "string",
                      "enum": [
                        "2402e241d9f16aa08de32421e0fa211f",
                        "7612e84033b6f5f1a8b8039d9e25d9b5",
                        "176a9161fef684328415321c640ada1a",
                        "9c70933aff6b2a6d08c687a6cbb6b765",
                        "55a6587f79a2d84489e92e46d0a83f09",
                        "460491fc520f4dbfcff22d1a45f6b056"
                      ]
                    },
                    "price_book_current": {
                      "type": "number"
                    },
                    "research_and_dev_ratio_ttm": {
                      "type": "number"
                    },
                    "cagr_5_revenue": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_yoy_growth_fq": {
                      "type": "number"
                    },
                    "enterprise_value_to_free_cash_flow_ttm": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "total_debt_qoq_growth_fq": {
                      "type": "number"
                    },
                    "continuous_dividend_growth": {
                      "type": "number"
                    },
                    "ebitda_qoq_growth_fq": {
                      "type": "number"
                    },
                    "net_income_qoq_growth_fq": {
                      "type": "number"
                    },
                    "free_cash_flow_margin_ttm": {
                      "type": "number"
                    },
                    "price_to_cash_f_operating_activities_ttm": {
                      "type": "number"
                    },
                    "price_sales_ratio": {
                      "type": "number"
                    },
                    "coupon": {
                      "type": "number"
                    },
                    "base_currency_kind": {
                      "type": "string"
                    },
                    "total_revenue_qoq_growth_fq": {
                      "type": "number"
                    },
                    "total_assets_yoy_growth_fq": {
                      "type": "number"
                    },
                    "buyback_yield": {
                      "type": "number"
                    },
                    "eps_surprise_fq": {
                      "type": "number"
                    },
                    "total_revenue_yoy_growth_fq": {
                      "type": "number"
                    },
                    "total_debt_to_ebitda_fq": {
                      "type": "number"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "stock",
                        "fund",
                        "dr"
                      ]
                    },
                    "cagr_5_free_cash_flow": {
                      "type": "number"
                    },
                    "price_free_cash_flow_ttm": {
                      "type": "number"
                    },
                    "low_after_high_all_change_abs": {
                      "type": "number"
                    },
                    "most_recent_quarter_date": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string",
                      "enum": [
                        "RUB"
                      ]
                    },
                    "non_gaap_price_to_earnings_per_share_forecast_next_fy": {
                      "type": "number"
                    },
                    "price_sales": {
                      "type": "number"
                    },
                    "cash_n_short_term_invest_to_total_debt_fq": {
                      "type": "number"
                    },
                    "continuous_dividend_payout": {
                      "type": "number"
                    },
                    "eps_surprise_percent_fq": {
                      "type": "number"
                    },
                    "sell_gen_admin_exp_other_ratio_ttm": {
                      "type": "number"
                    },
                    "total_revenue_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "total_assets_qoq_growth_fq": {
                      "type": "number"
                    },
                    "enterprise_value_current": {
                      "type": "number"
                    },
                    "revenue_surprise_fq": {
                      "type": "number"
                    },
                    "dps_common_stock_prim_issue_yoy_growth_fy": {
                      "type": "number"
                    },
                    "ebitda_yoy_growth_fq": {
                      "type": "number"
                    },
                    "free_cash_flow_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "price_earnings_ttm": {
                      "type": "number"
                    },
                    "subtype": {
                      "type": "string",
                      "enum": [
                        "preferred",
                        "",
                        "common",
                        "etf"
                      ]
                    },
                    "indexes": {
                      "type": "string"
                    },
                    "net_income_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_qoq_growth_fq": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_5y_growth_fy": {
                      "type": "number"
                    },
                    "enterprise_value_ebitda_ttm": {
                      "type": "number"
                    },
                    "days_to_maturity": {
                      "type": "number"
                    },
                    "cagr_5_earnings_per_share_basic": {
                      "type": "number"
                    },
                    "ebitda_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "net_income_yoy_growth_fq": {
                      "type": "number"
                    },
                    "enterprise_value_to_ebit_ttm": {
                      "type": "number"
                    },
                    "price_book_fq": {
                      "type": "number"
                    },
                    "shrhldrs_equity_to_total_assets_fq": {
                      "type": "number"
                    },
                    "capital_expenditures_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "oper_income_margin_fy": {
                      "type": "number"
                    },
                    "total_revenue_yoy_growth_fy": {
                      "type": "number"
                    },
                    "price_book_ratio": {
                      "type": "number"
                    },
                    "cash_n_short_term_invest_to_total_debt_fy": {
                      "type": "number"
                    },
                    "is_blacklisted": {
                      "type": "boolean"
                    },
                    "is_shariah_compliant": {
                      "type": "boolean"
                    },
                    "cagr_5_net_income": {
                      "type": "number"
                    },
                    "revenue_surprise_percent_fq": {
                      "type": "number"
                    },
                    "relative_volume": {
                      "type": "number"
                    },
                    "gross_profit_yoy_growth_fy": {
                      "type": "number"
                    },
                    "price_target_1y": {
                      "type": "number"
                    },
                    "price_target_1y_delta": {
                      "type": "number"
                    },
                    "capital_expenditures_yoy_growth_fq": {
                      "type": "number"
                    },
                    "is_primary": {
                      "type": "boolean"
                    },
                    "gross_profit_qoq_growth_fq": {
                      "type": "number"
                    },
                    "gross_profit_yoy_growth_ttm": {
                      "type": "number"
                    },
                    "low_after_high_all_change": {
                      "type": "number"
                    },
                    "total_debt_yoy_growth_fy": {
                      "type": "number"
                    },
                    "currency_kind": {
                      "type": "string",
                      "enum": [
                        "fiat"
                      ]
                    },
                    "free_cash_flow_margin_fy": {
                      "type": "number"
                    },
                    "exchange": {
                      "type": "string",
                      "enum": [
                        "RUS"
                      ]
                    },
                    "total_debt_yoy_growth_fq": {
                      "type": "number"
                    },
                    "price_to_cash_ratio": {
                      "type": "number"
                    },
                    "gross_profit_margin_fy": {
                      "type": "number"
                    },
                    "net_income_bef_disc_oper_margin_fy": {
                      "type": "number"
                    },
                    "free_cash_flow_yoy_growth_fq": {
                      "type": "number"
                    },
                    "typespecs": {
                      "type": "array",
                      "enum": [
                        "common",
                        "etf",
                        "preferred",
                        ""
                      ]
                    },
                    "free_cash_flow_qoq_growth_fq": {
                      "type": "number"
                    },
                    "sell_gen_admin_exp_other_ratio_fy": {
                      "type": "number"
                    },
                    "price_revenue_ttm": {
                      "type": "number"
                    },
                    "enterprise_value_to_revenue_ttm": {
                      "type": "number"
                    },
                    "free_cash_flow_yoy_growth_fy": {
                      "type": "number"
                    },
                    "enterprise_value_to_gross_profit_ttm": {
                      "type": "number"
                    },
                    "total_revenue_5y_growth_fy": {
                      "type": "number"
                    },
                    "total_assets_yoy_growth_fy": {
                      "type": "number"
                    },
                    "total_debt_to_ebitda_fy": {
                      "type": "number"
                    },
                    "net_income_yoy_growth_fy": {
                      "type": "number"
                    },
                    "price_to_working_capital_fq": {
                      "type": "number"
                    },
                    "cash_n_short_term_invest_to_total_current_liabilities_fq": {
                      "type": "number"
                    },
                    "market_cap_calc": {
                      "type": "number"
                    },
                    "cryptoasset-info.id": {
                      "type": "string"
                    },
                    "gross_profit_yoy_growth_fq": {
                      "type": "number"
                    },
                    "maturity_date": {
                      "type": "string"
                    },
                    "research_and_dev_ratio_fy": {
                      "type": "number"
                    },
                    "update_time": {
                      "type": "string"
                    },
                    "currency_id": {
                      "type": "string",
                      "enum": [
                        "RUB"
                      ]
                    },
                    "shrhldrs_equity_to_total_assets_fy": {
                      "type": "number"
                    },
                    "expiration": {
                      "type": "string"
                    },
                    "cash_n_short_term_invest_to_total_current_liabilities_fy": {
                      "type": "number"
                    },
                    "earnings_per_share_diluted_yoy_growth_fy": {
                      "type": "number"
                    },
                    "market": {
                      "type": "string",
                      "enum": [
                        "russia"
                      ]
                    },
                    "active_symbol": {
                      "type": "boolean"
                    },
                    "float_shares_percent_current": {
                      "type": "number"
                    },
                    "cryptoasset-info.description": {
                      "type": "string"
                    },
                    "ebitda_yoy_growth_fy": {
                      "type": "number"
                    },
                    "capital_expenditures_qoq_growth_fq": {
                      "type": "number"
                    },
                    "capital_expenditures_yoy_growth_fy": {
                      "type": "number"
                    },
                    "submarket": {
                      "type": "string",
                      "enum": [
                        ""
                      ]
                    },
                    "Perf.All": {
                      "type": "number"
                    },
                    "last_bar_update_time": {
                      "type": "number"
                    },
                    "change_abs|1W": {
                      "type": "number"
                    },
                    "gap_down_abs|30": {
                      "type": "number"
                    },
                    "premarket_gap": {
                      "type": "number"
                    },
                    "gap_up|1": {
                      "type": "number"
                    },
                    "open|15": {
                      "type": "number"
                    },
                    "gap_down_abs|1W": {
                      "type": "number"
                    },
                    "update_mode|1M": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "change_from_open_abs|5": {
                      "type": "number"
                    },
                    "gap_up_abs|120": {
                      "type": "number"
                    },
                    "pre_change": {
                      "type": "number"
                    },
                    "low|15": {
                      "type": "number"
                    },
                    "gap_up|15": {
                      "type": "number"
                    },
                    "last_bar_update_time|240": {
                      "type": "number"
                    },
                    "premarket_change_from_open_abs": {
                      "type": "number"
                    },
                    "gap_down|1M": {
                      "type": "number"
                    },
                    "change|5": {
                      "type": "number"
                    },
                    "volume_change_abs|1": {
                      "type": "number"
                    },
                    "pre_change|1M": {
                      "type": "number"
                    },
                    "open|5": {
                      "type": "number"
                    },
                    "change|30": {
                      "type": "number"
                    },
                    "gap_up": {
                      "type": "number"
                    },
                    "volume_change|15": {
                      "type": "number"
                    },
                    "volume_change_abs|1W": {
                      "type": "number"
                    },
                    "gap_up|120": {
                      "type": "number"
                    },
                    "volume|120": {
                      "type": "number"
                    },
                    "change|60": {
                      "type": "number"
                    },
                    "gap_down_abs|15": {
                      "type": "number"
                    },
                    "indicators_bars_count|1M": {
                      "type": "number"
                    },
                    "gap_down|5": {
                      "type": "number"
                    },
                    "gap": {
                      "type": "number"
                    },
                    "gap|60": {
                      "type": "number"
                    },
                    "volume_change_abs|15": {
                      "type": "number"
                    },
                    "low|30": {
                      "type": "number"
                    },
                    "bars_count|30": {
                      "type": "number"
                    },
                    "premarket_change": {
                      "type": "number"
                    },
                    "bars_count|1W": {
                      "type": "number"
                    },
                    "change_abs|1": {
                      "type": "number"
                    },
                    "high|120": {
                      "type": "number"
                    },
                    "bars_count|120": {
                      "type": "number"
                    },
                    "last_bar_update_time|60": {
                      "type": "number"
                    },
                    "open|1W": {
                      "type": "number"
                    },
                    "close|1W": {
                      "type": "number"
                    },
                    "indicators_bars_count|30": {
                      "type": "number"
                    },
                    "update_mode|30": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "pre_change|30": {
                      "type": "number"
                    },
                    "change_from_open|60": {
                      "type": "number"
                    },
                    "gap_up_abs|5": {
                      "type": "number"
                    },
                    "close|1": {
                      "type": "number"
                    },
                    "volume|15": {
                      "type": "number"
                    },
                    "gap|1W": {
                      "type": "number"
                    },
                    "high|1W": {
                      "type": "number"
                    },
                    "premarket_change_abs": {
                      "type": "number"
                    },
                    "volume": {
                      "type": "number"
                    },
                    "update_mode": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "change_from_open_abs": {
                      "type": "number"
                    },
                    "change_from_open_abs|15": {
                      "type": "number"
                    },
                    "time|15": {
                      "type": "string"
                    },
                    "bars_count|240": {
                      "type": "number"
                    },
                    "open|1": {
                      "type": "number"
                    },
                    "time|30": {
                      "type": "string"
                    },
                    "gap_up_abs|60": {
                      "type": "number"
                    },
                    "high|60": {
                      "type": "number"
                    },
                    "volume|240": {
                      "type": "number"
                    },
                    "pre_change|5": {
                      "type": "number"
                    },
                    "gap_down|60": {
                      "type": "number"
                    },
                    "low|120": {
                      "type": "number"
                    },
                    "volume_change_abs": {
                      "type": "number"
                    },
                    "change_from_open|1M": {
                      "type": "number"
                    },
                    "volume|30": {
                      "type": "number"
                    },
                    "volume_change_abs|30": {
                      "type": "number"
                    },
                    "change_from_open|15": {
                      "type": "number"
                    },
                    "change_from_open_abs|1W": {
                      "type": "number"
                    },
                    "last_bar_update_time|1M": {
                      "type": "number"
                    },
                    "high|240": {
                      "type": "number"
                    },
                    "close|5": {
                      "type": "number"
                    },
                    "post_change|1M": {
                      "type": "number"
                    },
                    "time|1M": {
                      "type": "string"
                    },
                    "pre_change_abs|1M": {
                      "type": "number"
                    },
                    "volume_change|240": {
                      "type": "number"
                    },
                    "gap_down_abs|5": {
                      "type": "number"
                    },
                    "gap_down_abs|120": {
                      "type": "number"
                    },
                    "low|5": {
                      "type": "number"
                    },
                    "gap|1": {
                      "type": "number"
                    },
                    "change_abs": {
                      "type": "number"
                    },
                    "low|1W": {
                      "type": "number"
                    },
                    "change|240": {
                      "type": "number"
                    },
                    "pre_change_abs|5": {
                      "type": "number"
                    },
                    "pre_change|60": {
                      "type": "number"
                    },
                    "volume_change|1W": {
                      "type": "number"
                    },
                    "post_change|1": {
                      "type": "number"
                    },
                    "gap_down|30": {
                      "type": "number"
                    },
                    "gap|120": {
                      "type": "number"
                    },
                    "post_change|240": {
                      "type": "number"
                    },
                    "change_from_open_abs|240": {
                      "type": "number"
                    },
                    "change_from_open|5": {
                      "type": "number"
                    },
                    "post_change|120": {
                      "type": "number"
                    },
                    "open|120": {
                      "type": "number"
                    },
                    "post_change": {
                      "type": "number"
                    },
                    "change|1W": {
                      "type": "number"
                    },
                    "volume_change_abs|1M": {
                      "type": "number"
                    },
                    "change_from_open_abs|1": {
                      "type": "number"
                    },
                    "pre_change|1": {
                      "type": "number"
                    },
                    "gap|30": {
                      "type": "number"
                    },
                    "gap_down": {
                      "type": "number"
                    },
                    "premarket_change_from_open": {
                      "type": "number"
                    },
                    "time|60": {
                      "type": "string"
                    },
                    "close|240": {
                      "type": "number"
                    },
                    "volume_change|5": {
                      "type": "number"
                    },
                    "close": {
                      "type": "number"
                    },
                    "volume_change|60": {
                      "type": "number"
                    },
                    "last_bar_update_time|1": {
                      "type": "number"
                    },
                    "gap_up_abs|15": {
                      "type": "number"
                    },
                    "update_mode|15": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "gap|1M": {
                      "type": "number"
                    },
                    "time|5": {
                      "type": "string"
                    },
                    "indicators_bars_count|60": {
                      "type": "number"
                    },
                    "indicators_bars_count|1W": {
                      "type": "number"
                    },
                    "volume|5": {
                      "type": "number"
                    },
                    "gap_up|1W": {
                      "type": "number"
                    },
                    "gap_up|1M": {
                      "type": "number"
                    },
                    "change_abs|1M": {
                      "type": "number"
                    },
                    "gap_down_abs": {
                      "type": "number"
                    },
                    "indicators_bars_count|15": {
                      "type": "number"
                    },
                    "time|240": {
                      "type": "string"
                    },
                    "low": {
                      "type": "number"
                    },
                    "high|15": {
                      "type": "number"
                    },
                    "post_change|1W": {
                      "type": "number"
                    },
                    "indicators_bars_count|120": {
                      "type": "number"
                    },
                    "bars_count|1": {
                      "type": "number"
                    },
                    "postmarket_change_abs": {
                      "type": "number"
                    },
                    "change|15": {
                      "type": "number"
                    },
                    "volume_change|30": {
                      "type": "number"
                    },
                    "volume_change_abs|60": {
                      "type": "number"
                    },
                    "gap|240": {
                      "type": "number"
                    },
                    "update_mode|5": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "volume_change|1": {
                      "type": "number"
                    },
                    "close|120": {
                      "type": "number"
                    },
                    "open": {
                      "type": "number"
                    },
                    "gap_up_abs": {
                      "type": "number"
                    },
                    "pre_change|15": {
                      "type": "number"
                    },
                    "pre_change_abs|15": {
                      "type": "number"
                    },
                    "last_bar_update_time|15": {
                      "type": "number"
                    },
                    "change_abs|5": {
                      "type": "number"
                    },
                    "postmarket_change": {
                      "type": "number"
                    },
                    "gap_down_abs|60": {
                      "type": "number"
                    },
                    "indicators_bars_count|5": {
                      "type": "number"
                    },
                    "change|120": {
                      "type": "number"
                    },
                    "gap_up_abs|1M": {
                      "type": "number"
                    },
                    "close|30": {
                      "type": "number"
                    },
                    "pre_change_abs|120": {
                      "type": "number"
                    },
                    "change_from_open|30": {
                      "type": "number"
                    },
                    "change": {
                      "type": "number"
                    },
                    "post_change|60": {
                      "type": "number"
                    },
                    "last_bar_update_time|1W": {
                      "type": "number"
                    },
                    "change_from_open_abs|1M": {
                      "type": "number"
                    },
                    "open|30": {
                      "type": "number"
                    },
                    "update_mode|60": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "gap_down|1W": {
                      "type": "number"
                    },
                    "change_abs|240": {
                      "type": "number"
                    },
                    "gap_down|120": {
                      "type": "number"
                    },
                    "high": {
                      "type": "number"
                    },
                    "close|60": {
                      "type": "number"
                    },
                    "volume|1W": {
                      "type": "number"
                    },
                    "gap_down|1": {
                      "type": "number"
                    },
                    "change_from_open|1": {
                      "type": "number"
                    },
                    "change_abs|30": {
                      "type": "number"
                    },
                    "volume_change_abs|120": {
                      "type": "number"
                    },
                    "open|60": {
                      "type": "number"
                    },
                    "time|1W": {
                      "type": "string"
                    },
                    "high|5": {
                      "type": "number"
                    },
                    "gap_up|5": {
                      "type": "number"
                    },
                    "last_bar_update_time|120": {
                      "type": "number"
                    },
                    "gap_up|240": {
                      "type": "number"
                    },
                    "volume_change_abs|5": {
                      "type": "number"
                    },
                    "change_from_open_abs|60": {
                      "type": "number"
                    },
                    "change_abs|60": {
                      "type": "number"
                    },
                    "gap_up|60": {
                      "type": "number"
                    },
                    "high|1M": {
                      "type": "number"
                    },
                    "volume|1M": {
                      "type": "number"
                    },
                    "volume|1": {
                      "type": "number"
                    },
                    "update_mode|120": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "bars_count|15": {
                      "type": "number"
                    },
                    "pre_change|1W": {
                      "type": "number"
                    },
                    "update_mode|1W": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "volume_change_abs|240": {
                      "type": "number"
                    },
                    "gap_up_abs|1": {
                      "type": "number"
                    },
                    "change_from_open|120": {
                      "type": "number"
                    },
                    "bars_count": {
                      "type": "number"
                    },
                    "bars_count|60": {
                      "type": "number"
                    },
                    "gap_down_abs|1M": {
                      "type": "number"
                    },
                    "gap_down_abs|240": {
                      "type": "number"
                    },
                    "volume_change|120": {
                      "type": "number"
                    },
                    "time|120": {
                      "type": "string"
                    },
                    "gap|15": {
                      "type": "number"
                    },
                    "change_abs|120": {
                      "type": "number"
                    },
                    "change_from_open_abs|120": {
                      "type": "number"
                    },
                    "gap_down|15": {
                      "type": "number"
                    },
                    "gap_down|240": {
                      "type": "number"
                    },
                    "post_change|5": {
                      "type": "number"
                    },
                    "pre_change_abs|30": {
                      "type": "number"
                    },
                    "open|240": {
                      "type": "number"
                    },
                    "pre_change_abs|240": {
                      "type": "number"
                    },
                    "gap|5": {
                      "type": "number"
                    },
                    "gap_up|30": {
                      "type": "number"
                    },
                    "change|1M": {
                      "type": "number"
                    },
                    "indicators_bars_count|1": {
                      "type": "number"
                    },
                    "update_mode|240": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "indicators_bars_count|240": {
                      "type": "number"
                    },
                    "low|240": {
                      "type": "number"
                    },
                    "post_change|30": {
                      "type": "number"
                    },
                    "change_from_open_abs|30": {
                      "type": "number"
                    },
                    "time": {
                      "type": "string"
                    },
                    "change_abs|15": {
                      "type": "number"
                    },
                    "high|1": {
                      "type": "number"
                    },
                    "update_mode|1": {
                      "type": "string",
                      "enum": [
                        "streaming"
                      ]
                    },
                    "pre_change_abs|60": {
                      "type": "number"
                    },
                    "change_from_open|1W": {
                      "type": "number"
                    },
                    "last_bar_update_time|5": {
                      "type": "number"
                    },
                    "gap_up_abs|30": {
                      "type": "number"
                    },
                    "high|30": {
                      "type": "number"
                    },
                    "pre_change_abs": {
                      "type": "number"
                    },
                    "volume_change": {
                      "type": "number"
                    },
                    "volume_change|1M": {
                      "type": "number"
                    },
                    "close|1M": {
                      "type": "number"
                    },
                    "time|1": {
                      "type": "string"
                    },
                    "gap_up_abs|1W": {
                      "type": "number"
                    },
                    "pre_change|120": {
                      "type": "number"
                    },
                    "change_from_open|240": {
                      "type": "number"
                    },
                    "bars_count|5": {
                      "type": "number"
                    },
                    "open|1M": {
                      "type": "number"
                    },
                    "bars_count|1M": {
                      "type": "number"
                    },
                    "gap_up_abs|240": {
                      "type": "number"
                    },
                    "change_from_open": {
                      "type": "number"
                    },
                    "pre_change_abs|1W": {
                      "type": "number"
                    },
                    "pre_change|240": {
                      "type": "number"
                    },
                    "last_bar_update_time|30": {
                      "type": "number"
                    },
                    "low|60": {
                      "type": "number"
                    },
                    "post_change|15": {
                      "type": "number"
                    },
                    "low|1": {
                      "type": "number"
                    },
                    "pre_change_abs|1": {
                      "type": "number"
                    },
                    "gap_down_abs|1": {
                      "type": "number"
                    },
                    "close|15": {
                      "type": "number"
                    },
                    "low|1M": {
                      "type": "number"
                    },
                    "indicators_bars_count": {
                      "type": "number"
                    },
                    "volume|60": {
                      "type": "number"
                    },
                    "change|1": {
                      "type": "number"
                    },
                    "Pivot.M.Camarilla.R1|240": {
                      "type": "number"
                    },
                    "Aroon.Down": {
                      "type": "number"
                    },
                    "ADR|120": {
                      "type": "number"
                    },
                    "Pivot.M.Woodie.S3|1M": {
                      "type": "number"
                    },
                    "Pivot.M.Classic.Middle|15": {
                      "type": "number"
                    },
                    "SMA200|1M": {
                      "type": "number"
                    },
                    "RSI4|30": {
                      "type": "number"
                    },
                    "ADX-DI_20|120": {
                      "type": "number"
                    },
                    "MACD.signal|5": {
                      "type": "number"
                    },
                    "ADX+DI_50[1]|60": {
                      "type": "number"
                    },
                    "EMA150|1M": {
                      "type": "number"
                    },
                    "SMA13|1M": {
                      "type": "number"
                    },
                    "Stoch.K_14_1_3[1]|1": {
                      "type": "number"
                    },
                    "BB.lower_50|5": {
                      "type": "number"
                    },
                    "Candle.TriStar.Bullish|1": {
                      "type": "number"
                    },
                    "Pivot.M.Woodie.Middle|5": {
                      "type": "number"
                    },
                    "EMA250|1": {
                      "type": "number"
                    },
                    "DonchCh20.Lower|60": {
                      "type": "number"
                    },
                    "SMA25|5": {
                      "type": "number"
                    },
                    "EMA2|240": {
                      "type": "number"
                    },
                    "Candle.Doji.Gravestone|15": {
                      "type": "number"
                    },
                    "SMA50|15": {
                      "type": "number"
                    },
                    "SMA34|1W": {
                      "type": "number"
                    },
                    "HullMA9": {
                      "type": "number"
                    },
                    "Rec.BBPower|240": {
                      "type": "number"
                    },
                    "Pivot.M.Woodie.S2": {
                      "type": "number"
                    },
                    "EMA100|15": {
                      "type": "number"
                    },
                    "EMA15|240": {
                      "type": "number"
                    },
                    "DonchCh20.Middle|1": {
                      "type": "number"
                    },
                    "RSI5|240": {
                      "type": "number"
                    },
                    "EMA2|1M": {
                      "type": "number"
                    },
                    "ADR|1M": {
                      "type": "number"
                    },
                    "SMA55|120": {
                      "type": "number"
                    },
                    "Aroon.Up|120": {
                      "type": "number"
                    },
                    "ADX-DI_50[1]|15": {
                      "type": "number"
                    },
                    "EMA13|30": {
                      "type": "number"
                    },
                    "Stoch.D_5_3_3|30": {
                      "type": "number"
                    },
                    "average_volume_30d_calc|1W": {
                      "type": "number"
                    },
                    "SMA150|15": {
                      "type": "number"
                    },
                    "Pivot.M.Classic.S1|15": {
                      "type": "number"
                    },
                    "ADX-DI_20[1]|15": {
                      "type": "number"
                    },
                    "EMA50|30": {
                      "type": "number"
                    },
                    "ADX-DI": {
                      "type": "number"
                    },
                    "RSI2|1": {
                      "type": "number"
                    },
                    "Candle.Hammer|15": {
                      "type": "number"
                    },
                    "Candle.LongShadow.Lower|60": {
                      "type": "number"
                    },
                    "Ichimoku.Lead1_20_60_120_30|1": {
                      "type": "number"
                    },
                    "Candle.TriStar.Bullish|1M": {
                      "type": "number"
                    },
                    "Stoch.D_8_3_3[1]|1W": {
                      "type": "number"
                    },
                    "KltChnl.upper|240": {
                      "type": "number"
                    },
                    "EMA12|30": {
                      "type": "number"
                    },
                    "HullMA20": {
                      "type": "number"
                    },
                    "Stoch.K_8_3_3|1W": {
                      "type": "number"
                    },
                    "Rec.WR|5": {
                      "type": "number"
                    },
                    "Pivot.M.Camarilla.Middle|1W": {
                      "type": "number"
                    },
                    "EMA7|240": {
                      "type": "number"
                    },
                    "Stoch.K_6_3_3": {
                      "type": "number"
                    },
                    "RSI[1]|30": {
                      "type": "number"
                    },
                    "Ichimoku.CLine|1": {
                      "type": "number"
                    },
                    "EMA10|15": {
                      "type": "number"
                    },
                    "P.SAR|15": {
                      "type": "number"
                    },
                    "Candle.Doji.Gravestone|60": {
                      "type": "number"
                    },
                    "Perf.3M": {
                      "type": "number"
                    },
                    "RSI10[1]|240": {
                      "type": "number"
                    },
                    "Stoch.RSI.D|60": {
                      "type": "number"
                    },
                    "SMA144|240": {
                      "type": "number"
                    },
                    "BB.basis|15": {
                      "type": "number"
                    },
                    "RSI7[1]|60": {
                      "type": "number"
                    },
                    "Pivot.M.Woodie.S3|120": {
                      "type": "number"
                    },
                    "EMA55|1M": {
                      "type": "number"
                    },
                    "Rec.Stoch.RSI": {
                      "type": "number"
                    },
                    "Candle.Engulfing.Bullish": {
                      "type": "number"
                    },
                    "RSI4|1W": {
                      "type": "number"
                    },
                    "Pivot.M.Fibonacci.S3|1": {
                      "type": "number"
                    },
                    "SMA8": {
                      "type": "number"
                    },
                    "SMA60|5": {
                      "type": "number"
                    },
                    "BB.lower_50|1M": {
                      "type": "number"
                    },
                    "EMA40|15": {
                      "type": "number"
                    },
                    "Pivot.M.Demark.Middle|120": {
                      "type": "number"
                    },
                    "Candle.LongShadow.Lower": {
                      "type": "number"
                    },
                    "SMA14|1W": {
                      "type": "number"
                    },
                    "MACD.macd|240": {
                      "type": "number"
                    },
                    "Mom_14|30": {
                      "type": "number"
                    },
                    "EMA5|1": {
                      "type": "number"
                    },
                    "EMA300|30": {
                      "type": "number"
                    },
                    "Pivot.M.Camarilla.R2|30": {
                      "type": "number"
                    },
                    "Candle.Marubozu.White": {
                      "type": "number"
                    },
                    "ADX+DI_100[1]": {
                      "type": "number"
                    },
                    "Candle.AbandonedBaby.Bullish|1W": {
                      "type": "number"
                    },
                    "Aroon.Up|60": {
                      "type": "number"
                    },
                    "RSI2|5": {
                      "type": "number"
                    },
                    "Pivot.M.Woodie.S1|1M": {
                      "type": "number"
                    },
                    "CCI20[1]|30": {
                      "type": "number"
                    },
                    "ADX+DI_9": {
                      "type": "number"
                    },
                    "Candle.3WhiteSoldiers|15": {
                      "type": "number"
                    },
                    "BB.basis|1": {
                      "type": "number"
                    },
                    "ADX+DI_20[1]|15": {
                      "type": "number"
                    },
                    "Mom[1]|30": {
                      "type": "number"
                    },
                    "ADRP|15": {
                      "type": "number"
                    },
                    "Pivot.M.Fibonacci.R3|1W": {
                      "type": "number"
                    },
                    "Pivot.M.Classic.S1|240": {
                      "type": "number"
                    },
                    "Pivot.M.Classic.S1|5": {
                      "type": "number"
                    },
                    "aum_perf.5Y": {
                      "type": "number"
                    },
                    "Candle.Doji.Dragonfly|1M": {
                      "type": "number"
                    },
                    "SMA26|240": {
                      "type": "number"
                    },
                    "average_volume_60d_calc|120": {
                      "type": "number"
                    },
                    "SMA5|15": {
                      "type": "number"
                    },
                    "Candle.InvertedHammer|120": {
                      "type": "number"
                    },
                    "ADX+DI_100[1]|1W": {
                      "type": "number"
                    },
                    "SMA2|1M": {
                      "type": "number"
                    },
                    "P.SAR": {
                      "type": "number"
                    },
[...]
